extends base

block header
  - with headerMessage='Training 2 - Learning a new concept: Genes'
    include includes/header-anon

block content
  #Training2Modal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h2.text-center The Genes Concept includes more than just gene names
          p.lead.text-center <strong>Do NOT mark Diseases Concept terms in this tutorial.</strong>

        .modal-body

          .card
            .card-header
              h3.text-center Acquire the Gene Marking Skill by learning the Genes Concept.

            .card-block
              p.text-center The Genes Concept includes:
              ul.list-unstyled.list-inline.text-center
                li <strong>Genes</strong>
                  ul.list-unstyled
                    li Gene Names
                    li Gene Symbols
                li <strong>Gene Products</strong>
                  ul.list-unstyled
                    li Proteins
                    li MicroRNAs

        .modal-footer
          button(type="button", data-dismiss="modal").btn.btn-primary Close

  .container
    .row.m-t-md
      .col-md-12
        block step-instructions
          h2 A <strong>disease</strong> is a particular abnormal, pathological condition that affects part or all of an organism
          p In the box below, mark every instance of the disease (rule #1)

    #partner(style='display: none;').row.m-t-md
      .row
        .col-md-4.col-md-offset-4
          .alert.alert-success
            h2.text-center Good job!

    .row
      #quest-alerts.col-md-10.col-md-offset-1
      #quest.col-md-10.col-md-offset-1.paragraph-box
        block paragraph

    .row.m-t-md
      .col-md-8.col-md-offset-2
        .progress
          block progress
      .col-md-8.col-md-offset-2
        #next-container.pull-right
          block next-link

block post-footer
  include training/includes/intro-1-js
  include instructions/multi-concept-instructions-modal

  block answers

  script.
      var validation_check = function(collection) {
        if(validate(collection, answers)) { correct(); }
      };
      YPet.AnnotationTypes = new AnnotationTypeList([{name: 'Genes', color: '#B1FFA8'}]);
