extends base

- load as_vertical_form from bootstrap
- load widget_tweaks
- load brabeion_tags
- load comments
- load humanize


block header
  nav(role='navigation').navbar.navbar-default.navbar-static-top
    .container-fluid
      .row
        .col-xs-12
          h3
            <a href="javascript:window.open('','_self').close();"><i class="fa fa-angle-double-left"></i> Back to Marking</a>


block content
  .container
    .row
      .col-xs-10.col-xs-offset-1
        h2.text-xs-center #{annotation}
        p.lead.text-xs-center This annotation also appeared in the following docs that you've marked. Help uncover more docs with this annotation by completing more quests!

        table.table.table-hover.table-striped
          thead
            tr
              th Annotation Occurances
              th PMID
              th Document

          tbody
            - for doc in documents
              tr
                th(scope="row") #{doc.0}
                td
                  a(href='http://www.ncbi.nlm.nih.gov/pubmed/{{doc.1.document_id}}', target='_blank')
                    | #{doc.1.document_id}
                td
                  a(href='{% url "talk:home" doc.1.document_id %}')
                    #{doc.1.title}

