{% extends "base.html" %}

{% load as_vertical_form from bootstrap %}
{% load widget_tweaks %}
{% load comments %}


{% block header %}
  {% with headerMessage='Talk Page' %}
  {% include "includes/header.html" %}
  {% endwith %}
{% endblock header %}


{% block content %}
<div id="talk-document-home" class="container-fluid"></div>
{% endblock %}


{% block post-footer %}
<script>
  var TalkDocumentApp = Backbone.Marionette.Application.extend({
    region: '#talk-document-home',

    onStart: function() {
      var main = this.getRegion();
      main.show( new TalkDocumentView({'document_pk': {{document.pk}}}));
    }
  });
  var talk_document_app = new TalkDocumentApp();
  talk_document_app.start();
</script>
{% endblock %}

<!-- <div class="row"> -->
<!--   <div class="col&#45;10"> -->
<!--     <h4 class="text&#45;xs&#45;center">{{ doc }}</h4> -->
<!--   </div> -->
<!-- </div> -->
<!--  -->
<!-- <div class="row"> -->
<!--   <div class="col&#45;12"> -->
<!--     <ul role='tablist' class="nav nav&#45;tabs"> -->
<!--       <li class="nav&#45;item"> -->
<!--         <a data&#45;toggle="tab" href="#er&#45;results" role="tab" class="nav&#45;link active"> -->
<!--           Entity Recognition -->
<!--         </a> -->
<!--       </li> -->
<!--       <li class="nav&#45;item"> -->
<!--         <a data&#45;toggle="tab" href="#r&#45;results" role="tab" class="nav&#45;link"> -->
<!--           Relation -->
<!--         </a> -->
<!--       </li> -->
<!--       <li class="nav&#45;item"> -->
<!--         <a href='http://www.ncbi.nlm.nih.gov/pubmed/{{doc.document_id}}' target='_blank' class="nav&#45;link"> -->
<!--           PubMed  <i class="fa fa&#45;external&#45;link"></i> -->
<!--         </a> -->
<!--       </li> -->
<!--     </ul> -->
<!--   </div> -->
<!-- </div> -->
<!--  -->
<!-- <div class="tab&#45;content"> -->
<!--   <div id="er&#45;results" role="tabpanel" class="tab&#45;pane active"> -->
<!--     <div class="row m&#45;t&#45;1"> -->
<!--       <div class="col&#45;xs&#45;10 col&#45;xs&#45;offset&#45;1"> -->
<!--         <p class="text&#45;muted"> Mouseover to see other users' annotations:</p> -->
<!--         <ul class="pagination"> -->
<!-- for contibutors in workers  -->
<!--           <li class="page&#45;item"> -->
<!--             <a data&#45;userpk='{{user_pk}}') class="page&#45;link"> {{user_pk}}</a> -->
<!--           </li> -->

<!--         </ul> -->
<!--  -->
<!--         <div class="paragraphs micro"></div> -->
<!--  -->
<!--         <div id="r&#45;results" role="tabpanel" class="tab&#45;pane"> -->
<!--           <div class="row mt&#45;1" style='min&#45;height: 300px;'> -->
<!--             <div class="col&#45;xs&#45;10"> -->
<!--               <div id="relation&#45;synopsis&#45;insert"></div> -->
<!--             </div> -->
<!--           </div> -->
<!--         </div> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->
<!--  -->
<!-- <div class="row"> -->
<!--   <div class="col&#45;12"> -->
<!--  -->
<!--     <div class="row mt&#45;1"> -->
<!--       <div class="col&#45;sm&#45;6"> -->
<!--         <div class="row"> -->
<!--  -->
<!--           <div class="col&#45;4"> -->
<!--             <h4 class="text&#45;center">Diseases</h4> -->
<!--             <table class="table table&#45;condensed table&#45;striped"> -->
<!--               <thead> -->
<!--                 <tr> -->
<!--                   <th></th> -->
<!--                   <th>Annotation</th> -->
<!--                 </tr> -->
<!--               </thead> -->
<!--               <tbody> -->

<!--                 <tr> -->
<!--                   <th scope="row">{{disease.1}}</th> -->
<!--                   <td> -->
<!--                     <a href='/talk/annotation/?q={{disease.0}}'> -->
<!--                       {{disease.0}} -->
<!--                     </a> -->
<!--                   </td> -->
<!--                 </tr> -->

<!--               </tbody> -->
<!--             </table> -->
<!--           </div> -->
<!--  -->
<!--           <div class="col&#45;4"> -->
<!--             <h4 class="text&#45;center"> Genes</h4> -->
<!--             <table class="table table&#45;condensed table&#45;striped"> -->
<!--               <thead> -->
<!--                 <tr> -->
<!--                   <th></th> -->
<!--                   <th>Annotation</th> -->
<!--                 </tr> -->
<!--               </thead> -->
<!--               <tbody> -->

<!--                 <tr> -->
<!--                   <th scope="row">{{gene_protein.1}}</th> -->
<!--                   <td> -->
<!--                     <a href='/talk/annotation/?q={{gene_protein.0}}'> -->
<!--                       {{gene_protein.0}} -->
<!--                     </a> -->
<!--                   </td> -->
<!--                 </tr> -->

<!--               </tbody> -->
<!--             </table> -->
<!--           </div> -->
<!--  -->
<!--           <div class="col&#45;4"> -->
<!--             <h4 class="text&#45;center" Drugs</h4> -->
<!--             <table class="table table&#45;condensed table&#45;striped"> -->
<!--               <thead> -->
<!--                 <tr> -->
<!--                   <th></th> -->
<!--                   <th>Annotation</th> -->
<!--                 </tr> -->
<!--               </thead> -->
<!--               <tbody> -->

<!--                 <tr> -->
<!--                   <th scope="row">{{drug.1}}</th> -->
<!--                   <td> -->
<!--                     <a href='/talk/annotation/?q={{drug.0}}'> -->
<!--                       {{drug.0}} -->
<!--                     </a> -->
<!--                   </td> -->
<!--                 </tr> -->

<!--               <tbody> -->
<!--             </table> -->
<!--           </div> -->
<!--  -->
<!--         </div> -->
<!--  -->
<!--           <div class="col&#45;6"> -->
<!--             <div class="row"> -->
<!--               <div class="col&#45;xs&#45;12"> -->
<!--               {% get_comment_list for document.document doc.pk as comment_list %} -->

<!--               <div class="list&#45;group"> -->

<!--                 <div class="list&#45;group&#45;item"> -->
<!--                   <h4 class="list&#45;group&#45;item&#45;heading"> -->
<!--                     <a href='{% url "userprofile:public&#45;profile" comment.user.username %}'> -->
<!--                       {{ comment.user.username }} -->
<!--                     </a> -->
<!--                   </h4> -->
<!--                   <p class="list&#45;group&#45;item&#45;text"> {{ comment.comment }}</p> -->
<!--                   <p class="text&#45;right text&#45;muted"> -->
<!--                     <small>{{ comment.submit_date }}</small> -->
<!--                   </p> -->
<!--                 </div> -->

<!--               </div> -->

<!--             </div> -->
<!--           </div> -->
<!--  -->
<!--           <div class="row justify&#45;content&#45;center"> -->
<!--             <div class="col&#45;10"> -->
<!--               {% get_comment_form for document.document doc.pk as form %} -->
<!--               <form action="{% comment_form_target %}" method="post"> -->
<!--                 {{csrf_token}} -->
<!--  -->
<!--                 <fieldset> -->
<!--                   {{ form.timestamp }} -->
<!--                   {{ form.content_type }} -->
<!--                   {{ form.object_pk }} -->
<!--                   {{ form.security_hash }} -->
<!--  -->
<!--                   {{ form.comment|as_vertical_form }} -->
<!--                   <input type="hidden" name="next" value="{% url 'talk:home' doc.document_id %}" /> -->
<!--                 </fieldset> -->
<!--  -->
<!--                 <fieldset> -->
<!--                   <input type="submit" name="submit" value="Post" class="btn btn&#45;primary pull&#45;right" /> -->
<!--                 </fieldset> -->
<!--               </form> -->
<!--  -->
<!--               </div> -->
<!--             </div> -->
<!--           </div> -->
<!--  -->
