{% extends "base.html" %}

{% load as_vertical_form from bootstrap %}
{% load widget_tweaks %}
{% load comments %}


{% block header %}
  {% with headerMessage='Talk Page' %}
  {% include "includes/header.html" %}
  {% endwith %}
{% endblock header %}


{% block content %}
<div id="talk-document-home" class="container"></div>
{% endblock %}


{% block post-footer %}
<script>
  var TalkDocumentApp = Backbone.Marionette.Application.extend({
    region: '#talk-document-home',

    onStart: function() {
      var main = this.getRegion();
      main.show( new TalkDocumentView({'document_pk': {{document.pk}}}));
    }
  });
  var talk_document_app = new TalkDocumentApp();
  talk_document_app.start();
</script>
{% endblock %}
