{% extends "base.html" %}

{% load as_vertical_form from bootstrap %}
{% load widget_tweaks %}
{% load comments %}
{% load humanize %}


{% block header %}
  {% with headerMessage='Talk Pages' %}
  {% include "includes/header.html" %}
  {% endwith %}
{% endblock %}


{% block content %}
<div id="talk" class="container-fluid"></div>
{% endblock %}


{% block post-footer %}
<script>
  var TalkApp = Backbone.Marionette.Application.extend({
    region: '#talk',

    onStart: function() {
      var main = this.getRegion();
      main.show( new TalkView() );
    }
  });
  var talk_app = new TalkApp();
  talk_app.start();
</script>
{% endblock %}
