extends training/relation/part-1/base

block intro-content
  .row.m-t-md
    .col-xs-12
      p Rule #1 – Determine the relationship based ONLY on the text included.  Do NOT use outside information for the <strong>relationship</strong>. This ONLY applies to the <strong>relationship</strong>. Feel free to look up the terms.

    .col-xs-12.text-center
      p
        strong Use the menu in the box below to help relate the two concepts:


    #relation-training-progress(tabindex="-1", role="dialog", aria-labelledby="mySmallModalLabel", aria-hidden="true", show='true').modal.fade.bd-example-modal-sm
      .modal-dialog.modal-md
        .modal-content
          .modal-body
            .list-group.text-center
              .list-group-item.completed
                | <i class='fa fa-check' aria-hidden='true'></i>  Using the interface
              button(type='button', data-dismiss='modal').list-group-item.current
                | <i class='fa fa-angle-right' aria-hidden='true'></i>  Rules for Relationship Extraction
              .list-group-item.locked.disabled
                | <i class='fa fa-lock' aria-hidden='true'></i>  Learn new relationships: Broad


block navigation

  .row.m-t-md
    .col-xs-12.text-center
      a(id='next-button', style='display:none;', href='{% url "training:relation-training" part_num=3 step_num=1 %}').btn.btn-primary Next


block interactive

  #tree-insert

  .row.m-t-md
    .col-xs-12
      p <span class='user_annotated'>Hashimoto's encephalopathy</span>: report of three cases.
      p Both severe thyrotoxicosis and hypothyroidism may affect brain function and cause a change in consciousness, as seen with a thyroid storm or myxedema coma. However, encephalopathy may also develop in patients with autoimmune thyroid diseases independent of actual thyroid function level, and this is known as <span class='user_annotated'>Hashimoto's encephalopathy</span>. Although most patients are found to have Hashimoto's thyroiditis, less frequently they have Graves' disease. Clinical manifestations include epilepsy, disturbance of consciousness, cognitive impairment, memory loss, myoclonus, hallucinations, stroke-like episodes, tremor, involuntary movements, language impairment, and gait impairment. <span class='user_annotated'>Hashimoto's encephalopathy</span> is a relatively rare disease. As a good response can be obtained with corticosteroid therapy, early diagnosis and treatment is very beneficial for patients. Here we report three patients with Hashimoto's encephalopathy with typical manifestations of hallucinations that were associated with hypothyroidism, hyperthyroidism, and euthyroid status, respectively. They all showed a dramatic response to <span class='user_annotated_pink'>methylprednisolone</span> pulse therapy.



  script.

    relation_task_settings = {};
    relation_task_settings['data'] = {{ relation_data|safe }};

    task_data = [{
      "id": 0,
      "document": 0,
      "relation_type": "c_d",
      "concepts": {
        "c2": {
          "text": "Hashimoto's encephalopathy",
          "type": "d",
          "id": "0"
        },
        "c1": {
          "text": "methyl-prednisolone",
          "type": "c",
          "id": "0"
        }
      },
      "user_completed": false
    }];


block post-footer
  <script type="html/template" id="tree-template">
  <div id="tree" class="row text-center">

  <div class="concept col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-3" id="c1">
  <i id="c1_not_correct" class="fa fa-times-circle"></i>
  <h3><%= c1.text %></h3>
  <p class="not_correct_stype"></p>
  </div>

  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-6" style="padding-bottom:10px; padding-top:10px;">
  <h3 id="relation" class="disabled">Select a Relationship below...</h3>
  <ul class="list-group"></ul>
  </div>

  <div class="concept col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-3" id="c2">
  <i id="c2_not_correct" class="fa fa-times-circle"></i>
  <h3><%= c2.text %></h3>
  <p class="not_correct_stype"></p>
  </div>

  </script>



  script(src="/static/js/libs/tree.js")
  script(src="/static/js/tasks/relation-training.js")

  script.
    var event_counter = 0;
    var passages, regions, tmp_passages;

    Tree['convoChannel'].on('start', function(obj) {
      if(event_counter==0) {
        $relates_el = $('ul.list-group a:nth(0)');
        $relates_el.popover({
          container: 'body',
          html: true,
          animation: false,
          content: function() {
            return 'Click on the \'relates to\' box';
          },
          placement: 'top'
        });
        $relates_el.popover('show');
      }
      event_counter++;
    });


    Tree['convoChannel'].on('back', function(obj) {
      $('.popover').popover('dispose');
      $relates_el = $('ul.list-group a:nth(0)');
      $relates_el.popover({
        container: 'body',
        html: true,
        animation: false,
        content: function() {
          return 'Once again, click on the \'relates to\' box';
        },
        placement: 'left'
      });
      $relates_el.popover('show');
    });


    /* When an item is selected */
    Tree['convoChannel'].on('click', function(obj) {
      var current_selection = Tree.start.currentView.options.choice;
      if(current_selection.get('id') == '8qota4u8hwtcyp65kz9zm0vjyuxwjt12sko084sn') {

        $('.popover').popover('dispose');
        $treats_el = $('ul.list-group a:nth(1)');
        $treats_el.popover({
          container: 'body',
          html: true,
          animation: false,
          content: function() {
            return 'When you make a selection, more options may become available. Remember, only select the relationship based on the text below. <br /><strong>Select \'treats\' to continue</strong>';
          },
          placement: 'bottom'
        });
        $treats_el.popover('show');
      };

      if(current_selection.get('id') == 'jilhvc5p2cy0atls8659a1fggjvvkmahwuspy2kr') {
        $('.popover').popover('dispose');
        $('#next-button').show();
        $next_el = $('#next-button');
        $next_el.popover('hide');
        $next_el.popover({
          container: 'body',
          html: true,
          animation: false,
          content: function() {
            return 'Remember, you can always go back to your previous selection by clicking on the text of your current selection. <br />Click on \'submit\' to continue'
          },
          placement: 'top'
        });
        $next_el.popover('show');
      }

    });

  script.
    $(window).load(function(){
      $('#relation-training-progress').modal('show');
    });
