
  if(current_selection.get('id') != '8qota4u8hwtcyp65kz9zm0vjyuxwjt12sko084sn' || current_selection.get('id') != 'jilhvc5p2cy0atls8659a1fggjvvkmahwuspy2kr') {
    better_answer();
  };




});

 /* When incorrect concepts are selected but it's not time to report errors */
  Tree['convoChannel'].on('error', function(str) {
    if(str == 'c_2' || str == 'c_1') {
      better_answer();
    }
  });

