extends common/dashboard

- load widget_tweaks
- load humanize


block header
  - with headerMessage='Community Dashboard: Relation Module'
    include includes/header

block dashboard-content
    - if documents
      .list-group
        - for document in documents
          a(href='{% url "task-relation:relation" document_pk=document.pk %}').list-group-item
            #{document.title}
    - else
      p.lead.text-center.m-t-lg Sorry, no relationship tasks currently avialable for you to work on.

