extends common/dashboard

- load widget_tweaks
- load humanize


block header
  - with headerMessage='Community Dashboard: Relation Module'
    include includes/header-task-relation

block dashboard-content

    - if documents
      #document-relation-board

    - else
      p.lead.text-center.m-t-lg Sorry, no relationship tasks currently avialable for you to work on.

block post-footer
    script(src="/static/js/tasks/relation-list.js")

    script.
      DocumentRelationBoard.addInitializer(function(options) {
        DocumentRelationBoard.addRegions({'doclist': '#document-relation-board'});
        var docs = new DocumentList();
        DocumentRelationBoard['doclist'].show( new DocumentCompositeView({'collection': docs}) );
      });
      DocumentRelationBoard.start();

