extends base

- load widget_tweaks
- load brabeion_tags

block header
  - with headerMessage=task.name
    include includes/header-relation

block content
  .container-fluid
    .row
      .col-xs-6.col-xs-offset-3
          p Thank you, {{request.user}}, for defining the relationships in {{ document }}

          a(href='{% url "task-relation:home" %}')
            p Return to Relation Home


