extends base
{% load index %}

- load humanize
- load widget_tweaks
- load brabeion_tags

block header
  - with headerMessage=task.name
    include includes/header-task-relation

block content
  .container-fluid
    #quest-guide.row
      .col-xs-10.col-xs-offset-1.col-md-7.col-md-offset-1.col-lg-8.col-lg-offset-1
        ul#progress-bar.list-unstyled.list-inline

      .col-xs-10.col-xs-offset-1.col-md-3.col-md-offset-0.col-lg-2.col-lg-offset-0
        p.text-center Score: <span id='score'>#{user.userprofile.score}</span>

  .container-fluid
    .col-xs-12.col-md-10.col-md-offset-2
      h3 Hover over the circles to get feedback for this document's relationships

      - for reln in reln_ann_list
        span(class="relation-circle", id="relation-circle-{{ reln.relation_id }}", style="font-size:50px;") &#8226;

      .row

        - for reln in reln_ann_list
          #feedback-next-action-area
            div(id="relation-{{ reln.relation_id }}" style="display:none") {{ reln.relation_id }}
              div(id="chart-{{ reln.relation_id }}") chart-id... not showing
              div(id="chart-list-{{ reln.relation_id }}" class="list-unstyled") chart-list-id
              {% with reln_ann_list|index:forloop.counter0 as relationship_answer %}
              div You said {{ relationship_answer.answer }} about the relation
              {% endwith %}

              div(id="user-answer-{{ reln.relation_id }}" style="display:none") {{ reln_ann_list.0.answer }}


  #task-complete.container
    .row.m-t-lg
      .col-xs-8.col-xs-offset-2
        p.lead.text-center
          | Thank you, {{request.user}}, completing the relationships for document
          a(href='http://www.ncbi.nlm.nih.gov/pubmed/{{document.document_id}}', target='_blank')
            |  {{ document.document_id }}

        p.lead.text-center You earned #{points|intcomma} points!

        hr

        p.text-center You've now unlocked the talk page for the document. See what other people are saying about it!

        .row.text-center
          .col-xs-10.col-xs-offset-1.col-md-4.col-md-offset-2.m-t-md
            a(href='{% url "talk:home" document.document_id %}').btn.btn-default
              | Yes, Let's Talk

          .col-xs-10.col-xs-offset-1.col-md-4.m-t-md
            a(href='{% url "common:dashboard" %}').btn.btn-primary
              | Return Home


block post-footer
  script.
    var relation_task_settings = {
      'csrf_token': "{{csrf_token}}",
      'document_pk': "{{ document.pk }}",
      'document_pmid': "{{ document.document_id }}"
    };

  script(src="/static/js/libs/tree.js")
  script(src="/static/js/tasks/relation.js")
  script(src="/static/js/tasks/relation-synopsis.js")
