extends base

- load widget_tweaks
- load humanize


block header
  - with headerMessage=task.name
    include includes/header


block content

  #tree-action-area.container-fluid


block post-footer

  script.
    var RETreeApp = Backbone.Marionette.Application.extend({
      region: '#tree-action-area',

      onStart: function() {
        var main = this.getRegion();

        main.show( new Tree({
          'csrf_token': "{{csrf_token}}",
          'mode': 're',

          'document_pk': "{{ document.pk }}",
          'document_pmid': "{{ document.document_id }}"
          })
        );
      }
    });
    var tree_app = new RETreeApp();
    tree_app.start();

