extends base

- load humanize
- load widget_tweaks
- load brabeion_tags

block header
  - with headerMessage=task.name
    include includes/header-task-relation

block content
  .container-fluid
    #quest-guide.row
      .col-xs-10.col-xs-offset-1.col-md-7.col-md-offset-1.col-lg-8.col-lg-offset-1
        ul#progress-bar.list-unstyled.list-inline

      .col-xs-10.col-xs-offset-1.col-md-3.col-md-offset-0.col-lg-2.col-lg-offset-0
        p.text-center Score: <span id='score'>#{user.userprofile.score}</span>



  #task-complete.container
    .row.m-t-lg
      .col-xs-8.col-xs-offset-2
        p.lead.text-center
          | Thank you, {{request.user}}, completing the relationships for document
          a(href='http://www.ncbi.nlm.nih.gov/pubmed/{{document.document_id}}', target='_blank')
            |  {{ document.document_id }}

        p.lead.text-center You earned #{points|intcomma} points!

        hr

        p.text-center You've now unlocked the talk page for the document. See what other people are saying about it!

        .row.text-center
          .col-xs-10.col-xs-offset-1.col-md-4.col-md-offset-2.m-t-md
            a(href='{% url "talk:home" document.document_id %}').btn.btn-default
              | Yes, Let's Talk

          .col-xs-10.col-xs-offset-1.col-md-4.m-t-md
            a(href='{% url "common:dashboard" %}').btn.btn-primary
              | Return Home


block post-footer
  script.
    var relation_task_settings = {
      'csrf_token': "{{csrf_token}}",
      'document_pk': "{{ document.pk }}",
      'document_pmid': "{{ document.document_id }}"
    };

  script(src="/static/js/libs/tree.js")
  script(src="/static/js/tasks/relation.js")
