extends flatpages/base

- load as_vertical_form from bootstrap
- load as_horizontal_form from bootstrap

block content

  .container.content
    .row.my-5.justify-content-center
      .col-md-8.col-lg-6.col-xl-5

        h2.text-center Login
        p.text-center Don't have account? <a href='{% url "common:get-started" %}'>Get started now!</a>

        form(method='post').mt-5
          - csrf_token

          - if form.errors
            .row.justify-content-center
              .col-sm-8
                p.text-danger.text-center Your username and password didn't match. Please try again.

          #{form.login|as_horizontal_form}
          #{form.password|as_horizontal_form}

          .form-group.row.mt-5.mb-0.justify-content-center
            .col-sm-6
              button(type="submit").btn.btn-block.btn-primary Sign in

          .form-group.row.justify-content-center
            .col-sm-6
              p.text-right
                small
                  a(href='{% url "account_reset_password" %}') Forgot password?

