extends flatpages/base

- load as_vertical_form from bootstrap

block content

  .container.content
    .row.justify-content-center.my-1
      .col-6
        h2.text-center Login
        p.text-center Don't have account? <a href='{% url "common:get-started" %}'>Get started now!</a>

    .row.justify-content-center.m-y-1
      .col-6
        - if form.errors
          p Your username and password didn't match. Please try again.

        form(method='post')
          - csrf_token

          .form-group
            .row
              .col-12
                #{form.login|as_vertical_form}

          .form-group
            .row
              .col-12
                #{form.password|as_vertical_form}

          .form-group.m-y-1
            .row
              .col-12
                input(type='submit', value='Login').btn.btn-primary.btn-block

              .col-12
                p.text-right
                  small
                    a(href='{% url "account_reset_password" %}') Forgot password?
