{% extends "flatpages/base.html" %}
{%  load i18n %}
{%  load account %}

{% block head_title %}
<Password>Reset</Password>
{% endblock %}

{% block content %}
<div id="accounts-reset-done" class="container m-t-2 m-b-2">
  <div class="row justify-content-center mt-5">
    <div class="col-xs-10 mt-5">
      <h2 class="text-xs-center">Password Reset</h2>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    {% if  user.is_authenticated %}
    <div class="col-xs-10 col-md-6">
      {% include "account/snippets/already_logged_in.html" %}
    </div>
    {% endif %}
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-xs-10 col-md-4">
      <p class="text-center">We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
    </div>
  </div>
</div>
{% endblock %}
