extends flatpages/base

- load i18n
- load as_vertical_form from bootstrap


block head_title
  Change Password


block content
  .container.m-t-lg.m-b-lg

    .row.m-t-lg.m-b-lg
      .col-xs-10.col-xs-offset-1
        h2.text-center
          if token_fail
            | Bad Token
          else
            | Change Password

    if token_fail
      .row.m-t-lg.m-b-lg
        .col-xs-10.col-xs-offset-1.col-md-6.col-md-offset-3
          p.text-center The password reset link was invalid, possibly because it has already been used. Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.

    else
      if form
        .row
          .col-xs-10.col-xs-offset-1.col-md-6.col-md-offset-3
            if form.errors
              for field in form
                for error in field.errors
                  .alert.alert-error.text-center
                    strong {{ error|escape }}

                for error in form.non_field_errors
                  .alert.alert-error.text-center
                    strong {{ error|escape }}
        .row
          .col-xs-10.col-xs-offset-1.col-md-6.col-md-offset-3
            form(method="POST", action=".")
              - csrf_token
              .form-group
                .row
                  .col-xs-12.col-md-6.col-md-offset-3
                    #{form.password1|as_vertical_form}

                .row
                  .col-xs-12.col-md-6.col-md-offset-3
                    #{form.password2|as_vertical_form}

              .form-group.m-t-md
                .row
                  .col-xs-12.col-md-6.col-md-offset-3
                    input(type='submit', name='action', value='Change Password').btn.btn-primary.btn-block

      else
        .row
          .col-xs-10.col-xs-offset-1.col-md-6.col-md-offset-3
            p Your password is now changed.
