extends flatpages/base

- load as_horizontal_form from bootstrap

block content


  .container.content
    .row.my-5.justify-content-center
      .col-md-8.col-lg-6.col-xl-5

        h2.text-center Forgot Your Password?
        if user.is_authenticated
          include account/snippets/already_logged_in.html

        p.text-center Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.


        form(method='post', action='{% url "account_reset_password" %}').mt-5
          - csrf_token

          .row.justify-content-center
            .col-sm-8
              if form.errors
                for field in form
                  for error in field.errors
                    .alert.alert-error.text-center
                      strong {{ error|escape }}

                  for error in form.non_field_errors
                    .alert.alert-error.text-center
                      strong {{ error|escape }}


          #{form.email|as_horizontal_form}

          .form-group.row.justify-content-center.m-t-1
            .col-sm-6
              input(type="submit", value="Email Reset Link").btn.btn-primary.btn-block




