{% extends "flatpages/base.html" %}
{%  load as_horizontal_form from bootstrap %}

{% block content %}
<div id="accounts-reset" class="container">
  <div class="row my-5 justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
      <h2 class="text-center">Forgot Your Password?</h2>{% if  user.is_authenticated %}{% include "account/snippets/already_logged_in.html" %}{% endif %}
      <p class="text-center">Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
      <form method="post" action="{% url "account_reset_password" %}" class="mt-5">{%  csrf_token %}
        <div class="row justify-content-center">
          <div class="col-sm-8">
            {% if  form.errors %}
            {% for field in for %}
              {% for error in field.errors %}
              <div class="alert alert-error text-center"><strong>{{ error|escape }}</strong>
              </div>{% endfor %}{% for error in form.non_field_errors|__pyjade_iter:1 %}
              <div class="alert alert-error text-center"><strong>{{ error|escape }}</strong>
              </div>
              {% endfor %}
            {% endfor %}
            {% endif %}
          </div>
        </div>

        {{form.email|as_horizontal_form|escape}}

        <div class="form-group row justify-content-center m-t-1">
          <div class="col-sm-6">
            <input type="submit" value="Email Reset Link" class="btn btn-primary btn-block"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
