extends flatpages/base

- load i18n
- load as_vertical_form from bootstrap


block head_title
  Change Password


block content
  #accounts-reset-key.container.my-5

    .row.justify-content-center.my-3

      .col-xs-10
        h2.text-xs-center
          if token_fail
            | Bad Token
          else
            | Change Password

    if token_fail
      .row.justify-content-center.my-3
        .col-xs-10
          p.text-xs-center The password reset link was invalid, possibly because it has already been used. Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.

    else
      if form
        .row.justify-content-center.my-3
          .col-xs-10
            if form.errors
              for field in form
                for error in field.errors
                  .alert.alert-error.text-xs-center
                    strong {{ error|escape }}

                for error in form.non_field_errors
                  .alert.alert-error.text-xs-center
                    strong {{ error|escape }}

        .row.justify-content-center
          .col-xs-10.col-md-6
            form(method="POST", action=".")
              - csrf_token
              .form-group
                .row.justify-content-center
                  .col-xs-12.col-md-6.text-center
                    #{form.password1|as_vertical_form}

                .row.justify-content-center
                  .col-xs-12.col-md-6.text-center
                    #{form.password2|as_vertical_form}

              .form-group.m-t-1
                .row.justify-content-center
                  .col-xs-12.col-md-6
                    input(type='submit', name='action', value='Change Password').btn.btn-primary.btn-block

      else
        .row.justify-content-center
          .col-xs-10.col-md-6
            p Your password is now changed.
