extends flatpages/base

- load i18n
- load account

block head_title
  Password Reset

block content
  .container.m-t-2.m-b-2

    .row.m-t-2.m-b-2
      .col-xs-10.col-xs-offset-1
        h2.text-xs-center Password Reset

      if user.is_authenticated
        .col-xs-10.col-xs-offset-1.col-md-6.col-md-offset-3
          include account/snippets/already_logged_in.html

      .col-xs-10.col-xs-offset-1.col-md-6.col-md-offset-3
        p.text-xs-center We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.

