{% extends "flatpages/base.html" %}
{%  load i18n %}
{%  load as_vertical_form from bootstrap %}

{% block head_title %}
<Change>Password</Change>
{% endblock %}

{% block content %}
<div id="accounts-reset-key" class="container my-5">
  <div class="row justify-content-center my-3">
    <div class="col-xs-10">
      <h2 class="text-xs-center">{% if  token_fail %}Bad Token{% else %}Change Password{% endif %}
      </h2>
    </div>
  </div>
{% if token_fail %}
  <div class="row justify-content-center my-3">
    <div class="col-xs-10">
      <p class="text-xs-center">The password reset link was invalid, possibly because it has already been used. Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.</p>
    </div>
  </div>
{% else %}
  {% if  form %}
  <div class="row justify-content-center my-3">
    <div class="col-xs-10">{% if  form.errors %}{% for field in form|__pyjade_iter:1 %}{% for error in field.errors|__pyjade_iter:1 %}
      <div class="alert alert-error text-xs-center"><strong>{{ error|escape }}</strong>
      </div>{% endfor %}{% for error in form.non_field_errors|__pyjade_iter:1 %}
      <div class="alert alert-error text-xs-center"><strong>{{ error|escape }}</strong>
      </div>{% endfor %}{% endfor %}{% endif %}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xs-10 col-md-6">
      <form method="POST" action=".">
        {%  csrf_token %}
        <div class="form-group">
          <div class="row justify-content-center">
            <div class="col-xs-12 col-md-6 text-center">{{form.password1|as_vertical_form|escape}}</div>
          </div>
          <div class="row justify-content-center">
            <div class="col-xs-12 col-md-6 text-center">{{form.password2|as_vertical_form|escape}}</div>
          </div>
        </div>
        <div class="form-group m-t-1">
          <div class="row justify-content-center">
            <div class="col-xs-12 col-md-6">
              <input type="submit" name="action" value="Change Password" class="btn btn-primary btn-block"/>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

{% else %}
  <div class="row justify-content-center">
    <div class="col-xs-10 col-md-6">
      <p>Your password is now changed.</p>
    </div>
  </div>
  {% endif %}
  {% endif %}
</div>
{% endblock %}
