extends flatpages/base

- load i18n
- load account

block head_title
  Password Reset

block content
  #accounts-reset-done.container.m-t-2.m-b-2

    .row.justify-content-center.mt-5
      .col-xs-10.mt-5
        h2.text-xs-center Password Reset

    .row.justify-content-center.mt-3
      if user.is_authenticated
        .col-xs-10.col-md-6
          include account/snippets/already_logged_in.html

    .row.justify-content-center.mt-5
      .col-xs-10.col-md-4
        p.text-center We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.

