{% extends "base.jade" %}

{% load i18n %}
{% load account_tags %}
{% load account %}

{% user_display request.user as user_display %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
  <div class="container password-reset-page onboard-forms">
    <div class="row m-y-lg">
        <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">



          <h1>{% trans "Password Reset" %}</h1>
          {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
          {% endif %}

          <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

          {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}
                <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-error">
              <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
          {% endif %}

          <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}

            <div class="form-group email has-feedback required col-sm-12">
              <span class="input input--hideo">
                <input class="input__field input__field--hideo form-control" id="id_email" name="email" placeholder="Email" type="text" />
                <label for="" class="input__label input__label--hideo">
                  <i class="fa fa-fw fa-envelope icon icon--hideo"></i>
                </label>
              </span>
              <button type="submit" class="btn btn-primary m-y-md">
                {% trans "Reset my password" %}
              </button>
            </div>
          </form>
          <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

      </div>
    </div>
  </div>
{% endblock %}
