extends base

- load widget_tweaks
- load humanize

block header
  - with headerMessage='Community Dashboard'
    include includes/header

block content
  .container
    .row
      .col-md-6
            - if passwordChangeForm.errors
                p Your passwords didn't match. Please try again.

            form(method='post', action='/account/change/').form-horizontal
              - csrf_token

              .form-group
                label(for='id_username').control-label.col-md-4 Username
                .col-md-8
                  input(name='username', type='text', id='id_username', value='{{user.username}}', disabled).form-control

              .form-group
                label(for='id_email').control-label.col-md-4 Email
                .col-md-8
                  input(name='email', type='text', id='id_email', value='{{user.email}}', disabled).form-control


              .form-group
                label(for='id_old_password').control-label.col-md-4 Old Password
                .col-md-8
                  input(name='old_password', type='password', id='id_old_password').form-control

              .form-group
                label(for='id_new_password1').control-label.col-md-4 New Password
                .col-md-8
                  input(name='old_password1', type='password', id='id_new_password1').form-control

              .form-group
                label(for='id_new_password2').control-label.col-md-4 Verify New Password
                .col-md-8
                  input(name='new_password2', type='password', id='id_new_password2').form-control


              input(type='submit', value='Save New Password').btn.btn-primary.full-width

      .col-md-6
        img(src='#').img-responsive

    hr

    .row
      .col-md-12
        h2 Profile Information

        form(method='post', action='/account/change/').form-horizontal
          - csrf_token

          .row
            .col-md-6
              .form-group
                label(for='id_f_name').control-label.col-md-4 Name
                .col-md-8
                  input(name='f_name', type='text', id='id_f_name', value='{{user.first_name}}').form-control
                  input(name='l_name', type='text', id='id_l_name', value='{{user.last_name}}').form-control

              .form-group
                .col-md-6
                  input(name='country', type='text', id='id_country').form-control
                .col-md-6
                  input(name='state', type='text', id='id_state').form-control

              .form-group
                label(for='id_birthday').control-label.col-md-4 Birthday
                .col-md-8
                  input(name='birthday', type='text', id='id_birthday').form-control

            .col-md-6
              .form-group
                label(for='id_contribue') I contribute to Mark2Cure because:
                textarea#id_contribute(name='contribute').form-control

              .form-group
                label(for='id_referral') I heard about Mark2Cure form:
                textarea#id_referral(name='referral').form-control

            .col-md-12
              .form-group
                label(for='id_signature') Qoute / Signature:
                textarea#id_signature(name='signature').form-control

    hr

    .row
      .col-md-12
        h2 Privacy Controls
          form(method='post', action='/account/{{user.profile.pk}}/profile/')
            - csrf_token
            .form-group
              #{profileForm.timezone|add_class:'form-control'}

              input(type='submit', value='Update Settings').btn.btn-primary.full-width.breathe-top-mid


