{% extends "base.html" %}
{% load widget_tweaks %}
{% load socialaccount %}

{% block header %}
{% with headerMessage='Signup for Mark2cure' %}
{% include "includes/header.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<div id="accounts-signup" class="container">
  <div class="row mt-3 mb-5">
    <div class="col-12">
      <div class="row">

        <div class="col-12 col-md-6">
          <form role="form" method="post" action="{% url 'account_signup' %}" class="form-horizontal">{%  csrf_token %}{{form.errors|escape}}

            <div class="form-group row">
              <label class="col-form-label col-12">Username</label>
              <div class="col-12">
                {{form.username|add_class:'form-control'|attr:"placeholder:Username is displayed on public profile"|escape}}
              </div>
            </div>

            <div class="form-group row">
              <label class="col-form-label col-12">Email</label>
              <div class="col-12">
                {{form.email|add_class:'form-control'|attr:"placeholder:Email will remain hidden"|escape}}
              </div>
            </div>

            <div class="form-group row">
              <label class="col-form-label col-12">Password</label>
              <div class="col-12">
                {{form.password1|add_class:'form-control'|attr:'type:password'|escape}}
              </div>
            </div>

            <div class="form-group row">
              <label class="col-form-label col-12">Verify Password</label>
              <div class="col-12">
                {{form.password2|add_class:'form-control'|attr:'type:password'|escape}}
              </div>
            </div>

            <div class="form-group row">
              <div class="col-12">
                <button type="submit" class="form-control btn btn-primary btn-block">Create Account</button>
              </div>
            </div>
          </form>
        </div>

        <div class="col-12 col-md-6 text-center">
          <a href="{% url "account_login" %}" class="btn btn-default">Already have an account?</a>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
