{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'relationship/style.css' %}" />


<h1 id="purple_center">Relationship Module<h1>

<h4 id="left_align">Using the following abstract, please answer the following question about
entity relationships.</h2>


<p>This is sample text that might be found on mark2cure.org.
  Studies show that if you eat too much snickers you will become obese, and
  that if you have meal replacements with slimfast you can prevent obesity.
  Ibuprofen and codeine can help prevent headaches but not depression. To fight
  depression you might try zoloft. Caffeine can help with fatigue but can cause
  restlessness before bedtime. Only when chlorthalidone is combined with
  atenolol, will it become effective for treating hypertension.
</p>

<p><h4 id="left_align">{{ question.question_text }}</h4>
{% if error_message %}<p>{{ error_message }}</p>{% endif %}
<form action="{% url 'relationship:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}

<p id="left_align">Additional information about the above relationship can be provided here (optional):</p>

<input type="text" id="text" name="text_name" class="comment_box" />



<input type="submit" value="Submit Contributions to Science" />


</form>
