extends base

- load widget_tweaks
- load humanize


block header
  - with headerMessage=task.name
    include includes/header-relation

block content
  .container
    .row.head-space
      .col-xs-12

    .row.head-space
      .col-xs-12
        h3 Using the following abstract, please answer questions about chemical/disease relations.
        p {{ current_paper|safe }}
        h3 Help us define how {{ chemical_html|safe }} relates to {{ disease_html|safe }}:
        #jqxWidget
        h1#jen_results

        form(role='form', action="{% url 'relation:results' relation.id %}", method="POST")
          - csrf_token
          {{ form.as_p }}
          input#id_relation_1(type="hidden", name="relation_type", value="ind" )
          input#id_relation_2(type="hidden", name="user_confidence", value="C1")
          br
          a
            input(type="submit", value="Submit Contributions to Science")

block post-footer
  script(type="text/javascript", src="http://www.jqwidgets.com/jquery-widgets-demo/scripts/jquery-1.11.1.min.js")
  script(type="text/javascript", src="http://www.jqwidgets.com/jquery-widgets-demo/scripts/demos.js")
  script(type="text/javascript", src="http://www.jqwidgets.com/jquery-widgets-demo/jqwidgets/jqxcore.js")
  script(type="text/javascript", src="http://www.jqwidgets.com/jquery-widgets-demo/jqwidgets/jqxdata.js")
  script(type="text/javascript", src="http://www.jqwidgets.com/jquery-widgets-demo/jqwidgets/jqxbuttons.js")
  script(type="text/javascript", src="http://www.jqwidgets.com/jquery-widgets-demo/jqwidgets/jqxscrollbar.js")
  script(type="text/javascript", src="http://www.jqwidgets.com/jquery-widgets-demo/jqwidgets/jqxmenu.js")

  script.
    $(document).ready(function () {

      var data = [{
          "id": "1",
          "text": "relates to",
          "parentid": "-1",
          "subMenuWidth": '250px'
        }, {
          "id": "1-2",
          "text": "exacerbates",
          "parentid": "1"
        }, {
          "id": "1-1",
          "text": "treats",
          "parentid": "1"
        }, {
          "id": "1-1-1",
          "text": "treats the symptoms of",
          "parentid": "1-1"
        }, {
          "id": "1-1-2",
          "text": "treats the cause of",
          "parentid": "1-1"
        }];

      var source = {
          datatype: "json",
          datafields: [
            { name: 'id' },
            { name: 'parentid' },
            { name: 'text' },
            { name: 'subMenuWidth' }
            ],
          id: 'id',
          localdata: data
          };

      var dataAdapter = new $.jqx.dataAdapter(source);
          dataAdapter.dataBind();
      var records = dataAdapter.getRecordsHierarchy('id', 'parentid', 'items', [{ name: 'text', map: 'label'}]);
      $('#jqxWidget').jqxMenu({ source: records, height: 50,  width: '250', mode: 'vertical', clickToOpen: true});
      $("#jqxWidget").on('itemclick', function (evt) {
        var chemical = "{{ chemical }} ";
        var disease = " {{ disease }} ";
        var string_to_show = $(evt.args).text();
        $('h1#jen_results').text( chemical + string_to_show + disease);
        console.log( $('h1#jen_results').text() );
        return string_to_show;
      });

    });
