extends base

- load widget_tweaks
- load humanize


block header
  - with headerMessage=task.name
    include includes/header-relation

block content
  .container
    .row.head-space
      .col-xs-20

    h1
      h3
        | Using the following abstract, please answer the question about chemical/disease relations.
      p {{current_paper|safe}}
      h4 The text explicitly says:
      form(action="{% url 'relation:results' relation.id %}", method="POST")
        | {% csrf_token %}

        #question_set
          {% csrf_token %}
          {% for question in question_list %}
          input#question(type='radio', name='choice', value='{{ question }}')
          label(for='question') {{ question }}
          br
          {% endfor %}
          p

        #question_set_dynamic(style='display:none;')
          {% csrf_token %}

          {% for question in json_object %}
          input#question(type='radio', name='choice{{ level }}', value='{{ question }}')
          label(for='question') {{ chemical|safe }} {{ question }} {{ disease|safe }}
          br
          {% endfor %}
          p

        input#button(type='button', name='question_list 1', value='Submit Relation 1', onclick='displayNewQuestionSet()')
        input#button_dynamic(style='display:none' type='button', name='question_list{{ level }}', value='Submit Relation {{ level }}', onclick='displayNewQuestionSet()')


        script.
          function displayNewQuestionSet() {
            function jen() {
              var json_object = "{{ json_object}}"['treats'];
              return json_object;
            }
            json_object = jen();
            document.getElementById('question_set_dynamic').style.display = "block";
            document.getElementById('button').style.display = "none";
            document.getElementById('button_dynamic').style.display = "block";
            }


        h4 Additional information about the above relation can be provided here (optional):
        p
          input#text.comment_box(type="text", name="optional_text_box")
        p
          input(type="submit", value="Submit Contributions to Science")
