extends base

- load widget_tweaks
- load humanize


block header
  - with headerMessage=task.name
    include includes/header-relation
  <meta charset="utf-8">
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Mark2Cure</title>


  <link rel="stylesheet" href="https://mark2cure.org/static/css/style.css">
  <link rel="stylesheet" href="https://mark2cure.org/static/css/document-style.css">

  <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='http://www.puff.me.uk/scripps/Tree/main.css'>



block content
  .container
    .row.head-space
      .col-xs-12

    .row.head-space
      .col-xs-12

        .container#tree-insert

        .row
          .col-xs-12
            p.doc#paper


        form(role='form', action="{% url 'relation:results' relation.pk %}", method="POST")
          - csrf_token
          input#relation_type(type="hidden", name="relation_type")
          input#username(type="hidden", name="username", value=request.user)
          input#relation(type="hidden", name="relation", value=relation.pk)

          .row(style="padding-top:20px;" class="col-xs-4 col-xs-offset-4")
            button.btn.btn-default.btn-block(type="submit")#jen_button Submit


block post-footer

  script(type="text/javascript", src="/static/js/libs/jquery-1.11.1.min.js")
  script(type="text/javascript", src="/static/js/libs/bootstrap.min.js")
  script(type="text/javascript", src="/static/js/libs/underscore-min.js")
  script(type="text/javascript", src="/static/js/libs/backbone-min.js")
  script(type="text/javascript", src="/static/js/libs/backbone-relational.js")
  script(type="text/javascript", src="http://www.puff.me.uk/scripps/Tree/src/libs/backbone.radio.min.js")
  script(type="text/javascript", src="/static/js/libs/backbone.marionette.min.js")

  <script type="html/template" id="tree-template">
  <div id="tree" class="row text-center">
  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-3" id="c1"><h3><%= c1.text %></h3></div>
  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-6">
  <h3 id="relation" class="disabled">Select a Relationship below...</h3>
  <ul class="list-group"></ul>
  </div>
  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-3" id="c2"><h3><%= c2.text %></h3></div>
  </div>
  </script>


  script(type="text/javascript").

    /* The current relationship pair we are working on in the array
    At document start, we should work with first item, then "ON SUBMIT" we should
    move through the relation_list array and bring up new concept pairs.

    If a concept was flagged as incorrect, **do not** pull up that concept again,
    so iterate through the array until a new concept is found for the user.
    */

    var relation_list = "{{ relation_list }}";

    /* Make JSON object and not string */
    relation_list = JSON.parse(relation_list.replace(/&quot;/g,'"'));



    var current_relation_number = 0;


    function make_new_page() {
      var reln = relation_list[current_relation_number];

      var paper = "{{ current_paper }}";

      /* replace all instances of c1 and c2 */
      var re1 = new RegExp("\\b" + reln.c1_text + "\\b", 'g');
      var re2 = new RegExp("\\b" + reln.c2_text + "\\b", 'g');

      /* disease is on right and gene is on left add to RULES */

      function color_find(relationship_type) {
        if (relationship_type === "g") {
          var color = "#94d58c";
        };
        if (relationship_type === "d") {
          var color = "#aecbd5";
        };
        if (relationship_type === "c") {
          var color = "#d5aeb8";
        };
      return color;
      };

      c1_reformat = "<font color=" + color_find(reln.c1_stype) + "><b>" + reln.c1_text + "</b></font>";
      c2_reformat = "<font color=" + color_find(reln.c2_stype) + "><b>" + reln.c2_text + "</b></font>";

      str = paper.replace(re1, c1_reformat);
      str = str.replace(re2, c2_reformat);
      $('#paper').html( str );

      console.log(relation_list);
      current_relation_number += 1;
      console.log(current_relation_number, "CURRENT RELN NUMBER");
      return file_key, reln;
    };

    var file_key, reln = make_new_page();

    concepts = { 'c1': {'text': reln.c1_text, 'type': 'chemical'}, 'c2': {'text': reln.c2_text, 'type': 'disease'},};
    if (reln.relation_type == 'g_d' | reln.relation_type == 'd_g')
      file_key = 'gene_disease_relation_menu';

    else if (reln.relation_type == 'c_d' | reln.relation_type == 'd_c' )
      file_key = 'chemical_disease_relation_menu';

    else if (reln.relation_type === 'g_c' | reln.relation_type === 'c_g' )
      file_key = 'gene_chemical_relation_menu';

  script(src="/static/js/libs/tree.js")
  script(src="/static/js/libs/demo.js")
