extends base

- load widget_tweaks
- load humanize


block header
  - with headerMessage=task.name
    include includes/header-relation

block content
  .container
    .row.head-space
      .col-xs-12

    .row.head-space
      .col-xs-12
        h3 Using the following abstract, please answer questions about chemical/disease relations.
        p {{ current_paper|safe }}
        h3 Help us define how {{ chemical_html|safe }} relates to {{ disease_html|safe }}:

        #jqxWidget
        h3#concept1
        h3#jen_results
        h3#concept2


        form(role='form', action="{% url 'relation:results' relation.pk %}", method="POST")
          - csrf_token
          input#relation_type(type="hidden", name="relation_type")
          input#relation_pair(type="hidden", name="relation_pair", value=relation.relation)
          input#username(type="hidden", name="username", value=request.user)
          input#relation(type="hidden", name="relation", value=relation.pk)

          br
          a
            input(type="submit", value="Submit Contributions to Science")

block post-footer
  script(type="text/javascript", src="http://www.jqwidgets.com/jquery-widgets-demo/scripts/jquery-1.11.1.min.js")
  script(type="text/javascript", src="http://www.jqwidgets.com/jquery-widgets-demo/scripts/demos.js")
  script(type="text/javascript", src="http://www.jqwidgets.com/jquery-widgets-demo/jqwidgets/jqxcore.js")
  script(type="text/javascript", src="http://www.jqwidgets.com/jquery-widgets-demo/jqwidgets/jqxdata.js")
  script(type="text/javascript", src="http://www.jqwidgets.com/jquery-widgets-demo/jqwidgets/jqxbuttons.js")
  script(type="text/javascript", src="http://www.jqwidgets.com/jquery-widgets-demo/jqwidgets/jqxscrollbar.js")
  script(type="text/javascript", src="http://www.jqwidgets.com/jquery-widgets-demo/jqwidgets/jqxmenu.js")

  script.
    $(document).ready(function () {

      var data = [{
          "id": "1",
          "text": "relates to",
          "parentid": "-1",
          "subMenuWidth": '200px'
        }, {
          "id": "2",
          "text": "no relation",
          "parentid": "-1",
          "subMenuWidth": '200px'
        },
        {
          "id": "1-2",
          "text": "exacerbates",
          "parentid": "1"
        }, {
          "id": "1-1",
          "text": "treats",
          "parentid": "1"
        }, {
          "id": "1-1-1",
          "text": "treats the symptoms of",
          "parentid": "1-1"
        }, {
          "id": "1-1-2",
          "text": "treats the cause of",
          "parentid": "1-1"
        }];

      var source = {
          datatype: "json",
          datafields: [
            { name: 'id' },
            { name: 'parentid' },
            { name: 'text' },
            { name: 'subMenuWidth' }
            ],
          id: 'id',
          localdata: data
          };

      var dataAdapter = new $.jqx.dataAdapter(source);
          dataAdapter.dataBind();
      var records = dataAdapter.getRecordsHierarchy('id', 'parentid', 'items', [{ name: 'text', map: 'label'}]);
      $('#jqxWidget').jqxMenu({ source: records, height: 50,  width: '250', mode: 'vertical', clickToOpen: true});
      $("#jqxWidget").on('itemclick', function (evt) {
        var chemical_to_show = "{{ concept1 }} ";
        $('h3#concept1').text( chemical_to_show );

        var disease_to_show = "{{ concept2 }} ";
        $('h3#concept2').text( disease_to_show );

        var string_to_show = $(evt.args).text();
        $('h3#jen_results').text( string_to_show );



        console.log( $('h3#jen_results').text() );
        $('#relation_type').val( string_to_show );
      });

    });
