extends base

- load widget_tweaks
- load humanize


block header
  - with headerMessage=task.name
    include includes/header-relation

block content
  .container
    .row.head-space
      .col-xs-20

    h1
      h3
        | Using the following abstract, please answer the question about chemical/disease relations.
      p
        | {{current_paper.abstract}}
      h4 The text explicitly says:
      form(action="{% url 'relation:results' relation.id %}", method="POST")
        | {% csrf_token %}
        input#id_relation_1(type="radio", name="relation_type", value="dir")
        label(for="id_relation_1") "{{ chemical }}" directly contributes to or causes "{{ disease }}"
        br
        input#id_relation_2(type="radio", name="relation_type", value="ind")
        label(for="id_relation_2")
          | "{{ chemical }}" contributes to another disease, and that other disease causes "{{ disease }}"
        br
        input#id_relation_3(type="radio", name="relation_type", value="none")
        label(for="id_relation_3")
          | The text does not say that "{{ chemical }}" contributes to or causes "{{ disease }}"
        br
        input#id_relation_4(type="radio", name="relation_type", value="err")
        label(for="id_relation_4")
          | In this context, "{{ chemical }}" does not refer to a chemical and/or "{{ disease }}" does not refer to a disease.
        br
        h4 Additional information about the above relation can be provided here (optional):
        p
          input#text.comment_box(type="text", name="optional_text_box")
        p
          input(type="submit", value="Submit Contributions to Science")
