extends base

- load widget_tweaks
- load humanize


block header
  - with headerMessage=task.name
    include includes/header-relation
  <meta charset="utf-8">
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Mark2Cure</title>


  <link rel="stylesheet" href="https://mark2cure.org/static/css/style.css">
  <link rel="stylesheet" href="https://mark2cure.org/static/css/document-style.css">

  <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='http://www.puff.me.uk/scripps/Tree/main.css'>



block content
  .container-fluid(style="padding-right:250px; padding-left: 250px")
    .row.head-space

      h3 Use the menu in the box below to help relate the two concepts:

      .container-fluid#tree-insert

      .col-xs-12
        h3#praise_after_completion

      form(role='form', action="{% url 'relation:results' relation.pk %}", method="POST")
        - csrf_token
        input#relation_type(type="hidden", name="relation_type", value="test inside jade")
        input#username(type="hidden", name="username", value=request.user)
        input#relation(type="hidden", name="relation", value=relation.pk)

        .row(style="padding:20px;" class="col-xs-4 col-xs-offset-4")
          button.btn.btn-default.btn-block(type="submit")#submit_button Submit

        .col-xs-12
          - for section in sections
            p.section #{section.text}


block post-footer

  script(type="text/javascript", src="/static/js/libs/jquery-1.11.1.min.js")
  script(type="text/javascript", src="/static/js/libs/bootstrap.min.js")
  script(type="text/javascript", src="/static/js/libs/underscore-min.js")
  script(type="text/javascript", src="/static/js/libs/backbone-min.js")
  script(type="text/javascript", src="/static/js/libs/backbone-relational.js")
  script(type="text/javascript", src="http://www.puff.me.uk/scripps/Tree/src/libs/backbone.radio.min.js")
  script(type="text/javascript", src="/static/js/libs/backbone.marionette.min.js")

  <script type="html/template" id="tree-template">
  <div id="tree" class="row text-center">
  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-3" id="c1"><h3><%= c1.text %></h3></div>
  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-6">
  <h3 id="relation" class="disabled">Select a Relationship below...</h3>
  <ul class="list-group"></ul>
  </div>
  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-3" id="c2"><h3><%= c2.text %></h3></div>
  </div>
  </script>

  script.
    var csrf_token = "{{csrf_token}}";
    var relation_pk = "{{ relation.pk }}";
    var document_pk = "{{ document_pk }}";
    var username = "{{ request.user }}";
    console.log(document_pk);
  script(src="/static/js/libs/tree.js")
  script(src="/static/js/tasks/relation.js")
