extends base

- load widget_tweaks
- load humanize


block header
  - with headerMessage=task.name
    include includes/header-relation

block content
  .container
    .row.head-space
      .col-xs-12

    .row.head-space
      .col-xs-12
        h3 Using the following abstract, please answer questions about chemical/disease relations.
        p {{ current_paper|safe }}
        h3 Help us define how {{ chemical_html|safe }} relates to {{ disease_html|safe }}:

        #jqxWidget
        h3#concept1
        h3#jen_results
        h3#concept2

        form(role='form', action="{% url 'relation:results' relation.pk %}", method="POST")
          - csrf_token
          input#relation_type(type="hidden", name="relation_type")
          input#relation_pair(type="hidden", name="relation_pair", value=relation.relation)
          input#username(type="hidden", name="username", value=request.user)
          input#relation(type="hidden", name="relation", value=relation.pk)

          br
          a
            input#my_submit_button(type="submit", value="Submit Contributions to Science")

block post-footer
  script(type="text/javascript", src="http://www.jqwidgets.com/jquery-widgets-demo/scripts/jquery-1.11.1.min.js")
  script(type="text/javascript", src="http://www.jqwidgets.com/jquery-widgets-demo/scripts/demos.js")
  script(type="text/javascript", src="http://www.jqwidgets.com/jquery-widgets-demo/jqwidgets/jqxcore.js")
  script(type="text/javascript", src="http://www.jqwidgets.com/jquery-widgets-demo/jqwidgets/jqxdata.js")
  script(type="text/javascript", src="http://www.jqwidgets.com/jquery-widgets-demo/jqwidgets/jqxbuttons.js")
  script(type="text/javascript", src="http://www.jqwidgets.com/jquery-widgets-demo/jqwidgets/jqxscrollbar.js")
  script(type="text/javascript", src="http://www.jqwidgets.com/jquery-widgets-demo/jqwidgets/jqxmenu.js")

  script.
    $(document).ready(function () {

      var chemical_disease_relation_menu = [{
          "id": "1",
          "text": "CHEMICAL relates DISEASE",
          "parentid": "-1",
          "subMenuWidth": '200px'
        }, {
          "id": "2",
          "text": "has no relation to",
          "parentid": "-1",
          "subMenuWidth": '200px'
        },
        {
          "id": "1-2",
          "text": "exacerbates",
          "parentid": "1"
        }, {
          "id": "1-1",
          "text": "treats",
          "parentid": "1"
        }, {
          "id": "1-1-1",
          "text": "treats the symptoms of",
          "parentid": "1-1"
        }, {
          "id": "1-1-2",
          "text": "treats the cause of",
          "parentid": "1-1"
        }];


      var gene_disease_relation_menu = [{
          "id": "1",
          "text": "GENE relates to DISEASE",
          "parentid": "-1",
          "subMenuWidth": '300px'
        }, {
          "id": "2",
          "text": "has no relation to",
          "parentid": "-1",
          "subMenuWidth": '300px'
        },
        {
          "id": "1-1",
          "text": "altered expression is associated with",
          "parentid": "1",
          "subMenuWidth": '300px'
        }, {
          "id": "1-2",
          "text": "altered regulation leads to",
          "parentid": "1"
        },
        {
          "id": "1-3",
          "text": "mutation is associated with",
          "parentid": "1",
          "subMenuWidth": '300px'
        }, {
          "id": "1-4",
          "text": "and post-translational modifications are associated with",
          "parentid": "1"
        }, {
          "id": "1-1-1",
          "text": "decreased expression leads to",
          "parentid": "1-1"
        }, {
          "id": "1-1-2",
          "text": "increased expression leads to",
          "parentid": "1-1"
        }
        , {
          "id": "1-3-1",
          "text": "deletion mutation is associated with",
          "parentid": "1-3"
        }, {
          "id": "1-3-2",
          "text": "duplication mutation is associated with",
          "parentid": "1-3"
        }, {
          "id": "1-3-3",
          "text": "insertion mutation is associated with",
          "parentid": "1-3"
        }, {
          "id": "1-3-4",
          "text": "inversion mutation is associated with",
          "parentid": "1-3"
        }, {
          "id": "1-3-5",
          "text": "substitution mutation is associated with",
          "parentid": "1-3"
        }];



        var gene_chemical_relation_menu = [{
            "id": "1",
            "text": "GENE relates to CHEMICAL",
            "parentid": "-1",
            "subMenuWidth": '200px'
          }, {
            "id": "2",
            "text": "has no relation to",
            "parentid": "-1",
            "subMenuWidth": '200px'
          },
          {
            "id": "1-2",
            "text": "activity is changed by",
            "parentid": "1"
          }, {
            "id": "1-1",
            "text": "amount is changed by",
            "parentid": "1"
          }, {
            "id": "1-1-1",
            "text": "expression is decreased by",
            "parentid": "1-1"
          }, {
            "id": "1-1-2",
            "text": "expression is increased by",
            "parentid": "1-1"
          }, {
            "id": "1-2-1",
            "text": "activity is inhibited by",
            "parentid": "1-2"
          }, {
            "id": "1-2-2",
            "text": "activity is activated by",
            "parentid": "1-2"
          }];


      if ("{{ relation_type }}" === 'g_d')
        data = gene_disease_relation_menu;

      if ("{{ relation_type }}" === 'c_d')
        data = chemical_disease_relation_menu;

      if ("{{ relation_type }}" === 'g_c')
        data = gene_chemical_relation_menu;

      var source = {
          datatype: "json",
          datafields: [
            { name: 'id' },
            { name: 'parentid' },
            { name: 'text' },
            { name: 'subMenuWidth' }
            ],
          id: 'id',
          localdata: data
          };

      var dataAdapter = new $.jqx.dataAdapter(source);
          dataAdapter.dataBind();
      var records = dataAdapter.getRecordsHierarchy('id', 'parentid', 'items', [{ name: 'text', map: 'label'}]);
      $('#jqxWidget').jqxMenu({ source: records, height: 80,  width: '250', mode: 'vertical', clickToOpen: true});
      $("#jqxWidget").on('itemclick', function (evt) {
        var chemical_to_show = "{{ concept1 }} ";
        $('h3#concept1').text( chemical_to_show );

        var disease_to_show = "{{ concept2 }} ";
        $('h3#concept2').text( disease_to_show );

        var string_to_show = $(evt.args).text();
        $('h3#jen_results').text( string_to_show );


        $.ajax({
          type: 'POST',
          url: '/relation/test/results/',
          data: $.extend({'csrfmiddlewaretoken': '{{csrf_token}}'}, {'foo': string_to_show}),
          cache: false,
          async: false,

          success: function() {
            console.log('win');
          },
          error: function() { console.log('fail'); },
        });

        console.log( $('h3#jen_results').text() );
        $('#relation_type').val( string_to_show );
      });

    });
