#tree-insert {

  .list-group {
    .list-group-item {
      color: $color_gray_dark;
      cursor: pointer;
    }

  }

}

#tree-insert {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 4px solid #e7e7e7;
}

#tree {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;

  #c1 {
    text-align: right;
  }

  #c2 {
    text-align: left;
  }

  .gene {
    border: 16px solid $color_gene;
  }

  .disease {
    border: 16px solid $color_disease;
  }

  .chemical {
    border: 16px solid $color_treatment;
  }

  .concept.incorrect {
    border: 16px solid red;
  }

  .concept {

    h3 {
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 300;
      color: $color_gray_dark;
      letter-spacing: 1px;
      font-size: 1.75em;
      margin: 10px 0px;
    }

    .fa.fa-times-circle {
      color: $color_gray_light;
      font-size: 1.6em;
      cursor: pointer;
      position: absolute;
    }
    .fa.fa-times-circle:hover {
      color: $color_gray_dark;
    }

    #c1_not_correct {
      top: 4px;
      left: 4px;
    }
    #c2_not_correct {
      top: 4px;
      right: 4px;
    }

    .not_correct_stype {
      visibility: hidden;
    }

    margin-top: 72px;
    @include media-breakpoint-down(lg) {
      margin-top: 72px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 108px;
    }

    @include media-breakpoint-down(xs) {
      margin-top: 0px;
      text-align: center;
    }
  }

  .concept.incorrect .not_correct_stype {
    visibility: visible;
  }

  #relation {
    cursor: pointer;
    padding: 12px 0px;
  }

  #relation.disabled {
    color: #e7e7e7;
    cursor: default;
  }
  #relation.relation-go-back:hover {
    color: #fff;
    background-color: #D92B24;
  }

  .list-group-item,
  .list-group-item:first-child,
  .list-group-item:last-child {
    border-radius: 0px;
    border: 2px solid black;
    border-bottom: none;
    font-size: 1.25em;
    line-height: 1.25em;
    letter-spacing: 0.05em;
  }

  .list-group-item:last-child {
    border-bottom: 2px solid black;
  }

  a.list-group-item:hover {
    color: #fff;
    background-color: #31A7DA;
  }

}

/* ETC OTHER */
p.doc {
  font-family: 'Palatino Linotype', 'Book Antiqua', 'Palatino', 'serif';
  line-height: 1.8em;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
}

.btn.btn-default {
  border: 2px solid black;
}

#credits {
  position: fixed;
  bottom: 6px;
  left: 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.tree-results {

  .modal-dialog {
    width: 90%;

    .modal-content {
      .modal-title {
        color: $color_black;
      }
    }
  }

  #results-chart {
    margin: 0 auto;
    text-align: center;

    text {
      fill: white;
      font: 14px sans-serif;
      text-anchor: end;
    }
    .label {
      fill: black;
      font: 14px sans-serif;
      text-anchor: end;
    }
    .parent_label {
      fill: black;
      font: 16px sans-serif;
      text-anchor: end;
      text-decoration: underline;
    }
    .bar:hover {
    }
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
  }

}
