{% extends "base.html" %}
{%  load widget_tweaks %}
{%  load comments %}

{% block header %}
{% with headerMessage=task.name %}
{% include "includes/header.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<div id="ner-action-area" class="container-fluid"></div>
{% endblock %}

{% block post-footer %}
<script>
  var NERApp = Backbone.Marionette.Application.extend({
    region: '#ner-action-area',

    onStart: function() {
      var main = this.getRegion();

      main.show( new NER({
        'csrf_token': '{{csrf_token}}',
        'mode': 'ner',
        'task_pk': {{ task_pk }},
        })
      );
    }
  });
  var ner_app = new NERApp();
  ner_app.start();
</script>
{% endblock %}
