{% extends "base.html" %}
{% load widget_tweaks %}
{%load humanize %}

{% block header %}
{% with headerMessage=task.name %}
{% include "includes/header.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<div id="re-action-area" class="container-fluid"></div>
{% endblock %}

{% block post-footer %}
<script>
  var REApp = Backbone.Marionette.Application.extend({
    region: '#re-action-area',

    onStart: function() {
      var main = this.getRegion();

      main.show( new RE({
        'csrf_token': "{{csrf_token}}",
        'mode': 're',

        'document_pk': "{{ document.pk }}",
        'document_pmid': "{{ document.document_id }}"
        })
      );
    }
  });
var re_app = new REApp();
re_app.start();
</script>
{% endblock %}
