extends base

block header
  - with headerMessage='Training 2 - Learning a new concept: Genes'
    include includes/header


block content
  .container
    .row
      .col-xs-8.col-xs-offset-2
        .row.alert.alert-info.alert-sticky.text-center
          h2 Congratulations!

    .row
      .col-xs-10.col-xs-offset-1
        p.lead.text-center New skill acquired: Gene Marking
      .col-xs-10.col-xs-offset-1
        p.lead.text-center Points gained: <span id='score'>0</span>

    .row
      .col-xs-10.col-xs-offset-1
        h2 Gene Marking Skill: the ability to identify and mark Gene concepts such as:
        ol.list-unstyled
          li
            p <strong>Genes</strong> – a molecular unit of heredity in an organism, and is usually referred to in biomedical literature by their gene name, gene symbol, or both.
          li
            p <strong>Gene Products</strong> – usually a protein or microRNA that is encoded by the gene and will sometimes have the same name/symbol as the gene.


    .row.m-t-md
      .col-xs-4.col-xs-offset-4
        a(href='{% url "training:three" step_num=1 %}', id='next').btn.btn-primary.btn-block Next


block post-footer
  script.
    $(document).ready(function() {
      od.update(4000);
    });
