extends training/entity-recognition/exp-2-intro-2/step-base

block header
  - with headerMessage='Training 2 - Learning a new concept: Genes'
    include includes/header

block step-instructions
  h2 <strong>MicroRNAs</strong> are also a type of <strong>gene product</strong> which are important in regulating gene expression. MicroRNAs are often abbreviated as MiRs
  p In the box below, mark each instance of a <strong>gene product</strong> (rule #1)

block paragraph
  p.paragraph Down regulation of microRNA-199a-5p has been found to restore CAV1 levels in mice . The MIR199 family may be of interest in CF .

block progress
  progress(value='75' max='100').progress.progress-striped
    .progress
      span(style='width: 75%;').progress-bar 75%

block next-link
  a(href='{% url "training:two" step_num="complete" %}', id='next', disabled).btn.btn-primary.pull-right.disabled Next

block answers
  script.
      var key = '2-4';
      var help = [
        {text: 'family', msg: 'Don\'t mark generic terms like family'},
        {text: 'MIR199 family', msg: 'Almost! Don\'t mark generic terms like family. Try again!'}];
      var answers = [
        {text: "microRNA-199a-5p", start: 19},
        {text: "CAV1", start: 62},
        {text: "MIR199", start: 88}];
