extends training/entity-recognition/exp-2-intro-2/step-base

block step-instructions
  h2 Sometimes a gene/protein symbol may appear in the text without the full name of the gene/protein.
  p If you see a random abbreviation in a discussion about signaling or levels with no hints as to what the abbreviation represents, there’s a good chance it’s a gene/protein symbol. In the box below, mark the gene product. If you’re not sure, feel free to check <a href='http://www.genenames.org/' target='_blank'>genenames.org</a>

block paragraph
  p.paragraph In addition to increased mucosal viscosity , CF patients may suffer from hyper-inflammation which has been linked to reduced levels of CAV1 in mouse models of the disease .

block progress
  progress(value='50' max='100').progress.progress-striped
    .progress
      span(style='width: 50%;').progress-bar 50%

block next-link
  a(href='{% url "training:two" step_num=4 %}', id='next', disabled).btn.btn-primary.pull-right.disabled Next

block answers
  script.
      var help = [
        {text: 'increased mucosal viscosity', msg: 'Remember, the concept in this tutorial is genes and gene products, don’t mark disease concepts'},
        {text: 'CF', msg: 'Remember, the concept in this tutorial is genes and gene products, don’t mark disease concepts'},
        {text: 'hyper-inflammation', msg: 'Remember, the concept in this tutorial is genes and gene products, don’t mark disease concepts'},
      ];
      var answers = [{text: "CAV1", start: 135}];
