extends training/exp-2-intro-0/step-base

block step-instructions
  h2.text-center Rule #3 – Mark abbreviations of concept terms
  p In the box below, mark every instance of the concept
  p In this case, the concepts are: the term <strong>‘Mark2Cure’</strong> and its abbreviation, <strong>‘M2C’</strong>

block paragraph
  p.paragraph In Mark2Cure ( M2C ) , abbreviations will often follow the term it represents . Do not mark abbreviations together with the term they represent. Usually this means not marking the parenthesis .

block progress
  progress(value='90' max='100').progress.progress-striped
    .progress
      span(style='width: 90%;').progress-bar 90%

block next-link
  a(href='{% url "registration:user_creation" %}', id='next', disabled).btn.btn-primary.pull-right.disabled Next

block answers
  script.
    var help = [
      /* (TODO) This first one isn't being triggered */
      {text: 'Mark2Cure ( M2C )', msg: 'Whenever possible, do NOT mark abbreviations together with the term they represent (ie- exclude the parenthesis)'},
      {text: 'abbreviations', msg: 'Mark the actual abbreviation of Mark2Cure, NOT the word, "abbreviations"'}];
      var answers = [{text: 'Mark2Cure', start: 3}, {text: 'M2C', start: 15}];
