extends base

block header
  - with headerMessage='Introduction'
    include includes/header-anon

block content
  #Training1Modal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").modal.fade
    .modal-dialog
      .modal-content
        .modal-body
          h2 The Diseases Concept includes more than just disease names
          .panel.panel-info
            .panel-body
              h3.text-center Acquire the Disease Marking Skill by learning the Diseases Concept.
              p.text-center The Diseases Concept includes:
              ul
                li Disease
                li Disease Class
                li Symptoms
                li Signs/Diagnostic Signs
        .modal-footer
          button(type="button", data-dismiss="modal").btn.btn-default Close

  .container
    .row.head-space
      .col-xs-10.col-xs-offset-1
        block step-instructions
          h2.text-center A <strong>disease</strong> is a particular abnormal, pathological condition that affects part or all of an organism
          p In the box below, mark every instance of the disease (rule #1)

    #partner(style='display: none;').row.head-space
      .row
        .col-md-4.col-md-offset-4
          .alert.alert-success
            h2.text-center Good job!

    .row.head-space
      #quest-alerts
      #quest.col-md-10.col-md-offset-1.paragraph-box
        block paragraph

    .row.head-space
      .col-md-8.col-md-offset-2
        block progress

      .col-md-8.col-md-offset-2
        #next-container.pull-right
          block next-link


block post-footer
  include training/includes/intro-1-js
  include instructions/multi-concept-instructions-modal

  block answers

  script.
      var validation_check = function(collection) {
        if(validate(collection, answers)) { correct(); }
      };

