extends common/layouts/home_layout

- load i18n
- load as_vertical_form from bootstrap

block title
  title Change password

block content
  .container
    .row
      .col-xs-6.col-xs-offset-3
        .panel.panel-default
          .panel-body
            form(method="post")
              - csrf_token
              fieldset
                legend Change password
                  {{ form|as_vertical_form }}

              .form-group
                button.btn.btn-primary
                  | Update password

