extends ./layouts/static_layout.jade

block title
  title eCleanit

block content
  .container.static-container
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2
        .panel.panel-default.panel-login
          .panel-body.text-center
            h2 Retrieve your password
            .row
              .col-xs-12.col-sm-8.col-sm-offset-2
                p
                  | Enter the email address associated with 
                  | your eCleanit account and we'll send you 
                  | a message with instructions on how to access your account.
            form
              .row
                .col-xs-12.col-sm-8.col-sm-offset-2
                  .form-group
                    label.sr-only(for='name_of_input2') Your email Address
                    input#name_of_input2.form-control(type='text', placeholder='Email address')
              .row.text-center
                a.btn.btn-primary.btn-lg(href='#') Submit