- load widget_tweaks

.modal.fade#login-modal
  .modal-dialog
    .modal-content
      .modal-header
        h2.modal-title Login

      .modal-body
        .row
          .col-md-8.col-md-offset-2
            - if login_form.errors
              p Your username and password didn't match. Please try again.
              #{login_form.errors}

            form(method="post", role='form', action="{% url 'registration:login' %}").enter-form-submit
              - csrf_token
              .form-group
                label(for='exampleInputEmail1') Username
                #{login_form.username|add_class:"form-control"|attr:"placeholder:Username"}

              .form-group
                label(for='exampleInputPassword1') Password
                #{login_form.password|add_class:"form-control"|attr:"placeholder:Password"}

      .modal-footer
        button(type="button", data-dismiss="modal").btn.btn-default Cancel
        button(type="button").btn.btn-default.modal-form-submit Login
