extends common/layouts/register_layout.jade

block title
  title eCleanit

block content
  .container-fluid
    .row
      .col-sm-4.col-md-4.register-sidebar
        .logo-section
          img(src='#{STATIC_URL}img/ecleanit_logo_141_43.png')
        .progress-section
          h1.text-center Welcome!
          h2.text-center We just need a little more info to get you started.
          ul.ec-progress-list
            li
              div.ec-check
                span.glyphicon.glyphicon-ok
              h4 Step 1
              p Tell us about yourself.
            li
              div.ec-check
                span.glyphicon.glyphicon-ok
              h4 Step 2
              p Tell us about your property.
            li
              div.ec-check
                span.glyphicon.glyphicon-ok
              h4 Step 3
              p Tell us about your cleaners.
            li.active
              div.ec-check
                span.glyphicon.glyphicon-ok
              h4 Step 4
              p Tell us about your cleaning job.
      .col-sm-8.col-sm-offset-4.col-md-8.col-md-offset-4.register-main
        form(action='{% url "registration:setup-jobs" %}', method='post').register-form
          - csrf_token
          .panel.panel-default.register-panel
            .panel-body
              .container-fluid
                .row
                  .col-sm-10.col-sm-offset-1
                      .form-group
                        label Typically I want my property cleaned on*
                        .radio
                          input#register_cleaning_time_preference_one(type='radio', name='cleaning_schedule_preference', value='0')
                          label(for='register_cleaning_time_preference_one')
                            | Day of guest departure
                        .radio
                          input#register_cleaning_time_preference_two(type='radio', name='cleaning_schedule_preference', value='1')
                          label(for='register_cleaning_time_preference_two')
                            | Day after guest departure
                        .radio
                          input#register_cleaning_time_preference_three(type='radio', name='cleaning_schedule_preference', value='2')
                          label(for='register_cleaning_time_preference_three')
                            | Anytime after guest departure

                      .form-group(style='display:none;')
                        label(for='register_first_cleaning_date') I have a cleaning job for
                        .row.first-cleaning-date-row
                          .col-xs-7.col-md-3
                            select#register_first_cleaning_date_month.form-control
                                  option January
                                  option February
                                  option March
                          .col-xs-5.col-md-2
                            select#register_first_cleaning_date_day.form-control
                                  option 1
                                  option 2
                                  option 3
                                  option 4

                      .form-group(style='display:none;')
                        label(for='register_first_cleaning_time_window') With a cleaning window from
                        .row.first-cleaning-date-row
                          .col-xs-4.col-lg-2
                            input#register_first_cleaning_from_hours(type='text', maxlength='2').form-control
                          .col-xs-4.col-lg-2.colon-col
                            span.colon :
                            input#register_first_cleaning_from_minutes(type='text', maxlength='2').form-control
                          .col-xs-4.col-lg-3
                            select#register_first_cleaning_from_meridian.form-control
                              option AM
                              option PM
                          .col-xs-12.col-lg-1
                            span.to To
                          .col-xs-4.col-lg-2
                            input#register_first_cleaning_to_hours(type='text', maxlength='2').form-control
                          .col-xs-4.col-lg-2.colon-col
                            span.colon :
                            input#register_first_cleaning_to_minutes(type='text', maxlength='2').form-control
                          .col-xs-4.col-lg-3
                            select#register_first_cleaning_to_meridian.form-control
                              option AM
                              option PM
          span.text-muted *Required field
          br
          button.btn.btn-primary.btn-next.pull-right(type='submit') Done!
