extends base

- load widget_tweaks
- load humanize

block content
  .container
    .row
      .col-xs-12.text-center
        h3 Settings
    .row
      .col-xs-4
        h4 + Add a new item to sell

      .col-xs-4
        h4 Edit or remove an item

      .col-xs-1
        h4 Settings

      .col-xs-1
        h4 Messages

      .col-xs-1
        h4 Orders

      .col-xs-1
        h4 Purchases

    .row
      .col-md-6
          form(method='post', action='/account/change/').form-horizontal
            - csrf_token

            .form-group
              label(for='id_username').control-label.col-md-4 Username
              .col-md-8
                input(name='username', type='text', id='id_username', value='{{user.username}}', disabled).form-control

            .form-group
              label(for='id_email').control-label.col-md-4 Email
              .col-md-8
                input(name='email', type='text', id='id_email', value='{{user.email}}', disabled).form-control


            .form-group
              label(for='id_old_password').control-label.col-md-4 Old Password
              .col-md-8
                input(name='old_password', type='password', id='id_old_password').form-control

            .form-group
              label(for='id_new_password1').control-label.col-md-4 New Password
              .col-md-8
                input(name='old_password1', type='password', id='id_new_password1').form-control

            .form-group
              label(for='id_new_password2').control-label.col-md-4 Verify New Password
              .col-md-8
                input(name='new_password2', type='password', id='id_new_password2').form-control


            input(type='submit', value='Save New Password').btn.btn-default.full-width

      .col-md-6
        .row
          .col-xs-12
            h4 Secure Direct Deposit
            h5 How to get paid for your orders

            p
              strong Please make sure your bank account information is correct

          .col-xs-12
            h4 Mailing Address
            h5 Sending & Recieving Orders

            p
              strong Please make sure your address is correct

