- load widget_tweaks

.modal.fade#subscribe-modal
  .modal-dialog
    .modal-content
      .modal-header
        h2.modal-title Subscribe

      .modal-body
        .row
          .col-md-8.col-md-offset-2
            p.lead.text-center We're only open to private invites at the momment, sign up for our mailing list and we'll get you started as soon as possible!

            form(action="//mark2cure.us9.list-manage.com/subscribe/post?u=2db27f11f5080823831b926cb&amp;id=72c51afcdb", method="post", id="mc-embedded-subscribe-form", name="mc-embedded-subscribe-form", class="validate", target="_blank", novalidate)
              .form-group
                label Email Address
                input(type="email", value="", name="EMAIL", id="mce-EMAIL", placeholder="email address", required).form-control

              div(style="position: absolute; left: -5000px;")
                input(type="text", name="b_2db27f11f5080823831b926cb_72c51afcdb", tabindex="-1", value="")

              .row
                .col-xs-4.col-xs-offset-4
                  .form-group
                    input(type="submit", value="Subscribe", name="subscribe", id="mc-embedded-subscribe").btn.btn-block.btn-primary.modal-form-submit Subscribe



      .modal-footer
        button(type="button", data-dismiss="modal").btn.btn-default Close
