.DS_Store
*.pyc
*.pyo
*.pyls
*.log
*.pid

/ENV
/assets
/service/settings.py

/web-app/js/main.built.js

mark2cure.db

#codekit
config.codekit
.codekit-cache

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

/myapp_models.png

/results

/..bfg-report
/static/fonts/*
env_vars
mark2cure/*/migrations
force.json
static/node_modules
static/bower_components
static/data
