anyjson==0.3.3
appnope==0.1.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
bcrypt==3.1.4
beautifulsoup4==4.6.0
billiard==3.3.0.23
biopython==1.70
bleach==2.1.1
blinker==1.4
boto==2.48.0
certifi==2017.7.27.1
cffi==1.11.2
chardet==3.0.4
configparser==3.5.0
contextlib2==0.5.5
coverage==4.4.1
decorator==4.1.2
defusedxml==0.5.0
dj-database-url==0.4.2
Django==1.11.6
django-allauth==0.33.0
django-appconf==1.0.2
django-configurations==2.0
django-contrib-comments==1.8.0
django-cors-headers==2.1.0
django-countries==5.0
django-extensions==1.9.1
django-kombu==0.9.4
django-markdown-deux==1.0.5
django-model-utils==3.0.0
django-mptt==0.8.7
django-nose==1.4.5
django-pandas==0.4.5
django-picklefield==1.0.0
django-polymorphic==1.3
django-robots==3.0
django-sslserver==0.20
django-storages==1.6.5
django-tagging==0.4.5
django-threadedcomments==1.1
django-timezone-field==2.0
django-user-accounts==2.0.3
django-widget-tweaks==1.4.1
django-xmlrpc==0.1.7
djangorestframework==3.7.0
djrill==2.1.0
entrypoints==0.2.3
enum34==1.1.6
feedparser==5.2.1
flake8==3.4.1
funcsigs==1.0.2
gnureadline==6.3.3
gunicorn==19.7.1
html5lib==1.0b10
httplib2==0.10.3
idna==2.6
ipykernel==4.6.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.0.1
itsdangerous==0.24
jedi==0.11.0
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
kombu==4.1.0
lxml==4.0.0
Mako==1.0.7
Markdown==2.6.9
markdown2==2.3.4
markup==0.2
MarkupSafe==1.0
mccabe==0.6.1
mistune==0.7.4
mock==2.0.0
mysqlclient==1.3.10
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.0
nltk==3.2.5
nose==1.3.7
notebook==5.1.0
numpy==1.13.3
oauth2==1.9.0.post1
oauthlib==2.0.4
olefile==0.44
pandas==0.20.3
pandocfilters==1.4.2
parso==0.1.0
path.py==10.4
pathlib2==2.3.0
pbr==3.1.1
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==8.3.2
plumbum==1.6.3
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pycodestyle==2.3.1
pycparser==2.18
pyflakes==1.6.0
pygeoip==0.3.2
Pygments==2.2.0
pygraphviz==1.3.1
pyjade==4.0.0
PyJWT==1.5.3
pyparsing==2.2.0
pystuck==0.8.5
python-dateutil==2.6.1
python-openid==2.2.5
python-social-auth==0.3.6
python3-openid==3.1.0
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.1
rauth==0.7.3
raven==6.2.1
readline==6.2.4.1
requests==2.18.4
requests-cache==0.4.13
requests-oauthlib==0.8.0
rpyc==3.4.4
scandir==1.5
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
social-auth-core==1.4.0
South==1.0.2
sqlparse==0.2.4
terminado==0.6
testpath==0.3.1
tornado==4.5.2
traitlets==4.3.2
twitter-text-python==1.1.0
twython==3.6.0
urllib3==1.22
uWSGI==2.0.15
vine==1.1.4
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
widgetsnbextension==3.0.3
wtf==0.1
WTForms==2.1
xmltodict==0.11.0
