extends base

- load widget_tweaks
- load brabeion_tags
- load humanize

block content

  .container-fluid
    .row
      .col-xs-12
        h2.text-center Dashboard Admin Home

    .row
      .col-xs-10.col-xs-offset-1
        {{ dataframe|safe }}


