extends base

block header
  .container-fluid
    .row
      .col-md-2
        h1
          | Mark2Cure

      .col-md-6
        h1.text-center
          | Introduction Page 2 / 2

      .col-md-2
        .row
          .col-md-12
            p
              | Hi new trainee!
        .row
          .col-md-4
            p
              a(href='#')
                | Settings
          .col-md-4
            p
              a(href='#')
                | Sign Out

          .col-md-4
            p
              | Score: 0

      .col-md-2
        p
          | Session Total: 0

block content
  .container
    .row
      .col-md-12
        h2
          | This is what a "Marked" document looks like.

        h3
          | Relax! <strong>You can do this!</strong> Others just like you already have! You don't need a science background to do this.

        h4.text-center
          | Click anywhere to learn how to "mark a doc".

    .row
      .col-md-12
        | Biomedical research literature is growing rapidly around the world...



