extends base

block header
  - with headerMessage='Introduction 1/2'
    include includes/header-anon

block content
  .container
    .row
      .col-md-12
        h2
          | Let's start with the basics...

    .row
      .col-md-12
        | Biomedical research literature is growing rapidly around the world...



