extends control/base

block content

  .container-fluid
    .row.m-t-2
      .col-xs-4

      .col-xs-4

      .col-xs-4
        .btn-group-vertical
          a(href='{% url "admin:document_annotation_changelist" %}').btn.btn-default Recent Annotations
          a(href='{% url "admin:django_comments_comment_changelist" %}').btn.btn-default Recent Comments

        hr
        .list-group
          li.list-group-item
            | <strong>Users online (last hour)</strong> #{users_online.hour}
          li.list-group-item
            | <strong>Users online (last day)</strong> #{users_online.day}
          li.list-group-item
            | <strong>Users online (last week)</strong> #{uesrs_online.week}
          li.list-group-item
            | <strong>Users online (last month)</strong> #{uesrs_online.month}

