extends base

block header
  - with headerMessage='Training 4 - Multi-Marking Mode'
    include includes/header-anon


block content
  #Training4Modal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").modal.fade
    .modal-dialog
      .modal-content
        .modal-body
          p.lead Instead of reading the same abstract three times and marking a different concept each time, you can use color coding to mark 3 different concepts all at once
          .panel.panel-info
            .panel-body
              h3.text-center In this tutorial, you will learn about:
              ul.list-unstyled.list-inline.text-center
                li
                  ul.list-unstyled
                    li Changing the color of the “marker”
                    li Feedback and scoring
                    li Machine-based pre-population
        .modal-footer
          button(type="button", data-dismiss="modal").btn.btn-default Close
  .container
    .row.foot-space
      .col-md-12
        block step-instructions

    #partner(style='display: none;').row.head-space
      .row
        .col-md-4.col-md-offset-4
          .alert.alert-success
            h2.text-center Good job!

    .row
      #quest-alerts.col-md-10.col-md-offset-1
      #quest.col-md-10.col-md-offset-1
        #paragraphs

    .row.head-space-xl
      .col-md-8.col-md-offset-2
        .progress
          block progress-bar
      .col-md-8.col-md-offset-2
        #next-container.pull-right
          block next-link


block post-footer
  include training/includes/intro-multi-js
  include instructions/multi-concept-instructions-modal

  block answers

  script.
      var validation_check = function(collection) {
        if(validate(collection, answers)) { correct(); }
      };

