extends training/exp-2-intro-4/step-base-multi

block step-instructions
  h2 Rather than starting from scratch, docs in this campaign may be pre-populated with annotations done by a computer algorithm
  p Do NOT assume the algorithm’s annotations are correct (Eg- Nitric Oxide is a drug, but was missed).
  p The machine is just there to (hopefully) reduce the amount of clicking you must do.
  p Please correct the annotations as you see fit.

block progress-bar
  div(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%;').progress-bar.progress-bar-striped.active

block next-link
  a(href='{% url "training:four" step_num="6" %}', id='next').btn.btn-default.pull-right Submit

block ypet
  script.
    var self_data;
    YPet.addInitializer(function(options) {

      /* data fetches the original document and annotations */
      $.getJSON('/static/bioc/training/exp-2-intro-4/step-5.json', function( data ) {
          self_data = data;
          var passages = data.collection.document.passage;
          var regions = {};
          _.each(passages, function(passage, passage_idx) {
            $('#paragraphs').append('<div id="'+ passage.infon[2]['#text'] +'" class="paragraph-box"><p class="paragraph"></p></div></div>');
            regions[''+passage_idx] = '#'+passage.infon[2]['#text'];
          });
          YPet.addRegions(regions);

          _.each(passages, function(passage, passage_idx) {
            var p = new Paragraph({'text': passage.text});
            YPet[''+passage_idx].show( new WordCollectionView({
              collection: p.get('words'),
              passage_json: passage,
              bioc_json: data
            }) );
          });

          YPet[0].currentView.collection.parentDocument.get('annotations').on('add', function(model, collection) {
            var model_json = model.toJSON();
            console.log(model_json);
          });

          YPet[1].currentView.collection.parentDocument.get('annotations').on('add', function(model, collection) {
            var model_json = model.toJSON();
            console.log(model_json);
          });

      });
    });
    YPet.start();


  script.
    var help = [
      {text: 'depression', msg: 'Mark only treatment concepts in this tutorial. Do NOT mark disease or gene concepts'},
      {text: 'fluoxetine', msg: 'Mark the full name of the drug or treatment as specifically as possible'},
      {text: 'hydrochloride', msg: 'Mark the full name of the drug or treatment as specifically as possible'},
      {text: 'Prozac and Sarafem', msg: 'Mark different drug names separately even if they are the same drug'},
    ];
    var answers = [{text: "Lilly 110140", start: 0}, {text: "fluoxetine hydrochloride", start: 68}, {text: "Prozac", start: 150}, {text: "Sarafem", start: 161}];

    var validation_check = function(collection) {
      if(validate(collection, answers)) { correct(); }
    };
