extends training/exp-2-intro-4/step-base-multi

block step-instructions
  h2 To change the color of a marking, first mark the word or span of words that fit a concept. Then, click on the mark you just made to change its color.
  h2 <span class="user_annotated_green"><strong>Green</strong></span> will refer to the Genes Concept
  p In the box below, use your Gene Marking Skill to highlight gene concept terms in green

block progress-bar
  div(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%;').progress-bar.progress-bar-striped.active

block next-link
  a(href='{% url "training:four" step_num=3 %}', id='next', disabled).btn.btn-default.pull-right Next

block highlightkey
  .row
    .col-xs-1
      h2 Key
    .col-xs-3.head-space
      ul.list-unstyled
        li(style='background-color: #00ccff;')
          p.text-center Disease Concept
        li(style='background-color: #22A301;')
          p.text-center Genes Concept


block ypet
  include training/includes/intro-multi-js
  script.
    var self_data;
    YPet.addInitializer(function(options) {

      /* data fetches the original document and annotations */
      $.getJSON('/static/bioc/training/exp-2-intro-4/step-2.json', function( data ) {
          self_data = data;
          var passages = data.collection.document.passage;
          var regions = {};
          _.each(passages, function(passage, passage_idx) {
            $('#paragraphs').append('<div id="'+ passage.infon[2]['#text'] +'" class="paragraph-box"><p class="paragraph"></p></div></div>');
            regions[''+passage_idx] = '#'+passage.infon[2]['#text'];
          });
          YPet.addRegions(regions);

          _.each(passages, function(passage, passage_idx) {
            var p = new Paragraph({'text': passage.text});
            YPet[''+passage_idx].show( new WordCollectionView({
              collection: p.get('words'),
              passage_json: passage,
              bioc_json: data
            }) );
          });

          YPet[0].currentView.collection.parentDocument.get('annotations').on('add', function(model, collection) { validation_check(collection); });
          YPet[0].currentView.collection.parentDocument.get('annotations').on('change', function(model) { validation_check(model.collection); });
          YPet[0].currentView.collection.parentDocument.get('annotations').on('remove', function(model, collection) { validation_check(collection); });
          _.each(YPet[0].currentView.options.collection.first(13), function(word_model) {
            word_model.set('disabled', true);
            word_model.set('masked', true);
          });

      });
    });
    YPet.AnnotationTypes = new AnnotationTypeList([
      {name: 'Disease', color: '#00ccff'},
      {name: 'Gene', color: '#22A301'},
    ]);
    YPet.start();


  script.
    var answers = [
      {text: "Ehlers–Danlos syndrome", start: 0, type: 0},
      {text: "EDS", start: 25, type: 0},
      {text: "connective tissue disorder", start: 36, type: 0},

      {text: "collagen", start: 130, type: 1}];

    var validation_check = function(collection) {
      if(validate(collection, answers)) { correct(); }
    };
