extends training/exp-2-intro-4/step-base

block header
  - with headerMessage='Training 3 – Learning a new concept: Treatments'
    include includes/header-anon

block step-instructions
  h2 To remove a highlight, click on your marking until you’ve scrolled through all the colors
  p Continue to mark disease concept terms in blue, gene concept terms in green, and treatment concept terms in pink.

block paragraph
  p.paragraph Ehlers–Danlos syndrome ( EDS ) is a connective tissue disorder caused by defects in the structure , production, or processing of collagen proteins . Mutations in the COL5A or COL3A genes are only a few of the genetic causes of EDS . Currently , there is no cure for EDS , though physical therapy , bracing , and corrective surgery may help with the frequent injuries and pain associated with some types of EDS .

block progress-bar
  div(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;').progress-bar.progress-bar-striped.active

block next-link
  a(href='{% url "training:three" step_num=5 %}', id='next', disabled).btn.btn-default.pull-right Next

block answers
  script.
      var help = [
        {text: 'SSRI regiments', msg: 'When marking drug-based therapies, do not include general terms such as ‘therapy’ or ‘regiment’, unless it’s part of the drug name'},
        {text: 'Paxil therapy', msg: 'When marking drug-based therapies, do not include general terms such as ‘therapy’ or ‘regiment’, unless it’s part of the drug name'},

        {text: 'obsessive-compulsive disorder', msg: 'Remember, the concept in this tutorial is treatments, don’t mark disease concepts'},
        {text: 'panic disorder', msg: 'Remember, the concept in this tutorial is treatments, don’t mark disease concepts'},
        {text: 'Bulimina Nervosa', msg: 'Remember, the concept in this tutorial is treatments, don’t mark disease concepts'},
      ];
      var answers = [{text: "SSRI", start: 6}, {text: "Paxil", start: 31}];
