extends training/exp-2-intro-4/step-base-multi

block step-instructions
  h2 After you submit your markings, you will receive feedback on how well your markings matched those of your partner’s.
  p Your partner’s markings will use the same color coding, but will be presented as underlines

block progress-bar
  div(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%;').progress-bar.progress-bar-striped.active

block next-link
  a(href='{% url "training:four" step_num="complete" %}', id='next', disabled).btn.btn-default.pull-right Next

block ypet
  script.
    var self_data, partner_data;
    YPet.addInitializer(function(options) {

      /* data fetches the original document and annotations */
      $.getJSON('/static/bioc/training/exp-2-intro-4/step-6.json', function( data ) {
          self_data = data;
          var passages = data.collection.document.passage;
          var regions = {};
          _.each(passages, function(passage, passage_idx) {
            $('#paragraphs').append('<div id="'+ passage.infon[2]['#text'] +'" class="paragraph-box"><p class="paragraph"></p></div></div>');
            regions[''+passage_idx] = '#'+passage.infon[2]['#text'];
          });
          YPet.addRegions(regions);

          _.each(passages, function(passage, passage_idx) {
            var p = new Paragraph({'text': passage.text});
            YPet[''+passage_idx].show( new WordCollectionView({
              collection: p.get('words'),
              passage_json: passage,
              bioc_json: data
            }) );
          });

          $.getJSON('/static/bioc/training/exp-2-intro-4/step-6-partner.json', function( data ) {
            partner_data = data;
            var passages = data.collection.document.passage;
            _.each(passages, function(passage, passage_idx) {
              YPet[passage_idx].currentView.drawBioC(passage, true);
            });
          });

      });
    });
    YPet.start();


  script.
    var help = [
      {text: 'depression', msg: 'Mark only treatment concepts in this tutorial. Do NOT mark disease or gene concepts'},
      {text: 'fluoxetine', msg: 'Mark the full name of the drug or treatment as specifically as possible'},
      {text: 'hydrochloride', msg: 'Mark the full name of the drug or treatment as specifically as possible'},
      {text: 'Prozac and Sarafem', msg: 'Mark different drug names separately even if they are the same drug'},
    ];
    var answers = [{text: "Lilly 110140", start: 0}, {text: "fluoxetine hydrochloride", start: 68}, {text: "Prozac", start: 150}, {text: "Sarafem", start: 161}];

    var validation_check = function(collection) {
      if(validate(collection, answers)) { correct(); }
    };
