<div class="modal-content">
  <a href="#" class="close-btn">&times;</a>

  <div class="modal-header">
    <h3>Thanks! Your feedback is incredibly valuable<span class="follow-up">... So, what's next?</span></h3>
  </div>

  <div class="modal-body">

    <ul class="unstyled">
      <li><p>If you're interested in following this project, please enter your email here:

      <br />

      <div class="col-lg-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Email address" value="<%= email %>">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Submit</button>
          </span>
        </div>
      </div>

      <br />
      We'll contact you periodically when we have news to report or when we need your help again.</p></li>

      <li><p>If you have feedback you'd like the developers to see, <a href="#/survey">let us know!</a></p></li>
      <li><p>If you'd like to repeat the disease identification task on more scientific papers, <a href="#" class="close-link">keep going!</a></p></li>
    </ul>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success close-btn">Close</button>
  </div>

</div>
