<div class="span5 complete-modal">
  <h3>Thanks! Your feedback is incredibly valuable<span class="follow-up">... So, what's next?</span></h3>

  <ul class="unstyled">
    <li><p>If you're interested in following this project, <input type="text" placeholder="enter your email here" value="<%= email %>" />. We'll contact you periodically when we have news to report or when we need your help again.</p></li>
    <li><p>If you have feedback you'd like the developers to see, <a href="#/feedback">let us know!</a></p></li>
    <li><p>If you'd like to repeat the disease identification task on more scientific papers, <a href="#" class="library">keep going!</a></p></li>
  </ul>
</div>
