<div class="fuelux modal-body">
  <div id="MyWizard" class="wizard">
    <ul class="steps">
      <li data-target="#step1" class="active"><span class="badge badge-info">1</span>Why<span class="chevron"></span></li>
      <li data-target="#step2"><span class="badge">2</span>How<span class="chevron"></span></li>
      <li data-target="#step3"><span class="badge">3</span>Who<span class="chevron"></span></li>
    </ul>
    <div class="actions">
      <button type="button" class="btn btn-mini btn-prev"> <i class="icon-arrow-left"></i>Prev</button>
      <button type="button" class="btn btn-mini btn-next" data-last="Finish">Next<i class="icon-arrow-right"></i></button>
    </div>
  </div>

  <div class="step-content">
    <!-- step 1 -->
    <div class="step-pane active" id="step1">
      <img src="/img/mark2cure.png" class="img-rounded logo" />
      <p class="lead"><strong>Scientific communication is broken.</strong></p>
      <p>Progress in science is all about slowly and incrementally building off of the work of others. <strong>Currently</strong>, it takes far too long for one scientist's work to reach all the other scientists that would benefit. <strong>Mark2Cure will make scientific communication more efficient for everyone.</strong></p>
    </div>
    <!-- step 2 -->
    <div class="step-pane" id="step2">
      <p class="lead">How does it work? <strong>Simply highlight words that are diseases. That's it!</strong></p>
      <img src="/img/highlighting.gif" class="img-rounded" />
    </div>
    <!-- step 3 -->
    <div class="step-pane" id="step3">
      <form class="form-horizontal span5">
        <fieldset>
          <legend>Who are you?</legend>
          <div class="control-group">
            <label class="control-label">Experience Level</label>
            <div class="controls">
              <select id="experience" class="selectpicker">
                <% _.each(['Bio-Medical Scientist', 'Patient Advocate', 'Non-expert'], function(kind, i) { %>
                  <option value="<%= i %>" <%= experience == i ? 'selected' : '' %>><%= kind %></option>
                <% }) %>
              </select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Username</label>
            <div class="controls">
              <div class="row-fluid">
                <input id="user-name" type="text" title="Username" required value="<%= username %>">
              </div>
            </div>
          </div>

        </fieldset>
      </form>

    </div>
  </div>
</div>
