<div class="modal-content">
  <a href="#" class="close-btn">&times;</a>

  <div class="modal-header">
    <h3 class="panel">Instructions</h3>
  </div>

  <div class="modal-body">
    <p>You will be presented with paragraphs from the biomedical literature which we believe may help resolve some important medically related questions. The task is to highlight words or phrases in that text which are diseases. Terms like breast cancer, juvenile diabetes, and others can be very difficult for a computer to recognize and we think people can do a better job!</p>

    <h4>Steps</h4>

    <div class="panel-group" id="accordion">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              Click to highlight as many <strong>diseases</strong> as you can.
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <img src="/img/instructions/1.gif" class="img-rounded" />
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              Highlight each each time a disease is mentioned.
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <img src="/img/instructions/2.gif" class="img-rounded" />
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              Highlight diseases when mentioned as the <strong>full name</strong>, <strong>abbreviation</strong> or <strong>acronym</strong>.
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            <img src="/img/instructions/3.gif" class="img-rounded" />
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              For diseases that span multiple words, <strong>click-and-drag</strong> to highlight all words together rather than clicking the words individually
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            <img src="/img/instructions/4.gif" class="img-rounded" />
          </div>
        </div>
      </div>

    </div>

    <p>Use <strong>Google</strong>, <strong>Wikipedia</strong> or <strong>other resources</strong> to differentiate between diseases and other related words (like symptoms and genes).</p>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-success close-btn">Done</button>
  </div>

</div>
