<div class="modal-content">
  <a href="#" class="close-btn">&times;</a>
  <div class="modal-header">
    <h3 class="panel">Instructions</h3>
  </div>

  <div class="modal-body">
    <p class="text-center">Simply highlight words that are diseases. That's it!</p>
    <img src="/img/highlighting.gif" class="img-rounded" />
  </div>
</div>
