<a href="#" class="close-btn">&times;</a>


<div class="modal-header">
  <h3>Want to send a note to the developers?</h3>
</div>

<div class="modal-body">

  <div class="span4 offset1" style="margin-top: 20px;">
    <form accept-charset="UTF-8" action="" method="POST">
      <textarea class="span4" id="new_message" name="new_message" placeholder="Type in your message" rows="5"></textarea>
      <h6 class="pull-right"><span id="char_count"><%= char_limit %></span> characters remaining</h6>
      <button class="btn btn-info" type="submit">Post New Message</button>
    </form>
  </div>

</div>
