<div class="modal-content">
  <a href="#" class="close-btn">&times;</a>

  <div class="modal-header">
    <h2 class="panel">Account Settings</h2>
  </div>

  <div class="modal-body">
    <form class="form-horizontal span5">
      <div class="form-group">
        <label class="col-lg-2 control-label">Experience Level</label>
        <div class="col-lg-5">
          <select id="user-experience" class="form-control">
            <% _.each(['Bio-Medical Scientist', 'Patient Advocate', 'Non-expert'], function(kind, i) { %>
              <option value="<%= i %>" <%= experience == i ? 'selected' : '' %>><%= kind %></option>
            <% }) %>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">Username</label>
        <div class="col-lg-5">
            <input id="user-username" class="form-control" type="text" title="Username" value="<%= username %>" required>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">Email</label>
        <div class="col-lg-2">
          <input id="user-email" class="form-control" type="text" title="Email" value="<%= email %>" required>
        </div>
      </div>

      <div class="checkbox">
        <label>
          <input id="advance" type="checkbox" <%= user.get('advance') ? 'checked' : '' %>> Advanced Control
        </label>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success">Save</button>
  </div>

</div>
