- load render_widget from bootstrap

- if bound_field.is_hidden
  {{ bound_field }}

- else

    - if bound_field.name == 'image'
      - if bound_field.form.instance.image
        img(src='{{bound_field.form.instance.image.url}}', id='image-{{bound_field.form.instance.pk}}').img-responsive
      - else
        img(src='/static/images/default-upload-image.png', id='image-{{bound_field.form.instance.pk}}').img-responsive


    script.
      Dropzone.options['imageform{{bound_field.form.instance.pk}}'] = {
        maxFiles: 1,
        acceptedFiles: 'image/*',
        maxFilesize: 1,
        paramName: 'image',
        createImageThumbnails: false,
        clickable: '#image-{{bound_field.form.instance.pk}}',
        init: function() {
          this.on('complete', function(file) {
            location.reload();
          });
        }
      };

