<form action="<%= aws.turk_sub + '/mturk/externalSubmit' %>" method="POST">
  <input type="hidden" name="assignmentId" value="<%= aws.assignment_id %>">
  <input type="text" name="document_id" value="<%= aws.document_id %>">
  <input type="text" name="annotations" value="<%= _.pluck(annotations, 'text').join(', ') %>">
</form>
