<% if(complete) { %>
<% if( !user.get('mturk') ) { %>

  <div class="well col-md-10">
    <p>Congratulations, you completed the document!</p>
    <% if(matches.length) { %>
      <p><span class="label label-info">Matches:</span> <%= _.str.toSentence(_.pluck(matches, 'text')) %></p>
    <% } %>

  </div>
  <div class="col-md-1">
    <button class="btn btn-success btn-large navigate" type="button">Next</button>
  </div>

<% } %>
<% } else { %>
  <div class="well col-md-10">
    <div class="row">
      <div class="span<%= user.get('advance') ? '6' : '8' %>">
        <p><span class="label label-info">Title</span> <%= title %></p>
        <p><span class="label label-info">Created</span> <%= moment(created).calendar() %></p>
        <% if(document_id) { %>
          <p><span class="label label-info">Document</span> <a href="http://www.ncbi.nlm.nih.gov/pubmed/<%= document_id %>" target="_blank">PubMed Link</a></p>
        <% } %>
        <p><span class="label label-info">Selected</span> <%= _.str.toSentence(ann_list) %></p>
      </div>

      <% if(user.get('advance')) { %>
        <div class="col-md-4">
          <div class="btn-group entity-sel">
            <button type="button" class="btn btn-default <%= user.get('sel_mode') == 'disease' ? 'active' : '' %>" data-type="disease" >Disease</button>
            <button type="button" class="btn btn-default <%= user.get('sel_mode') == 'gene' ? 'active' : '' %>" data-type="gene">Gene</button>
            <button type="button" class="btn btn-default <%= user.get('sel_mode') == 'protein' ? 'active' : '' %>" data-type="protein">Protein</button>
          </div>
        </div>
      <% } %>

    </div>
  </div>
  <div class="col-md-1">
    <% if(!user.get('mturk') || (user.get('mturk') && ann_list.length) ) { %>
      <button class="btn btn-primary btn-large done" type="button">Done</button>
    <% } %>
  </div>
<% } %>
