extends training/relation/part-1/base

block intro-content
  .row.m-t-md
    .col-xs-12
      p Relationships for three different types of concepts will be presented. The concepts will be color-coded:
      ul
        li <span class='user_annotated'>Disease concept</span> entities will be in <span class='user_annotated'>blue</span>. <a href='{% url "instructions:relation-definition-disease" %}' target='_blank'><small>Learn more.</small></a>
        li <span class='user_annotated_green'>Gene/protein concept</span> entities will be in <span class='user_annotated_green'>green</span>.  <a href='{% url "instructions:relation-definition-gene" %}' target='_blank'><small>Learn more.</small></a>
        li <span class='user_annotated_pink'>Drug concept</span> entities will be in <span class='user_annotated_pink'>pink</span>. <a href='{% url "instructions:relation-definition-drug" %}' target='_blank'><small>Learn more.</small></a>
        li Learn more about the concept types <a href='{% url "instructions:relation" %}' target="_blank">here</a>
      p Press ‘Next’ to continue.


  .row.m-t-md
    .col-xs-12.text-center
      a(href='{% url "training:relation-training" part_num=3 step_num=2 %}').btn.btn-primary Next


    #relation-training-progress(tabindex="-1", role="dialog", aria-labelledby="mySmallModalLabel", aria-hidden="true", show='true').modal.fade.bd-example-modal-sm
      .modal-dialog.modal-md
        .modal-content
          .modal-body
            .list-group.text-center
              .list-group-item.completed
                | <i class='fa fa-check' aria-hidden='true'></i>  Using the interface
              .list-group-item.completed
                | <i class='fa fa-check' aria-hidden='true'></i>  Rules for Relationship Extraction
              button(type='button', data-dismiss='modal').list-group-item.current
                | <i class='fa fa-angle-right' aria-hidden='true'></i>  Learn new relationships: Broad


block interactive



block navigation


block post-footer
  script.
    $(window).load(function(){
      $('#relation-training-progress').modal('show');
    });
