extends training/relation/part-1/base

block intro-content
  .row.m-t-1
    .col-xs-12
      p.text-muted Drug-Disease Relationships: A <strong>drug</strong> is, in the broadest of terms, a <strong>substance</strong> that has known biological effects on humans or other animals. There are five options for how a Drug might relate to a disease:
      p.text-muted <strong>"(may) exacerbate(s)"</strong> – The chemical or drug worsens or may worsen the disease or symptoms of the disease in any manner
      p.text-muted <strong>"(may) treat(s)"</strong> – The chemical or drug improves, treats, may improve, or may treat the disease or symptoms of the disease in any manner
      p.text-muted <strong>(may) increase(s) risk of disease</strong> – The chemical or drug increases or may increase the chances of getting the disease.
      p <strong>"(may) cause(s)"</strong> – The chemical or drug causes leads to, may cause, or may lead to the disease or symptoms of the disease
      p <strong>"(may) prevent(s)"</strong> – The chemical or drug prevents or may prevent the disease or symptoms of the disease


  .row.m-t-1
    .col-xs-12.text-xs-center
      a(href='{% url "training:relation-training" part_num=3 step_num=15 %}').btn.btn-primary Next


block interactive

block navigation

