  script.
    var passages, regions, tmp_passages;

    /* instruct users to use back button for better answer */
    /* hide next button, hide misc popovers and make helper popover appear*/
    function better_answer() {
      $('.popover').popover('dispose');
      $('#next-button').hide();
      $relation_el = $('#relation');
      $relation_el.popover({
        container: 'body',
        html: true,
        animation: false,
        content: function() {
          return 'There is a better answer. Try again!';
        },
        placement: 'top'
      });
      $relation_el.popover('show');
    };

    /* When incorrect concepts are selected but it's not time to report errors */
    Tree['convoChannel'].on('error', function(str) {
      if(str == 'c_2' || str == 'c_1') {
        better_answer();
      }
    });

    Tree['convoChannel'].on('back', function(obj) {
      $('.popover').popover('dispose');
      $('#next-button').hide();
    });

    /* When an item is selected */
    Tree['convoChannel'].on('click', function(obj) {
      var current_selection = Tree.start.currentView.options.choice;
      if(current_selection.get('id') == 'lt18qfxd1ehj7ymxb29wrv6qa41mocwe6eor9dna') {
        $('#next-button').show();
        $('.popover').popover('dispose');
      } else if(current_selection.get('id') == '8qota4u8hwtcyp65kz9zm0vjyuxwjt12sko084sn') {
        $('#next-button').hide();
        $('.popover').popover('dispose');
      } else {
        better_answer();
      };
    });
