extends training/relation/part-1/base

block intro-content
  .row.m-t-md
    .col-xs-12
      p In addition to having a relationship or NOT having a relationship, there are three types of relationships currently available:
      ul
        li Relationships between Genes Concept and Disease Concept
        li Relationships between Drug Concept and Disease Concept
        li Relationships between Gene Concept and Drug Concept
      p Press ‘start now’ to learn more about the options under each relationship type.


  .row.m-t-md
    .col-xs-12.text-center
      a(href='{% url "training:relation-training" part_num=3 step_num=3 %}').btn.btn-primary Start Now


    #relation-training-progress(tabindex="-1", role="dialog", aria-labelledby="mySmallModalLabel", aria-hidden="true", show='true').modal.fade.bd-example-modal-sm
      .modal-dialog.modal-md
        .modal-content
          .modal-body
            .list-group.text-center
              .list-group-item.completed
                | <i class='fa fa-check' aria-hidden='true'></i>  Using the interface
              .list-group-item.completed
                | <i class='fa fa-check' aria-hidden='true'></i>  Rules for Relationship Extraction
              button(type='button', data-dismiss='modal').list-group-item.current
                | <i class='fa fa-angle-right' aria-hidden='true'></i>  Learn new relationships: Broad


block interactive



block navigation


block post-footer
