extends training/relation/part-1/base

block intro-content
  .row.m-t-md
    .col-xs-12
      p Gene-Drug Relationships: <strong>Genes</strong> and <strong>gene products</strong> can affect and be affected by <strong>drugs</strong> in many different ways.  There are two options for describing the relationship between genes and drugs


  .row.m-t-md
    .col-xs-12.text-center
      a(href='{% url "training:relation-training" part_num=3 step_num=20 %}').btn.btn-primary Next


block interactive

block navigation

