extends training/relation/part-1/base

block intro-content
  .row.m-t-md
    .col-xs-12
      p Gene-Chemical/Drug Relationships: Try this one!

    .col-xs-12.text-center
      p
        strong Use the menu in the box below to help relate the two concepts:


block navigation

  .row.m-t-md
    .col-xs-12.text-center
      a(id='next-button', style='display:none;', href='{% url "training:relation-training" part_num=3 step_num=24 %}').btn.btn-primary Submit


block interactive

  #tree-insert

  .row.m-t-md
    .col-xs-12
      p <span class='user_annotated_green'>Cytochrome P450 (CYP450) 2D6</span> is an important member of the P450 enzyme superfamily and responsible for clearing 25% of clinically important drugs. The aim of this study was to assess the catalytic characteristics of 24 <span class='user_annotated_green'>CYP2D6</span> allelic isoforms found in the Chinese population and their effects on the metabolism of <span class='user_annotated_pink'>risperidone</span> in vitro. Among <span class='user_annotated_green'>CYP2D6</span> variants tested, 2 variants exhibited higher <span class='user_annotated_pink'>risperidone</span> clearance values than the wild-type protein.


  script.
    relation_task_settings = {};
    relation_task_settings['data'] = {{ relation_data|safe }};

    task_data = [{
      "id": 0,
      "document": 0,
      "relation_type": "g_c",
      "concepts": {
        "c2": {
          "text": "risperidone",
          "type": "c",
          "id": "0"
        },
        "c1": {
          "text": "Cytochrome P450 (CYP450) 2D6",
          "type": "g",
          "id": "0"
        }
      },
      "user_completed": false
    }];


block post-footer
  <script type="html/template" id="tree-template">
  <div id="tree" class="row text-center">

  <div class="concept col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-3" id="c1">
  <i id="c1_not_correct" class="fa fa-times-circle"></i>
  <h3><%= c1.text %></h3>
  <p class="not_correct_stype"></p>
  </div>

  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-6" style="padding-bottom:10px; padding-top:10px;">
  <h3 id="relation" class="disabled">Select a Relationship below...</h3>
  <ul class="list-group"></ul>
  </div>

  <div class="concept col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-3" id="c2">
  <i id="c2_not_correct" class="fa fa-times-circle"></i>
  <h3><%= c2.text %></h3>
  <p class="not_correct_stype"></p>
  </div>

  </script>



  script(src="/static/js/libs/tree.js")
  script(src="/static/js/tasks/relation-training.js")

  script.
    var passages, regions, tmp_passages;

    /* instruct users to use back button for better answer */
    /* hide next button, hide misc popovers and make helper popover appear*/
    function better_answer() {
      $('.popover').popover('dispose');
      $('#next-button').hide();
      $relation_el = $('#relation');
      $relation_el.popover({
        container: 'body',
        html: true,
        animation: false,
        content: function() {
          return 'There is a better answer. Try again!';
        },
        placement: 'top'
      });
      $relation_el.popover('show');
    };

    /* When incorrect concepts are selected but it's not time to report errors */
    Tree['convoChannel'].on('error', function(str) {
      if(str == 'c_2' || str == 'c_1') {
        better_answer();
      }
    });

    Tree['convoChannel'].on('back', function(obj) {
      $('.popover').popover('dispose');
      $('#next-button').hide();
    });

    /* When an item is selected */
    Tree['convoChannel'].on('click', function(obj) {
      var current_selection = Tree.start.currentView.options.choice;
      if(current_selection.get('id') == 'am1wc2yvdcvwcb3yi298xesplbdktzku6wis49iw') {
        $('#next-button').show();
        $('.popover').popover('dispose');
      } else if(current_selection.get('id') == 'txh8mu2mrnrffik893gr5h0ir7b1y7plgw94n4j7') {
        $('#next-button').hide();
        $('.popover').popover('dispose');
      } else {
        better_answer();
      };
    });
