  script.
    relation_task_settings = {};
    relation_task_settings['data'] = {{ relation_data|safe }};

    task_data = [{
      "id": 0,
      "document": 0,
      "relation_type": "g_c",
      "concepts": {
        "c2": {
          "text": "risperidone",
          "type": "c",
          "id": "0"
        },
        "c1": {
          "text": "Cytochrome P450 (CYP450) 2D6",
          "type": "g",
          "id": "0"
        }
      },
      "user_completed": false
    }];


  script(src="/static/js/libs/tree.js")
  script(src="/static/js/tasks/relation-training.js")

  script.
    var passages, regions, tmp_passages;

    /* instruct users to use back button for better answer */
    /* hide next button, hide misc popovers and make helper popover appear*/
    function better_answer() {
      $('.popover').popover('dispose');
      $('#next-button').hide();
      $relation_el = $('#relation');
      $relation_el.popover({
        container: 'body',
        html: true,
        animation: false,
        content: function() {
          return 'There is a better answer. Try again!';
        },
        placement: 'top'
      });
      $relation_el.popover('show');
    };

    /* When incorrect concepts are selected but it's not time to report errors */
    Tree['convoChannel'].on('error', function(str) {
      if(str == 'c_2' || str == 'c_1') {
        better_answer();
      }
    });

    Tree['convoChannel'].on('back', function(obj) {
      $('.popover').popover('dispose');
      $('#next-button').hide();
    });

    /* When an item is selected */
    Tree['convoChannel'].on('click', function(obj) {
      var current_selection = Tree.start.currentView.options.choice;
      if(current_selection.get('id') == 'am1wc2yvdcvwcb3yi298xesplbdktzku6wis49iw') {
        $('#next-button').show();
        $('.popover').popover('dispose');
      } else if(current_selection.get('id') == 'txh8mu2mrnrffik893gr5h0ir7b1y7plgw94n4j7') {
        $('#next-button').hide();
        $('.popover').popover('dispose');
      } else {
        better_answer();
      };
    });
