extends training/relation/part-1/base

block intro-content
  .row.m-t-1
    .col-xs-12
      p.text-muted Gene-Disease Relationships: A <strong>gene</strong> is a sequence of DNA that serves as a blueprint for other biomolecules. Genes are transcribed to mRNA and the mRNA gene transcript is translated to proteins. There are three options for Gene-Disease Relationships:
      p.text-muted <strong>"altered expression is/may be associated with"</strong> – Altered gene expression refers to changes in the amount of gene product synthesis. This can happen at transcription or translation. Either way, changes in the amount of gene product synthesis is or may be associated with the disease
      p.text-muted <strong>"mutation is/may be associated with"</strong> – A mutation is a permanent change in the DNA sequence that makes up the gene. Changing the blueprint can change the biomolecules that are built from that blueprint and is or may be associated with the disease.
      p <strong>"post-translational modifications are/may be associated with"</strong> – After a gene has been transcribed into mRNA and the mRNA translated into a protein, the protein can be modified. These modifications can have huge effects including changing the location of the protein in the cell, changing its activity, and are (or may be) associated with the disease.




  .row.m-t-1
    .col-xs-12.text-xs-center
      a(href='{% url "training:relation-training" part_num=3 step_num=7 %}').btn.btn-primary Next



block interactive

block navigation

