
    task_data = [{
      "id": 0,
      "document": 0,
      "relation_type": "g_d",
      "concepts": {
        "c2": {
          "text": "Familial amyloidotic polyneuropathy",
          "type": "d",
          "id": "0"
        },
        "c1": {
          "text": "TTR",
          "type": "g",
          "id": "0"
        }
      },
      "user_completed": false
    }];


  script.
    var passages, regions, tmp_passages;

    /* instruct users to use back button for better answer */
    /* hide next button, hide misc popovers and make helper popover appear*/
    function better_answer() {
      $('.popover').popover('dispose');
      $('#next-button').hide();
      $relation_el = $('#relation');
      $relation_el.popover({
        container: 'body',
        html: true,
        animation: false,
        content: function() {
          return 'There is a better answer. Try again!';
        },
        placement: 'top'
      });
      $relation_el.popover('show');
    };

    function correct_answer() {
      $('.popover').popover('dispose');
      $relation_el = $('#relation');
      $relation_el.popover({
        container: 'body',
        html: true,
        animation: false,
        content: function() {
          return "Correct, click 'submit' at the bottom of this page.";
        },
        placement: 'top'
      });
      $relation_el.popover('show');
    };

    /* When incorrect concepts are selected but it's not time to report errors */
    Tree['convoChannel'].on('error', function(str) {
      if(str == 'c_2' || str == 'c_1') {
        better_answer();
      }
    });

    Tree['convoChannel'].on('back', function(obj) {
      $('.popover').popover('dispose');
      $('#next-button').hide();
    });

    /* When an item is selected */
    Tree['convoChannel'].on('click', function(obj) {
      var current_selection = Tree.start.currentView.options.choice;
      if(current_selection.get('id') == '04110gzdcxz8niuv83ev08ut7lv0xep4iym5sxm5') {
        $('.popover').popover('dispose');
        correct_answer();
        $('#next-button').show();
      } else if(current_selection.get('id') == 'qq84lkjfh46gmx4a9n1jpwxwrmbajsy1qctb9u8j') {
        $('#next-button').hide();
        $('.popover').popover('dispose');
      } else {
        better_answer();
      };
    });
