<p>Here is your network viewer showing links between papers and concepts.</p>
<p>Toggle this view using the header icon and this close button.</p>
<button class="btn btn-primary btn-small close-network-popover" type="button">Close</button>
