div(id="refute-{{ section.pk }}", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").modal.fade
  .modal-dialog
    .modal-content
      a(data-dismiss="modal").close-btn
        | &times;

      .modal-header
        h3
          | Was there a problem with our annotations in this {{ section.get_kind_display }}?

      .modal-body
        form(action="/document/{{ doc.pk }}/section/{{ section.pk }}/refute/create/", method="post", role="form").form-horizontal.form-via-ajax
          {% csrf_token %}
          .form-group
            .col-sm-12
              textarea#new_message(name="message", placeholder="Type in your message", rows="5").form-control

          .form-group
            .col-sm-6.col-sm-offset-3
              button(type="submit").btn.btn-block.btn-success
                | Let us know!

      .modal-footer
        button(data-dismiss=modal").btn.btn-warning
          | Close


