extends base

block header
  - with headerMessage='Relation Module'
    include includes/header


block content

  #ner-training-area

  include training/relation/js-templates


block post-footer

  script.
    var RETrainingApp = Backbone.Marionette.Application.extend({
      region: '#ner-training-area',

      onStart: function() {
        var main = this.getRegion();

        main.show( new RETraining({
          'csrf_token': "{{csrf_token}}",
          'mode': 're',
          })
        );
      }
    });
    var re_training = new RETrainingApp();
    re_training.start();

