{% extends "base.html" %}
{% block header %}
{%  with headerMessage='Relation Module' %}
{% include "includes/header.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<div id="re-training-area"></div>
{% endblock %}

{% block js-templates %}
{% include "js-templates.html" %}
{% include "training/js-templates.html" %}
{% endblock %}

{% block post-footer %}
<script>var RETrainingApp = Backbone.Marionette.Application.extend({
  region: '#re-training-area',
  onStart: function() {
    var main = this.getRegion();
    main.show( new TrainingView({
      'csrf_token': "{{csrf_token}}",
      'mode': 're',
      })
    );
  }
});
var re_training = new RETrainingApp();
re_training.start();
</script>
{% endblock %}
