//
// RE Training
//

script(id='re-training-template', type='html/template')
  #re-training-navigation.col-12

  #re-training-message-center.col-12

  #re-training-text.col-10
  #re-training-action.col-10
  #re-training-footer.col-10


script(id='re-training-navigation', type='html/template')
  #progress-steps


script(id='re-training-text', type='html/template')
  h2 test text test


script(id='re-training-action', type='html/template')
  h2 act act act


script(id='re-training-footer', type='html/template')
  h2 Footer foot foot

