#ypet-action-area {

  #ypet-navigation {
    > .row {
      height: 34px;
      background-color: $color_gray_lightest;
    }

    #progress-bar {
      ul {
        margin-bottom: 0px;
        li {
          font-size: 2.5em;
          line-height: .65em;
          cursor: pointer;
          color: $color_white;
        }
        li.completed { color: $color_gray_light; }
        li.active { color: $color_purple; }
      }
    }
    p { margin-bottom: 0px; }
  }

  #ypet-results {

    .header-message {
      border: 1rem solid $color_gray_light;
      border-top: none;
    }

    .ypet-info-message {
      border: 1rem solid $color_gray_lightest;

      .nav-action-area {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.25rem;
        color: $color_purple;

        p:hover {
          cursor: pointer;
          color: #5200ef;
        }
        a {
          color: $color_black;
          span.chevron {
            font-size: 2rem;
            line-height: 1rem;
          }
        }
        a:hover { text-decoration: none; }
      }

      .social-action-area {
        i {
          padding: .2rem;
        }
        text-transform: uppercase;
        font-size: 1rem;

        a {
          color: $color_black;
        }
        a:hover { text-decoration: none; }
      }


    }
  }

  #ypet-footer {
    #ypet-footer-help {

      .list-group {
        .list-group-item i {
          position: relative;
          padding-left: .5rem;
          top: .05rem;
        }
        .diseases { background-color: #d1f3ff; }
        .genes { background-color: #b1ffa8; }
        .treatments { background-color: #ffd1dc; }
      }

    }
  }

  #ypet-footer-confirm {
    .confirm-button {
      background-color: $color_purple;
      color: $color_white;
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: .125rem;
      cursor: pointer;
    }

    .next-doc {
      cursor: pointer;
    }
  }

}













#ypet-text {
  .paragraphs {
    .paragraph-box {

      border: 1rem solid $color_gray_lightest;

      .paragraph-content {

        p.paragraph {
          font-family: $font_paragraph;
          line-height: 1.75rem;
          font-size: 1.25rem;
          color: $color_black;

          cursor: pointer;
          -webkit-touch-callout: none;
          @include user-select(none);

          span {
            display: inline-block;
            padding-right: .25rem;
          }

          span:hover {
            color: $color_picton_blue;
          }

          .golden {
            border-bottom: 6px solid $color_red;
          }

          .neighbor_gm,
          .neighbor_u {
            margin-right: 5px !important;
          }

          span.user_annotated {
            background-color: $color_disease;
            color: $color_black;
          }

          span.user_annotated_green {
            background-color: $color_gene;
          }

          span.user_annotated_pink {
            background-color: $color_treatment;
          }
        }

      }
    }
    .paragraph-box.ypet-disabled {
      cursor: not-allowed;
      .paragraph-content {
        cursor: not-allowed;
        p.paragraph {
          color: $color_gray;
          cursor: not-allowed;
          span:hover {
            color: $color_gray;
            cursor: not-allowed;
          }
        }
      }
    }

  }
}








p.paragraph.no-interactive {
  span:hover {
    color: $color_black;
  }
  cursor: auto;
}

.micro p.paragraph {
  line-height: 1.2em;
  font-size: 1.2em;
  padding: 10px;
  margin: 0px;
}


.micro .paragraph-box {
  border: 6px solid $color_gray_lightest;
}

@-webkit-keyframes paragraph-box-error-alert {
  0% {
    border: 1rem solid $color_gray_lightest;
    background-color: $color_white;
  }
  50% {
    border: 1rem solid red;
    background-color: $color_gray_lightest;
  }
  100% {
    border: 1rem solid $color_gray_lightest;
    background-color: $color_white;
  }
}

.paragraph-box-error-alert {
  -webkit-animation-name: paragraph-box-error-alert;
  -webkit-animation-duration: 1500ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
}


/*
 *
 * Community Consensus & Results page paragraph classes
 *
 */

span.user_annotated {
  background-color: #d1f3ff;
  color: #333;
}
span.user_annotated_green {
  background-color: #B1FFA8;
}

span.user_annotated_pink {
  background-color: #ffd1dc;
}

.no-annotations,
.f-score h2 {
  font-size: 52px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.quest-guide .doc-item-col {
  height: 40px;
}

.quest-guide .doc-item-col h4 {
  font-size: 30px;
  line-height: 22px;
}

.quest-guide .doc-item-col.active h4 {
  color: $color_purple;
  border-bottom: 4px solid $color_purple;
}
.quest-guide .doc-item-col.muted h4 {
  color: $color_white;
}

