/* Parent DIV for all Relationship Extraction */
#re-action-area {
  flex: 1;

  #re-navigation {
    > .row {
      min-height: 34px;
      background-color: $color_gray_lightest;
    }

    #progress-bar {
      ul {
        margin-bottom: 0px;
        li {
          font-size: 2.5em;
          line-height: .65em;
          cursor: pointer;
        }
        li.completed { color: $color_gray_light; }
        li.active { color: $color_purple; }
        li.skip { color: $color_white; }
      }
    }
    p { margin-bottom: 0px; }
  }

  #re-selection {
    .loader-container {
      height: 5em;
      margin: 10em 0;

      .loader, .loader:before, .loader:after {
        background: $color_gray_light;
        -webkit-animation: load1 1s infinite ease-in-out;
        animation: load1 1s infinite ease-in-out;
        width: 1em;
      }
      .loader:before, .loader:after {
        position: absolute;
        top: 0;
        content: '';
      }
      .loader:before {
        left: -1.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
      }
      .loader {
        text-indent: -9999em;
        margin: 0px auto;
        position: relative;
        font-size: 10px;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
      }
      .loader:after {
        left: 1.5em;
      }
      @-webkit-keyframes load1 {
        0%,
        80%,
        100% {
          box-shadow: 0 0 #ffffff;
          height: 4em;
        }
        40% {
          box-shadow: 0 -2em #ffffff;
          height: 5em;
        }
      }
      @keyframes load1 {
        0%,
        80%,
        100% {
          box-shadow: 0 0 #ffffff;
          height: 4em;
        }
        40% {
          box-shadow: 0 -2em #ffffff;
          height: 5em;
        }
      }
    }

    #re-cover {
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 9999;
      top: 0;
    }
    #re-extraction {
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 300;

      /* Concepts */
      .concept {
        margin-top: 84px;
        position: relative;

        @include media-breakpoint-down(sm) {
          margin-top: 0px;
          min-height: 38px;
        }

        .flag {
          border-bottom: 2px solid #000;
          background-color: #fff;
          color: #000;

          height: 30px;
          width: 30px;

          position: absolute;
          z-index: 9999;
          top: 0px;

          cursor: pointer;

          font-size: 1.2em;
          text-align: center;
          @include media-breakpoint-down(sm) {
            border-bottom: none;
          }
        }
        .flag:hover {
          background-color: $color_error_red;
          color: #fff;
        }

        .text {
          font-size: 1.25em;
          margin-top: 30px;
          @include media-breakpoint-down(sm) {
            font-size: .75em;
            margin-top: 6px;
            margin-left: 36px;
            p {
              margin: 0px;
            }
          }
        }

        .desc {
          visibility: hidden;
          @include media-breakpoint-down(sm) {
            display: none;
          }
        }

        @include media-breakpoint-down(sm) { border-width: 8px; }
        @include media-breakpoint-only(md) { border-width: 12px; }

        // @include media-breakpoint-down(lg) { margin-top: 72px; }
        // @include media-breakpoint-down(sm) { margin-top: 108px; }
        // @include media-breakpoint-down(xs) { margin-top: 0px; text-align: center; }
      }
      .concept.gene { border: 16px solid $color_gene; }
      .concept.disease { border: 16px solid $color_disease; }
      .concept.drug { border: 16px solid $color_treatment; }

      @include media-breakpoint-down(sm) {
        .concept.gene { border: 4px solid $color_gene; }
        .concept.disease { border: 4px solid $color_disease; }
        .concept.drug { border: 4px solid $color_treatment; }
      }

      .concept.incorrect { border-color: $color_error_red; }
      .concept.incorrect .desc { visibility: visible; }
      #c1 { text-align: right;
        .flag {
          left: 0px;
          border-right: 2px solid #000;
        }
      }
      #c2 { text-align: left;
        .flag {
          right: 0px;
          border-left: 2px solid #000;
        }
      }

      /* RESelected */
      #selected-choice {
        h3 {
          padding: 12px 0;
          color: $color_gray_dark;
          letter-spacing: 1px;
          font-size: 1.75em;
          margin: 10px 0px;
          word-wrap: break-word;
          cursor: pointer;
          @include media-breakpoint-down(sm) {
            font-size: 1rem;
            padding: 3px 0;
            margin: 3px 0px;
          }
          @include media-breakpoint-only(md) { font-size: 1.25rem; }
          @include media-breakpoint-only(lg) { font-size: 1.5rem; }
        }

        h3.relation-go-back:hover {
          color: #fff;
          background-color: $color_error_red;
        }
        h3.disabled {
          color: #e7e7e7;
          cursor: default;
        }

      }

      /* REChoices */
      #rechoices-list {
        ul {
          padding: 0;

          .list-group-item,
          .list-group-item:first-child,
          .list-group-item:last-child {
            border-radius: 0px;
            border: 2px solid black;
            border-bottom: none;
            font-size: 1.25em;
            line-height: 1.25em;
            letter-spacing: 0.05em;

            cursor: pointer;

            @include media-breakpoint-down(sm) {
              text-align: center;
              padding: 6px;
              font-size: 1em;
              display: block;
            }
          }

          .list-group-item:last-child {
            border-bottom: 2px solid black;
          }

          a.list-group-item:hover {
            color: #fff;
            background-color: #31A7DA;
          }

        }
      }

    }
  }

  #re-selection-results {
    // border-bottom: 8px solid $color_gray_light;
    border-bottom: 8px solid $color_gray_lightest;

    #reextraction-answers-chart {
      .bar-component {
        float: left;
        margin: 10px 0px;
        height: 25px;
      }
    }

    #reextraction-answers-list {
      li {
        .box {
          float: left;
          height: 20px;
          width: 20px;
          margin: 2px 10px;
        }
      }
    }

    button:hover {
      cursor: pointer;
    }

    .re-completed-view {

      hr {
        border: 0;
        margin: 6px 0px;
        height: 1px;
        background: $color_gray_lighter;
        background-image: linear-gradient(to right, $color_white, $color_gray_lighter, $color_gray_lightest);
      }

      .re-info-message {
        border: 1rem solid $color_gray_lightest;


        .nav-action-area {
          text-transform: uppercase;
          font-weight: 600;
          font-size: 1.25rem;
          color: $color_purple;

          p:hover {
            cursor: pointer;
            color: #5200ef;
          }
          a {
            color: $color_black;
            span.chevron {
              font-size: 2rem;
              line-height: 1rem;
            }
          }
          a:hover { text-decoration: none; }
        }

        .social-action-area {
          i {
            padding: .2rem;
          }
          text-transform: uppercase;
          font-size: 1rem;

          a {
            color: $color_black;
          }
          a:hover { text-decoration: none; }
        }
      }


    }

  }

  #re-confirm {
    button:hover {
      cursor: pointer;
    }

    @include media-breakpoint-down(sm) {
      button {
        padding: 3px 0px;
      }
    }

  }

}


#re-synopsis {
  ul#re-synopsis-extractions {
    text-align: center;
    li {
      font-size: 4em;
      line-height: .5em;
      cursor: pointer;
      margin: 0px 2px;
    }
  }

  #re-synopsis-detail-view {

    #feedback-next-action-area {
      .bar-component {
        float: left;
        margin: 10px 0px;
        height: 25px;
      }
    }

    #chart-list {
      li {
        .box {
          float: left;
          height: 20px;
          width: 20px;
          margin: 2px 10px;
        }
      }
    }

  }

}

