extends base

block header
  - with headerMessage='Training #2: Avoiding Common Pitfalls'
    include includes/header


block content
  .container
    .row.foot-space
      .col-md-12
        h2 Use your Disease Marking Skill to Mark this Doc


    .row
      #quest-alerts.col-md-10.col-md-offset-1
      #quest-1.col-md-10.col-md-offset-1.paragraph-box
        p.paragraph Recombinations in individuals homozygous by descent localize the Friedreich ataxia locus in a cloned 450-kb interval .
      #quest-2(style='display: none;').col-md-10.col-md-offset-1.paragraph-box
        p.paragraph The locus for Friedreich ataxia ( FRDA ) , a severe neurodegenerative disease , is tightly linked to markers D9S5 and D9S15 , and analysis of rare recombination events has suggested the order cen-FRDA-D9S5-D9S15-qter . We report here the construction of a YAC contig extending 800 kb centromeric to D9S5 and the isolation of five new microsatellite markers from this region . In order to map these markers with respect to the FRDA locus , all within a 1-cM confidence interval , we sought to increase the genetic information of available FRDA families by considering homozygosity by descent and association with founder haplotypes in isolated populations . This approach allowed us to identify one phase-known recombination and one probable historic recombination on haplotypes from Reunion Island patients , both of which place three of the five markers proximal to FRDA . This represents the first identification of close FRDA flanking markers on the centromeric side . The two other markers allowed us to narrow the breakpoint of a previously identified distal recombination that is > 180 kb from D9S5 ( 26P ) . Taken together , the results place the FRDA locus in a 450-kb interval , which is small enough for direct search of candidate genes . A detailed rare cutter restriction map and a cosmid contig covering this interval were constructed and should facilitate the search of genes in this region .


    .row.head-space-xl
      .col-md-8.col-md-offset-2
        .progress
          div(role='progressbar', aria-valuenow='5', aria-valuemin='0', aria-valuemax='100', style='width: 50%;').progress-bar.progress-bar-striped.active
      .col-md-8.col-md-offset-2
        #next-container.pull-right
          a(href='/training/intro/2/step/4/', id='next', disabled).btn.btn-default Next



block post-footer
  include training/includes/intro-2-js
  include document/includes/instructions-modal
  script.
    window.intercomSettings['quest'] = 2;
  script.
      textControl('out', 107);
      var answers1 = [{'text': 'Friedreich ataxia', 'start': 65}];
      var answers2 = [{'text': 'Friedreich ataxia', 'start': 14},
      {'text': 'FRDA', 'start': 34},
      {'text': 'FRDA', 'start': 426},
      {'text': 'FRDA', 'start': 538},
      {'text': 'FRDA', 'start': 867},
      {'text': 'FRDA', 'start': 924},
      {'text': 'FRDA', 'start': 1154}];

      var validation_check1 = function(collection) {
        if(validate(collection, answers1)) { correct1(); }
      };
      var validation_check2 = function(collection) {
        if(validate(collection, answers2)) { correct2(); }
        if(validate(collection, answers2, 4)) { textControl('in', 0, 1000); }
      };
