extends training/entity-recognition/exp-2-intro-1/step-base

block step-instructions
  h2.text-xs-center A <strong>disease class</strong> is a category or group of different diseases. Diseases in a disease class have something in common (like affected organ)
  p In the box below, mark the <strong>specific disease</strong> mentioned separately from the <strong>disease class</strong> mentioned. Also, mark the <strong>abbreviations</strong> of each.

block paragraph
  p.paragraph ... with or without rheumatoid arthritis ( RA ) or heart disease ( HD ) .

block progress
  progress(value='50' max='100').progress.progress-striped
    .progress
      span(style='width: 50%;').progress-bar 50%

block next-link
  a(href='{% url "training:one" step_num=6 %}', id='next', disabled).btn.btn-primary.pull-right.disabled Next

block answers
  script.
      var help = [
        {text: 'arthritis', msg: 'You can be more specific, try again!'},
        {text: 'disease', msg: 'You can be more specific, try again!'},
        {text: 'rheumatoid arthritis ( RA', msg: 'Whenever possible, do NOT mark abbreviations together with the term they represent'},
        {text: 'rheumatoid arthritis ( RA )', msg: 'Whenever possible, do NOT mark abbreviations together with the term they represent'},
        {text: 'heart disease ( HD', msg: 'Whenever possible, do NOT mark abbreviations together with the term they represent'},
        {text: 'heart disease ( HD )', msg: 'Whenever possible, do NOT mark abbreviations together with the term they represent'},
      ];
      var answers = [{text: 'rheumatoid arthritis', start: 20}, {text: 'RA', start: 43}, {text: 'heart disease', start: 51}, {text: 'HD', start: 67}];
