extends training/entity-recognition/exp-2-intro-1/step-base

block step-instructions
  h2.text-center A <strong>symptom</strong> is the physical manifestation of a disease. In the box below:
  p - Mark every instance of a symptom (rule #1)
  p - Use the minimum span needed to mark the entire specific symptom (rule #2)

block paragraph
  p.paragraph In particular , we will examine the effects of these insulin regimen on symptoms of the diseases . We will focus on common symptoms such as fatigue as well as frequent urination

block progress
  progress(value='62.5' max='100').progress.progress-striped
    .progress
      span(style='width: 62.5%;').progress-bar 62.5%

block next-link
  a(href='{% url "training:one" step_num=7 %}', id='next', disabled).btn.btn-primary.pull-right.disabled Next

block answers
  script.
      var help = [
      {text: 'symptoms', msg: 'Do not mark generic terms such as "symptoms" or "disease" unless it is part of the name of the disease or disease class'},
      {text: 'diseases', msg: 'Do not mark generic terms such as "symptoms" or "disease" unless it is part of the name of the disease or disease class'},
      {text: 'common symptoms', msg: 'Do not mark generic terms such as "symptoms" or "disease" unless it is part of the name of the disease or disease class'},
      {text: 'urination', msg: 'The term "urination" alone is not a symptom of a disease. Everyone urinates. Mark all the terms needed for it to be symptom'},
      {text: 'fatigue as well as frequent urination', msg: 'Almost, mark the different symptoms separately'},
      ];
      var answers = [{text: "fatigue", start: 140}, {text: "frequent urination", start: 159}];
