extends training/entity-recognition/exp-2-intro-1/step-base

block step-instructions
  h2.text-xs-center A single sign may sometimes appear to be a list of descriptions or symptoms
  p Use the minimum span needed to mark the entire sign (rule #2).

block paragraph
  p.paragraph … as well as tingling and/or numbness in the hands , legs , or feet .

block progress
  progress(value='87.5' max='100').progress.progress-striped
    .progress
      span(style='width: 87.5%;').progress-bar 87.5%

block next-link
  a(href='{% url "training:one" step_num="complete" %}', id='next', disabled).btn.btn-primary.pull-right.disabled Next

block answers
  script.
      var key = '1-8';
      var help = [
        {text: 'tingling', msg: '"tingling" alone is not a symptom of this disease. be more specific, mark all the terms needed for it to be a symptom'},
        {text: 'tingling and/or numbness', msg: '"tingling and/or numbness" alone is not a symptom of this disease. be more specific, mark all the terms needed for it to be a symptom'},
        {text: 'tingling and/or numbness in the hands', msg: 'While "tingling and/or numbness in the hands" is a symptom of this disease, so is tingling and/or numbness in the feet. Mark all the terms needed for this symptom'},
        {text: 'tingling and/or numbness in the hands , legs', msg: '"tingling aand/or numbness in the hands , legs" alone is not a symptom of this disease. be more specific, mark all the terms needed for it to be a symptom'},
      ];
      var answers = [{text: "tingling and/or numbness in the hands , legs , or feet", start: 13}];
