extends base

block header
  - with headerMessage='Training 1 – Learning a new concept: Diseases'
    include includes/header


block content
  #Training1Modal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h4.modal-title.text-xs-center The Diseases Concept includes more than just disease names

        .modal-body

          .card
            .card-header
              h4.text-xs-center.card-title Acquire the Disease Marking Skill by learning the Diseases Concept.

            .card-block
              p.text-xs-center The Diseases Concept includes:
              ol.list-unstyled.list-inline.text-xs-center
                li.list-inline-item
                  ul.list-unstyled
                    li Disease
                    li Disease Class
                li.list-inline-item
                  ul.list-unstyled
                    li Symptoms
                    li Signs/Diagnostic Signs

        .modal-footer
          button(type="button", data-dismiss="modal").btn.btn-primary Close

  .container
    .row.m-t-1
      .col-xs-10.col-xs-offset-1
        block step-instructions
          h2.text-xs-center A <strong>disease</strong> is a particular abnormal, pathological condition that affects part or all of an organism
          p In the box below, mark every instance of the disease (rule #1)

    #partner(style='display: none;').row.m-t-1
      .row
        .col-md-4.col-md-offset-4
          .alert.alert-success
            h2.text-xs-center Good job!

    .row.m-t-1
      #quest-alerts.col-md-10.col-md-offset-1
      #quest.col-md-10.col-md-offset-1.paragraph-box
        block paragraph

    .row.m-t-1
      .col-md-8.col-md-offset-2
        .progress
          block progress

      .col-md-8.col-md-offset-2
        #next-container.pull-right
          block next-link


block post-footer
  include training/entity-recognition/includes/intro-1-js

  block answers

  script.
      var validation_check = function(collection) {
        if(validate(collection, answers)) { correct(); }
      };

