nav#header-generic.navbar {
  font-family: $font_helvetica;
  font-size: 1.2rem;
  z-index: 1000;

  .navbar-brand img {
    max-height: 80px;
  }

  ul {
    margin-top: 1rem;
  }

  a {
    color: $color_white;
  }
}

nav.purple {
  background-color: $color_purple;
}

#header-auth-generic {
  border-bottom: 8px solid $color_gray_lightest;
  padding-top: 0px;
  padding-bottom: 0px;

  h1 {
    color: $color_gray_light;
    font-size: 1.75rem;
    margin-top: .75rem;

    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;

    @include media-breakpoint-down(sm) {
      font-size: 1.25rem;
    }
    @include media-breakpoint-only(sm) {
      margin-top: 1.25rem;
    }
    @include media-breakpoint-only(xs) {
      margin-top: 0px;
    }

  }
  .navbar-header .navbar-brand img {
    max-height: 60px;
  }

  #header-links {
    @include media-breakpoint-only(xs) {
      margin-bottom: .5rem;
    }
    .user-info { text-align: right; }
    .site-links { text-align: left; }
    ul { margin-bottom: 0px; }
    li {
      white-space: nowrap;
      a p {
        color: $color_black;
      }
      a:hover p {
        color: $color_purple;
        cursor: pointer;
      }
      a:active { text-decoration: none; }
      p {
        padding: 2px;
        margin: 0px;

        @include media-breakpoint-only(sm) {
          font-size: .8rem;
        }


      }
    }
  }

  #expand-content { font-size: 3rem; }
  #expand-content:hover { color: $brand-primary; }

}
