nav#header-generic.navbar {
  font-family: $font_helvetica;
  font-size: 1.2rem;
  z-index: 1000;

  .navbar-brand img {
    max-height: 80px;
  }

  ul {
    margin-top: 1rem;
  }

  a {
    color: $color_white;
  }

  a.box-outline {
    border: 2px solid white;
    padding: 0.25rem .5rem;
  }

  a.box-outline:hover {
    text-decoration: none;
    border: 2px solid white;
    padding: 0.25rem .5rem;
    color: $color_purple;
    background-color: $color_white;
  }
}

nav#header.navbar {
}

nav.purple {
  background-color: $color_purple;
}


#header {
  border-bottom: 8px solid $color_gray_lightest;

  h1 {
    color: $color_gray_light;
    font-size: 1.75rem;
    margin-top: .75rem;

    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;

    @include media-breakpoint-down(sm) {
      font-size: 1.25rem;
    }
    @include media-breakpoint-only(sm) {
      margin-top: 1.25rem;
    }
    @include media-breakpoint-only(xs) {
      margin-top: 0px;
    }

  }
  .navbar-header .navbar-brand img {
    max-height: 60px;
  }

  a.box-outline {
    border: 2px solid $color_purple;
    padding: 0.25rem .5rem;
    margin-top: 7px;
    display: inline-block;
    p {
      text-transform: uppercase;
      letter-spacing: 0.1rem;
    }
  }

  a.box-outline:hover {
    text-decoration: none;
    border: 2px solid $color_purple;
    padding: 0.25rem .5rem;
    color: $color_white;
    background-color: $color_purple;
  }

}
