script.
  var incorrect_counter = 0;

  var validate = function(needle, gold) {
    var all_match = true;
    _.each(gold, function(gold_item) {
      var matches = _.filter(needle.toJSON(), function(obj) {
        return obj.type == gold_item.type && obj.start == gold_item.start && obj.text == gold_item.text }).length;
      if(!matches) { all_match = false; }
    });

    return all_match;
  };

  $('#next-container').popover({
    trigger: "hover",
    title: "Keep Going!",
    content: "Please complete the task before moving forward.",
    placement: "top",
    container: "body"
  });

  $('#quest-alerts').affix({
    offset: {
      top: function() { return $('#quest').position().top-60 },
      bottom: function () {
        return (this.bottom = $('.footer').outerHeight(true))
      }
    },
  });

  var correct = function() {
    $('#partner').slideDown();
    $('#next-container').popover('disable');
    $('#next').attr('disabled', false);
    window.scrollTo(0,document.body.scrollHeight);
  };

