extends base

- load widget_tweaks

block header

block content
  .container.head-space-xl
    .row
        .col-md-6.col-md-offset-3
            h2.text-center Forgot Your Password?
            form(method='post')
              - csrf_token
              .form-group
                .row
                  .col-xs-6.col-xs-offset-3
                    #{form.email|add_class:'form-control'|attr:'placeholder:Email Address'}

              .form-group.head-space
                .row
                  .col-xs-4.col-xs-offset-4
                    input(type="submit", value="Email Reset Link").btn.btn-default.btn-block
