extends base

block header

block content
  .row.m-t-md
      .col-md-6.col-md-offset-3
          h1.text-center Thanks!
          p.lead.text-center.m-t-md All is good! Try <a href='/registration/login/'>logging in</a> to see if it worked!

