extends base

block header

block content
  .row
      .col-md-6.col-md-offset-3.m-t-md
          h1.text-center Thanks!
          p.lead.m-t-md.text-center A password reset link has been emailed to you.

