extends base

block header

block content
  .row
      .col-md-6.col-md-offset-3.head-space-xl
          h1.text-center Thanks!
          p.lead.head-space.text-center A password reset link has been emailed to you.

