extends base

block header

block content
  .row.head-space
      .col-md-6.col-md-offset-3
          h1.text-center Thanks!
          p.lead.text-center.head-space All is good! Try <a href='/account/login/'>logging in</a> to see if it worked!

