/*
  Yellow: E8DB47
  Green: 4AFF5A
  Purple: 7F3CFF
  Red: E85997
  Teal: 41FFD8
*/

/* =========================
        Landing
========================= */

body.landing {
  background: url('/static/images/background_blur.jpg') no-repeat #f0f0ed;
}

/* =========================
        Header
========================= */

.navbar-default p {
  padding-top: 4px;
}

.navbar-default p a {
  color: #7F3CFF;
}

.navbar-default p a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #7F3CFF;
}

/* =========================
        Footer
========================= */

#footer p,
#footer p a {
 font-family: 'Px Grotesk Light';
}

#footer p a {
  color: #E85997;
}

/* =========================
        Utilities
========================= */
.head-space { margin-top: 20px; }
.head-space-xl { margin-top: 60px; }
.foot-space { margin-bottom: 20px; }
.foot-space-xl { margin-bottom: 60px; }
.foot-space-xl-xl { margin-bottom: 200px; }


.tooltip {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

a.close-btn {
  display: block;
  position: absolute;
  top: 0; right: 4px;
  border-radius: 0 6px 0 6px;
  height: 22px;
  width: 22px;
  text-align: center;
  font-size: 22px;
}

.modal-body img.logo {
  width: 200px;
  margin: 0 auto;
  display: block;
  padding: 20px;
}

.line {
  background: #e7e7e7;
  height: 1px;
}

.line-text {
  font-family: 'Px Grotesk Light';
  position: relative;
  background: #ffffff;
  color: #777777;
  display: inline;
  top: -.7em;
  font-size: 1.6em;
  padding: 0px 6px;
}


.paragraph.entity_tag {
  padding: 30px 60px 20px 60px;
  border: 16px solid #f5f5f5;
}
