/*
  Yellow: E8DB47
  Green: 4AFF5A
  Purple: 7F3CFF
  Red: E85997
  Teal: 41FFD8
*/

/* =========================
        Header
========================= */

.navbar-default p {
  padding-top: 4px;
}

.navbar-default p a {
  color: #7F3CFF;
}

.navbar-default p a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #7F3CFF;
}

/* =========================
        Footer
========================= */

#footer p,
#footer p a {
 font-family: 'Px Grotesk Light';
}

#footer p a {
  color: #E85997;
}

/* =========================
        Utilities
========================= */
.head-space { margin-top: 20px; }
.head-space-xl { margin-top: 60px; }
.head-space-xl-xl { margin-top: 100px; }
.foot-space { margin-bottom: 20px; }
.foot-space-xl { margin-bottom: 60px; }
.foot-space-xl-xl { margin-bottom: 200px; }


.tooltip {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

#quest-alerts.affix {
  top: 0;
  z-index: 999;
  left: 0;
}

a.close-btn {
  display: block;
  position: absolute;
  top: 0; right: 4px;
  border-radius: 0 6px 0 6px;
  height: 22px;
  width: 22px;
  text-align: center;
  font-size: 22px;
}

.modal-body img.logo {
  width: 200px;
  margin: 0 auto;
  display: block;
  padding: 20px;
}

.line {
  background: #e7e7e7;
  height: 1px;
}

.line-text {
  font-family: 'Px Grotesk Light';
  position: relative;
  background: #ffffff;
  color: #777777;
  display: inline;
  top: -.7em;
  font-size: 1.6em;
  padding: 0px 6px;
}

.alert-paragraph-box h2 {
  margin-top: 0px;
}

.no-annotations,
.f-score h2 {
  font-size: 52px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#dashboard .quest {
  height: 90px;
}

.quest-guide .doc-item-col {
  height: 40px;
}

.quest-guide .doc-item-col h4 {
  font-size: 30px;
  line-height: 22px;
}

.quest-guide .doc-item-col.active h4 {
  color: #7F3CFF;
  border-bottom: 4px solid #7F3CFF;
}
.quest-guide .doc-item-col.muted h4 {
  color: #f8f8f8;
}
#dashboard p {
}
#dashboard span.glyphicon {
  font-size: 32px;
}
#dashboard .muted,
#dashboard span.glyphicon-ban-circle {
  color: #777777;
}
