#partner(style='display: none;').row.head-space
  .col-md-10.col-md-offset-1.well
    .row
      .col-md-12
        p You were paired with:
      .col-md-12
        h4 Doc_G-man <small>Level: Gold Master Marker</small>

