extends base

- load humanize

block header
  - with headerMessage=task.name
    include includes/header-task

block content
  .container
    .row
      .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
        .row.alert.alert-info.alert-sticky.text-center
          h2 Congratulations you completed Quest #{task.name}

    .row
      .col-xs-10.col-xs-offset-1
        h2.text-center Bonus Points: #{task.points}

    .row.m-t-md
      .col-xs-6.col-xs-offset-3
        p.lead.text-center You've made a valuable and important contribution! Tell your friends about it now and help find cures faster.

    .row.foot-space-xl
      .col-xs-10.col-xs-offset-1.text-center
        ul.list-inline
          li
            a(href="https://twitter.com/intent/tweet?text=I just completed Quest {{task.name}} of the {{task.group.stub}} doc set at https://mark2cure.org. If you can read, you can help researchers find cures FASTER.").btn.btn-default
              i.fa.fa-twitter-square.fa-2x.pull-left
              | Tweet accomplishment!

          li
            a(title="Share on Facebook", href="http://www.facebook.com/sharer.php?s=100&p[title]=Mark2Cure&p[summary]=I just completed Quest {{task.name}} of the {{task.group.stub}} doc set at https://mark2cure.org. If you can read, you can help researchers find cures FASTER.&p[url]=http://mark2cure.org&p[images][0]=YOUR_IMAGE_TO_SHARE_OBJECT", target="_blank").btn.btn-default
              i.fa.fa-facebook-square.fa-2x.pull-left
              | Share accomplishment!

    .row
      .col-xs-3.col-xs-offset-2
        a(href='{% url "common:dashboard" %}').btn.btn-default.btn-block Go to dashboard
      .col-xs-3.col-xs-offset-2
        a(href='#', id='nextavailquest').btn.btn-default.btn-block Start next quest


block post-footer
  script.
    /* Rather than have a view to fetch the ramining quests, use the
    API and filter so we can on-click determine what quest the
    player should do next */

    $('#nextavailquest').on('click', function(evt) {
      evt.preventDefault();
      evt.stopPropagation();

      var ajax_settings = {
        'type': 'GET',
        'url': '/api/quest/{{task.group_id}}/',
        'success': function(data) {
          var set = _.filter(data, function(q) {
            return q.progress.completed == false && q.user.completed == false && q.user.enabled == true;
          });
          if(set.length) {
            window.location = '/task/entity-recognition/quest/' + set[0].id;
          } else { window.location = '/dashboard/'; }
        }
      };
      $.ajax(ajax_settings);
    });
