extends base

- load widget_tweaks
- load group

block header
  - with headerMessage='Community Dashboard'
    include includes/header

block content

  .container
    - if messages
      - for message in messages
        - if 'safe' in message.tags
          .row
            .col-sm-10.col-sm-offset-1
              div(class='{{ message.tags }}').alert
                {{ message|safe }}

  #dashboard.container-fluid


block post-footer

  script.
    var DashboardApp = Backbone.Marionette.Application.extend({
      region: '#dashboard',

      onStart: function() {
        var main = this.getRegion();
        main.show( new Dashboard() );
      }
    });
    var dashboard_app = new DashboardApp();
    dashboard_app.start();

