extends base


block header
  - with headerMessage='Group Details'
    include includes/header


block content

  #ner-group-home.container.content.my-3
    .row.justify-content-center
      .col-md-10
        h2.text-center {{ group.name }}
        p.lead #{group.description}

    .row.justify-content-center
      .col-md-5
        .card
          .card-header
            | Top doc set contributors:
          #group-contributors.card-block

      .col-md-5
        .card
          .card-header
            | Group Statistics
          #group-statistics.card-block

    #group-network-action-area.row.my-5


block post-footer
  script.
    var ner_group_app = new NERGroupPageView({'group_pk': #{group.pk}});
    ner_group_app.render();

