extends base

- load widget_tweaks
- load brabeion_tags
- load humanize
- load group


block header
  - with headerMessage='Doc Set Details'
    include includes/header


  <style>
  body {
  position: relative;
  font-family: "Helvetica Neue", sans-serif;
  width: 960px;
  margin: auto;
  margin-bottom: 1em;
  margin-top: 20px;
  }
  #presets a { border-left: solid #666 1px; padding: 0 10px; }
  #presets a.first { border-left: none; }
  #keyword { width: 300px; }
  #fetcher { width: 500px; }
  #keyword, #go { font-size: 1.5em; }
  #text { width: 100%; height: 100px; }
  p.copy { font-size: small; }
  #form { font-size: small; position: relative; }
  hr { border: none; border-bottom: solid #ccc 1px; }
  a.active { text-decoration: none; color: #000; font-weight: bold; cursor: text; }
  #angles line, #angles path, #angles circle { stroke: #666; }
  #angles text { fill: #333; }
  #angles path.drag { fill: #666; cursor: move; }
  #angles { text-align: center; margin: 0 auto; width: 350px; }
  #angles input, #max { width: 42px; }
  </style>

block content

  .container
    - if messages
      - for message in messages
        - if 'safe' in message.tags
          .row
            .col-xs-10.col-xs-offset-1
              div(class='{{ message.tags }}').alert
                {{ message|safe }}

  .container
    .row
      - if group.description
        .col-md-10.col-md-offset-1.m-t-md
          h2.text-center {{ group.name }}
          p.lead #{group.description}

          - if user.is_authenticated
            span
          - else
            - if group.enabled and group.percentage_complete < 100
              h4 This doc set needs your help. <a href='{% url "account_login" %}'>Please sign in here</a>.

        .col-md-10.col-md-offset-1.m-t-md
          - with progress=group.percentage_complete
            - if progress
              h4.progress-label Community progress on this set:

              progress(value="{{ progress }}", max="100").progress
                .progress
                  span(style="width: 25%;").progress-bar #{progress|floatformat:"2"}%


  #group-network.container-fluid
    .row
      .col-xs-4.col-xs-offset-4
        a
          h4.text-center Toggle Network <i class="fa fa-caret-down"></i>

    #network-row(style="height:800px;display:none;").row
      .col-xs-1
        .row
          .col-xs-12
            i.fa.fa-plus-circle
          .col-xs-12
            i.fa.fa-minus-circle
          .col-xs-12
            i.fa.fa-rotate-right
      .col-xs-11
        #network(style="height:800px;")

  .container
    .row
      .col-md-10.col-md-offset-1.m-t-md

        - if user.is_authenticated
          .container(style="padding-bottom: 20px")
            .row
              .col-md-10.col-md-offset-1
                #group-selection

        h5 top five doc set contributors:
        ul
          - for name in top_five
            li
              p {{ name }}

        h5 total number of doc set contributors:
        p {{ group.total_contributors }}

        h5 total docs in doc set:
        p {{ group.doc_count }}

        h5 current average f-score:
        p {{ group.current_avg_f|floatformat:3 }}

        h5 doc set start date:
        p {{ start_date }}

        h5 doc set end date:
        - if group.enabled
          p in progress
        - else
          p {{ end_date }}

        h5 total doc set annotations:
        p {{ group.total_annotation_count }}


        h5 top contributor word cloud:
        p
        <div id="vis"></div>
        <form id="form" style="display: none">
        <p id="status"></p>
        <div>
        <div id="presets"></div>
        <div id="custom-area">
        <p>
        <p><textarea id="text"> {{ username_list }}
        </textarea>
        <button id="go" type="submit"></button>
        </div>
        </div>
        <hr>
        <div>
        <p><input type="number" value="250" min="1" id="max">
        <p><input type="checkbox" id="per-line">
        <!--<p><label for="colours">colours:</label> <a href="#" id="random-palette">get random palette</a>-->
        <p>
        </div>
        <p>
        <input type="radio" name="spiral" id="archimedean" value="archimedean" checked="checked">
        <input type="radio" name="spiral" id="rectangular" value="rectangular">
        <p>
        <input type="radio" name="scale" id="scale-log" value="log" checked="checked">
        <p><input type="text" id="font" value="impact">
        <div id="angles">
        <p><input type="number" id="angle-count" value="30" min="1"> <label for="angle-count">orientations</label><input type="number" id="angle-from" value="-0" min="-0" max="0"> °
        <input type="number" id="angle-to" value="0" min="-0" max="0"> °
        </div>
        <hr>
        <p style="float: left">copyright &copy; <a href="http://www.jasondavies.com/">jason davies</a> | <a href="../privacy/">privacy policy</a>. the generated word clouds may be used for any purpose.
        </form>


block post-footer
    #fb-root
    <script id='quest-icon-template' type='text/template'>
    <div class='row'>
    <div class='col-xs-12 text-center'>
    <% if(d.progress.completed) { %>
    <span class='fa fa-certificate muted' title='The community has completed this Quest.'></span>
    <% } else if (d.user.completed) { %>
    <span class='fa fa-check' title='You have completed this Quest.'></span>
    <% } else if (!d.user.enabled) { %>
    <span class='fa fa-circle muted' title='This quest is not enabled.'></span>
    <% } else { %>
    <a href='/task/entity-recognition/quest/<%- d.id %>/' title='Click to start this quest!'><p style='font-size: 1.75em; line-height: 1.8em;'><%- d.name %></p></a>
    <% } %>
    </div>
    </div>
    <% if(d.user.enabled) { %>
    <div class='row'>
    <div class='col-xs-12' title='This quest is <%- Math.round(progress) %>% complete.'>
    <progress value='<%- progress %>' max='100' class='progress'>
    <div class='progress'><span style='width: <%- progress %>%;' class='progress-bar'><%- d.progress.current %> Completions</span></div>
    </progress>
    </div>
    </div>
    <% } %>
    </script>

    <script id='group-template' type='text/template'>
    <h3><%- name %></h3>
    <div id='group-<%- pk %>' class='row head-space paragraph-box'>
    <div class='col-xs-12 text-center'>
    <h2 class='quest-loading'>Loading...</h2>
    </div>
    </div>
    </script>

    script.
      $( document ).ready(function() {
          setTimeout(
            function()
            {
              $('#go').click();
            }, 5);
      });
      pk = #{group.pk};

    script(src='/static/js/pages/group_home.js')
    script(src='/static/js/tasks/cloud.js')
