extends base

block header
  .container-fluid
    .row
      .col-sm-6.col-sm-offset-3.col-xs-6.col-xs-offset-0
        h1.text-center
          a(href='{% url "common:home" %}') Mark2Cure

      - if not user.is_authenticated
        .col-sm-2
          a(data-toggle="modal", data-target="#login-modal").btn.btn-default.btn-inverse.pull-right.head-space Login
        include account/login-modal


block content
  .container-fluid.landing-container.img-focus
    .row.head-space
      .col-xs-10.col-xs-offset-1
        .row
          .col-sm-6.col-sm-offset-1
            p.lead
              | The search for cures for all diseases is limited
              | by the ability of scientists to consume and understand
              | the rapidly expanding ocean of biomedical literature.
              | The ability to read remains a uniquely human skill,
              | so we need your help. Are you ready to start?
          .col-sm-4.col-sm-offset-1
            p.p-start
              small.text-center
                | The first pilot project
                | is now complete. We'll let
                | you know when we launch again!

  .container-fluid.landing-container.head-space
    .row
      .col-xs-8.col-xs-offset-2
        .row
          .col-xs-6
            h3 The ability to READ remains a uniquely human skill
          .col-xs-6
            p
              | Scientists need your help. You can make it
              | easier for scientists to find the information
              | they need to discover cures faster.

        .row
          .col-xs-6
            p
              | You can fix it. The ability to READ remains
              | a uniquely human skill. You can help biomedical
              | researchers can find the information they need
              | to discover cures faster.

          .col-xs-6
            h3 Scientific Communication is Broken

        .row
          .col-xs-6
            h3 If you can READ, you can HELP.
          .col-xs-6
            p
              | The search for cures for all diseases is
              | limited by the ability of scientists to
              | consume and understand the rapidly expanding
              | ocean of biomedical literature.

