extends base

block header
  .container-fluid
    .row
      .col-sm-2.col-sm-offset-1.col-xs-5.col-xs-offset-1
        a(href='{% url "common:home" %}')
          img(src="#{STATIC_URL}images/mark2cure-highligher-icon.png", style="height: 50px; margin-top: 10px;").img-responsive.img-block

      .col-sm-6.col-xs-6
        h1.text-center
          a(href='{% url "common:home" %}') Mark2Cure

      - if not user.is_authenticated
        .col-sm-2
          a(data-toggle="modal", data-target="#login-modal").btn.btn-default.btn-inverse.pull-right.head-space Login
        include registration/login-modal


block content
  .container-fluid.landing-container.img-focus
    .row.head-space
      .col-xs-10.col-xs-offset-1
        .row
          .col-sm-6.col-sm-offset-1
            h2
              | Push research <em>forward</em> and discover cures <em>faster</em>.
            p.lead
              | Let's help scientists organize biomedical knowledge and uncover hidden links.
            h2
              | If you can <strong>READ</strong>, you can <strong>HELP</strong>
          .col-sm-4.col-sm-offset-1
            - if False
              a(href='{% url "training:introduction" %}').btn.btn-default.btn-start.btn-block Start Now
                br
                small (beta-experiment)
            - else
              p.p-start
                small.text-center
                  | Beta-experiment is complete!
                br
                sm.text-sub.text-center
                  | (<a href="http://sulab.org/2015/02/mark2cure-first-beta-experiment-is-complete-thank-you/" target="_blank">Learn More</a>)

              form(role="form", action="//sulab.us9.list-manage.com/subscribe/post?u=2db27f11f5080823831b926cb&amp;id=72c51afcdb", method="post", id="mc-embedded-subscribe-form", name="mc-embedded-subscribe-form").form-horizontal.p-start
                div(style="margin-bottom: 0px; margin-top: 6px;").form-group
                  .col-xs-12
                    .input-group
                      label Join our mailing list to be notified of our next experiment

                    .input-group
                      label(for="email_input Email address").sr-only
                      input(type="email", id="mce-EMAIL", name="EMAIL", placeholder="Email Address").form-control
                      .input-group-btn
                        button(type="submit").btn.btn-default Submit

  .container-fluid.landing-container.head-space
    .row
      .col-xs-8.col-xs-offset-2
        .row
          .col-xs-6
            .row.foot-space-xl
              .col-xs-12
                h3 Learn More
                .row
                  .col-xs-10.col-xs-offset-1
                    .embed-responsive.embed-responsive-16by9
                      iframe(class="embed-responsive-item", src="https://www.youtube-nocookie.com/embed/hT_pj1cB0Q8?rel=0&amp;showinfo=0", frameborder="0", allowfullscreen)

          .col-xs-6
            h3 Stay in touch
            .row
              .col-xs-12
                p We'll release our results on our <a href="http://sulab.org/category/mark2cure/", target="_blank">blog</a> so stay in touch!

            .row
              div(style="display:none;").col-xs-10.col-xs-offset-1.col-sm-8
                a(href="https://twitter.com/Mark2Cure", data-widget-id="568119691210547200", data-border-color="#7F3CFF", data-tweet-limit="3").twitter-timeline Tweets by @Mark2Cure
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

              .col-xs-10.col-xs-offset-1
                .row
                  .col-xs-10.col-xs-offset-1
                    ul.list-inline.text-center.head-space
                      li(style="margin-bottom: 6px;")
                        a(href="https://twitter.com/Mark2Cure", target="_blank").btn.btn-default
                          i.fa.fa-twitter-square.fa-2x.pull-left
                          | Follow us on Twitter

                      li(style="margin-bottom: 6px;")
                        a(title="Share on Facebook", href="https://www.facebook.com/pages/Mark2Cure/586806781439862", target="_blank").btn.btn-default
                          i.fa.fa-facebook-square.fa-2x.pull-left
                          | Like us on Facebook

                      li
                        a(title="Subscribe to our blog", href="http://sulab.org/category/mark2cure/", target="_blank").btn.btn-default
                          i.fa.fa-rss-square.fa-2x.pull-left
                          | Subscribe to our blog



        .row
          .col-xs-6
            h3 News
            ul.list-unstyled.news
              li
                p Feb 18, 2015 – <a href="http://sulab.org/2015/02/mark2cure-first-beta-experiment-is-complete-thank-you/">Mark2Cure First Beta Experiment is Complete!</a>
              li
                p Feb 13, 2015 – <a href="http://sulab.org/2015/02/were-almost-there-mark2cure-now-at-80-completion-of-the-beta-experiment/">We’re almost there! Mark2Cure now at 80%</a>
              li
                p Feb 10, 2015 – <a href="http://sulab.org/2015/02/why-do-people-mark2cure/">Why do people Mark2Cure?</a>
              li
                p Feb 6, 2015 – <a href="http://sulab.org/2015/02/the-mark2cure-beta-experiment-is-28-complete/">The Mark2Cure beta experiment is 28% complete!</a>

          .col-xs-6
            h3 I contribute
            .col-xs-12.head-space
              #carousel-testimonials(data-ride="carousel").carousel.slide
                div(role="listbox").carousel-inner
                  - for item in quotes
                    div(class="{% if forloop.counter0 = 0 %}active{% endif %}").item
                      blockquote
                        p #{item}


  hr
  .container-fluid.landing-container.head-space
    .row
      .col-xs-8.col-xs-offset-2
        .row
          .col-xs-6
            h3 The ability to READ remains a uniquely human skill
          .col-xs-6
            p
              | Scientists need your help. You can make it
              | easier for scientists to find the information
              | they need to discover cures faster.

        .row
          .col-xs-6
            p
              | You can fix it. The ability to READ remains
              | a uniquely human skill. You can help biomedical
              | researchers can find the information they need
              | to discover cures faster.

          .col-xs-6
            h3 Scientific Communication is Broken

        .row
          .col-xs-6
            h3 If you can READ, you can HELP.
          .col-xs-6
            p
              | The search for cures for all diseases is
              | limited by the ability of scientists to
              | consume and understand the rapidly expanding
              | ocean of biomedical literature.

