{% extends "base.html" %}

{% load widget_tweaks %}
{% load raven %}
{% load humanize %}

{% block header %}
{% include "includes/header-generic.html" %}
{% endblock %}

{% block content %}
<div id="homepage" class="content">
  <div id="bg-case-study">
    <div class="container">
      <div class="cta row justify-content-center">
        <div class="col-12 col-md-10">
          <h1 class="text-center">Bertrand  was the first case of <br class="hidden-xs-down"> NGLY1, but he is not alone.</h1>
          <div class="row justify-content-center">
            <div class="col-10 col-md-8 text-center">
              <p>NGLY1 Researchers are racing to find clues in biomedical literature and need your help to uncover hidden links. If you can read, you can help.</p>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-4 col-md-3 my-1"><a href="https://www.ngly1.org/" target="_blank" class="btn btn-block btn-white btn-outline">About NGLY1</a>
            </div>
            <div class="col-4"><a href="{% url "common:get-started" %}" style="font-size: 1.5em;" class="btn btn-block btn-white">Get Started</a>
            </div>
            <div class="col-4 col-md-3 my-1">
              <a id="watch-more-link" href="#watch-more" class="hidden-sm-down btn btn-block btn-white btn-outline"><i class="fa fa-play"></i> Watch Video</a>
              <a href="https://www.youtube.com/watch?v=uaD0-GTX0N8" class="hidden-md-up btn btn-block btn-white btn-outline"><i class="fa fa-play"></i> Watch Video</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cta-bar container-fluid">
      <div class="row">
        <div class="col">
          <p class="text-center"><a href="http://sulab.org/2015/09/please-help-now/" target="_blank"><span id='annotation-counter'></span> annotations have been submitted so far, but we’re not done! Your help is still needed… <span>Learn More <j class="fa fa-chevron-right"></span></a></p></a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="container-fluid sci-comm-cs">
    <div class="row"></div>
  </div>
  <div id="quest-explorer" class="container-fluid"></div>
  <div class="container py-4">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2>Scientific <span class="font-red text-uppercase">communication</span> is broken.</h2>
        <p class="medium">Scientific literature is growing at a rate of more than 2 new articles every single minute. It is impossible for scientists to consume and understand the rapidly expanding ocean of biomedical literature. You can help biomedical researchers find the information they need to discover cures faster.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8"><img href="#{STATIC_URL}images/landing/words.jpg" alt="" class="img-fluid"/>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row py-4">
      <div class="col text-center">
        <h2><span class="font-red text-uppercase">you</span> can fix it and help find cures.</h2>
        <p class="medium">The ability to read remains a uniquely human skill. Mark2Cure allows anyone that can read English, regardless of background, to help in the process of biomedical discovery. You can help them by identifying key pieces of information in scientific text to discover cures faster.</p>
      </div>
    </div>
    <div class="row justify-content-center my-2">
      <div class="col-6 col-lg-3 text-right"><img src="#{STATIC_URL}images/landing/ngly1-child.png" alt="" class="img-fluid"/>
      </div>
      <div class="col-6 col-lg-3">
        <p>It wasn't that long ago that all of our NGLY1 kids were undiagnosed and without hope. With your help and support, a diagnosis can be found much faster.</p> <p> <a href='http://ngly1.org' target='_blank' style="margin-top:35px;">Learn more at ngly1.org <i class="fa fa-chevron-right"></i></a></p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center my-4">
      <div id="watch-more" class="col-8">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/uaD0-GTX0N8" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </div>
      </div>
    </div>
    <div class="row justify-content-center my-4">
      <div class="col-6 text-center">
        <p class="m-0 font-purple">If you can read you can help.
        </p><a href="{% url "common:get-started" %}" class="btn btn-large btn-primary btn-lg">I want to help</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block post-footer %}
<script>
  var homepage_app = new HomePageView();
  homepage_app.render();
</script>
{% endblock %}
