extends base

- load widget_tweaks
- load raven
- load humanize

block header
  include includes/header-generic

block content
  #homepage.content
    #bg-case-study
      .container
        .cta.row.justify-content-center
          .col-12.col-md-10
            h1.text-center Bertrand  was the first case of <br class="hidden-xs-down"> NGLY1, but he is not alone.
            .row.justify-content-center
              .col-10.col-md-8.text-center
                p NGLY1 Researchers are racing to find clues in biomedical literature and need your help to uncover hidden links. If you can read, you can help.

            .row.justify-content-center
              .col-4.col-md-3.my-1
                a(href='https://www.ngly1.org/', target='_blank').btn.btn-block.btn-white.btn-outline About NGLY1

              .col-4
                a(href='{% url "common:get-started" %}', style="font-size: 1.5em;").btn.btn-block.btn-white Get Started

              .col-4.col-md-3.my-1
                a(href="#learnMore").hidden-sm-down
                  button.btn.btn-block.btn-white.btn-outline
                    <i class="fa fa-play"></i> Watch Video
                a(href="https://www.youtube.com/watch?v=uaD0-GTX0N8").hidden-md-up
                  button.btn.btn-block.btn-white.btn-outline
                    <i class="fa fa-play"></i> Watch Video

      .cta-bar.container-fluid
        .row
          .col
            p.text-center
              a(href='http://sulab.org/2015/09/please-help-now/', target='_blank')
                | <span id='annotation-counter'></span> annotations have been submitted so far, but we’re not done! Your help is still needed… <span>Learn More <j class="fa fa-chevron-right"></span></a></p>

    .clearfix

    .container-fluid.sci-comm-cs
      .row

    #quest-explorer.container-fluid


    .container.py-4
      .row.justify-content-center
        .col-12.text-center
          h2 Scientific <span class="font-red text-uppercase">communication</span> is broken.
          p.medium Scientific literature is growing at a rate of more than 2 new articles every single minute. It is impossible for scientists to consume and understand the rapidly expanding ocean of biomedical literature. You can help biomedical researchers find the information they need to discover cures faster.

      .row.justify-content-center
        .col-8
          img(src="#{STATIC_URL}images/landing/words.jpg", alt="").img-fluid

    .container
      .row.py-4
        .col.text-center
          h2 <span class="font-red text-uppercase">you</span> can fix it and help find cures.
          p.medium The ability to read remains a uniquely human skill. Mark2Cure allows anyone that can read English, regardless of background, to help in the process of biomedical discovery. You can help them by identifying key pieces of information in scientific text to discover cures faster.


      .row.justify-content-center.my-2
        .col-6.col-lg-3.text-right
          img(src="#{STATIC_URL}images/landing/ngly1-child.png", alt="").img-fluid

        .col-6.col-lg-3
          p It wasn't that long ago that all of our NGLY1 kids were undiagnosed and without hope. With your help and support, a diagnosis can be found much faster.</p> <p> <a href='http://ngly1.org' target='_blank' style="margin-top:35px;">Learn more at ngly1.org <i class="fa fa-chevron-right"></i></a>


    .container
      .row.justify-content-center.my-4
        #learnMore.col-8
          .embed-responsive.embed-responsive-16by9
            iframe(width="640", height="360", src="https://www.youtube.com/embed/uaD0-GTX0N8", frameborder="0", allowfullscreen)


      .row.justify-content-center.my-4
        .col-6.text-center
          p.m-0.font-purple
            | If you can read you can help.
          a(href='{% url "common:get-started" %}').btn.btn-large.btn-primary.btn-lg I want to help

    a#support-icon(data-toggle="modal", data-target="#support-modal")
      img(src='#{STATIC_URL}images/support-icon.png')

    #support-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            <h2 class="modal-title">Contact Support</h2>
            <h4>Stuck? Have a look at the <a data-dismiss="modal" data-toggle="modal" data-target="#instructionsModal">HELP page</a> for the current task, or write us a message and we will get back to as soon as possible.</h4>
            <h5 class="text-xs-center">Please include your email address so we can reply to your comment (or <a href="mailto:contact@mark2cure.org?Subject=Mark2Cure">email us directly</a>).</h5>

          .modal-body
            form(method="post", role='form', action="{% url 'common:support' %}").form-via-ajax
              - csrf_token
              - if request.user.is_authenticated
                input(type='hidden', name='user', value='{{user.pk}}')
              input(type='hidden', name='referral', value='{{request.path}}')
              .form-group
                label Message
                textarea(name='text').form-control
          .modal-footer
            button(type="button", data-dismiss="modal").btn.btn-default Cancel
            button(type="button").btn.btn-default.modal-form-submit Submit


block post-footer
  script.
    var homepage_app = new HomePageView();
    homepage_app.render();

