{% extends "base.html" %}

{% block header %}
{% with headerMessage='Zooniverse Login' %}
{% include "includes/header.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<div id="login-with-zooniverse" class="container-fluid">

  <div class="row my-5">
    <div class="col">
      <h2 class="text-center">Login with Zooniverse</h2>
      <p class="text-center">Use your Zooniverse account to login into Mark2Cure</p>
    </div>
  </div>

  <div class="row justify-content-center my-1">
    <div class="col-10">
      <div class="form-group my-1">
        <div class="row">
          <div class="col text-center">
            <input id="zooniverse-signin" type="submit" value="Login with Zooniverse" class="btn btn-primary center-block btn-blockextends"/>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block post-footer %}
<script>
  // Prepare Zooniverse OAuth login URL
  var oauthUrl = [
      'https://panoptes.zooniverse.org',
      '/oauth/authorize',
      '?response_type=token',
      '&client_id={{ zooniverse_app_id }}',
      '&redirect_uri={{ zooniverse_callback_url }}'
  ].join('');

  // Auto jump into auth
  window.location.href = oauthUrl;

  $('#zooniverse-signin').click(function (e) {
      e.preventDefault();

      // Redirect user to sign-in page, with the specified callback URL (that will receive the access token)
      window.location.href = oauthUrl;
  });
</script>
{% endblock %}
