- load humanize

block content
  .container
    .row
      .col-xs-8.col-xs-offset-2
        .row.alert.alert-info.alert-sticky.text-center
          h2 Congratulations you completed Quest #{task.name}

    .row
      .col-xs-10.col-xs-offset-1
        h2.text-center Bonus Points: #{task.points}

    .row.head-space
      .col-xs-6.col-xs-offset-3
        p.lead.text-center You've made a valuable and important contribution! Tell your friends about it now and help find cures faster.

    .row.foot-space-xl
      .col-xs-10.col-xs-offset-1.text-center
        a(href="https://twitter.com/intent/tweet?text=I just completed Quest {{task.name}} in %23Mark2Cure. Join me %26 help %23researchers find cures FASTER. If you can read, you can help http://mark2cure.org/").btn.btn-default
          i.fa.fa-twitter-square.fa-2x.pull-left
          | Tweet accomplishment!

    .row
      .col-xs-3.col-xs-offset-2
        a(href='/dashboard/').btn.btn-default.btn-block Go to dashboard
      .col-xs-3.col-xs-offset-2
        a(href='#', id='nextavailquest').btn.btn-default.btn-block Start next quest

  script.
    /* Rather than have a view to fetch the ramining quests, use the
    API and filter so we can on-click determine what quest the
    player should do next */
    update_score();

    $('#nextavailquest').on('click', function(evt) {
      evt.preventDefault();
      evt.stopPropagation();

      var ajax_settings = {
        'type': 'GET',
        'url': '/quest/api/read/',
        'success': function(data) {
          var set = _.filter(data, function(q) {
            return q.progress.completed == false && q.user.completed == false && q.user.enabled == true;
          });
          if(set.length) {
            window.location = '/quest/' + set[0].id;
          } else { window.location = '/dashboard/'; }
        }
      };
      $.ajax(ajax_settings);
    });


