extends base

block header
    - if user.is_authenticated
      include includes/header
    - else
      include includes/header-anon

block content
  .container.m-t-md
    .row
      .col-xs-offset-2.col-xs-8
        .row
          .col-xs-12
            .card
              .card-header.text-center
                h2.text-center Why do you Mark2Cure?
              .card-block
                .list-group
                  - for profile in profiles
                    .list-group-item
                      p.text-center #{profile.motivation}

