extends base


block header
  include includes/header-generic


block content
  .container.mt-1

    .row.justify-content-center
      .col-8
        .row
          .col-12
            .card
              .card-header.text-center
                h2.text-xs-center Why do you Mark2Cure?

              .card-block
                .list-group
                  - for profile in profiles
                    .list-group-item
                      p.text-center #{profile.motivation}

