extends base


block header
  include includes/header-generic


block content
  .container.m-t-1
    .row
      .col-xs-offset-2.col-xs-8
        .row
          .col-xs-12
            .card
              .card-header.text-xs-center
                h2.text-xs-center Why do you Mark2Cure?
              .card-block
                .list-group
                  - for profile in profiles
                    .list-group-item
                      p.text-xs-center #{profile.motivation}

