{% extends "base.jade" %}

{% load i18n %}

{% block head_title %}{% trans "Confirm Email" %}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row m-y-lg">
        <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4 text-center">

            <form method="post" action="{% url "account_confirm_email" key=confirmation.key %}">
                <legend>{% trans "Confirm Email" %}</legend>
                <fieldset>
                    {% csrf_token %}
                    <p>{% blocktrans with email=confirmation.email_address.email %}Confirm email address <b>{{ email }}</b>?{% endblocktrans %}</p>

                    <button type="submit" class="btn btn-primary">{% trans "Confirm" %}</button>
                </fieldset>
            </form>

        </div>
    </div>
  </div>
{% endblock %}
