{% extends "base.jade" %}

{% load i18n %}

{% block head_title %}{% trans "Set your new password" %}{% endblock %}

{% block content %}

  <div class="container signup-page onboard-forms">
    <div class="row m-y-lg">
        <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">

            <form method="POST" action="{% url "account_password_reset_token" uidb36=uidb36 token=token %}">
                <h1><legend>{% trans "Set your new password" %}</legend></h1>
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group email has-feedback required col-sm-12">
                            <span class="input input--hideo">
                                <input class="input__field input__field--hideo form-control" id="id_password" name="password" placeholder="Password" type="password">
                                <label for="" class="input__label input__label--hideo">
                                  <i class="fa fa-fw fa-lock icon icon--hideo"></i>
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group email has-feedback required col-sm-12">
                            <span class="input input--hideo">
                                <input class="input__field input__field--hideo form-control" id="id_password_confirm" name="password_confirm" placeholder="Password" type="password">
                                <label for="" class="input__label input__label--hideo">
                                  <i class="fa fa-fw fa-lock icon icon--hideo"></i>
                                </label>
                            </span>
                        </div>
                    </div>
                    <small><p class="text-muted">Please enter your password twice.</p></small>
                    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            </form>

        </div>
    </div>
  </div>
{% endblock %}
