{% extends "base.jade" %}

{% load i18n %}
{% load account_tags %}

{% block head_title %}{% trans "Password reset" %}{% endblock %}

{% user_display request.user as user_display %}

{% block content %}
  <div class="container password-reset-page onboard-forms">
    <div class="row m-y-lg">
        <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">

            <form method="POST" action="" >
                <legend>{% trans "Forgotten your password?" %}</legend>
                <p>{% trans "Enter your email address below, and we'll send you an email allowing you to reset it." %}</p>
                <fieldset class="row">
                    
                        {% csrf_token %}
                        <!-- {{ form }} -->

                        <div class="form-group email has-feedback required col-sm-12">
                            <span class="input input--hideo">
                                <input class="input__field input__field--hideo form-control" id="id_email" name="email" placeholder="Email" type="text" />
                                <label for="" class="input__label input__label--hideo">
                                  <i class="fa fa-fw fa-envelope icon icon--hideo"></i>
                                </label>
                            </span>
                            <button type="submit" class="btn btn-primary m-y-md">
                                {% trans "Reset my password" %}
                            </button>
                        </div>
                        
                </fieldset>
            </form>

            <hr>
             <p class="login-signup text-center">
                <small>
                   <a href="{% urlnext 'account_login' %}" class="text-muted"> {% trans "Login" %}</a>
                </small>
            </p>
<!-- 
          <p class="text-center">{% blocktrans %}If you have any trouble resetting your password, contact us at <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p> -->
        </div>
    </div>
  </div>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
