{% extends "base.jade" %}

{% load i18n %}
{% load account_tags %}

{% block head_title %}{% trans "Password reset sent" %}{% endblock %}

{% block content %}

  <div class="container">
    <div class="row m-y-lg">
        <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">

            <h1>{% trans "Check your e-mail for the confirmation link." %}</h1>
            {% if not resend %}
                <p>{% blocktrans %}We have sent you an email. If you do not receive it within a few minutes, try resending or contact us at <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
                <a href="{% urlnext 'account_login' %}" class=""> <button class="btn btn-primary">{% trans "Login" %}</button></a>
                <hr>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <form method="POST" action="{% url "account_password_reset" %}">
                            {% csrf_token %}
                            {% for field in form %}
                                {{ field.as_hidden }}
                            {% endfor %}
                            <p class="text-center text-muted">
                                <small>
                                    <button hrer="#" type="submit" name="resend" class="btn btn-link text-muted">{% trans "Resend email reset" %}</button>
                                </small>
                            </p>
                        </form>
                    </div>
                </div>
            {% else %}
                <p>{% blocktrans %}We have resent the password email. If you do not receive it within a few minutes, contact us at <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
            {% endif %}

        </div>
    </div>
  </div>

{% endblock %}
