{% extends "base.jade" %}

{% load i18n %}
{% load as_vertical_form from bootstrap %}

{% block body_class %}account account-settings{% endblock %}

{% block head_title %}{% trans "Account" %}{% endblock %}

{% block content %}
  <div class="container">
      <div class="row m-y-lg">

          {% include "userprofile/account_sidebar.jade" %}

          <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-0">

            <div class="card">
              <div class="card-header">Account Settings</div>
              <div class="card-block">

                  <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                      <form method="POST" action="{% url "account_settings" %}">
                          {% csrf_token %}
                          {{ form|as_vertical_form }}
                          <button class="btn btn-primary btn-block" type="submit">{% trans "Save" %}</button>
                      </form>
                    </div>
                  </div>
                  <div class="row m-t-lg">
                    <div class="col-xs-8 col-xs-offset-2">
                      <form method="POST" action="{% url "account_logout" %}">
                          <legend>{% trans "Log out" %}</legend>
                          <fieldset>
                              {% csrf_token %}
                              <p>{% trans "Are you sure you want to log out?" %}</p>
                              <button type="submit" class="btn btn-primary btn-block">{% trans "Log out" %}</button>
                          </fieldset>
                      </form>
                    </div>
                  </div>


              </div>
            </div>
          </div>


      </div>
  </div>
{% endblock %}
