extends base

block header
  - with headerMessage='Relation Module'
    include includes/header


block content
  .container

    block intro-content
      .row.m-t-1
        .col-xs-12
          p Help researchers understand how different things in biomedical text are related.  
          p Let’s start by learning how the interface for this module works. Click 'start now.'

    block interactive



    block navigation
      .row.m-t-1
        .col-xs-12.text-xs-center
          a(href='{% url "training:relation-training" part_num=1 step_num=2 %}').btn.btn-primary Start Now

