extends training/relation/part-1/base

block intro-content
  .row.m-t-md
    .col-xs-12
      p.text-muted There are many different kinds of concepts in biomedical text. With the concept recognition task, you identify and tag concepts like genes, disease, and treatments in biomedical abstracts. Concepts in the same abstract may be related--but are they really? If they are, how are they related?  Learn how to use the relationship extraction tool to annotate the relationship between genes, diseases, and treatments in biomedical text and earn your Relationship Marking Skill. 
      p.text-muted You will be presented with two concepts identified by an algorithm
      p
        strong Sometimes the algorithm will misidentify a concept


block navigation

  .row.m-t-md
    .col-xs-12.text-center
      a(id='next-button', style='display: none;', href='{% url "training:relation-training" part_num=1 step_num=4 %}').btn.btn-primary Submit


block interactive

  #tree-insert

  script.
    relation_task_settings = {};
    relation_task_settings['data'] = {{ relation_data|safe }};

    task_data = [{
      "id": 0,
      "document": 0,
      "relation_type": "c_d",
      "concepts": {
        "c2": {
          "text": "Astrology",
          "type": "d",
          "id": "0"
        },
        "c1": {
          "text": "Citizen Scientists",
          "type": "c",
          "id": "0"
        }
      },
      "user_completed": false
    }];


block post-footer
  <script type="html/template" id="tree-template">
  <div id="tree" class="row text-center">

  <div class="concept col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-3" id="c1">
  <i id="c1_not_correct" class="fa fa-times-circle"></i>
  <h3><%= c1.text %></h3>
  <p class="not_correct_stype"></p>
  </div>

  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-6" style="padding-bottom:10px; padding-top:10px;">
  <h3 id="relation" class="disabled">Select a Relationship below...</h3>
  <ul class="list-group"></ul>
  </div>

  <div class="concept col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-3" id="c2">
  <i id="c2_not_correct" class="fa fa-times-circle"></i>
  <h3><%= c2.text %></h3>
  <p class="not_correct_stype"></p>
  </div>

  </script>



  script(src="/static/js/libs/tree.js")
  script(src="/static/js/tasks/relation-training.js")

  script.

    /* (TODO) work for incorrects
    * When an item is selected */
    Tree['convoChannel'].on('click', function(obj) {
      console.log('asdf');
      var current_selection = Tree.start.currentView.options.choice;
      if(current_selection.get('id') == 'RdKIrcaEOnM4DRk25g5jAfeNC6HSpsFZaiIPqZer') {
        $('#next-button').show();
      };
    });

    $el = $('#c2');
    $el.popover('hide');
    $el.popover({
      container: 'body',
      html: true,
      animation: false,
      content: function() {
        return 'Astrology is NOT actually a field of science.<br /> <strong>Click the <i class="fa fa-times-circle"></i> to report the error</strong>';
      },
      placement: 'top'
    });
    $el.popover('show');

    var passages, regions, tmp_passages;

    /* When an item is selected */
    Tree['convoChannel'].on('error', function(str) {
      if(str == 'c_2') {
        $('#next-button').show();

        $('.popover').popover('dispose');
        $next_el = $('#next-button');
        $next_el.popover('hide');
        $next_el.popover({
          container: 'body',
          html: true,
          animation: false,
          content: function() {
            return 'Click submit to confirm that you are reporting an error';
          },
          placement: 'right'
        });
        $next_el.popover('show');

      };
    });

