  script.
    var event_counter = 0;
    var back_flag = false;
    var reln_placement_spot = 'left';

    /* instruct users to use back button for better answer */
    /* hide next button, hide misc popovers and make helper popover appear*/
    function better_answer() {
      $('.popover').popover('dispose');
      $('#next-button').hide();
      $relation_el = $('#relation');
      $relation_el.popover({
        container: 'body',
        html: true,
        animation: false,
        content: function() {
          return 'There is a better answer. Try again!';
        },
        placement: 'top'
      });
      $relation_el.popover('show');
    };

    /* When incorrect concepts are selected but it's not time to report errors */
    Tree['convoChannel'].on('error', function(str) {
      if(str == 'c_2' || str == 'c_1') {
        better_answer();
      }
    });

    Tree['convoChannel'].on('start', function(obj) {
      if(event_counter==0) {
        $relates_el = $('ul.list-group a:nth(0)');
        $relates_el.popover({
          container: 'body',
          html: true,
          animation: false,
          content: function() {
            return 'Click on the \'relates to\' box';
          },
          placement: reln_placement_spot
        });
        $relates_el.popover('show');
      }
      event_counter++;
    });

    Tree['convoChannel'].on('back', function(obj) {
      if(obj.choice) {
        $('.popover').popover('dispose');
        $relates_el = $('ul.list-group a:nth(0)');
        $relates_el.popover({
          container: 'body',
          html: true,
          animation: false,
          content: function() {
            return 'Once again, click on the \'relates to\' box';
          },
          placement: reln_placement_spot
        });
        $relates_el.popover('show');
      }
    });

    var user_arr = [];
    var ideal_arr = [];

    function validate_arr(ideal_arr, user_arr) {
      if (ideal_arr === user_arr)
        return true;
      if (ideal_arr == null || user_arr == null)
        return false;
      if (ideal_arr.length != user_arr.length)
        return false;
      for (var i = 0; i < ideal_arr.length; ++i) {
        if (ideal_arr[i] !== user_arr[i]) return false;
      }
      return true;
    }

    /* When an item is selected */
    Tree['convoChannel'].on('click', function(obj) {
      var current_selection = Tree.start.currentView.options.choice;
      user_arr.push(current_selection.get('id'));

      Tree['convoChannel'].on('back', function() {
        user_arr = [];
      });

      if(current_selection.get('id') == 'qq84lkjfh46gmx4a9n1jpwxwrmbajsy1qctb9u8j') {
        $('.popover').popover('dispose');

        if (back_flag == false && validate_arr(['qq84lkjfh46gmx4a9n1jpwxwrmbajsy1qctb9u8j'], user_arr)) {
          back_flag = true;
          $relation_el = $('#relation');
          $relation_el.popover({
            container: 'body',
            html: true,
            animation: false,
            content: function() { return 'In this case, \'Relates to\' has been selected. <strong>Click on the term \'Relates to\' to return to the previous menu.'; },
            placement: 'top'
          });
          $relation_el.popover('show');
        }

        else if (event_counter >= 3 && validate_arr(['qq84lkjfh46gmx4a9n1jpwxwrmbajsy1qctb9u8j'], user_arr)) {
          if (back_flag == true) {
            $relation_el = $('#relation');
            $relation_el.popover('dispose');
          };
          $('#next-button').show();

          $next_el = $('#next-button');
          $next_el.popover('hide');
          $next_el.popover({
            container: 'body',
            html: true,
            animation: false,
            content: function() { return 'Click \'submit\' to submit to confirm your selection'; },
            placement: 'bottom'
          });
          $next_el.popover('show');
        }

      } else {
        better_answer();
      }
    });
