extends training/relation/part-1/base

block intro-content
  .row.m-t-md
    .col-xs-12
      p.text-muted There are many different kinds of concepts in biomedical text. With the concept recognition task, you identify and tag concepts like genes, disease, and treatments in biomedical abstracts. Concepts in the same abstract may be related--but are they really? If they are, how are they related?  Learn how to use the relationship extraction tool to annotate the relationship between genes, diseases, and treatments in biomedical text and earn your Relationship Marking Skill. 

    .col-xs-12.text-center
      p
        strong You will be presented with two concepts identified by an algorithm


block navigation

  .row.m-t-md
    .col-xs-12.text-center
      a(id='next-button', href='{% url "training:relation-training" part_num=1 step_num=3 %}').btn.btn-primary Next


block interactive

  #tree-insert


  script.
    relation_task_settings = {};
    relation_task_settings['data'] = {{ relation_data|safe }};
    relation_task_settings['fade'] = true;

    task_data = [{
      "id": 0,
      "document": 0,
      "relation_type": "g_d",
      "concepts": {
        "c2": {
          "text": "Alzheimer's disease",
          "type": "d",
          "id": "0"
        },
        "c1": {
          "text": "Fbs1",
          "type": "g",
          "id": "0"
        }
      },
      "user_completed": false
    }];


block post-footer
  <script type="html/template" id="tree-template">
  <div id="tree" class="row text-center">

  <div class="concept col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-3" id="c1">
  <i id="c1_not_correct" class="fa fa-times-circle"></i>
  <h3><%= c1.text %></h3>
  <p class="not_correct_stype"></p>
  </div>

  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-6" style="padding-bottom:10px; padding-top:10px;">
  <h3 id="relation" class="disabled">Select a Relationship below...</h3>
  <ul class="list-group"></ul>
  </div>

  <div class="concept col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-3" id="c2">
  <i id="c2_not_correct" class="fa fa-times-circle"></i>
  <h3><%= c2.text %></h3>
  <p class="not_correct_stype"></p>
  </div>

  </script>



  script(src="/static/js/libs/tree.js")
  script(src="/static/js/tasks/relation-training.js")

  script.

    $el = $('#c1');
    $el.popover('hide');
    $el.popover({
      container: 'body',
      html: true,
      animation: false,
      content: function() {
          return 'Concepts in green are Genes or Gene Products';
      },
      placement: 'top'
    });
    $el.popover('show');

    $el2 = $('#c2');
    $el2.popover('hide');
    $el2.popover({
      container: 'body',
      html: true,
      animation: false,
      content: function() {
          return 'Concepts in blue are disease concepts';
      },
      placement: 'top'
    });
    $el2.popover('show');

