.modal-content
  .modal-body

    ul class="nav nav-tabs" id="myTab
      li
        a(href="#why")
          | Why
      li
        a(href="#how")
          | How
      li
        a(href="#who")
          | Who

    .tab-content

      #why.tab-pane.active
        img(src="/img/mark2cure.png").img-rounded.logo
        p.lead
          | <strong>Scientific communication is broken.</strong>
        p
          | Progress in science is all about slowly and incrementally building off of the work of others. <strong>Currently</strong>, it takes far too long for one scientist's work to reach all the other scientists that would benefit. <strong>Mark2Cure will make scientific communication more efficient for everyone.</strong>

      #how.tab-pane"
        p.lead
          | How does it work? <strong>Simply highlight words that are diseases. That's it!</strong>
        img(src="/img/highlighting.gif").img-rounded

      #who.tab-pane
        form.form-horizontal
          legend
            | Who are you?

          .form-group
            label.col-lg-2.control-label
              | Experience Level
            .col-lg-5
              select#experience.form-control
                - for kind, i in ['Bio-Medical Scientist', 'Patient Advocate', 'Non-expert']:
                  option(value="{{ i }}")
                    | {{ kind }}

          .form-group
            label.col-lg-2.control-label
              | Username
            .col-lg-5
              input#user-name(type="text", title="Username", value="{{user.username}}", required).form-control

          .form-group
            .col-lg-offset-2.col-lg-3
              button(type="submit").btn.btn-default
                | Start!
