hr

.container
  .row
    .col-xs-12.line

    .col-md-12
      p.text-center Stay Connected
    .col-md-12
      .line-text
        a(href='https://twitter.com/share', data-url='http://mark2cure.org', data-text='Help fix scientific communication!', data-hashtags='mark2cure', data-dnt='true Tweet').twitter-share-button
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    .col-md-12
      div(data-href='http://mark2cure.org/', data-width='450', data-layout='button_count', data-show-faces='true', data-send='true').fb-like

       .row
    .col-sm-12
      ul.list-inline.text-center
        li
          p
            a(href="/about/") About Mark2Cure
        li
          p
            a(href='/help/') Help / FAQ

        li
          p
            a(href='/blog/') Blog / News

        li
          p
            a(href='/tos/') Terms of Service / Privacy Policy

