.container
  .row
    .col-md-4.col-md-offset-1
      p
        a(href="http://sulab.org")
          span.pink
            | The Su Laboratory
      p
        | Project Team: <a href="https://twitter.com/x0xMaximus" target="_blank">Max Nanis</a>, <a href="https://twitter.com/bgood" target="_blank">Ben Good</a>, <a href="https://twitter.com/andrewsu" target="_blank">Andrew Su</a></p>

      p
        | An <a href="https://bitbucket.org/sulab/mark2cure"><span class="pink">Open Source</span></a> Project

    .col-md-3.col-md-offset-2
      p
        a(href="http://www.scripps.edu/")
          | The Scripps Research Institute
      p
        | 10550 North Torrey Pines Road
      p
        | La Jolla, CA 92037
