- if user.profile.mturk != True
  #footer.container.head-space-xl
    .row
      .col-sm-4.col-sm-offset-1
        p
          a(href="http://sulab.org", target="_blank")
            span
              | The Su Laboratory
        p
          | Project Team: <a href="https://twitter.com/x0xMaximus" target="_blank">Max Nanis</a>, <a href="https://twitter.com/bgood" target="_blank">Ben Good</a>, <a href="https://twitter.com/andrewsu" target="_blank">Andrew Su</a></p>

        p
          | An <a href="https://bitbucket.org/sulab/mark2cure" target="_blank"><span>Open Source</span></a> Project

      .col-sm-3.col-sm-offset-2
        p
          a(href="http://www.scripps.edu/", target="blank")
            | The Scripps Research Institute
        p
          | 10550 North Torrey Pines Road
        p
          | La Jolla, CA 92037
