<footer class="footer">
  <div class="container-fluid">
    <div class="row justify-content-between">
      <div class="col-md-6 col-lg-5 col-xl-4">
        <div class="list-group p-4"><a href="/about/" class="list-group-item list-group-item-action">
            <p>About Mark2Cure</p></a><a href="/faq/" class="list-group-item list-group-item-action">
            <p>FAQ</p></a><a href="/contact/" class="list-group-item list-group-item-action">
            <p>Help / Contact</p></a><a href="/tos/" class="list-group-item list-group-item-action">
            <p>Terms of Service / Privacy Policy</p></a>
        </div>
      </div>
      <div class="col-sm-4 col-2 hidden-sm-down text-center">
        <img src="/static/images/landing/mark2cure-flatbox-logo-white.png" class="img-fluid p-4"/>
      </div>
    </div>
  </div>
</footer>
