#footer.container-fluid
  .row.justify-content-between
    .col-4
      // ul.list-inline
      //   li.list-inline-item
      //     a(href='mailto:contact@mark2cure.org?subject=hello')
      //       i.fa.fa-envelope.fa-2x
      //   li.list-inline-item
      //     a(href='https://www.facebook.com/pages/Mark2Cure/586806781439862', target='_blank')
      //       i.fa.fa-facebook-square.fa-2x
      //   li.list-inline-item
      //     a(href='https://twitter.com/share', data-url='http://mark2cure.org', data-text='Help fix scientific communication!', data-hashtags='mark2cure', data-dnt='true Tweet').twitter-share-button
      //     <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      // div(data-href='http://mark2cure.org/', data-width='450', data-layout='button_count', data-show-faces='true', data-send='true').fb-like

      .list-group.p-4
        a(href='/about/').list-group-item.list-group-item-action
          p About Mark2Cure
        a(href='/faq/').list-group-item.list-group-item-action
          p FAQ
        a(href='/contact/').list-group-item.list-group-item-action
          p Help / Contact
        a(href='/tos/').list-group-item.list-group-item-action
          p Terms of Service / Privacy Policy

    .col-2.text-center
      img(src='/static/images/landing/mark2cure-flatbox-logo-white.png').img-fluid.p-4

