nav(role='navigation').navbar.navbar-default.navbar-static-top
  .container-fluid
    .row
      .col-sm-3
        h1
          a(href='/') Mark2Cure

      .col-sm-6
        h2.text-center #{headerMessage}

      .col-sm-3
        #example-foo-collapse-1.collapse.navbar-collapse
          .row
            .col-xs-6
              .row
                .col-xs-12
                  p {{user}}
                .col-xs-12
                  img(src='{{user.profile.country.flag}}')
            .col-xs-6
              .row
                .col-xs-12
                  p
                    a(href='/account/settings/') Settings
                .col-xs-12
                  p
                    a(href='/account/logout/') Logout


    .row
      button(type='button', data-toggle='collapse', data-target='#example-foo-collapse-1').navbar-toggle
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
