- load humanize

nav#header(role='navigation').navbar.navbar-default
  .row
    .col-xs-10.col-xs-offset-1.col-md-3.col-md-offset-0
      a(href='{% url "common:home" %}')
        h1 Mark2Cure

    .col-xs-10.col-xs-offset-1.col-md-6.col-md-offset-0
      h2.text-center #{headerMessage}

    .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-3.col-md-3.col-md-offset-0
      #site-nav.collapse.navbar-toggleable-xs
        .row
          .col-xs-6.col-sm-7
            ul.list-unstyled.user-info
              li
                p {{user}}
              li
                a(data-toggle="modal", data-target="#relationshipInstructionsModal", style="cursor:pointer;")
                  p Instructions

          .col-xs-6.col-sm-5
            ul.list-unstyled.site-links
              li
                a(href='{% url "profile:public-profile" username=user.username %}')
                  p Profile


  .row
    .col-xs-10.col-xs-offset-1
      button#expand-content(data-toggle='collapse', data-target='#site-nav').btn-block.navbar-toggler.hidden-sm-up
        h4 EXPAND


include instructions/relation-instructions-modal
include instructions/concept-definitions-relation-modal
include instructions/disease-definitions-relation-modal
include instructions/gene-definitions-relation-modal
include instructions/drug-definitions-relation-modal
