
nav#header(role='navigation').navbar.navbar-default
  .row
    .col-xs-10.col-xs-offset-1.col-md-3.col-md-offset-0
      a(href='{% url "common:home" %}')
        h1 Mark2Cure

    .col-xs-10.col-xs-offset-1.col-md-6.col-md-offset-0
      h2.text-center #{headerMessage}

    .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-3.col-md-3.col-md-offset-0

        h4.text-center
          a(href='/registration/login/') Sign in
        h4.text-center
          a(href='/training/basics/step/1/') or get started!