extends includes/header


block header-instructions
  li
    a(data-toggle="modal", data-target="#instructionsModal", style="cursor:pointer")
      p Instructions
  include instructions/multi-concept-instructions-modal
