{% load humanize %}
{% load static %}

<nav id="header" role="navigation" class="navbar navbar-default">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 col-xl-7">
      <div class="row justify-content-between">

        <div class="col-2">
          <a href="{% url "common:dashboard" %}" class="navbar-brand">
            <img src="{% static 'images/landing/mark2cure-flatbox-logo.png' %}" alt="Mark2Cure" />
          </a>
        </div>

        {% if user.is_authenticated %}

        <div class="hidden-xs-down col-sm-4 col-md-8">
          <h1 class="text-center text-md-center my-3">{{headerMessage|escape}}</h1>
        </div>
        <div class="col-10 col-sm-4 col-md-2 text-right text-md-left">
          <a href="{% url "profile:public-profile" username=user.username %}" class="box-outline text-right my-2">
            <p class="m-0">{{user}}</p>
          </a>
        </div>

        {% else %}

        <div class="col-8">
          <h1 class="text-right text-md-center mb-0 py-2 py-md-3">{{headerMessage|escape}}</h1>
        </div>

        {% endif %}

      </div>
    </div>
  </div>
</nav>
