nav(role='navigation').navbar.navbar-default.navbar-static-top
  .container-fluid
    .row
      .col-sm-3
        h1
          a(href='/index/') Mark2Cure

      .col-sm-6
        h2.text-center #{headerMessage}

      .col-sm-3
        #example-foo-collapse-1.collapse.navbar-collapse
          .row.head-space
            .col-xs-6
            .col-xs-6

    .row
      button(type='button', data-toggle='collapse', data-target='#example-foo-collapse-1').navbar-toggle
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
