- if user.is_authenticated
  #header-links.row
    .col-xs-6.col-sm-7
      ul.list-unstyled.user-info
        li
          a(href='{% url "profile:public-profile" username=user.username %}')
            p {{user}}

    .col-xs-6.col-sm-5
      ul.list-unstyled.site-links
        - if user.profile.unlocked_tasks|length > 1
            li
              a(href='{% url "talk:recent" %}')
                p Talk Pages

        block header-instructions
          li
            a(href='{% url "instructions:home" %}')
              p Instructions
- else
  #header-links.row
    .col-xs-6.col-xs-offset-6.col-sm-5.col-sm-offset-7
      ul.list-unstyled.site-links
        li
          a(href='{% url "account_login" %}')
            p Login

        li
          a(href='{% url "common:get-started" %}')
            p Get Started

