nav(role='navigation').navbar.navbar-default.navbar-static-top
  .container-fluid
    .navbar-header
      button(type='button', data-toggle='collapse', data-target='#example-foo-collapse-1').navbar-toggle
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

      a(href='/').navbar-brand Mark2Cure

    #example-foo-collapse-1.collapse.navbar-collapse
      .nav.navbar-nav
        h2.navbar-text #{headerMessage}

      ul.nav.navbar-nav.navbar-right
        li
          ol
            li
              p Hello!
            li
              img(src='#')

        li
          ol
            li
            li


