extends includes/header


block header-instructions
  li
    a(data-toggle="modal", data-target="#relationshipInstructionsModal", style="cursor:pointer;")
      p Instructions


include instructions/relation-instructions-modal
include instructions/concept-definitions-relation-modal
include instructions/disease-definitions-relation-modal
include instructions/gene-definitions-relation-modal
include instructions/drug-definitions-relation-modal
