header(class="navbar navbar-inverse navbar-fixed-top bs-docs-nav", role="banner")
  .container

  .navbar-header
    button(type="button", data-toggle="collapse", data-target="bs-navbar-collapse").navbar-toggle
    span.sr-only
      p
        | Toggle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar

    a.navbar-brand(href="#/")
      | Mark2Cure

  nav(role="navigation").collapse.navbar-collapse.bs-navbar-collapse
    ul.nav.navbar-nav
      //- if collection.completed().length ) { %>
      - if user
        li.dropdown
          a(href="#", data-toggle="user-feedback-dropdown").dropdown-toggle
            | Feedback <b class="caret"></b>

          ul#user-feedback-dropdown.dropdown-menu
            li
              a(href="#/message")
                | Message
            li
              a(href="#/survey")
                | Survey

        li
          a(href="#").network
            img(src="#{STATIC_URL}images/network_icon.png")
      - else
        li
          a(href="#/instructions")
            | Instructions

      - if user
        li.dropdown
          a(href="#", data-toggle="user-account-dropdown").dropdown-toggle
            | {{user.username}} <b class="caret"></b>
        ul#user-account-dropdown.dropdown-menu
          li
            a(href="#/settings")
              | Settings
          li
            a(href="/account/logout")
              | Logout
          li.divider
          li
            a(href="#/instructions")
              | Instructions
