.row
  .col-md-4.col-md-offset-1
    button(id="instructions_toggle").btn.btn-success
      | Instructions

  div(id="instructions", style="display:none;").col-md-10.col-md-offset-1.well.head-space
    p
      | <strong>Task:</strong> You will be presented with text from the biomedical literature which we believe may help resolve some important medical related questions. The task is to highlight words and phrases in that text which are <u>diseases</u>, <u>disease groups</u>, or <u>symptoms</u> of diseases.  <u>This work will help advance research in cancer and many other diseases</u>!

    p
      strong
        | Here are some examples of correctly highlighted text.  Please study these before attempting to take the qualification test.  Please also feel free to refer back to these examples if you are uncertain.

    h4
      | Instructions (Click to highlight single words or click and drag spans of text)

    div#accordion.bottom-space.panel-group

      .panel.panel-default
        .panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapseOne")
              strong
                | Highlight <u>all</u> diseases and disease abbreviations
        #collapseOne.panel-collapse.collapse.in
          .panel-body
            img(src="/img/experiment/3/instructions/1.gif").img-rounded

      .panel.panel-default
        .panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapseTwo")
              strong
                | Highlight the longest span of text specific to a disease
        #collapseTwo.panel-collapse.collapse
          .panel-body
            img(src="/img/experiment/3/instructions/2.gif").img-rounded

      .panel.panel-default
        .panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapseThree")
              strong
                | Highlight disease conjunctions as single, long spans.
        #collapseThree.panel-collapse.collapse
          .panel-body
            img(src="/img/experiment/3/instructions/3.gif").img-rounded

      .panel.panel-default
        .panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapseFour")
              strong
                | Highlight symptoms - physical results of having a disease
        #collapseFour.panel-collapse.collapse
          .panel-body
            img(src="/img/experiment/3/instructions/4.gif").img-rounded

      .panel.panel-default
        .panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapseFive")
              strong
                | Highlight <u>all</u> occurrences of disease terms
        #collapseFive.panel-collapse.collapse
          .panel-body
            img(src="/img/experiment/3/instructions/5.gif").img-rounded

      .panel.panel-default
        .panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapseSix")
              strong
                | Highlight <u>all</u> diseases, disease groups and key disease symptoms
        #collapseSix.panel-collapse.collapse
          .panel-body
            img(src="/img/experiment/3/instructions/6.gif").img-rounded
