.modal-content
  a(href="#").close-btn
    | &times;

  .modal-header
    h3
      | Want to send a note to the developers?

  .modal-body
    form.form-horizontal.col-md-5
      .form-group
        .col-lg-12
          textarea#new_message(name="new_message", placeholder="Type in your message", rows="5").form-control

  .modal-footer
    button(type="submit").btn.btn-success
      | Post New Message
