div(id="myModal", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").modal.fade
  .modal-dialog
    .modal-content
      a(data-dismiss="modal").close-btn
        | &times;

      .modal-header
        h3
          | Want to send a note to the developers?

      .modal-body
        form(action="/message/", method="post")
          {% csrf_token %}
          .form-group
            .col-lg-12
              textarea#new_message(name="message", placeholder="Type in your message", rows="5").form-control

          .form-group
            button(type="submit").btn.btn-success
              | Post New Message

      .modal-footer
        button(data-dismiss="modal").btn.btn-warning
          | Close

script.
  $("#myModal").bind('submit', function(evt) {
    evt.preventDefault()
    $.post( '/message/',
            $.extend({'csrfmiddlewaretoken': '{{ csrf_token }}'}, { 'message' : $('textarea#new_message').val() }),
            function() {
              $('textarea#new_message').val('');
              $("#myModal").modal('hide');
              }
      );
  })
