.modal-content
  a(href="#").close-btn
    | &times;

  .modal-header
    h2.panel
      | Account Settings

  .modal-body
    form.form-horizontal.col-md-5
      .form-group
        label.col-lg-2.control-label
          | Experience Level
        .col-lg-5
          select#user-experience.form-control
            - for kind, i in ['Bio-Medical Scientist', 'Patient Advocate', 'Non-expert']:
              option(value="{{ i }}")
                | {{ kind }}

      .form-group
        label.col-lg-2.control-label
          | Username
        .col-lg-5
          input#user-username(type="text", title="Username", value="{{ user.username }}", required).form-control

      .form-group
        label.col-lg-2.control-label
          | Email
        .col-lg-5
          input#user-email(type="text", title="Email", value="{{ user.email }}" required).form-control

      .checkbox
        .label
          input#advance(type="checkbox")
            // <%= user.get('advance') ? 'checked' : '' %>)
            |Advanced Control

  .modal-footer
    button.btn.btn-success
      | Save
