.modal-content
  a(href="#").close-btn
    | &times;

  .modal-header
    h2.panel
      | Account Settings


  .modal-body
    form.form-horizontal.col-md-5
      .form-group
        label.col-lg-2.control-label
          | Experience Level
        .col-lg-5
          select#user-experience.form-control
            <% _.each(['Bio-Medical Scientist', 'Patient Advocate', 'Non-expert'], function(kind, i) { %>
              <option value="<%= i %>" <%= experience == i ? 'selected' : '' %>><%= kind %></option>
            <% }) %>
          </select>
        </div>
      </div>

      .form-group
        label.col-lg-2.control-label
          | Username
        .col-lg-5
          input#user-username(type="text" title="Username" value="<%= username %>" required).form-control

      .form-group
        label.col-lg-2.control-label
          | Email
        .col-lg-5
          input#user-email(type="text", title="Email", value="<%= email %>" required).form-control

      .checkbox
        .label
          input#advance(type="checkbox", <%= user.get('advance') ? 'checked' : '' %>)
            |Advanced Control

  .modal-footer
    button.btn.btn-success
      | Save
