.modal-content
  a(href="#").close-btn
    | &times;

  .modal-header
    h3
      | How did you feel about Mark2Cure?

  .modal-body
    .row
      <% _.each(questions, function(question, question_i) { %>
        .col-md-6
          <h5><%= question %>:</h5>
          <select name="<%= question_i %>" class="form-control
            <% _.each(['Strongly Disagree', 'Disagree', 'Neutral', 'Agree', 'Strongly Agree'], function(option, option_i) { %>
              <option value="<%= option_i %>" <%= user.get('feedback_'+question_i) === option_i ? 'selected' : '' %> ><%= option %></option>

  .modal-footer
    button(type="button").btn.btn-success.close-btn
      | Done
