div(id="surveyModal", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").modal.fade
  .modal-dialog
    .modal-content
      a(data-dismiss="modal").close-btn
        | &times;

      .modal-header
        h3
          | How did you feel about Mark2Cure?

      .modal-body
        .row
          h3
            | Answer stuff here!

      .modal-footer
        button(data-dismiss="modal").btn.btn-warning
          | Close

script.
  $("#surveyModal").bind('submit', function(evt) {
    evt.preventDefault()
    $.post( '/message/',
            $.extend({'csrfmiddlewaretoken': '{{ csrf_token }}'}, { 'message' : $('textarea#new_message').val() }),
            function() {
              $('textarea#new_message').val('');
              $("#surveyModal").modal('hide');
              }
      );
  });

