body {
  background: url('/img/background_blur.jpg') no-repeat #f0f0ed;
}

.jumbotron {
  margin-top: 40px;
  background-color: #fff;
  background-color: rgba(238, 238, 238, .85);
}

.jumbotron h1 {
  font-size: 40px;
}

form {
  padding: 12px;
  background-color: #fff;
  background-color: rgba(238, 238, 238, .85);
}

.input label {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #B2365F;
}

#footer {
  margin-top: 200px;
  height: 120px;
}
