html, body {
  height: 100%;
}

body {
  background: url('/img/background.jpg') repeat #5582be;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -300px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

.jumbotron {
  margin-top: 80px;
  background-color: rgba(238, 238, 238, .85);
}

.jumbotron h1 {
  font-size: 40px;
}

.input p.lead {
  color: white;
}

.input label {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: white;
}

#footer {
  height: 120px;
}
