body { padding-top: 70px; }

svg {
  display: block;
  margin: 0 auto;
}

/* =========================
        Header
========================= */


/* =========================
        Footer
========================= */

#footer {
  margin-top: 80px;
  height: 60px;
}

/* =========================
        Library
========================= */

.library-view td.status span {
  font-size: 28px;
  display: block;
  margin-top: 6px;
}

/* =========================
    Entity Selection Game
========================= */

.game p.paragraph {
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", "serif";
  line-height: 1.8em;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
}

/* Entity Tag */

.game p.paragraph.entity_tag {
  /* (TODO) Why doesn't this work? */
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.game p.paragraph.entity_tag span:hover {
  cursor: pointer;
  color: steelblue;
}

.game p.paragraph.entity_tag span.selected {
  background-color: #0cf;
  animation:highlight .25s;
  -webkit-animation:highlight .25s;
}

@keyframes highlight {
  from {background-color:#fff;}
  to {background-color:#0cf;}
}

@-webkit-keyframes highlight {
  from {background-color:#fff;}
  to {background-color:#0cf;}
}

.game p.paragraph.entity_tag span.neighbor,
.game p.paragraph.results span.neighbor {
  margin-right: 5px;
}

/* Community Consensus */
.game p.paragraph.results span.selected {
  border-top: 3px solid #0cf;
  border-bottom: 3px solid #0cf;
}

/* =========================
      Analytics View
========================= */

.analytics-view .node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.analytics-view .link {
  stroke: #999;
  stroke-opacity: .6;
}

.analytics-view #network {
  position: relative;
}

.analytics-view #network button.close {
  position: absolute;
  top: 60px;
  right: 120px;
  font-size: 28px;
  color: #000;
}

.analytics-view #network i.refresh {
  position: absolute;
  top: 64px;
  right: 150px;
}

.analytics-view #network i.refresh:hover,
.analytics-view #network button.close:hover {
  cursor: pointer;
}

/* =========================
        Utilities
========================= */
div.popover.top {
  z-index: 10001;
}

.tooltip {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

a.close-btn {
  display: block;
  position: absolute;
  top: 0; right: 4px;
  border-radius: 0 6px 0 6px;
  height: 22px;
  width: 22px;
  text-align: center;
  font-size: 22px;
}

.modal-body img.logo {
  width: 200px;
  margin: 0 auto;
  display: block;
  padding: 20px;
}

.complete-modal h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.2em;
  font-size: 26px;
  color: #006699;
  text-align: center;
  width: 400px;
  margin: 0 auto;
  padding-top: 20px;
}

.complete-modal span.follow-up {
  color: #999;
  font-weight: 100;
}

.complete-modal ul li {
  font-size: 16px;
  padding: 6px;
  margin: 6px;
}

.complete-modal ul li p input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  width: 140px;
  margin: -2px 2px 0px 0px;
  padding: 2px 4px 2px 4px;
  border: none;
}

.feedback-modal .feedback-item {
  padding: 20px;
}

.feedback-modal .feedback-item h4 {
  color: #006699;
}

.feedback-modal .feedback-item label {
  color: #999;
}

.feedback-modal .feedback-item label:hover {
  color: #333;
}

/* Analytics View */


