- if task.enabled
  .list-group-item
    h4.list-group-item-heading
      a(href="{{task.meta_url}}")
        #{task.name|safe}

      | +#{task.points} Points
- else
  .list-group-item.disabled
    h4.list-group-item-heading
      #{task.name|safe}

      | +#{task.points} Points

