extends base

- load widget_tweaks
- load humanize


block content
  .container
    .row.head-space
      .col-xs-12
        a Select one of the following papers to help define chemical/disease relationships:
          .list-group
            - for paper in papers
              a(href='{% url "relationship:asdfsadfsdf" relationship_pk=paper.pk %}').list-group-item
                #{paper.title}
