{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'relationship/style.css' %}" />


<h1 id="purple_center">Relationship Module<h1>

<h2 id="left_align">Using the following abstract, please answer the question about chemical/disease relationships.</h2>


<p>
  {{current_paper.abstract}}
</p>

<h2 id="left_align">The text explicitly says:</h2>



<form action="{% url 'relationship:relationship_type' relation.id %}" method='POST'>
{% csrf_token %}
<input type="radio" name="relationship_type" id="id_relationship_1" value="dir" />
<label for="id_relationship_1">"{{ chemical }}" directly contributes to or causes "{{ disease }}"</label><br />

<input type="radio" name="relationship_type" id="id_relationship_2" value="ind" />
<label for="id_relationship_2">"{{ chemical }}" contributes to another disease, and that other disease causes "{{ disease }}"</label><br />

<input type="radio" name="relationship_type" id="id_relationship_3" value="none" />
<label for="id_relationship_3">The text does not say that "{{ chemical }}" contributes to or causes "{{ disease }}"</label><br />

<input type="radio" name="relationship_type" id="id_relationship_4" value="err" />
<label for="id_relationship_4">In this context, "{{ chemical }}" does not refer to a chemical and/or "{{ disease }}" does not refer to a disease.</label><br />







  <h2 id="left_align">Additional information about the above relationship can be provided here (optional):</h2>

  <p>
  <input type="text" id="text" name="text_name" class="comment_box" /></P>
  <p>
  <input type="submit" value="Submit Contributions to Science" />

</form>
</body>
