#group-network {
  @include user-select(none);

  > .row {
    margin-top: 20px;
  }

  h4:hover {
    cursor: pointer;
  }

  #network-row {
    @include user-select(none);
    i {
      font-size: 4em;
      color: $color_gray_lighter;
      margin-top: 20px;
    }

    i:hover {
      cursor: pointer;
      color: $color_purple;
    }

    #network {
      @include user-select(none);
      cursor: move;
    }
  }
}

