#group-network {
  @include user-select(none);

  > .row {
    margin-top: 20px;
  }

  h4:hover {
    cursor: pointer;
  }

  #network-row {
    @include user-select(none);
    i {
      font-size: 4em;
      color: $color_gray_lighter;
      margin-top: 20px;
    }

    i:hover {
      cursor: pointer;
      color: $color_purple;
    }

    #network {
      @include user-select(none);
      cursor: move;
    }
  }
}

.quest {
  height: 90px;
  border-bottom: 1px solid $color_gray_lightest;
  border-right: 1px solid $color_gray_lightest;

  a p {
    margin-top: 8px;
    margin-bottom: -2px;
  }

  // Font-Awesome specifics
  span.fa { font-size: 32px; }
  .muted,
  span.fa.fa-circle {
    color: $color_gray_lightest;
    margin-top: 26px;
  }
  .muted,
  span.fa.fa-certificate {
    color: $color_red;
    margin-top: 16px;
    margin-bottom: 8px;
  }
  span.fa.fa-check {
    margin-top: 16px;
    margin-bottom: 8px;
    color: $color_green;
  }

}

.quest:hover {
  background-color: lighten($color_purple, 15%);
  cursor: pointer;
  a p { color: $color_white; }
}
