#group-selection {

}

#group-network {
  @include user-select(none);

  > .row {
    margin-top: 20px;
  }

  #network-row {
    @include user-select(none);
    i {
      font-size: 4em;
      color: $color_lighter_gray;
      margin-top: 20px;
    }

    i:hover {
      cursor: pointer;
      color: $color_purple;
    }

    #network {
      @include user-select(none);
      cursor: move;
    }

  }
}

.quest {
  height: 90px;
  border-bottom: 1px solid $color_border_gray;
  border-right: 1px solid $color_border_gray;

  .progress {
    box-shadow: none;
    border-radius: 0px;

    height: 20px;
    margin: 0px;
    padding: 0px;

    background-color: $color_lighter_gray;

    .progress-bar {
      line-height: 20px;
      height: 20px;
      max-width: 100%;
      overflow: hidden;

      text-align: center;
      font-size: 12px;

      background-color: $color_blue;
      color: $color_white;
    }

  }

  a, a:hover {
    text-decoration: none;
  }

  a p {
    margin-top: 8px;
    margin-bottom: -2px;

    font-family: 'Px Grotesk Light';
    color: #7F3CFF;
    text-decoration: none;
  }

  span.fa {
    font-size: 32px;
  }

  .muted,
  span.fa.fa-circle {
    color: #f0f0ed;
    margin-top: 26px;
  }

  .muted,
  span.fa.fa-certificate {
    color: $color_red;
    margin-top: 16px;
  }

  span.fa.fa-check {
    margin-top: 16px;
    color: $color_green;
  }

}

.quest:hover {
  background-color: rgba(127,60,255, .8);
  cursor: pointer;

  a p {
    color: #fff;
  }
}
