#leaderboard {
  margin-top: 20px;

  a p {
    color: $color_gray_dark
  }

  p {
    letter-spacing: 2px;
    margin: 0px;
  }

  h2, h4 {
    cursor: pointer;
    color: $color_gray_light;
    white-space: nowrap;

    span {
      position: relative;
      top: -3px;
      color: $color_purple;
    }

  }
}
