extends common/layouts/dashboard_layout.jade

block title
  title eCleanIt

block content
  .container-fluid
    .row.dashboard-row
      include cleanit/includes/nav.jade
      include cleanit/includes/account-menu.jade

      .col-sm-6.col-md-6.ec-right-col
        .clearfix.ec-btn-row
          a(href='{% url "registration:logout" %}').btn.btn-default.pull-right Logout of eCleanIt

        form.dashboard-form.form-horizontal
          .panel.panel-default
            .panel-heading
              span My info
              a.panel-heading-button.pull-right(href='{% url "userprofile:settings-edit" %}')
                span.glyphicon.glyphicon-pencil

            .panel-body
              .ec-panel-row
                .form-group
                  label.col-xs-3.control-label(for='myinfo_first_name') First name
                  .col-xs-9
                    p.form-control-static #{user.first_name}
              .ec-panel-row
                .form-group
                  label.col-xs-3.control-label(for='myinfo_last_name') Last name
                  .col-xs-9
                    p.form-control-static #{user.last_name}
              .ec-panel-row
                .form-group
                  label.col-xs-3.control-label(for='myinfo_email') Email address
                  .col-xs-9
                    p.form-control-static #{user.email}
              .ec-panel-row
                .form-group
                  label.col-xs-3.control-label(for='myinfo_password') Password
                  .col-xs-9
                    p.form-control-static ****************
