extends common/layouts/dashboard_layout.jade

block title
  title eCleanIt

block content
  .container-fluid
    .row.dashboard-row
      include cleanit/includes/nav.jade
      include cleanit/includes/account-menu.jade

      .col-sm-6.col-md-6.ec-right-col
        .ec-btn-row.clearfix
          a(href='{% url "registration:logout" %}').btn.btn-default.pull-right Logout of eCleanIt

        .row
          .col-xs-12
            form(action='{% url "userprofile:settings-edit" %}', method='post').dashboard-form.form-horizontal
              - csrf_token
              .panel.panel-default
                .panel-heading
                  span My info
                  .panel-controls.pull-right
                    //- Add .btn-saving instead of .btn-save for the up state
                    a(href='{% url "userprofile:settings" %}').btn.btn-primary.btn-cancel
                      |Cancel
                    button.btn.btn-primary.btn-save
                      |Save

                .panel-body
                  .has-error(style='display:none;')
                    p.help-block.text-right Sorry, there was some sort of error.

                  .ec-panel-row
                    .form-group
                      label.col-xs-3.control-label(for='myinfo_first_name') First name
                      .col-xs-9
                        input#myinfo_first_name.form-control(type='text', name='first_name', value='#{user_name_form.instance.first_name}')
                  .ec-panel-row
                    .form-group
                      label.col-xs-3.control-label(for='myinfo_last_name') Last name
                      .col-xs-9
                        input#myinfo_last_name.form-control(type='text', name='last_name', value='#{user_name_form.instance.last_name}')
                  .ec-panel-row
                    .form-group
                      label.col-xs-3.control-label(for='myinfo_email') Email address
                      .col-xs-9
                        a(href='{% url "registration:request_email_change" %}').btn.btn-default Change your email address

                  .ec-panel-row
                    .form-group
                      label.col-xs-3.control-label(for='myinfo_password') Password
                      .col-xs-9
                        a(href="{% url 'registration:change_password' %}").btn.btn-default Change your password
