{% extends "base.html" %}
{% load widget_tweaks %}
{% load humanize %}
{% load as_vertical_form from bootstrap %}
{% load as_horizontal_form from bootstrap %}

{% block header %}
{% with headerMessage='Account Settings' %}
{% include "includes/header.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="container">
  {% if messages %}
  {% for message in messages %}

  {% if  'safe' in message.tags %}
  <div class="row justify-content-center">
    <div class="col">
      <div class="{{ message.tags }} alert">{{ message|safe }}</div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
</div>

<div id="settings" class="container content my-3">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-6">
      <form class="form-horizontal">
        <div class="form-group">
          <fieldset>
            <label for="id_username" class="control-label col-md-4">Username</label>
            <div class="col-md-8">
              <input type="text" value="{{user.username}}" disabled="disabled" class="form-control"/>
            </div>
          </fieldset>
        </div>
        <div class="form-group">
          <fieldset>
            <label for="id_email" class="control-label col-md-4">Email</label>
            <div class="col-md-8">
              <input type="text" value="{{user.email}}" disabled="disabled" class="form-control"/>
            </div>
          </fieldset>
        </div>
      </form>
    </div>
  </div>
  <hr/>
  <form action="{% url 'profile:settings' %}" method="post" class="form-horizontal">

    {% csrf_token %}

    <div class="row justify-content-center">
      <div class="col-10 col-md-12">
        <h2>Account Settings</h2>
      </div>

      <div class="col-10 col-md-12">
        <div class="row">
          <div class="col-7">
            <fieldset>
              <div class="first_name form-group">
                <div class="row">
                  <label for="id_first_name" class="col-sm-2 control-label">First name</label>
                  <div class="col-sm-10">
                    <input id="id_first_name" maxlength="30" name="first_name" type="text" value="" disabled="disabled" class="form-control"/>
                  </div>
                </div>
              </div>
              <div class="last_name form-group">
                <div class="row">
                  <label for="id_last_name" class="col-sm-2 control-label">Last name</label>
                  <div class="col-sm-10">
                    <input id="id_last_name" maxlength="30" name="last_name" type="text" value="" disabled="disabled" class="form-control"/>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="col-5">
            {{user_profile_form.team|as_horizontal_form|escape}}

            {% if user_profile_form.team.value == None %}
            {{team_form.name|as_vertical_form|escape}}
            {% endif %}
          </div>

        </div>
      </div>
    </div>
    <hr/>
    <div class="row justify-content-center">
      <div class="col-10 col-md-12">
        <h2>Profile Information</h2>
      </div>
      <div class="col-10 col-md-12">

        <div class="row justify-content-center">
          <div class="col-md-4">
            {{user_profile_form.motivation|as_vertical_form|escape}}
          </div>
          <div class="col-md-4">
            {{user_profile_form.referral|as_vertical_form|escape}}
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-8">
            {{user_profile_form.quote|as_horizontal_form|escape}}
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-xs-4 col-sm-3">
            <a href="{% url "userprofile:public-profile" username=user.username %}" class="btn btn-default btn-block">Cancel</a>
          </div>
          <div class="col-xs-8 col-sm-3">
            <button type="submit" class="btn btn-primary btn-block">Update</button>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>
{% endblock %}
