extends base

block header
  - with headerMessage='Training 4 - Multi-Marking Mode'
    include includes/header


block content
  #Training4Modal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").modal.fade
    .modal-dialog
      .modal-content
        .modal-body
          p.lead Instead of reading the same abstract three times and marking a different concept each time, you can use color coding to mark 3 different concepts all at once
          .panel.panel-info
            .panel-body
              h3.text-center In this tutorial, you will learn about:
              ul.list-unstyled.list-inline.text-center
                li
                  ul.list-unstyled
                    li Changing the color of the “marker”
                    li Feedback and scoring
                    li Machine-based pre-population
        .modal-footer
          button(type="button", data-dismiss="modal").btn.btn-default Close
  .container
    .row.foot-space
      .col-md-12
        block step-instructions

    #partner(style='display: none;').row.m-t-md
      .row
        .col-md-4.col-md-offset-4
          .alert.alert-success
            h2.text-center Good job!

    .row
      #quest-alerts.col-md-10.col-md-offset-1
      #quest.col-md-10.col-md-offset-1
        #paragraphs

    block highlightkey
      .row
        .col-xs-1
          h2 Key
        .col-xs-3.m-t-md
          #btn-type-list(role="group").btn-group-vertical
            a(href='{% url "instructions:entity-recognition-diseases" %}', target='_blank', style='background-color: #d1f3ff;').btn.btn-info
              | Disease Concept  <i class="fa fa-external-link fa-lg"></i>

            a(href='{% url "instructions:entity-recognition-genes" %}', target='_blank', style='background-color: #B1FFA8;').btn.btn-info
              | Genes Concept  <i class="fa fa-external-link fa-lg"></i>

            a(href='{% url "instructions:entity-recognition-treatments" %}', target='_blank', style='background-color: #ffd1dc;').btn.btn-info
              | Treatments Concept  <i class="fa fa-external-link fa-lg"></i>

    .row.m-t-md
      .col-md-8.col-md-offset-2
        .progress
          block progress
      .col-md-8.col-md-offset-2
        #next-container.pull-right
          block next-link


block post-footer
  block ypet
