extends base

block header
  - with headerMessage='Training 4 - Multi-Marking Mode'
    include includes/header


block content
  #Training4Modal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h4.modal-title.text-xs-center Instead of reading the same abstract three times and marking a different concept each time, you can use color coding to mark 3 different concepts all at once
        .modal-body
          .card
            .card-header
              h4.card-title.text-xs-center In this tutorial, you will learn about:
            .card-block
              ul.list-unstyled.list-inline.text-xs-center
                li.list-inline-item
                  ul.list-unstyled
                    li Changing the color of the “marker”
                    li Feedback and scoring
                    li Machine-based pre-population
        .modal-footer
          button(type="button", data-dismiss="modal").btn.btn-primary Close

  .container
    .row.m-t-1
      .col-md-12
        block step-instructions

    #partner(style='display: none;').row.m-t-1
      .row
        .col-md-4.col-md-offset-4
          .alert.alert-success
            h2.text-xs-center Good job!

    .row.m-t-1
      #quest-alerts.col-md-10.col-md-offset-1
      #quest.col-md-10.col-md-offset-1.paragraph-box
        block paragraph

    block highlightkey

    .row.m-t-1
      .col-md-8.col-md-offset-2
        .progress
          block progress
      .col-md-8.col-md-offset-2
        #next-container.pull-right
          block next-link


block post-footer
  include training/entity-recognition/includes/intro-1-js

  block answers

  script.
      var validation_check = function(collection) {
        if(validate(collection, answers)) { correct(); }
      };

