extends training/entity-recognition/exp-2-intro-4/step-base-multi

block step-instructions
  h2.text-xs-center Continue to mark disease concept terms in blue, gene concept terms in green, and treatment concept terms in pink.
  p To remove a highlight, click on your marking until you’ve scrolled through all the colors.

block progress
  progress(value='60' max='100').progress.progress-striped
    .progress
      span(style='width: 60%;').progress-bar 60%

  #TrainingHelpModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").modal.fade
    .modal-dialog
      .modal-content
        .modal-body
          h3#hint-trigger.text-xs-center
            a(href='#') Need a hint? Click here
          img#hint(src='http://sulab.org/wp-content/uploads/2015/05/M2C_NGLY1_T04-04.png', style='display:none;').img.img-responsive

        .modal-footer
          button(type="button", data-dismiss="modal").btn.btn-primary Close


block next-link
  a(href='{% url "training:four" step_num=5 %}', id='next', disabled).btn.btn-primary.pull-right.disabled Next

block ypet
  include training/entity-recognition/includes/intro-multi-js
  script.
    var self_data;
    YPet.addInitializer(function(options) {

      /* data fetches the original document and annotations */
      $.getJSON('/static/bioc/training/exp-2-intro-4/step-4.json', function( data ) {
          self_data = data;
          var passages = data.collection.document.passage;
          var regions = {};
          _.each(passages, function(passage, passage_idx) {
            $('#paragraphs').append('<div id="'+ passage.infon[2]['#text'] +'" class="paragraph-box"><p class="paragraph"></p></div></div>');
            regions[''+passage_idx] = '#'+passage.infon[2]['#text'];
          });
          YPet.addRegions(regions);

          _.each(passages, function(passage, passage_idx) {
            var p = new Paragraph({'text': passage.text});
            YPet[''+passage_idx].show( new WordCollectionView({
              collection: p.get('words'),
              passage_json: passage,
              bioc_json: data
            }) );
          });

          YPet[0].currentView.collection.parentDocument.get('annotations').on('add', function(model, collection) { validation_check(collection); });
          YPet[0].currentView.collection.parentDocument.get('annotations').on('change', function(model) { validation_check(model.collection); });
          YPet[0].currentView.collection.parentDocument.get('annotations').on('remove', function(model, collection) { validation_check(collection); });
          _.each(YPet[0].currentView.options.collection.first(48), function(word_model) {
            word_model.set('disabled', true);
            word_model.set('masked', true);
          });

      });
    });
    YPet.start();

  script.

    setTimeout(function() {
      $('#TrainingHelpModal').modal('show');
    }, 75 * 1000);

    $('#hint-trigger').click(function() {
      $('#hint').slideDown();
    });

    $('#TrainingHelpModal').on('hidden.bs.modal', function () {
      $('#hint').hide();
      setTimeout(function() {
        $('#TrainingHelpModal').modal('show');
      }, 75 * 1000);
    });

    var answers = [
      {text: "Ehlers–Danlos syndrome", start: 0, type_id: 0},
      {text: "EDS", start: 25, type_id: 0},
      {text: "connective tissue disorder", start: 36, type_id: 0},
      {text: "collagen 3A", start: 144, type_id: 1},
      {text: "collagen 5A", start: 160, type_id: 1},

      {text: "COL5A", start: 191, type_id: 1},
      {text: "COL3A", start: 200, type_id: 1},
      {text: "EDS", start: 252, type_id: 0},

      {text: "EDS", start: 291, type_id: 0},
      {text: "physical therapy", start: 304, type_id: 2},
      {text: "bracing", start: 323, type_id: 2},
      {text: "corrective surgery", start: 337, type_id: 2},
      {text: "frequent injuries", start: 374, type_id: 0},
      {text: "pain", start: 396, type_id: 0},
      {text: "EDS", start: 431, type_id: 0}];

    var validation_check = function(collection) {
      if(validate(collection, answers)) { correct(); }
    };
