extends training/entity-recognition/exp-2-intro-4/step-base-multi

block step-instructions
  h2.text-xs-center To change the color of a marking, first mark the word or span of words that fit a concept. Then, click on the mark you just made to change its color.
  h2 <span class="user_annotated_green"><strong>Green</strong></span> will refer to the Genes Concept
  p In the box below, use your Gene Marking Skill to highlight gene concept terms in green

block progress
  progress(value='20' max='100').progress.progress-striped
    .progress
      span(style='width: 20%;').progress-bar 20%

block next-link
  a(href='{% url "training:four" step_num=3 %}', id='next', disabled).btn.btn-primary.pull-right.disabled Next

block highlightkey
  .row
    .col-xs-3.col-xs-offset-1.m-t-1
      #concept-type-instruction-link-list.list-group
        a(href='{% url "instructions:entity-recognition-diseases" %}', target='_blank').list-group-item.disease-concept-bg
          | Disease Concept  <i class="fa fa-external-link fa-lg"></i>

        a(href='{% url "instructions:entity-recognition-genes" %}', target='_blank').list-group-item.gene-concept-bg
          | Genes Concept  <i class="fa fa-external-link fa-lg"></i>

block ypet
  include training/entity-recognition/includes/intro-multi-js
  script.
    var self_data;
    YPet.addInitializer(function(options) {

      /* data fetches the original document and annotations */
      $.getJSON('/static/bioc/training/exp-2-intro-4/step-2.json', function( data ) {
          self_data = data;
          var passages = data.collection.document.passage;
          var regions = {};
          _.each(passages, function(passage, passage_idx) {
            $('#paragraphs').append('<div id="'+ passage.infon[2]['#text'] +'" class="paragraph-box"><p class="paragraph"></p></div></div>');
            regions[''+passage_idx] = '#'+passage.infon[2]['#text'];
          });
          YPet.addRegions(regions);

          _.each(passages, function(passage, passage_idx) {
            var p = new Paragraph({'text': passage.text});
            YPet[''+passage_idx].show( new WordCollectionView({
              collection: p.get('words'),
              passage_json: passage,
              bioc_json: data
            }) );
          });

          if(ga) { ga('send', 'event', 'ER Training', 'start', key); }
          YPet[0].currentView.collection.parentDocument.get('annotations').on('add', function(model, collection) { validation_check(collection); });
          YPet[0].currentView.collection.parentDocument.get('annotations').on('change', function(model) { validation_check(model.collection); });
          YPet[0].currentView.collection.parentDocument.get('annotations').on('remove', function(model, collection) { validation_check(collection); });
          _.each(YPet[0].currentView.options.collection.first(13), function(word_model) {
            word_model.set('disabled', true);
            word_model.set('masked', true);
          });

      });
    });
    YPet.AnnotationTypes = new AnnotationTypeList([
      {name: 'Disease', color: '#d1f3ff'},
      {name: 'Gene', color: '#B1FFA8'},
    ]);
    YPet.start();


  script.
    var key = '4-2';
    var answers = [
      {text: "Ehlers–Danlos syndrome", start: 0, type_id: 0},
      {text: "EDS", start: 25, type_id: 0},
      {text: "connective tissue disorder", start: 36, type_id: 0},

      {text: "collagen 3A", start: 144, type_id: 1},
      {text: "collagen 5A", start: 160, type_id: 1}];

    var validation_check = function(collection) {
      if(validate(collection, answers)) { correct(); }
    };
