tr(data-section="{{ ann.view.section.pk }}", data-text="{{ ann.text }}", data-start="{{ ann.start }}").annotation-finder
  td
    | #{ ann.view.section.get_kind_display }
  td
    | #{ ann.text }
  td
    | #{ ann.start }

