div(id="messageModal", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").modal.fade
  .modal-dialog
    .modal-content
      a(data-dismiss="modal").close-btn
        | &times;

      .modal-header
        h3
          | Want to send a note to the developers?

      .modal-body
        form(action="/message/", method="post", role="form").form-horizontal.form-via-ajax
          {% csrf_token %}
          .form-group
            .col-sm-12
              textarea#new_message(name="message", placeholder="Type in your message", rows="5").form-control

          .form-group
            .col-sm-6.col-sm-offset-3
              button(type="submit").btn.btn-block.btn-success
                | Post New Message

      .modal-footer
        button(data-dismiss=modal").btn.btn-warning
          | Close

