#accounts-signup {
  flex: 1;
}

#accounts-login {
  flex: 1;
}

#accounts-logout {
  flex: 1;
}

#accounts-reset {
  flex: 1;
}

#accounts-reset-done {
  flex: 1;
}

#accounts-reset-key {
  flex: 1;
}

#profile {
  flex: 1;
}

#team-profile {
  flex: 1;
}

#settings {
  flex: 1;
}

#login-with-zooniverse {
  flex: 1;
}
