@import 'sections/group_selection';
@import 'sections/leaderboard';

#dashboard {
  margin-top: 1rem;

  .card-header {
    padding: 0.5rem 1.25rem;
  }

}

.task-score {
  border: solid 16px tint($color_bootstrap_blue, 90);

  .row.sep {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  hr {
    border: 0;
    margin: 0px;
    height: 1px;
    background: $color_gray_lighter;
    background-image: linear-gradient(to right, $color_gray_lightest, $color_gray_lighter, $color_gray_lightest);
  }

  .row {
    margin-top: 2px;
    margin-bottom: 2px;

    .task-value {
      font-size: 1.25em;
      line-height: 1.25em;

      text-align: right;
      color: $color_gray_dark;
    }

    .task-label {
      font-size: 1.25em;
      line-height: 1.25em;

      text-align: left;
      color: $color_gray_light;
    }

    ul.list-inline {
      margin: 2px;
    }

  }
}

.unlock-icon i {
  color: $color_gray;
}

.card.my-stats {
  .card-block {
    padding: 1rem;

    ol {
      margin: 0px;
    }
  }
}

.relations-container{
  border: solid 1px #d9d9d9;
  border-bottom: none;
  height:100%;
  overflow:hidden;
}
.relations-title {
  text-align: center;
  font-size: 1.4em;
}
.relations-container-inside{
  background-color:$color_white;
  transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing:border-box;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  border-radius:2px;
  padding:0;
  padding-bottom:8px;
  padding-top:0;
}
.relation-title{
  color:rgba(0, 0, 0, 0.54);
  font-size:14px;
  line-height:48px;
  padding-left:16px;
}
.relation-item-container{
  //todo http://thecodeplayer.com/walkthrough/ripple-click-effect-google-material-design
  border: 10px;
  box-sizing: border-box;
  display: block;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  //font-family: Roboto, sans-serif;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: rgba(0, 0, 0, 0.870588);
  font-size: 16px;
  line-height: 16px;
  position: relative;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  background-image: none;
  background-attachment: initial;
  background-size: initial;
  background-origin: initial;
  background-clip: initial;
  background-position: initial;
  background-repeat: initial;

  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  
}
.relation-item-container:hover{
  background: rgba(0, 0, 0, 0.0980392);
  cursor: pointer;
}
.relations-container-inside hr{
    border: 0;
    margin: 0px;
    height: 1px;
    background: $color_gray_lighter;
    background-image: linear-gradient(to right, $color_gray_lightest, $color_gray_lighter, $color_gray_lightest);
}

.relation-item{
  padding: 8px 8px;
  margin: 4px 0px;

  position: relative;

  progress.progress {
    margin: 8px 0px;
  }

  .pay{
    font-size: 20px;
  }

  .time {
    font-size: 14px;
    margin-top: -5px;
    color: $color_gray_dark;
  }

  p {
    font-size:16px;
    line-height:18px;
    height:36px;
    margin:0;
    margin-top:4px;
    color:rgba(0, 0, 0, 0.54);
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
  }

  p span.main-text{
    color: rgba(0, 0, 0, 0.87);
  }

}

