@import 'sections/group_selection';
@import 'sections/leaderboard';

#dashboard {
  margin-top: 1rem;

  .card-header {
    padding: 0.5rem 1.25rem;
  }

}

.task-score {
  border: solid 16px tint($color_bootstrap_blue, 90);

  .row.sep {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  hr {
    border: 0;
    margin: 0px;
    height: 1px;
    background: $color_gray_lighter;
    background-image: linear-gradient(to right, $color_gray_lightest, $color_gray_lighter, $color_gray_lightest);
  }

  .row {
    margin-top: 2px;
    margin-bottom: 2px;

    .task-value {
      font-size: 1.25em;
      line-height: 1.25em;

      text-align: right;
      color: $color_gray_dark;
    }

    .task-label {
      font-size: 1.25em;
      line-height: 1.25em;

      text-align: left;
      color: $color_gray_light;
    }

    ul.list-inline {
      margin: 2px;
    }

  }
}

.unlock-icon i {
  color: $color_gray;
}

.card.my-stats {
  .card-block {
    padding: 1rem;

    ol {
      margin: 0px;
    }
  }
}


