#dashboard-talk-link {
  border: 4px solid $color_purple;
  text-transform: uppercase;

  &:hover {
    background: $color_purple;
    a {
      color: $color_white;
    }
  }
}

#dashbaord-leaderboard {
  margin-top: 20px;

  #leaderboard-item-list .list-group a {
    overflow: hidden;

    p {
      color: $color_gray_dark;
      letter-spacing: 2px;
      margin: 0px;
      text-transform: uppercase;
      font-size: .5em;
    }

  }

  h2, h4 {
    cursor: pointer;
    color: $color_gray_light;
    white-space: nowrap;
    font-size: 1.5em;

    span {
      position: relative;
      top: .1em;
      color: $color_purple;
    }

  }
}

#group-network {
  @include user-select(none);

  > .row {
    margin-top: 20px;
  }

  h4:hover {
    cursor: pointer;
  }

  #network-row {
    @include user-select(none);
    i {
      font-size: 4em;
      color: $color_gray_lighter;
      margin-top: 20px;
    }

    i:hover {
      cursor: pointer;
      color: $color_purple;
    }

    #network {
      @include user-select(none);
      cursor: move;
    }
  }
}



#dashboard {
  flex: 1;
  margin-top: 1rem;

  .card-header {
    padding: 0.5rem 1.25rem;
  }

  #dashboard-ner {
    .dashboard-ner-quest {
      a {
        h3 {
          color: $color_gray;
          font-size: 1.25rem;
        }
      }
      a:hover {
        text-decoration: none;
      }


    }
  }


  #dashboard-re {
    .progress-bar {
      height: 0.25rem;
    }

    .list-group-item {
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }
  }

}

.task-stats-title {
  margin: 0;
  position: relative;
}

.task-score {
  background: rgba(128,60,255,1);
  background: -moz-linear-gradient(-45deg, rgba(128,60,255,1) 0%, rgba(0,204,255,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(128,60,255,1)), color-stop(100%, rgba(0,204,255,1)));
  background: -webkit-linear-gradient(-45deg, rgba(128,60,255,1) 0%, rgba(0,204,255,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(128,60,255,1) 0%, rgba(0,204,255,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(128,60,255,1) 0%, rgba(0,204,255,1) 100%);
  background: linear-gradient(135deg, rgba(128,60,255,1) 0%, rgba(0,204,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#803cff', endColorstr='#00ccff', GradientType=1 );

  .task-score-content {
    background: $color_white;
    background: rgba(255,255,255,.975);

    hr {
      border: 0;
      margin: 0px;
      height: 1px;
      background: $color_gray_lighter;
      background-image: linear-gradient(to right, $color_gray_lightest, $color_gray_lighter, $color_gray_lightest);
    }

    .task-value {
      font-size: 1.25rem;
      line-height: 1.25rem;
      text-align: right;
      color: $color_gray_dark;
    }

    .task-label {
      font-size: .75rem;
      top: .275rem;
      padding-left: .25rem;
      text-align: left;
      color: $color_gray_light;
    }

  }
}

.unlock-icon i {
  color: $color_gray;
}

.card.my-stats {
  .card-block {
    padding: 1rem;

    ol {
      margin: 0px;
    }
  }
}

.dashboard-ner-task-list-box {
  width: 100%;

  .dashboard-ner-quest-task-item {
    min-height: 4rem;
    border-bottom: 1px solid $color_gray_lightest;
    border-right: 1px solid $color_gray_lightest;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

    .progress-bar {
      height: 0.25rem;
    }

    small {
      font-size: 0.73rem;
    }

    // Font-Awesome specifics
    span.fa { font-size: 32px; }
    .muted,
    span.fa.fa-circle {
      color: $color_gray_lightest;
      margin-top: 26px;
    }
    .muted,
    span.fa.fa-certificate {
      color: $color_red;
      margin-top: 16px;
      margin-bottom: 8px;
    }
    span.fa.fa-check {
      margin-top: 16px;
      margin-bottom: 8px;
      color: $color_green;
    }
  }
  .dashboard-ner-quest-task-item:hover {
    background-color: lighten($color_purple, 15%);
    cursor: pointer;
    a p { color: $color_white; }
    small { color: $color_white; }
  }

}

.progress-bar {
  background: rgba(128,60,255,1);
  background: -moz-linear-gradient(-45deg, rgba(128,60,255,1) 0%, rgba(0,204,255,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(128,60,255,1)), color-stop(100%, rgba(0,204,255,1)));
  background: -webkit-linear-gradient(-45deg, rgba(128,60,255,1) 0%, rgba(0,204,255,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(128,60,255,1) 0%, rgba(0,204,255,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(128,60,255,1) 0%, rgba(0,204,255,1) 100%);
  background: linear-gradient(135deg, rgba(128,60,255,1) 0%, rgba(0,204,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#803cff', endColorstr='#00ccff', GradientType=1 );
}
