.about-container,
.contact-container {

  p {
    @extend .better-helvetica;
    font-size: 1.3em;

    color: $color_medium_gray;
    padding: 12px;
  }

  h2, h3 {
    font-family: 'Px Grotesk Light Italic';
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 2px;
    color: $color_purple;
  }

}
