#instructions {

  .breadcrumb {
    background-color: $color_gray_lighter;
    background-image: linear-gradient(to right, $color_gray_lightest, $color_gray_lighter, $color_gray_lightest);
  }

  #sidebar-navigation {
    border-right: 8px solid $color_gray_lightest;

    h4 a {
      color: $color_black !important;
    }

    hr {
      border: 0;
      margin: 0px;
      height: 4px;
      background: $color_gray_lighter;
    }

  }

  @include media-breakpoint-down(sm) {
    #sidebar-navigation {
      border-right: none;
    }
  }

}

#instructions-content {

  .relationship-description {
    .text-box {
      padding: 12px;
    }

    p.lead {
      margin-bottom: 0px;
    }

    hr {
      border: 0;
      margin: 6px 0px;
      height: 1px;
      background: $color_gray_lighter;
      background-image: linear-gradient(to right, $color_white, $color_gray_lighter, $color_gray_lightest);
    }

  }


}

