#quest-explorer {
  .group-item {
    position: relative;

    .fadeout {
      position: absolute;
      bottom: 0px;
      height: 8rem;
      width: 100%;
      background: -webkit-linear-gradient(
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
      );
      background-image: -moz-linear-gradient(
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
      );
      background-image: -o-linear-gradient(
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
      );
      background-image: linear-gradient(
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
      );
      background-image: -ms-linear-gradient(
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
      );
    }

    .group-item-content {
      border: 1px solid $color_gray;
      height: 12rem;
      overflow: hidden;
      a {
        color: $color_black;
        p {
          font-size: .75rem;
          text-transform: uppercase;
        }
        p.description {
          font-size: .5rem;
        }
      }
    }
    .group-item-content:hover {
      a {
        text-decoration: none;
      }
    }
  }
  .group-item.active-group {
    .group-item-content { border-color: $color_red; }
    a { color: $color_red; }
  }
  .group-item.ended-group {
    .group-item-content { border-color: $color_gray; }
    a { color: $color_gray; }
  }
}

.glyphicon {
  font-family: 'FontAwesome';
}
.font-blue { color: #00ccff; }
.font-purple { color: $color_purple; }
.font-black { color: $color_black; }
.font-red { color: #e64c66; }


.u-redanimate {
  position: relative;
  text-decoration: none;
  color: $color_black;
}
.u-redanimate:hover {
  color: $color_black;
}
.u-redanimate:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #e64c66;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.u-redanimate:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.bg-redanimate {
  color: $color_white;
  background-color: #7f3cff;
  padding: 0 10px 10px;
}
.bg-purple {
  background: $color_purple;
  color: $color_white;
}
.bg-green {
  background: #6fde89;
  color: $color_white
}
.bg-purple-fade {
  background: $color_purple;
  color: $color_white;
  width: 1px;
  background: red;
  transition: width 2s;
  -webkit-transition: width 2s;
  /* Safari 3.1 to 6.0 */
}

#landing {
  background: $color_white;
  color: $color_black;
  font-size: 16px;

  #bg-case-study {
    min-height: 679px;
    width: 100%;
    background-color: $color_purple;
    background-image: url('/static/images/landing/bg-case-study-flip.jpg');
    background-repeat: no-repeat;
    background-position-x: right;
    color: $color_white;

    #landing-header {
      img {
        height: 60px;
      }

      a {
        color: $color_white;
      }

      .box-outline {
        border: 2px solid $color_white;
        padding: 6px 12px;

        &:hover {
          background-color: $color_white;
          color: $color_purple;
          text-decoration: none;
        }
      }

    }

    #landing-header-buttons {
      margin-bottom: 64px;
    }
    #landing-annotation-focus {
      height: 64px;

      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      background: rgba(0,204,255,.5);

      p a {
        color: #fff;
      }
    }
  }

  .btn-outline {
    background: $color_white;
  }
  .btn-white {
    color: $color_purple;
    background-color: $color_white;
    border: 2px solid $color_white;

    &:hover {
      color: $color_black;
    }
  }
  .btn-primary {
    color: $color_white;
    border-radius: 0px;
    border: none;
    background: none;
    background-color: $color_purple;
  }
  .btn-outline.btn-primary {
    color: $color_purple;

    &:hover {
      color: $color_white;
    }
  }

  .btn-outline.btn-white {
    background-color: transparent;
    color: $color_white;
    border: 2px solid $color_white;

    &:hover {
      background-color: rgba(127, 60, 255, .5);
    }
  }

  .btn-large {
    padding-right: 20px;
    padding-left: 20px;
  }

}

@include media-breakpoint-down(md) {
  #landing {
    #bg-case-study {
      #landing-header-buttons { margin-bottom: 80px; }
      #landing-annotation-focus { height: 80px; }
    }

    #quest-explorer {
      .ended-group { display: none; }
    }
  }
}

@include media-breakpoint-down(xs) {
  #landing {
    #bg-case-study {
      #landing-annotation-focus {
        p { font-size: .75em; }
      }
    }
  }
}

// @include media-breakpoint-down(sm) {}
// @include media-breakpoint-down(lg) {}


/* Scrollbar */

.scrollbar {
  margin: 0 0 1em 0;
  height: 5px;
  background: #ccc;
  line-height: 50px;
}

.scrollbar .handle {
  width: 50px;
  height: 100%;
  background: #818a91;
  cursor: pointer;
}

.scrollbar .handle .mousearea {
  position: absolute;
  top: -9px;
  left: 0;
  width: 100%;
  height: 20px;
}
