extends base

block header
  - with headerMessage='Training Feedback'
    include includes/header-anon


block content
  .container
    .row
      .col-xs-8.col-xs-offset-2
        .row.alert.alert-info.alert-sticky.text-center
          h2 Congratulations!

    .row
      .col-xs-10.col-xs-offset-1
        h2.text-center New skill acquired: Disease Marking
      .col-xs-10.col-xs-offset-1
        h2.text-center Points gained: <span id='score'>0</span>

    .row.head-space-xl
      .col-xs-4.col-xs-offset-4
        a(href='{{next_path}}', id='next').btn.btn-default.btn-block Next


block post-footer
  script(src='#{STATIC_URL}js/quest-app.js')
  script.
    od.update(30);



