extends base

block header
  - with headerMessage='Training #1: Acquire Disease Marking Skill'
    include includes/header-anon


block content
  .container
    .row
      .col-md-12
        h2 Sometimes different diseases are discussed. Mark all the diseases below.
        h3.lead Remember to mark disease conjunction as spans and to mark different diseases separately.

     block paired-with
      include training/includes/paired-with

    .row.head-space-xl
      #quest-alerts.col-md-10.col-md-offset-1
      #quest.col-md-10.col-md-offset-1.paragraph.entity_tag
        p Of the 20 patients, 10 patients were also diagnosed with heart disease or rheumatoid arthritis.

    .row.head-space-xl
      .col-md-10.col-md-offset-1
        .progress
          div(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%;').progress-bar.progress-bar-striped.active
            .sr-only 40% Complete

    .row.head-space
      a(href='/training/intro/1/step/6/', id='next', disabled).btn.btn-default.pull-right Next


block post-footer
    <script id="word-template" type="text/template"><% if(neighbor) { %><%= text %><% } else { %><%= text %> <% } %></script>
    <script id="alert-template" type="text/template"><div class="alert alert-warning alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>Sorry! <strong><%= selection %></strong> doesn't appear to be correct.</div></script>
    script.
      YPet.addInitializer(function(options) {
        YPet.addRegions({quest: '#quest'});
        var p = new Paragraph({'text': $('#quest').text().trim()});
        p.parseText();
        var view = new WordCollectionView({collection: p.get('words')});
        YPet['quest'].show(view);
      });
      YPet.start();

      var correct = function() {
        $('#partner').slideDown();
        $('#next').attr('disabled', false);
      };

      var answers = ['heart disease', 'rheumatoid arthritis'];
      YPet['quest'].currentView.collection.parentDocument.get('annotations').on('add', function(model, collection) {
        if(!_.contains(answers, model.get('text'))) {
          var temp = _.template($('#alert-template').html());
          $('#quest-alerts').append(temp({'selection': model.get('text')}));
        };
        if(collection.pluck('text').sort().join(',') == answers.sort().join(',')) { correct(); }
      });
      YPet['quest'].currentView.collection.parentDocument.get('annotations').on('remove', function(model, collection) { if(collection.pluck('text').sort().join(',') == answers.sort().join(',')) { correct(); } });

