a.close-btn {
  display: block;
  position: absolute;
  top: 0; right: 4px;
  border-radius: 0 6px 0 6px;
  height: 22px;
  width: 22px;
  text-align: center;
  font-size: 22px;
}

.modal-body img.logo {
  width: 200px;
  margin: 0 auto;
  display: block;
  padding: 20px;
}
