.tooltip {
  font-family: $font_helvetica;
  font-size: 13px;
}


.modal-dialog {
  z-index: 1041;
}

#partner {
  h2 {
    color: $color_black;
    text-transform: uppercase;
    margin-bottom: 0px;
  }
}
