extends base

block header
  - with headerMessage='Quest #2: Avoiding Common Pitfalls'
    include includes/header


block content
  .container
    .row
      .col-md-12
        h2 Use your Disease Marking Skill to Mark this Doc

    block paired-with
      include training/includes/paired-with

    .row.head-space-xl
      #quest-alerts.col-md-10.col-md-offset-1
      #quest-1.col-md-10.col-md-offset-1.paragraph.entity_tag
        p Age at diagnosis as an indicator of eligibility for BRCA1 DNA testing in familial breast cancer.
      #quest-2(style='display: none;').col-md-10.col-md-offset-1.paragraph.entity_tag
        p We searched for criteria that could indicate breast cancer families with a high prior probability of being caused by the breast / ovarian cancer susceptibility locus BRCA1 on chromosome 17 . To this end , we performed a linkage study with 59 consecutively collected Dutch breast cancer families , including 16 with at least one case of ovarian cancer . We used an intake cut-off of at least three first-degree relatives with breast and / or ovarian cancer at any age . Significant evidence for linkage was found only among the 13 breast cancer families with a mean age at diagnosis of less than 45 years . An unexpectedly low proportion of the breast-ovarian cancer families were estimated to be linked to BRCA1 , which could be due to a founder effect in the Dutch population . Given the expected logistical problems in clinical management now that BRCA1 has been identified , we propose an interim period in which only families with a strong positive family history for early onset breast and / or ovarian cancer will be offered BRCA1 mutation testing . .


    .row.head-space-xl
      .col-md-10.col-md-offset-1
        .progress
          div(role='progressbar', aria-valuenow='5', aria-valuemin='0', aria-valuemax='100', style='width: 5%;').progress-bar.progress-bar-striped.active
            .sr-only 25% Complete

    .row.head-space
      a(href='/training/intro/2/step/3/', id='next', disabled).btn.btn-default.pull-right Next


block post-footer
  include training/includes/intro-2-js
  script.
      textControl('out', 31);
      var answers1 = ['familial breast cancer'];
      var answers2 = ['breast cancer', 'breast / ovarian cancer', 'breast cancer', 'ovarian cancer', 'breast and / or ovarian cancer', 'breast cancer', 'breast-ovarian cancer', 'breast and / or ovarian cancer' ];
      var validation_check1 = function(collection) {
        if(validate(collection, answers1)) { correct1(); }
      };
      var validation_check2 = function(collection) {
        if(validate(collection, answers2)) { correct2(); }
        if(validate(collection, answers2, 2)) { textControl('in', 0, 59); }
        if(validate(collection, answers2, 4)) { textControl('in', 0, 81); }
        if(validate(collection, answers2, 5)) { textControl('in', 0, 106); }
        if(validate(collection, answers2, 6)) { textControl('in', 0, 136); }
        if(validate(collection, answers2, 7)) { textControl('in', 0, 1000); }
      };

