extends base

block header
  - with headerMessage='Training #2: Avoiding Common Pitfalls'
    include includes/header


block content
  .container
    .row.foot-space
      .col-md-12
        h2 Use your Disease Marking Skill to Mark this Doc


    .row
      #quest-alerts.col-md-10.col-md-offset-1
      #quest-1.col-md-10.col-md-offset-1.paragraph-box
        p.paragraph Age at diagnosis as an indicator of eligibility for BRCA1 DNA testing in familial breast cancer .
      #quest-2(style='display: none;').col-md-10.col-md-offset-1.paragraph-box
        p.paragraph We searched for criteria that could indicate breast cancer families with a high prior probability of being caused by the breast / ovarian cancer susceptibility locus BRCA1 on chromosome 17 . To this end , we performed a linkage study with 59 consecutively collected Dutch breast cancer families , including 16 with at least one case of ovarian cancer . We used an intake cut-off of at least three first-degree relatives with breast and / or ovarian cancer at any age . Significant evidence for linkage was found only among the 13 breast cancer families with a mean age at diagnosis of less than 45 years . An unexpectedly low proportion of the breast-ovarian cancer families were estimated to be linked to BRCA1 , which could be due to a founder effect in the Dutch population . Given the expected logistical problems in clinical management now that BRCA1 has been identified , we propose an interim period in which only families with a strong positive family history for breast and / or ovarian cancer will be offered BRCA1 mutation testing . .


    .row.head-space-xl
      .col-md-8.col-md-offset-2
        .progress
          div(role='progressbar', aria-valuenow='5', aria-valuemin='0', aria-valuemax='100', style='width: 25%;').progress-bar.progress-bar-striped.active
      .col-md-8.col-md-offset-2
        #next-container.pull-right
          a(href='/training/intro/2/step/3/', id='next', disabled).btn.btn-default Next


block post-footer
  include training/includes/intro-2-js
  include document/includes/instructions-modal
  script.
    window.intercomSettings['quest'] = 2;
  script.
      textControl('out', 31);
      var answers1 = [{'text': 'familial breast cancer', 'start': 73}];
      var answers2 = [{'text': 'breast cancer', 'start': 45},
      {'text': 'breast / ovarian cancer', 'start': 121},
      {'text': 'breast cancer', 'start': 272},
      {'text': 'ovarian cancer', 'start': 336},
      {'text': 'breast and / or ovarian cancer', 'start': 425},
      {'text': 'breast cancer', 'start': 530},
      {'text': 'breast-ovarian cancer', 'start': 644},
      {'text': 'breast and / or ovarian cancer', 'start': 972}];

      var validation_check1 = function(collection) {
        if(validate(collection, answers1)) { correct1(); }
      };
      var validation_check2 = function(collection) {
        if(validate(collection, answers2)) { correct2(); }
        if(validate(collection, answers2, 2)) { textControl('in', 0, 59); }
        if(validate(collection, answers2, 4)) { textControl('in', 0, 81); }
        if(validate(collection, answers2, 5)) { textControl('in', 0, 106); }
        if(validate(collection, answers2, 6)) { textControl('in', 0, 136); }
        if(validate(collection, answers2, 7)) { textControl('in', 0, 1000); }
      };

