extends base

block header
  - with headerMessage='Training #2: Avoiding Common Pitfalls'
    include includes/header


block content
  .container
    .row.foot-space
      .col-md-12
        h2 Use your Disease Marking Skill to Mark this Doc


    .row
      #quest-alerts.col-md-10.col-md-offset-1
      #quest-1.col-md-10.col-md-offset-1.paragraph.entity_tag
        p Estimation of the male to female ratio of mutation rates from the segregation of X-chromosomal DNA haplotypes in Duchenne muscular dystrophy families.
      #quest-2(style='display:none;').col-md-10.col-md-offset-1.paragraph.entity_tag
        p A novel procedure is presented to estimate the ratio of male to female mutation rates for Duchenne muscular dystrophy ( DMD ) . X-specific restriction fragment length polymorphisms are used to establish DNA haplotypes in three-generation DMD families . From the proportion of DMD patients who have inherited their maternal grandfathers X chromosome , the ratio of mutation rates can be calculated . In contrast to classical methods , the proposed procedure is not restricted to sporadic or familiar cases nor is any information on the carrier status of female relatives required .


    .row.head-space-xl
      .col-md-8.col-md-offset-2
        .progress
          div(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width: 0%;').progress-bar.progress-bar-striped.active
      .col-md-8.col-md-offset-2
        #next-container.pull-right
          a(href='/training/intro/2/step/2/', id='next', disabled).btn.btn-default Next


block post-footer
  include training/includes/intro-2-js
  script.
      textControl('out', 23);
      var answers1 = [{'text': 'Duchenne muscular dystrophy', 'start': 113}];
      var answers2 = [{'text': 'Duchenne muscular dystrophy', 'start': 90},
        {'text': 'DMD', 'start': 120},
        {'text': 'DMD', 'start': 238},
        {'text': 'DMD', 'start': 276}];
      var validation_check1 = function(collection) {
        if(validate(collection, answers1)) { correct1(); }
      };
      var validation_check2 = function(collection) {
        if(validate(collection, answers2)) { correct2(); }
        if(validate(collection, answers2, 2)) { textControl('in', 0, 38); }
        if(validate(collection, answers2, 3)) { textControl('in', 0); }
      };
