extends base

block header
  - with headerMessage='Quest #2: Avoiding Common Pitfalls'
    include includes/header


block content
  .container
    .row
      .col-md-12
        h2 Let's start by marking diseases.
        h3.lead Click on the disease term in the sentence below to mark it.


    #partner(style='display: none;').row.head-space
      .col-md-10.col-md-offset-1
        p You were paired with Doc_G-man <small>Level: Gold Master Marker</small>


    .row.head-space-xl
      #quest.col-md-10.col-md-offset-1.paragraph.entity_tag
        p Does choice of insulin regimen really matter in the management of diabetes?


    .row.head-space-xl
      .col-md-10.col-md-offset-1
        .progress
          div(role='progressbar', aria-valuenow='5', aria-valuemin='0', aria-valuemax='100', style='width: 5%;').progress-bar.progress-bar-striped.active
            .sr-only 5% Complete

    .row.head-space
      a(href='/introduction/quest/1/step/2/', id='next', disabled).btn.btn-default.pull-right Next


block post-footer
    <script id="word-template" type="text/template"><% if(neighbor) { %><%= text %><% } else { %><%= text %> <% } %></script>
    script.
      YPet.addInitializer(function(options) {
        // Create our regions
        YPet.addRegions({quest: '#quest'});
        // Add our views for each section
        var p = new Paragraph({'text': $('#quest').text().trim()});
        p.parseText();
        var view = new WordCollectionView({collection: p.get('words')});
        YPet['quest'].show( view );
      });
      YPet.start();

      var diabetes_intro = introJs();
      diabetes_intro.setOptions({
        'skipLabel': 'Exit',
        'keyboardNavigation': false,
        steps: [
          {
            element: '#partner',
            intro: 'This is an example of a Mark2Cure contributer you could be partnered with.',
            position: 'top',
          },
          {
            element: '.progress',
            intro: 'You will receive points based on how well you and your partner\'s markings matched.',
            position: 'left',
          },
          {
            element: '.paragraph',
            intro: 'The colored lines show how your partner marked this doc.',
            position: 'bottom',
          },
        ]
      });

      YPet['quest'].currentView.collection.parentDocument.get('annotations').on('add', function(model, collection) {
        // Step 1
        if(model.get('text') == 'diabetes' && collection.length == 1) {
          $('#partner').slideDown(function() {
            diabetes_intro.start();
          });
          $('#next').attr('disabled', false);
        }

      });

