extends instructions/home


block header
  - with headerMessage='Disease Concept Marking Rules'
    include includes/header


block breadcrumb
  li.breadcrumb-item
    a(href='{% url "instructions:entity-recognition" %}') Entity Recognition Task
  li.breadcrumb-item.active Diseases


block instructions-content
  ol
    li
      p Mark every instance of a Disease, Disease Class, Symptom or Sign/Diagnostic Sign
      p Eg- <span class='user_annotated'>Ataxia</span class='user_annotated'> is a type of <span class='user_annotated'>movement disorder</span class='user_annotated'>

    li
      p Use the minimum span needed to encompass multiple terms of a disease, disease class, symptom, or sign/diagnostic sign. If there are multiple, nested terms, mark the minimum span that is needed in order to be able to distinguish your markings as a disease, disease class, symptom, or sign/diagnostic sign without the surrounding text.
      p Eg- Mark: <span class='user_annotated'>incessant jiggling or twitching of the toes</span class='user_annotated'>, NOT just <span class='user_annotated'>jiggling</span class='user_annotated'> or <span class='user_annotated'>twitching</span class='user_annotated'>

    li
      p Mark each instance of a disease, disease class, symptom, or sign/diagnostic sign separately or in a separate span (if an instance has multiple words).
      p Eg- Mark: present with <span class='user_annotated'>heart disease</span class='user_annotated'>, <span class='user_annotated'>high blood pressure</span class='user_annotated'>, and <span class='user_annotated'>high LDL levels</span class='user_annotated'>
      p Not: present with <span class='user_annotated'>heart disease, high blood pressure, and high LDL levels</span class='user_annotated'>

    li
      p Mark each instance of an abbreviation of a disease, disease class, symptom, or sign/diagnostic sign

    li
      p Mark specific forms of a disease, disease class, symptom, or sign/diagnostic sign preferentially over more general forms of the disease
      p Eg- <span class='user_annotated'>Familial Alzheimer Disease</span class='user_annotated'> instead of <span class='user_annotated'>Alzheimer Disease</span class='user_annotated'>
      p Eg- <span class='user_annotated'>Early-Onset Alzheimer Disease</span class='user_annotated'> instead of <span class='user_annotated'>Alzheimer Disease</span class='user_annotated'>

    li
      p When in doubt, search online resources like: <a href='http://www.diseasesdatabase.com/begin.asp' target='_blank'>http://www.diseasesdatabase.com/begin.asp</a> and <a href='http://www.ncbi.nlm.nih.gov/mesh/' target='_blank'>http://www.ncbi.nlm.nih.gov/mesh/</a> or visit our <a href='http://mark2cure.wikia.com/wiki/Board:Diseases_Concept_Help' target='_blank'>new Wikia forum for help</a>.
