extends base

- load humanize

block content

  .row
    .jumbotron
      h1.text-center
        | We're sorry, these HITs aren't available to you right now :(

      p.head-space-xl
        | Your work on this task is below an acceptable level of quality. We have prevented you from completing any more of these HITs but we have not added a block to your MTurk account.

      p
        | If you have any questions, please feel free to
        a(href="mailto:nanis@scripps.edu,bgood@scripps.edu?subject=Mark2Cure Worker Banned")
          | contact us
        small
          | (please include your Worker ID)

      p.head-space-xl
        strong
          | Thanks,
      p
        |     Max Nanis
      p
        |     Biologist, TSRI
