extends base

- load widget_tweaks
- load brabeion_tags

block header
  - with headerMessage='Community Dashboard'
    include includes/header

block content
  .container
    .row
      .col-md-5.well
        .row
          .col-md-10.col-md-offset-1
            p Mark2Cure aims to speed up progress in biomedical research by applying the collective intelligence of users just like you! By "marking" docus, you help to annotate biomedical research literature, allowing researchers to gather information...
        .row
          .col-md-10.col-md-offset-1
            h3 I'm here because:
            p #{profile.motivation}

      .col-md-7
        .row
          .col-md-12.text-center
            h3 Library

          .col-md-12(style='max-height:400px;overflow-y:scroll;')
            - for task in tasks
              - if task.kind == 't'
                include common/includes/lib-item-training
              - if task.kind == 'q'
                include common/includes/lib-item-quest


    .row.head-space.foot-space(style='display:none;')
      .col-xs-12.line

    .row(style='display:none;')
      .col-md-4
        h3
          | Productivity Log:

        .col
          .col-md-10.col-md-offset-1
            .list-group
              li.list-group-item
                h4.list-group-item-heading 5/13/2014
                p.list-group-item-text Session Total 52
              li.list-group-item
                h4.list-group-item-heading 5/18/2014
                p.list-group-item-text Session Tota 23
              li.list-group-item
                h4.list-group-item-heading 5/19/2014
                p.list-group-item-text Session Total 75
              li.list-group-item
                h4.list-group-item-heading 5/19/2014
                p.list-group-item-text Session Total 6

          p.text-center
            | Total Annotations: 0123


      .col-md-4
        h3.text-center
          | Mark2Cure Community

        ol.list-view
          li.list-view-item
            | Sara: 19195
          li.list-view-item
            | Jackson: 15824
          li.list-view-item
            | Lisa: 12726


      .col-md-4
        .row
          .col-md-10.col-md-offset-1
            h3 My Score: 26842
            h4 Level: Marker Bee

            small progress to next level:
            .progress
              div(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;').progress-bar.progress-bar-success.progress-bar-striped.active 60%

        .row
          .col-md-10.col-md-offset-1
            ul.list-group
              li.list-group-item
                span.badge 176
                | Most Docs marked in one session
              li.list-group-item
                span.badge 18,435
                | Total Docs marked
              li.list-group-item
                span.badge 192
                | Total Docs skipped

  .container.head-space
    .row
      .col-md-12.line
      .col-md-12
        p.line-text.text-center News
      .col-md-10.col-md-offset-1
        - for post in posts
          .row
            .col-md-12
              h4 #{post.title}
              p #{post.excerpt}



block post-footer
    #fb-root
    script.
      // CSS Toggle for landing page & background
      //$('body').addClass('landing');
