extends base

- load widget_tweaks
- load webdesign

block header
  .container-fluid
    .row
      .col-md-12
        h1.text-center
          a(href='/') Mark2Cure


block content
  #carousel-features(data-ride='carousel').carousel.slide
    ol.carousel-indicators
      li(data-target='#carousel-features', data-slide-to='0').active
      li(data-target='#carousel-features', data-slide-to='1')

    .carousel-inner
      .item.active
        img(src='http://www.puff.me.uk/ss/ZxPPz1xyOt9f9.png')
        .container
          .carousel-caption
            h2 Scientific communication is broken.
            p {% lorem 1 p %}
            p {% lorem 20 w %}

      .item
        img(src='http://www.puff.me.uk/ss/ZxPPz1xyOt9f9.png')
        .container
          .carousel-caption
            h2 Scientific communication is broken. 2
            p {% lorem 1 p %}
            p {% lorem 20 w %}

    a(href='#carousel-features', role='button', data-slide='prev').left.carousel-control
      span.glyphicon.glyphicon-chevron-left

    a(href='#carousel-features', role='button', data-slide='next').right.carousel-control
      span.glyphicon.glyphicon-chevron-right

  .container.head-space
    .row
      .col-md-6
        .row
          .col-md-12
            h3.text-center Get Started

        .row
          .col-md-8.col-md-offset-2
            p.text-center The process only takes five minutes! Join an international community of citizen Scientists dedicated to making a difference.
          .col-md-6.col-md-offset-3
            a(href='/training/basics/').btn.btn-default.btn-block Start Now

        .row.head-space
          .col-md-8.col-md-offset-2
            h3.text-center Already a contributer?
          .col-md-8.col-md-offset-2
            ul.list-inline.text-center
              li
                a(href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}")
                  i.fa.fa-twitter.fa-2x

          .col-md-8.col-md-offset-2
            - if form.errors
              p Your username and password didn't match. Please try again.
              #{form.errors}

            form(role='form', action='/account/login/', method='post').form-horizontal
              - csrf_token
              .form-group
                label(for='exampleInputEmail1') Username
                #{form.username|add_class:"form-control"|attr:"placeholder:Username"}

              .form-group
                label(for='exampleInputPassword1') Password
                #{form.password|add_class:"form-control"|attr:"placeholder:Password"}

              .form-group
                p.pull-right
                  a(href="/account/reset/") Forgot password?
                button(type='submit').btn.btn-default Login


      .col-md-6
        .row
          .col-md-10.col-md-offset-1.well
            p {% lorem 2 p %}
