- load humanize

block content
  .container
    .row
      .col-xs-8.col-xs-offset-2
        .row.alert.alert-info.alert-sticky.text-center
          h2 Congratulations you completed QUEST NAME HERE!

    .row
      .col-xs-10.col-xs-offset-1
        h2.text-center Score: <span id='score'>0</span>

    .row
      .col-xs-3.col-xs-offset-2
        a(href='/dashboard/').btn.btn-default.btn-block Go to dashboard
      .col-xs-3.col-xs-offset-2
        a(href='#', id='nextavailquest').btn.btn-default.btn-block Start next quest

  script.
    /* Rather than have a view to fetch the ramining quests, use the
    API and filter so we can on-click determine what quest the
    player should do next */
    $('#nextavailquest').on('click', function(evt) {
      evt.preventDefault();
      evt.stopPropagation();

      var ajax_settings = {
        'type': 'GET',
        'url': '/quest/api/read/',
        'success': function(data) {
          var set = _.filter(data, function(q) {
            return q.user.completed == false && q.user.enabled ==  true;
          });
          if(set.length) {
            window.location = '/quest/' + set[0].id;
          } else { window.location = '/dashboard/'; }
        }
      };
      $.ajax(ajax_settings);
    });

