extends base

- load humanize

block content

  .row
    .jumbotron
      h1.text-center
        | We're sorry to bother you but we have a few questions 
      p.head-space-xl
        strong
          | Don't worry!
        | this counts as a HIT $$$ (&hearts; Thank you! &hearts;).

      form


      p.head-space-xl
        strong
          | Thanks for being awesome,
      p
        |     Max Nanis
      p
        |     Biologist, TSRI
