#relation-training-progress {
  .modal-body {
    .list-group {

      .list-group-item {
        margin-top: 6px;
        margin-bottom: 6px;
        font-size: 1.4em;
      }

      .completed {
        border: $color_green;
        background-color: $color_green;
      }

      .current {
        border: 4px solid $color_purple;
        color: $color_purple;
      }

      .locked {
        border: 4px solid $color_gray !important;
        color: $color_gray;
      }

    }
  }
}
