.tooltip {
  @include font-sans;
  font-size: 13px;
}


.modal-dialog {
  z-index: 1041;
}

#partner {
  h2 {
    @include font-sans;
    color: $color_black;
    text-transform: uppercase;
    margin-bottom: 0px;
  }
}

.disease-concept-bg { background-color: $color_disease; }
.gene-concept-bg { background-color: $color_gene; }
.treatment-concept-bg { background-color: $color_treatment; }

#concept-type-instruction-link-list {
  .list-group-item {
    padding: .5rem .5rem;
  }
}
