// #relation-training-progress {
//   .list-group {
//
//     .list-group-item {
//       margin-top: 6px;
//       margin-bottom: 6px;
//       font-size: 1.4em;
//     }
//
//     .completed {
//       border: $color_green;
//       background-color: $color_green;
//     }
//
//     .current {
//       border: 4px solid $color_purple;
//       color: $color_purple;
//     }
//
//     .locked {
//       border: 4px solid $color_gray !important;
//       color: $color_gray;
//     }
//
//   }
//
//   .list-group.dashboard {
//     .list-group-item {
//       font-size: 1em;
//     }
//   }
//
//   a {
//     color: $color_black;
//   }
//
// }
//

.tooltip {
  @include font-sans;
  font-size: 13px;
}


.modal-dialog {
  z-index: 1041;
}

#partner {
  h2 {
    @include font-sans;
    color: $color_black;
    text-transform: uppercase;
    margin-bottom: 0px;
  }
}

.disease-concept-bg { background-color: $color_disease; }
.gene-concept-bg { background-color: $color_gene; }
.treatment-concept-bg { background-color: $color_treatment; }

#concept-type-instruction-link-list {
  .list-group-item {
    padding: .5rem .5rem;
  }
}
