#re-training-area {
  flex: 1;

  #training-module-navigation {
    background-color: $color_gray_lightest;
    border-bottom: 8px solid $color_gray_lightest;
    .breadcrumb {
      background-color: $color_gray_lightest;
      @include user-select(none);
      li {
        cursor: pointer;
      }
      li.active {
        color: $color_purple;
      }
    }
  }

  #training-message-center {}

  #training-module {
    #module-progress {
      // border-bottom: 2px solid $color_black;
    }

    #training-action {
      .walkthrough {
      }
    }

    #training-text {
      @include font-serif;
      #training-description {
        p {
          font-size: 1.5em;

          &.sub {
            font-size: 1.25em;
          }
        }
      }
      #training-instructions {
        min-height: 178px;
        border-left: 2px solid $color_black;

        #training-instruction-counter {
          border-bottom: 2px solid $color_black;
          border-right: 2px solid $color_black;

          background-color: $color_white;
          margin: -2px;
          position: absolute;
          height: 40px;
          width: 40px;
          top: 0px;
          left: 0px;
          font-size: 1.5em;
        }
        p {
          margin-top: 42px;
          font-size: 1.25em;
        }
      }
    }

    #training-footer {

      .progress {
        background-color: $color_white;
        border: 1px solid $color_black;
        height: 1em;
        .progress-bar {
          height: 1em;
        }
      }

      a.btn {
        border: 3px solid $color_purple;

        &:hover {
          cursor: pointer;
          background-color: $color_purple;
          color: $color_white;
        }
      }

    }
  }

}

.holder {
  width: 20px;
  height: 20px;
  position: absolute;
  cursor: pointer;

  p {
    margin: 0px;
    padding: 0px;
    font-size: .75em;
    position: absolute;
    top: 1.25px;
    left: 6.25px;
    z-index: 99991;
    color: $color_white;
    // text-shadow: 0px 0px 1px $color_black;
  }

  .pulse {
    width: 20px;
    height: 20px;
    border: 5px solid $color_red;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: $color_red;
    z-index: 9999;
    position: absolute;
  }

  .dot {
    border: 10px solid $color_red;
    background: transparent;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    height: 50px;
    width: 50px;
    -webkit-animation: pulse 3s ease-out;
    -moz-animation: pulse 3s ease-out;
    animation: pulse 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    position: absolute;
    top: -15px;
    left: -15px;
    z-index: 1;
    opacity: 0;
  }

}


.popover {
  color: $color_white;
  z-index: 9999;

  .popover-title { display: none; }
  .popover-content {
    padding: 4px 8px;
    p { margin: 0px; padding: 0px; }
  }
}


@-moz-keyframes pulse {
 0% {
  -moz-transform: scale(0);
  opacity: 0.0;
 }
 25% {
  -moz-transform: scale(0);
  oopacity: 0.1;
 }
 50% {
  -moz-transform: scale(0.1);
  opacity: 0.3;
 }
 75% {
  -moz-transform: scale(0.5);
  opacity: 0.5;
 }
 100% {
  -moz-transform: scale(1);
  opacity: 0.0;
 }
}
@-webkit-keyframes "pulse" {
 0% {
  -webkit-transform: scale(0);
  opacity: 0.0;
 }
 25% {
  -webkit-transform: scale(0);
  opacity: 0.1;
 }
 50% {
  -webkit-transform: scale(0.1);
  opacity: 0.3;
 }
 75% {
  -webkit-transform: scale(0.5);
  opacity: 0.5;
 }
 100% {
  -webkit-transform: scale(1);
  opacity: 0.0;
 }
}
