<!-- Dashboard-->

<script id="dashboard-template" type="html/template">
  <div id="dashboard-ner" class="col-md-6 col-lg-5 hidden-sm-down"></div>
  <div id="dashboard-re" class="col-12 col-md-6 col-lg-5"></div>
  <div id="dashbaord-leaderboard" class="col-lg-2 hidden-md-down"></div>
</script>

<script id="dashboard-ner-template" type="html/template">
  <div class="col-12">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <h4 class="task-stats-title text-center">Named Entity Recognition</h4>
      </div>
    </div>
    <div class="row justify-content-center no-gutters">
      <div class="col-12 col-md-10 task-score">
        <div class="task-score-content m-3">
          <div class="row no-gutters py-2">
            <div class="col-4 task-value"><%- total_score %></div>
            <div class="col-8 task-label">task score</div>
          </div>
          <hr/>
          <div class="row no-gutters py-2">
            <div class="col-4 task-value"><%- quests_completed %></div>
            <div class="col-8 task-label">quests completed</div>
          </div>
          <hr/>
          <div class="row no-gutters py-2">
            <div class="col-4 task-value"><%- papers_reviewed %></div>
            <div class="col-8 task-label">papers reviewed</div>
          </div>
          <hr/>
          <div class="row no-gutters py-2">
            <div class="col-4 task-value"><%- annotations %></div>
            <div class="col-8 task-label">task annotations</div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-12 text-center">
              <ul class="m-0 list-inline">
                <li class="list-inline-item"><a href="{% url "instructions:entity-recognition" %}">Rules</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="dashboard-ner-list" class="row"></div>
  </div>
</script>

<script id="dashboard-ner-unlock-template" type="html/template">
  <div class="col-10">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h4 class="task-stats-title text-center">Named Entity Recognition</h4>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 text-center unlock-icon"><i aria-hidden="true" class="fa fa-lock fa-5x"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center"><small>Complete the following training steps to unlock an entire new task!</small>
      </div>
    </div>
    <div class="row">
      <div id="relation-training-progress" class="col-12">
        <div class="list-group dashboard text-xcenter">
          <!-- (TODO) fill this in from the api-->
        </div>
      </div>
    </div>
  </div>
</script>

<script id="dashboard-ner-quest-template" type="html/template">
  <div class="col-10">
    <div class="row">
      <div class="col-12">
        <a href="/group/<%- stub %>/">
          <h3 class="pull-right"><%- name %></h3>
        </a>
      </div>
    </div>
    <div class="task-list-view">
      <div class="row">
        <div class="col-12">
          <p class="quest-loading text-center">Loading...</p>
        </div>
      </div>
    </div>
  </div>
</script>

<script id="dashboard-ner-quest-task-template" type="text/template">
  <div class="row no-gutters">
    <div class="col-12 text-center">
      <% if(progress.completed) { %>
      <span title="The community has completed this Quest." class="fa fa-certificate muted"></span>
      <% } else if (user.completed) { %>
      <span title="You have completed this Quest." class="fa fa-check"></span>
      <% } else if (!user.enabled) { %>
      <span title="This quest is not enabled." class="fa fa-circle muted"></span>
      <% } else { %>
      <a href="/task/ner/quest/<%- id %>/" title="Click to start this quest!">
        <p style="font-size: 1.75em; line-height: 1.8em;"><%- name %></p>
      </a>
      <% } %>
    </div>

    <% if(user.enabled) { %>
    <div title="This quest is <%- Math.round(percentage_progress) %>% complete." class="col-12">
      <div class="progress">
        <div role="progressbar" style="width: <%- percentage_progress %>%;" aria-valuenow="<%- percentage_progress %>" aria-valuemin="0" aria-valuemax="100" class="progress-bar"></div>
      </div>
    </div>
    <% } %>

    <small><%- progress.current %>/<%- progress.required %> Completes</small>
  </div>
</script>

<script id="dashboard-re-template" type="html/template">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10">
      <h4 class="task-stats-title text-center">Relationship Extraction</h4>
    </div>
  </div>
  <div class="row justify-content-center no-gutters">
    <div class="col-12 col-md-10 task-score">
      <div class="task-score-content m-3">
        <div class="row no-gutters py-2">
          <div class="col-4 task-value"><%- total_score %></div>
          <div class="col-8 task-label">task score</div>
        </div>
        <hr/>

        <div class="row no-gutters py-2">
          <div class="col-4 task-value"><%- quests_completed %></div>
          <div class="col-8 task-label">docs completed</div>
        </div>
        <hr/>

        <div class="row no-gutters py-2">
          <div class="col-4 task-value"><%- annotations %></div>
          <div class="col-8 task-label">task step contributions</div>
        </div>
        <hr/>

        <div class="row">
          <div class="col-12 text-center">
            <ul class="m-0 list-inline">
              <li class="list-inline-item"><a href="{% url "instructions:relation" %}">Rules</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div id="dashboard-re-list"></div>
</script>

<script id="relation-list-item-template" type="text/template">
  <div class="d-flex w-100 justify-content-end">
    <small><%= user_document_relationships %> steps</small>
  </div>
  <p class="mb-1"><%= title %></p>
  <div title="This Relationship Extraction task is <%- Math.round(community_progress*100) %>% complete." class="col-12">
    <div class="progress">
      <div role="progressbar" style="width: <%- community_progress*100 %>%;" aria-valuenow="<%- community_progress*100 %>" aria-valuemin="0" aria-valuemax="100" class="progress-bar"></div>
    </div>
  </div>
</script>

<script id="dashboard-re-unlock-template" type="html/template">
  <div class="col-10">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h4 class="task-stats-title text-center">Relationship Extraction</h4>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 text-center unlock-icon"><i aria-hidden="true" class="fa fa-lock fa-5x"></i></div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <small>Complete the following training steps to unlock an entire new task!</small>
      </div>
    </div>
    <div class="row">
      <div id="relation-training-progress" class="col-12">
        <div class="list-group dashboard text-center">
        <% if(re == 0) { %>
        <a href="{% url "training:re" %}" class="list-group-item current"><i class='fa fa-angle-right' aria-hidden='true'></i>  Using the interface</a>
        <div class="list-group-item locked disabled"><i class='fa fa-lock' aria-hidden='true'></i>  Rules for Relationship Extraction</div>
        <div class="list-group-item locked disabled"><i class='fa fa-lock' aria-hidden='true'></i>  Learn new relationships: Broad</div>
        <% } %>

        <% if(re == 1) { %>
        <div class="list-group-item completed"><i class='fa fa-check' aria-hidden='true'></i>  Using the interface</div>
        <a href="{% url "training:re" %}" class="list-group-item current"><i class='fa fa-angle-right' aria-hidden='true'></i>  Rules for Relationship Extraction</a>
        <div class="list-group-item locked disabled"><i class='fa fa-lock' aria-hidden='true'></i>  Learn new relationships: Broad</div>
        <% } %>

        <% if(re == 2) { %>
          <div class="list-group-item completed"><i class='fa fa-check' aria-hidden='true'></i>  Using the interface</div>
          <div class="list-group-item completed"><i class='fa fa-check' aria-hidden='true'></i>  Rules for Relationship Extraction</div>
          <a href="{% url "training:re" %}" class="list-group-item current"><i class='fa fa-angle-right' aria-hidden='true'></i>  Learn new relationships: Broad</a>
        <% } %>

        </div>
      </div>
    </div>
  </div>
</script>

<script id="dashboard-leaderboard-template" type="html/template">
  <div class="col-12">
    <h2 class="text-xs-center">Top <%- api %> <span><i class="fa fa-angle-right" aria-hidden="true"></i></span></h2>
    <h4 class="text-xs-center"><%- text %> <span><i class="fa fa-angle-right" aria-hidden="true"></i></span></h4>
    <div id="leaderboard-item-list" class="row"></div>
  </div>
</script>

<script id="dashboard-leaderboard-item-template" type="html/template">
  <p class="m-0">
  <% if(hover){ %>
  <%= score %>
  <% } else {%>
  <%= name %>
  <% } %>
  </p>
</script>

<!-- Tasks (NER + RE)-->
<script id="ypet-document-results-template" type="html/template">
  <div class="col-12"><% if(opponent) { %>

    <div class="header-message">
      <h2 class="text-center py-3 mb-0">You were paired with the <%= opponent.level %> <%= opponent.name %> and earned <%= award.amount %> points!</h2>
    </div><% } else { %>

    <div class="header-message">
      <h2 class="text-center">New Annotations!</h2>
      <h3 class="text-center">You earned <%= award.amount %> points for marking this new document</h3>
      <p class="text-center">You were the first person to annotate this document, <strong>thank you</strong> for your contribution to science!</p>
    </div><% } %>

  </div>
</script>

<script id="ypet-quest-completed-template" type="html/template">
  <% if(uqr_created) {%>
  <div class="col-12">
    <div class="header-message">
      <h2 class="py-3 text-center">Congratulations you completed Quest <%= task.name %></h2>
    </div>
  </div>
  <div class="col-12 my-3 py-3">
    <div class="ypet-info-message">
      <div class="row justify-content-center py-3">
        <div class="col-8">
          <h2 class="text-center">Bonus Points: <%= award.amount %></h2>
          <p class="lead text-center">You've made a valuable and important contribution! Tell your friends about it now and help find cures faster.</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-6">
          <div class="row mt-3 justify-content-center nav-action-area">
            <div class="col-6 text-right"><a href="{% url "common:dashboard" %}"><span class='chevron'>&laquo;</span> to dashboard</a>
            </div>
            <div class="col-6 text-left">
              <p id="next-quest">Start next</p>
            </div>
          </div>
          <div class="row my-3 justify-content-center social-action-area">
            <div class="col-3 text-right"><a href="https://twitter.com/intent/tweet?text=I just completed Quest <%= task.name %> of the <%= group.name %> doc set at https://mark2cure.org. If you can read, you can help researchers find cures FASTER."><i class="fa fa-twitter-square"></i>Tweet!</a>
            </div>
            <div class="col-3 text-left"><a title="Share on Facebook" href="http://www.facebook.com/sharer.php?s=100&p[title]=Mark2Cure&p[summary]=I just completed Quest {{task.name}} of the {{task.group.stub}} doc set at https://mark2cure.org. If you can read, you can help researchers find cures FASTER.&p[url]=http://mark2cure.org&p[images][0]=YOUR_IMAGE_TO_SHARE_OBJECT" target="_blank"><i class="fa fa-facebook-square"></i>Share!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } else {%>

  <div class="col-12">
    <div class="header-message">
      <h2 class="py-3 text-center">Quest <%= task.name %> in the <%= group.name %> group was already completed.</h2>
    </div>
  </div>
  <div class="col-12 my-3 py-3">
    <div class="ypet-info-message">
      <div class="row justify-content-center py-3">
        <div class="col-8">
          <p class="lead text-center">Completions are valuable contributions! Tell your friends about it now and help find cures faster.</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-6">
          <div class="row mt-3 justify-content-center nav-action-area">
            <div class="col-6 text-right"><a href="{% url "common:dashboard" %}"><span class='chevron'>&laquo;</span> to dashboard</a>
            </div>
            <div class="col-6 text-left">
              <p id="next-quest">Start next</p>
            </div>
          </div>
          <div class="row my-3 justify-content-center social-action-area">
            <div class="col-3 text-right"><a href="https://twitter.com/intent/tweet?text=I just completed Quest <%= task.name %> of the <%= group.name %> doc set at https://mark2cure.org. If you can read, you can help researchers find cures FASTER."><i class="fa fa-twitter-square"></i>Tweet!</a>
            </div>
            <div class="col-3 text-left"><a title="Share on Facebook" href="http://www.facebook.com/sharer.php?s=100&p[title]=Mark2Cure&p[summary]=I just completed Quest {{task.name}} of the {{task.group.stub}} doc set at https://mark2cure.org. If you can read, you can help researchers find cures FASTER.&p[url]=http://mark2cure.org&p[images][0]=YOUR_IMAGE_TO_SHARE_OBJECT" target="_blank"><i class="fa fa-facebook-square"></i>Share!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% } %>
</script>

<script id="ypet-navigation-template" type="html/template">
  <!-- Document header Information
    1) List of document Icons
    2) Ongoing score (live)
    3) Current Level (not live) -->
  <div id="progress-bar" class="col-6"></div>
  <div class="col-2">
    <p class="text-center">Score: <span id='score'>0</span></p>
  </div>
</script>

<script id="ypet-template" type="html/template">
  <div id="ypet-navigation" class="col-12"></div>
  <div id="ypet-message-center" class="col-12"></div>
  <div id="ypet-results" class="col-10"></div>
  <div id="ypet-text" class="col-12 col-md-10"></div>
  <div id="ypet-footer" class="col-10"></div>
</script>

<script id="ypet-footer-template" type="html/template">
  <div id="ypet-footer-help" class="col-3"></div>
  <div id="ypet-footer-confirm" class="col-4"></div>
  <div id="ypet-footer-search" class="col-3"></div>
</script>

<script id="ypet-footer-help-template" type="html/template">
  <div class="col-12">
    <div class="list-group">
    <% if(mode == 'ner') { %>
        <!-- NER -->
        <a href="{% url "instructions:entity-recognition-diseases" %}" target="_blank" class="list-group-item list-group-item-action diseases">Disease Concept <i class="fa fa-external-link"></i></a><a href="{% url "instructions:entity-recognition-genes" %}" target="_blank" class="list-group-item list-group-item-action genes">Genes Concept <i class="fa fa-external-link"></i></a><a href="{% url "instructions:entity-recognition-treatments" %}" target="_blank" class="list-group-item list-group-item-action treatments">Treatments Concept <i class="fa fa-external-link"></i></a>
    <% } %>
    <% if(mode == 're') { %>
      <!-- RE -->
      <a href="{% url "instructions:relation" %}" style="background-color:#fff; color:#7F3CFF; border-color:#7F3CFF; border-width:3px" class="btn btn-default">Relation Instructions  <i class="fa fa-external-link fa-lg"></i></a><a href="{% url "instructions:relation-definition-disease" %}" style="background-color: #d1f3ff;" class="btn btn-default">Disease Concept  <i class="fa fa-external-link fa-lg"></i></a><a href="{% url "instructions:relation-definition-gene" %}" style="background-color:rgb(177, 255, 168);" class="btn btn-default">Genes Concept  <i class="fa fa-external-link fa-lg"></i></a><a href="{% url "instructions:relation-definition-drug" %}" style="background-color:rgb(255, 209, 220);" class="btn btn-default">Drugs Concept  <i class="fa fa-external-link fa-lg"></i></a>
    <% } %>
    </div>
  </div>
</script>

<script id="ypet-footer-next-template" type="html/template">
  <div class="col-12 next">
    <div style="display:none;" class="row">
      <div class="col-12 text-center">
        <p class="mb-0">Annotations in this doc have been discussed 0 times.</p><strong>Discuss Now?</strong>
      </div>
    </div>
    <div class="row my-3">
      <div style="display:none;" class="col-6 text-right">
        <p class="button btn btn-default btn-block">Yes, Let's Talk</p>
      </div>
      <div class="col-12">
        <p class="button btn btn-primary btn-block next-doc">Next Doc</p>
      </div>
    </div>
  </div>
</script>

<script id="ypet-footer-search-template" type="html/template">
  <div class="col-12">
    <a href="#" target="_blank" class="btn btn-info btn-block">Search <i class="fa fa-external-link fa-lg"></i><br/><small></small></a>
  </div>
</script>

<script id="tree-template" type="html/template">
  <div class="col-12">
    <div id="tree-navigation"></div>
    <div id="tree-selection"></div>
    <div id="tree-selection-results"></div>
    <div class="row justify-content-center my-4">
      <div class="col-12 col-md-10">
        <div id="tree-text"></div>
      </div>
    </div>
  </div>
</script>

<script id="tree-navigation-template" type="html/template">
  <div id="progress-bar" class="col-6"></div>
  <div class="col-2">
    <p class="text-center">Score: <span id='score'>0</span></p>
  </div>
</script>

<script id="tree-reextraction-result-answer-item-template" type="html/template"><div class="box" style="background-color: <%= color %>;"></div>
  <% if(self) { %>
  <p><strong><%= percentage %>% – <%= label %></strong></p>
  <% } else { %>
  <p><%= percentage %>% – <%= label %></p>
  <% } %>
</script>

<script id="tree-reextraction-results-template" type="html/template">
  <div class="col-10">
    <div class="row">
      <div id="reextraction-answers-chart"></div>
    </div>
    <div class="row">
      <div class="col-12">
        <div id="reextraction-answers-list"></div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-">
        <button class="btn btn-primary btn-block">Next</button>
      </div>
    </div>
  </div>
</script>

<script id="tree-reextraction-concept-template" type="html/template">
  <div class="flag">&#10005;</div>
  <div class="text col-xs-12">
    <p><%= text %></p>
  </div>
  <div class="desc col-xs-12">
    <p>is not a <%= type %> concept?</p>
  </div>
</script>

<script id="tree-reextraction-template" type="html/template">
  <div class="col-10">
    <div id="tree-extraction" class="row text-center">
      <div id="c1" class="col-8 col-sm-4 col-md-3"></div>
      <div style="col-12 col-sm-4 col-md-6" class="col-10 col-sm-4 col-md-6">
        <div id="selected-choice"></div>
        <div id="rechoices-list"></div>
      </div>
      <div id="c2" class="col-8 offset-4 offset-sm-0 col-sm-4 col-md-3"></div>
    </div>
    <div id="tree-confirm" class="row justify-content-center my-2 mb-0 mb-md-4"></div>
  </div>
</script>

<script id="tree-completed-template" type="html/template">
  <% if(re_task.created) { %>
    <div class="col-12">
      <div class="header-message">
        <h2 class="py-3 text-center">Congratulations! You completed all the relationships!</h2>
      </div>
    </div>
    <div id="re-synopsis" class="col-12"></div>
    <hr/>

    <div class="col-12 my-3 py-3">
      <div class="tree-info-message">
        <div class="row justify-content-center py-3">
          <div class="col-8">
            <h2 class="text-center">Bonus Points: <%= award.amount %></h2>
            <p class="lead text-center">You've made a valuable and important contribution! Tell your friends about it now and help find cures faster.</p>
          </div>
        </div>
        <div class="row justify-content-center text-center">
          <div class="col-6">
            <div class="row mt-3 justify-content-center nav-action-area">
              <div class="col-6 text-right">
                <a href="{% url "common:dashboard" %}"><span class='chevron'>&laquo;</span> to dashboard</a>
              </div>
              <div class="col-6 text-left">
                <p id="next-re-doc">Start next</p>
              </div>
            </div>
            <div class="row my-3 justify-content-center social-action-area">
              <div class="col-3 text-right">
                <a href="https://twitter.com/intent/tweet?text=I just extracted <%= document.relationship_count %> relationships for https://www.ncbi.nlm.nih.gov/pubmed/<%= document.pmid %> at https://mark2cure.org. If you can read, you can help!"><i class="fa fa-twitter-square"></i>Tweet!</a>
              </div>
              <div class="col-3 text-left">
                <a title="Share on Facebook" href="http://www.facebook.com/sharer.php?s=100&p[title]=Mark2Cure&p[summary]=I just extracted <%= document.relationship_count %> relationships for https://www.ncbi.nlm.nih.gov/pubmed/<%= document.pmid %> at https://mark2cure.org. If you can read, you can help!&p[url]=http://mark2cure.org&p[images][0]=YOUR_IMAGE_TO_SHARE_OBJECT" target="_blank"><i class="fa fa-facebook-square"></i>Share!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% } else {%>

    <div class="col-12">
      <div class="header-message">
        <h2 class="py-3 text-center">All <%= document.relationship_count %> relationships have already been completed.</h2>
      </div>
    </div>
    <div id="re-synopsis" class="col-12"></div>
    <hr/>
    <div class="col-12 my-3 py-3">
      <div class="tree-info-message">
        <div class="row justify-content-center py-3">
          <div class="col-8">
            <p class="lead text-center">Completions are valuable contributions! Tell your friends about it now and help find cures faster.</p>
          </div>
        </div>
        <div class="row justify-content-center text-center">
          <div class="col-6">
            <div class="row mt-3 justify-content-center nav-action-area">
              <div class="col-6 text-right"><a href="{% url "common:dashboard" %}"><span class='chevron'>&laquo;</span> to dashboard</a>
              </div>
              <div class="col-6 text-left">
                <p id="next-re-doc">Start next</p>
              </div>
            </div>
            <div class="row my-3 justify-content-center social-action-area">
              <div class="col-3 text-right"><a href="https://twitter.com/intent/tweet?text=I just extracted <%= document.relationship_count %> relationships for https://www.ncbi.nlm.nih.gov/pubmed/<%= document.pmid %> at https://mark2cure.org. If you can read, you can help!"><i class="fa fa-twitter-square"></i>Tweet!</a>
              </div>
              <div class="col-3 text-left"><a title="Share on Facebook" href="http://www.facebook.com/sharer.php?s=100&p[title]=Mark2Cure&p[summary]=I just extracted <%= document.relationship_count %> relationships for https://www.ncbi.nlm.nih.gov/pubmed/<%= document.pmid %> at https://mark2cure.org. If you can read, you can help!&p[url]=http://mark2cure.org&p[images][0]=YOUR_IMAGE_TO_SHARE_OBJECT" target="_blank"><i class="fa fa-facebook-square"></i>Share!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% } %>
</script>

<!-- Miscellaneous-->
<script id="homepage-quest-explorer-template" type="html/template">
  <div class="col-12 text-center">
    <h2>Current <span class="font-red text-uppercase">missions.</span></h2>
  </div>
  <div class="col-12 col-md-10 col-lg-11 col-xl-12 list"></div>
</script>

<script id="homepage-quest-explorer-item-template" type="html/template">
  <div class="group-item-content p-2 border-bottom-0"><a href="/group/<%- stub %>/">
      <p class="text-center m-0"><%- name %></p>
      <p class="text-justify m-0 description"><%- description %></p></a>
  </div>
  <div class="fadeout"></div>
</script>

<script id="homepage-network" type="html/template">
    <div id="network" style="height:230px;"></div>
</script>

<script id="ner-group-homepage-contributor-item-template" type="html/template"><%- username %>
  <span class="badge badge-default badge-pill"><%- count %></span>
</script>

<script id="ner-group-homepage-stats-template" type="html/template">
  <ul class="list-unstyled">
    <li>
      <p>Total number of contributors: <%- total_contributors %></p>
    </li>
    <li>
      <p>Total documents: <%- document_count %></p>
    </li>
    <li>
      <p>Complete Percent: <%- complete_percent %></p>
    </li>
    <% if(current_avg_f_score) { %>
    <li>
      <p>Current average f-score: <%- current_avg_f_score %></p>
    </li>
    <% } %>
    <li>
      <p>Start: <span id="start-time"><%- start_date %></span></p>
    </li>
    <li>
    <p>Last: <span id="end-time"><%- end_date %></span></p>
    </li>
  </ol>
</script>

<script id="ner-group-network" type="html/template">
  <div class="row justify-content-center">
    <div class="col-4">
      <a><h4 class="text-center">Toggle Network <i class="fa fa-caret-up"></i></h4></a>
    </div>
  </div>
  <div id="network-row" style="height:800px; display: none;" class="row">
    <div class="col-1">
      <div class="row">
        <div class="col-12"><i class="fa fa-plus-circle"></i></div>
        <div class="col-12"><i class="fa fa-minus-circle"></i></div>
        <div class="col-12"><i class="fa fa-rotate-right"></i></div>
      </div>
    </div>
    <div class="col-11">
      <div id="network" style="height:800px;">
        <canvas width="1928" height="1600px" style="position: absolute; width: 964px; height: 800px;" class="sigma-scene"></canvas>
        <canvas width="964" height="800px" style="position: absolute; width: 964px; height: 800px;" class="sigma-labels"></canvas>
        <canvas width="964" height="800px" style="position: absolute; width: 964px; height: 800px;" class="sigma-mouse"></canvas>
      </div>
    </div>
  </div>
</script>

<script id="talk-template" type="html/template">
  <div id="talk-documents" class="col-5"></div>
  <div id="talk-comments" class="col-5"></div>
</script>

<script id="talk-list-template" type="html/template">
  <div class="col-12">
    <h2 class="text-center"><%= list_name %></h2>
    <div class="list-group"></div>
  </div>
</script>

<script id="talk-comment-item-template" type="html/template">
  <p><%= comment %></p>
  <p><a href="/u/<%= user_name %>"><%= user_name %></a> on <a href="/talk/<%= document_pk %>/"><%= document_pk %></a> <span class="time-ago"></span></p>
</script>

<script id="talk-document-item-template" type="html/template">
  <h4 class="list-group-item-heading"><%= title %></h4>
  <a href="/talk/<%= id %>/"><p class="list-group-item-text"><%= comments %> Comments</p></a>
</script>

<script id="talk-document-template" type="html/template">
  <div id="talk-document-ner" class="col-7"></div>
  <div id="talk-document-comment" class="col-5"></div>
</script>

<script id="talk-document-ner-template" type="html/template">
  <div class="col">
    <p class="text-muted"> Mouseover to see other users annotations:</p>
    <div id="talk-ner-user-list"></div>
    <div id="talk-ner-display"></div>
  </div>
</script>

<script id="talk-document-user-item-template" type="html/template">
  <p><%= user_id %></p>
</script>

<!-- Other-->
<script id="re-synopsis-detail-template" type="html/template">
  <div class="row">
    <div class="col-12">
      <div id="feedback-next-action-area"></div>
    </div>
  </div>
  <div id="chart-context" class="row">
    <div class="col-5 text-right">
      <p id="concept-a" class="lead"><%= concept_a.text %></p>
    </div>
    <div class="col-2 text-center"><i class="fa fa-arrows-h fa-2x" aria-hidden="true"></i>
    </div>
    <div class="col-5 text-left">
      <p id="concept-b" class="lead"><%= concept_b.text %></p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-10">
      <ul id="chart-list" class="list-unstyled"></ul>
    </div>
  </div>
</script>

<script id="re-synopsis-template" type="html/template">
  <div class="col-8">
    <p class="lead text-xs-center">Click on the circles to see how your answers compared to the community's.</p>
    <ul id="re-synopsis-extractions" class="list-unstyled list-inline"></ul>
    <div id="re-synopsis-detail-view"></div>
  </div>
</script>
