//
// Dashboard
//

script(id='dashboard-template', type='html/template')
  #dashboard-ner.col-5
  #dashboard-re.col-5
  #dashbaord-leaderboard.col-2


script(id='dashboard-ner-template', type='html/template')
  .col-12
    .row.justify-content-center
      .col-12.col-md-10
        h4.task-stats-title.text-center Named Entity Recognition

    .row.justify-content-center.no-gutters
      .col-12.col-md-10.task-score
        .task-score-content.m-3
          .row.no-gutters.py-2
            .col-4.task-value
              <%- total_score %>
            .col-8.task-label
              | task score
          hr

          .row.no-gutters.py-2
            .col-4.task-value
              <%- quests_completed %>
            .col-8.task-label
              | quests completed
          hr

          .row.no-gutters.py-2
            .col-4.task-value
              <%- papers_reviewed %>
            .col-8.task-label
              | papers reviewed
          hr

          .row.no-gutters.py-2
            .col-4.task-value
              <%- annotations %>
            .col-8.task-label
              | task annotations
          hr

          .row
            .col-12.text-center
              ul.m-0.list-inline
                // li.list-inline-item
                //   a(href='{% url "common:ner-group-home" group_stub="training" %}')
                //     | Practice

                li.list-inline-item
                  a(href='{% url "instructions:entity-recognition" %}')
                    | Rules
    #dashboard-ner-list.row


script(id='dashboard-ner-unlock-template', type='html/template')
  .col-10
    .row.justify-content-center
      .col-12.text-center
        h4.task-stats-title.text-center Named Entity Recognition

    .row.justify-content-center
      .col-12.text-center.unlock-icon
        i(aria-hidden='true').fa.fa-lock.fa-5x

    .row
      .col-12.text-center
        small Complete the following training steps to unlock an entire new task!

    .row
      #relation-training-progress.col-12
        .list-group.dashboard.text-xcenter

          <% if(ner <= 2) { %>
          a(href='{% url "training:introduction" step_num=1 %}').list-group-item.current
            | <i class='fa fa-check' aria-hidden='true'></i>  Introduction
          a(href='{% url "training:one" step_num=1 %}').list-group-item.locked.disabled
            | <i class='fa fa-lock' aria-hidden='true'></i>  Diseases
          a(href='{% url "training:two" step_num=1 %}').list-group-item.locked.disabled
            | <i class='fa fa-lock' aria-hidden='true'></i>  Genes
          a(href='{% url "training:three" step_num=1 %}').list-group-item.locked.disabled
            | <i class='fa fa-lock' aria-hidden='true'></i>  Treatments
          a(href='{% url "training:four" step_num=1 %}').list-group-item.locked.disabled
            | <i class='fa fa-lock' aria-hidden='true'></i>  Multi-Marking
          <% } %>

          <% if(ner == 3) { %>
          .list-group-item.completed
            | <i class='fa fa-check' aria-hidden='true'></i>  Introduction
          a(href='{% url "training:one" step_num=1 %}').list-group-item.current
            | <i class='fa fa-angle-right' aria-hidden='true'></i>  Diseases
          .list-group-item.locked.disabled
            | <i class='fa fa-lock' aria-hidden='true'></i>  Genes
          .list-group-item.locked.disabled
            | <i class='fa fa-lock' aria-hidden='true'></i>  Treatments
          .list-group-item.locked.disabled
            | <i class='fa fa-lock' aria-hidden='true'></i>  Multi-Marking
          <% } %>

          <% if(ner == 4) { %>
          .list-group-item.completed
            | <i class='fa fa-check' aria-hidden='true'></i>  Introduction
          .list-group-item.completed
            | <i class='fa fa-check' aria-hidden='true'></i>  Diseases
          a(href='{% url "training:two" step_num=1 %}').list-group-item.current
            | <i class='fa fa-angle-right' aria-hidden='true'></i>  Genes
          .list-group-item.locked.disabled
            | <i class='fa fa-lock' aria-hidden='true'></i>  Treatments
          .list-group-item.locked.disabled
            | <i class='fa fa-lock' aria-hidden='true'></i>  Multi-Marking
          <% } %>

          <% if(ner == 5) { %>
          .list-group-item.completed
            | <i class='fa fa-check' aria-hidden='true'></i>  Introduction
          .list-group-item.completed
            | <i class='fa fa-check' aria-hidden='true'></i>  Diseases
          .list-group-item.completed
            | <i class='fa fa-check aria-hidden='true'></i>  Genes
          a(href='{% url "training:three" step_num=1 %}').list-group-item.current
            | <i class='fa fa-angle-right' aria-hidden='true'></i>  Treatments
          .list-group-item.locked.disabled
            | <i class='fa fa-lock' aria-hidden='true'></i>  Multi-Marking
          <% } %>

          <% if(ner == 6) { %>
          .list-group-item.completed
            | <i class='fa fa-check' aria-hidden='true'></i>  Introduction
          .list-group-item.completed
            | <i class='fa fa-check' aria-hidden='true'></i>  Diseases
          .list-group-item.completed
            | <i class='fa fa-check' aria-hidden='true'></i>  Genes
          .list-group-item.completed
            | <i class='fa fa-check' aria-hidden='true'></i>  Treatments
          a(href='{% url "training:four" step_num=1 %}').list-group-item.current
            | <i class='fa fa-angle-right' aria-hidden='true'></i>  Multi-Marking
          <% } %>


script(id='dashboard-ner-quest-template', type='html/template')
  .col-10
    .row
      .col-12
        a(href='/group/<%- stub %>/')
          h3.pull-right <%- name %>

    .task-list-view
      .row
        .col-12
          p.quest-loading.text-center Loading...


script(id='dashboard-ner-quest-task-template', type='text/template')
  .row.no-gutters
    .col-12.text-center
      <% if(progress.completed) { %>
      span(title='The community has completed this Quest.').fa.fa-certificate.muted
      <% } else if (user.completed) { %>
      span(title='You have completed this Quest.').fa.fa-check
      <% } else if (!user.enabled) { %>
      span(title='This quest is not enabled.').fa.fa-circle.muted
      <% } else { %>
      a(href='/task/ner/quest/<%- id %>/', title='Click to start this quest!')
        p(style='font-size: 1.75em; line-height: 1.8em;') <%- name %>
      <% } %>

    <% if(user.enabled) { %>
    div(title='This quest is <%- Math.round(percentage_progress) %>% complete.').col-12
      .progress
        div(role='progressbar', style='width: <%- percentage_progress %>%;', aria-valuenow='<%- percentage_progress %>', aria-valuemin='0', aria-valuemax='100').progress-bar
    <% } %>
    small <%- progress.current %>/<%- progress.required %> Completes


script(id='dashboard-re-template', type='html/template')
  .row.justify-content-center
    .col-12.col-md-10
      h4.task-stats-title.text-center Relationship Extraction
  .row.justify-content-center.no-gutters
    .col-12.col-md-10.task-score
      .task-score-content.m-3
        .row.no-gutters.py-2
          .col-4.task-value
            <%- total_score %>
          .col-8.task-label
            | task score
        hr

        .row.no-gutters.py-2
          .col-4.task-value
            <%- quests_completed %>
          .col-8.task-label
            | docs completed
        hr

        .row.no-gutters.py-2
          .col-4.task-value
            <%- annotations %>
          .col-8.task-label
            | task step contributions
        hr

        .row
          .col-12.text-center
            ul.m-0.list-inline
              li.list-inline-item
                a(href='{% url "instructions:relation" %}')
                  | Rules
  #dashboard-re-list


script(id='relation-list-item-template', type='text/template')
  .d-flex.w-100.justify-content-end
    small <%= user_document_relationships %> steps
  p.mb-1 <%= title %>

  div(title='This Relationship Extraction task is <%- Math.round(community_progress*100) %>% complete.').col-12
    .progress
      div(role='progressbar', style='width: <%- community_progress*100 %>%;', aria-valuenow='<%- community_progress*100 %>', aria-valuemin='0', aria-valuemax='100').progress-bar


script(id='dashboard-re-unlock-template', type='html/template')
  .col-10
    .row.justify-content-center
      .col-12.text-center
        h4.task-stats-title.text-center Relationship Extraction

    .row.justify-content-center
      .col-12.text-center.unlock-icon
        i(aria-hidden='true').fa.fa-lock.fa-5x

    .row
      .col-12.text-center
          small Complete the following training steps to unlock an entire new task!

    .row
      #relation-training-progress.col-12
        .list-group.dashboard.text-center
          <% if(re == 0) { %>
          a(href='{% url "training:re" %}').list-group-item.current
            | <i class='fa fa-angle-right' aria-hidden='true'></i>  Using the interface
          .list-group-item.locked.disabled
            | <i class='fa fa-lock' aria-hidden='true'></i>  Rules for Relationship Extraction
          .list-group-item.locked.disabled
            | <i class='fa fa-lock' aria-hidden='true'></i>  Learn new relationships: Broad
          <% } %>

          <% if(re == 1) { %>
          .list-group-item.completed
            | <i class='fa fa-check' aria-hidden='true'></i>  Using the interface
          a(href='{% url "training:re" %}').list-group-item.current
            | <i class='fa fa-angle-right' aria-hidden='true'></i>  Rules for Relationship Extraction
          .list-group-item.locked.disabled
            | <i class='fa fa-lock' aria-hidden='true'></i>  Learn new relationships: Broad
          <% } %>

          <% if(re == 2) { %>
          .list-group-item.completed
            | <i class='fa fa-check' aria-hidden='true'></i>  Using the interface
          .list-group-item.completed
            | <i class='fa fa-check' aria-hidden='true'></i>  Rules for Relationship Extraction
          a(href='{% url "training:re" %}').list-group-item.current
            | <i class='fa fa-angle-right' aria-hidden='true'></i>  Learn new relationships: Broad
          <% } %>


script(id='dashboard-leaderboard-template', type='html/template')
  // .row
  //   .col-xs-12.col-xs-offset-0
  //     .card.my-stats
  //       .card-header.text-xs-center
  //         | My Stats
  //       .card-block
  //         ol.list-unstyled
  //           li Total Annotations:
  //           li Total Score:

  .col-12
    h2.text-xs-center Top <%- api %> <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
    h4.text-xs-center <%- text %> <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
    #leaderboard-item-list.row


script(id='dashboard-leaderboard-item-template', type='html/template')
  p.m-0
    <% if(hover){ %>
    <%= score %>
    <% } else {%>
    <%= name %>
    <% } %>


//
// Tasks (NER + RE)
//


script(id='ypet-document-results-template', type='html/template')
  .col-12
    <% if(opponent) { %>
    .header-message
      h2.text-center.py-3.mb-0 You were paired with the <%= opponent.level %> <%= opponent.name %> and earned <%= award.amount %> points!

    <% } else { %>
    .header-message
      h2.text-center New Annotations!
      h3.text-center You earned <%= award.amount %> points for marking this new document
      p.text-center You were the first person to annotate this document, <strong>thank you</strong> for your contribution to science!
    <% } %>


script(id='ypet-quest-completed-template', type='html/template')
  <% if(uqr_created) {%>
  .col-12
    .header-message
      h2.py-3.text-center Congratulations you completed Quest <%= task.name %>

  .col-12.my-3.py-3
    .ypet-info-message
      .row.justify-content-center.py-3
        .col-8
          h2.text-center Bonus Points: <%= award.amount %>
          p.lead.text-center You've made a valuable and important contribution! Tell your friends about it now and help find cures faster.

      .row.justify-content-center.text-center
        .col-6

          .row.mt-3.justify-content-center.nav-action-area
            .col-6.text-right
              a(href='{% url "common:dashboard" %}') <span class='chevron'>&laquo;</span> to dashboard
            .col-6.text-left
              p(id='next-quest') Start next

          .row.my-3.justify-content-center.social-action-area
            .col-3.text-right
              a(href="https://twitter.com/intent/tweet?text=I just completed Quest <%= task.name %> of the <%= group.name %> doc set at https://mark2cure.org. If you can read, you can help researchers find cures FASTER.")
                i.fa.fa-twitter-square
                | Tweet!
            .col-3.text-left
              a(title="Share on Facebook", href="http://www.facebook.com/sharer.php?s=100&p[title]=Mark2Cure&p[summary]=I just completed Quest {{task.name}} of the {{task.group.stub}} doc set at https://mark2cure.org. If you can read, you can help researchers find cures FASTER.&p[url]=http://mark2cure.org&p[images][0]=YOUR_IMAGE_TO_SHARE_OBJECT", target="_blank")
                i.fa.fa-facebook-square
                | Share!
  <% } else {%>
  .col-12
    .header-message
      h2.py-3.text-center Quest <%= task.name %> in the <%= group.name %> group was already completed.

  .col-12.my-3.py-3
    .ypet-info-message
      .row.justify-content-center.py-3
        .col-8
          p.lead.text-center Completions are valuable contributions! Tell your friends about it now and help find cures faster.

      .row.justify-content-center.text-center
        .col-6

          .row.mt-3.justify-content-center.nav-action-area
            .col-6.text-right
              a(href='{% url "common:dashboard" %}') <span class='chevron'>&laquo;</span> to dashboard
            .col-6.text-left
              p(id='next-quest') Start next

          .row.my-3.justify-content-center.social-action-area
            .col-3.text-right
              a(href="https://twitter.com/intent/tweet?text=I just completed Quest <%= task.name %> of the <%= group.name %> doc set at https://mark2cure.org. If you can read, you can help researchers find cures FASTER.")
                i.fa.fa-twitter-square
                | Tweet!
            .col-3.text-left
              a(title="Share on Facebook", href="http://www.facebook.com/sharer.php?s=100&p[title]=Mark2Cure&p[summary]=I just completed Quest {{task.name}} of the {{task.group.stub}} doc set at https://mark2cure.org. If you can read, you can help researchers find cures FASTER.&p[url]=http://mark2cure.org&p[images][0]=YOUR_IMAGE_TO_SHARE_OBJECT", target="_blank")
                i.fa.fa-facebook-square
                | Share!
  <%}%>


script(id='ypet-navigation-template', type='html/template')
  // Document header Information
  // 1) List of document Icons
  // 2) Ongoing score (live)
  // 3) Current Level (not live)
  #progress-bar.col-6

  .col-2
    p.text-center Score: <span id='score'>0</span>


script(id='ypet-template', type='html/template')
  #ypet-navigation.col-12
  #ypet-message-center.col-12
  #ypet-results.col-10
  #ypet-text.col-10
  #ypet-footer.col-10


script(id='ypet-footer-template', type='html/template')
  #ypet-footer-help.col-3
  #ypet-footer-confirm.col-4
  #ypet-footer-search.col-3


script(id='ypet-footer-help-template', type='html/template')
  .col-12
    .list-group
      <% if(mode == 'ner') { %>
      // -- NER --
      a(href='{% url "instructions:entity-recognition-diseases" %}', target='_blank').list-group-item.list-group-item-action.diseases
        | Disease Concept <i class="fa fa-external-link"></i>

      a(href='{% url "instructions:entity-recognition-genes" %}', target='_blank').list-group-item.list-group-item-action.genes
        | Genes Concept <i class="fa fa-external-link"></i>

      a(href='{% url "instructions:entity-recognition-treatments" %}', target='_blank').list-group-item.list-group-item-action.treatments
        | Treatments Concept <i class="fa fa-external-link"></i>
      <% } %>

      <% if(mode == 're') { %>
      // -- RE --
      a(href='{% url "instructions:relation" %}', style='background-color:#fff; color:#7F3CFF; border-color:#7F3CFF; border-width:3px').btn.btn-default
        | Relation Instructions  <i class="fa fa-external-link fa-lg"></i>

      a(href='{% url "instructions:relation-definition-disease" %}', style='background-color: #d1f3ff;').btn.btn-default
        | Disease Concept  <i class="fa fa-external-link fa-lg"></i>

      a(href='{% url "instructions:relation-definition-gene" %}', style='background-color:rgb(177, 255, 168);').btn.btn-default
        | Genes Concept  <i class="fa fa-external-link fa-lg"></i>

      a(href='{% url "instructions:relation-definition-drug" %}', style='background-color:rgb(255, 209, 220);').btn.btn-default
        | Drugs Concept  <i class="fa fa-external-link fa-lg"></i>
      <% } %>


script(id='ypet-footer-next-template', type='html/template')
  .col-12.next
    div(style="display:none;").row
      .col-12.text-center
        p.mb-0 Annotations in this doc have been discussed 0 times.
        strong Discuss Now?

    .row.my-3
      div(style="display:none;").col-6.text-right
        p.button.btn.btn-default.btn-block Yes, Let's Talk

      .col-12
        p.button.btn.btn-primary.btn-block.next-doc Next Doc


script(id='ypet-footer-search-template', type='html/template')
  .col-12
    a(href='#', target='_blank').btn.btn-info.btn-block
      | Search <i class="fa fa-external-link fa-lg"></i>
      br
      small


script(id='tree-template', type='html/template')
  .col-12
    #tree-navigation
    #tree-selection
    #tree-selection-results
    .row.justify-content-center.my-4
      .col-10
        #tree-text


script(id='tree-navigation-template', type='html/template')
  #progress-bar.col-6
  .col-2
    p.text-center Score: <span id='score'>0</span>


script(id='tree-reextraction-result-answer-item-template', type='html/template')
  <div class="box" style="background-color: <%= color %>;"></div>
  <% if(self) { %>
  <p><strong><%= percentage %>% – <%= label %></strong></p>
  <% } else { %>
  <p><%= percentage %>% – <%= label %></p>
  <% } %>


script(id='tree-reextraction-results-template', type='html/template')
  .col-10
    .row
      #reextraction-answers-chart

    .row
      .col-12
        #reextraction-answers-list

    .row.justify-content-center
      .col-
        button.btn.btn-primary.btn-block Next


script(id='tree-reextraction-concept-template', type='html/template')
  div.flag &#10005;
  div.text.col-xs-12
    p <%= text %>
  div.desc.col-xs-12
    p is not a <%= type %> concept?


script(id='tree-reextraction-template', type='html/template')
  .col-10
    #tree-extraction.row.text-center
      #c1.col-10.col-sm-4.col-md-3
      div(style='padding-bottom:10px; padding-top:10px;').col-10.col-sm-4.col-md-6
        #selected-choice
        #rechoices-list
      #c2.col-10.col-sm-4.col-md-3
    #tree-confirm.row.justify-content-center.mb-4


script(id='tree-completed-template', type='html/template')
  <% if(re_task.created) {%>
  .col-12
    .header-message
      h2.py-3.text-center Congratulations! You completed all the relationships!

  #re-synopsis.col-12
  hr

  .col-12.my-3.py-3
    .tree-info-message
      .row.justify-content-center.py-3
        .col-8
          h2.text-center Bonus Points: <%= award.amount %>
          p.lead.text-center You've made a valuable and important contribution! Tell your friends about it now and help find cures faster.

      .row.justify-content-center.text-center
        .col-6

          .row.mt-3.justify-content-center.nav-action-area
            .col-6.text-right
              a(href='{% url "common:dashboard" %}') <span class='chevron'>&laquo;</span> to dashboard
            .col-6.text-left
              p(id='next-re-doc') Start next

          .row.my-3.justify-content-center.social-action-area
            .col-3.text-right
              a(href="https://twitter.com/intent/tweet?text=I just extracted <%= document.relationship_count %> relationships for https://www.ncbi.nlm.nih.gov/pubmed/<%= document.pmid %> at https://mark2cure.org. If you can read, you can help!")
                i.fa.fa-twitter-square
                | Tweet!
            .col-3.text-left
              a(title="Share on Facebook", href="http://www.facebook.com/sharer.php?s=100&p[title]=Mark2Cure&p[summary]=I just extracted <%= document.relationship_count %> relationships for https://www.ncbi.nlm.nih.gov/pubmed/<%= document.pmid %> at https://mark2cure.org. If you can read, you can help!&p[url]=http://mark2cure.org&p[images][0]=YOUR_IMAGE_TO_SHARE_OBJECT", target="_blank")
                i.fa.fa-facebook-square
                | Share!
  <% } else {%>
  .col-12
    .header-message
      h2.py-3.text-center All <%= document.relationship_count %> relationships have already been completed.

  #re-synopsis.col-12
  hr

  .col-12.my-3.py-3
    .tree-info-message
      .row.justify-content-center.py-3
        .col-8
          p.lead.text-center Completions are valuable contributions! Tell your friends about it now and help find cures faster.

      .row.justify-content-center.text-center
        .col-6

          .row.mt-3.justify-content-center.nav-action-area
            .col-6.text-right
              a(href='{% url "common:dashboard" %}') <span class='chevron'>&laquo;</span> to dashboard
            .col-6.text-left
              p(id='next-re-doc') Start next


          .row.my-3.justify-content-center.social-action-area
            .col-3.text-right
              a(href="https://twitter.com/intent/tweet?text=I just extracted <%= document.relationship_count %> relationships for https://www.ncbi.nlm.nih.gov/pubmed/<%= document.pmid %> at https://mark2cure.org. If you can read, you can help!")
                i.fa.fa-twitter-square
                | Tweet!
            .col-3.text-left
              a(title="Share on Facebook", href="http://www.facebook.com/sharer.php?s=100&p[title]=Mark2Cure&p[summary]=I just extracted <%= document.relationship_count %> relationships for https://www.ncbi.nlm.nih.gov/pubmed/<%= document.pmid %> at https://mark2cure.org. If you can read, you can help!&p[url]=http://mark2cure.org&p[images][0]=YOUR_IMAGE_TO_SHARE_OBJECT", target="_blank")
                i.fa.fa-facebook-square
                | Share!
  <%}%>


//
// Miscellaneous
//


script(id='homepage-quest-explorer-template', type='html/template')
  .col-12.text-center
    h2 Current <span class="font-red text-uppercase">missions.</span>
  .col-12.list


script(id='homepage-quest-explorer-item-template', type='html/template')
  .group-item-content.p-2.border-bottom-0
    a(href='/group/<%- stub %>/')
      p.text-center.m-0 <%- name %>
      p.text-justify.m-0.description <%- description %>
  .fadeout


script(id='ner-group-homepage-contributor-item-template', type='html/template')
  <%- username %>
  span.badge.badge-default.badge-pill <%- count %>


script(id='ner-group-homepage-stats-template', type='html/template')
  ol
    li
      p Total number of contributors: <%- total_contributors %>
    li
      p Total documents: <%- document_count %>

    li
      p Complete Percent: <%- complete_percent %>
    li
      p Current average f-score: <%- current_avg_f_score %>

    li
      p Start date: <%- start_date %>
    li
      p End date: <%- end_date %>

script(id='ner-group-network', type='html/template')
  .row.justify-content-center
    .col-4
      a
        h4.text-center Toggle Network <i class="fa fa-caret-up"></i>

  div#network-row(style="height:800px; display: none;").row
    .col-1
      .row
        .col-12
          i.fa.fa-plus-circle
        .col-12
          i.fa.fa-minus-circle
        .col-12
          i.fa.fa-rotate-right

    .col-11
      div#network(style="height:800px;")
        canvas(width="1928", height="1600px", style="position: absolute; width: 964px; height: 800px;").sigma-scene
        canvas(width="964", height="800px", style="position: absolute; width: 964px; height: 800px;").sigma-labels
        canvas(width="964", height="800px", style="position: absolute; width: 964px; height: 800px;").sigma-mouse


//
// Other
//

script(id='re-synopsis-detail-template', type='html/template')
  .row
    .col-12
      #feedback-next-action-area

  #chart-context.row
    .col-5.text-right
      p#concept-a.lead <%= concept_a.text %>

    .col-2.text-center
      | <i class="fa fa-arrows-h fa-2x" aria-hidden="true"></i>

    .col-5.text-left
      p#concept-b.lead <%= concept_b.text %>

  .row.justify-content-center
    .col-10
      ul#chart-list.list-unstyled


script(id='re-synopsis-template', type='html/template')
  .col-8
    p.lead.text-xs-center Click on the circles to see how your answers compared to the community's.

    ul#re-synopsis-extractions.list-unstyled.list-inline

    #re-synopsis-detail-view


