script(id='dashboard-template', type='html/template')
  #dashboard-ner
  #dashboard-re
  #dashbaord-leaderboard


script(id='dashboard-ner-template', type='html/template')
  .row
    .col-xs-12
      h4.text-xs-center Entity Recognition Tasks

  .row
    .col-xs-12.col-md-10.col-md-offset-1.task-score
      .row.sep
        .col-xs-4.task-value
        .col-xs-8.task-label
          | task score
      hr

      .row.sep
        .col-xs-4.task-value
        .col-xs-8.task-label
          | quests completed
      hr

      .row.sep
        .col-xs-4.task-value
        .col-xs-8.task-label
          | papers reviewed
      hr

      .row.sep
        .col-xs-4.task-value
        .col-xs-8.task-label
          | task annotations
      hr

      .row
        .col-xs-12.text-xs-center
          ul.list-inline
            li.list-inline-item
              a(href='{% url "common:group" group_stub="training" %}')
                | Practice

            li.list-inline-item
              a(href='{% url "instructions:entity-recognition" %}')
                | Rules

  #dashboard-ner-list


script(id='dashboard-re-template', type='html/template')
  .row
    .col-xs-12
      h4.text-xs-center Document Relation Tasks

  .row
    .col-xs-12.col-md-10.col-md-offset-1.task-score
      .row.sep
        .col-xs-4.task-value
          | <%- total_score %>
        .col-xs-8.task-label
          | task score
      hr

      .row.sep
        .col-xs-4.task-value
          | <%- quests_completed %>
        .col-xs-8.task-label
          | docs completed
      hr

      .row.sep
        .col-xs-4.task-value
          | <%- annotations %>
        .col-xs-8.task-label
          | task step contributions
      hr

      .row
        .col-xs-12.text-xs-center
          ul.list-inline
            li.list-inline-item
              a(href='{% url "instructions:relation" %}')
                | Rules

  #dashboard-re-list


script(id='dashboard-leaderboard-template', type='html/template')
  .row
    .col-xs-12.col-xs-offset-0
      .card.my-stats
        .card-header.text-xs-center
          | My Stats
        .card-block
          ol.list-unstyled
            li Total Annotations: <%- all_annotations %>
            li Total Score: <%- score %>

  .row
    .col-xs-12.col-xs-offset-0.col-lg-10.col-lg-offset-1
      h2.text-xs-center Top <%- api %> <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
      h4.text-xs-center <%- text %> <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
      ol.list-unstyled.list-group



script(id='ypet-para-templates', type='html/template')
  .row
    .col-xs-12.col-md-10.col-md-offset-1

script(id='ypet-help-template', type='html/template')
  .row.m-t-1
    .col-sm-5.col-md-3.col-md-offset-1.hidden-xs-down
      div(role="group").btn-group-vertical
        a(href='{% url "instructions:relation" %}', style='background-color:#fff; color:#7F3CFF; border-color:#7F3CFF; border-width:3px').btn.btn-default
          | Relation Instructions  <i class="fa fa-external-link fa-lg"></i>

        a(href='{% url "instructions:relation-definition-disease" %}', style='background-color: #d1f3ff;').btn.btn-default
          | Disease Concept  <i class="fa fa-external-link fa-lg"></i>

        a(href='{% url "instructions:relation-definition-gene" %}', style='background-color:rgb(177, 255, 168);').btn.btn-default
          | Genes Concept  <i class="fa fa-external-link fa-lg"></i>

        a(href='{% url "instructions:relation-definition-drug" %}', style='background-color:rgb(255, 209, 220);').btn.btn-default
          | Drugs Concept  <i class="fa fa-external-link fa-lg"></i>


script(id='ypet-template', type='html/template')
  #ypet-text.col-xs-12
  #ypet-footer.col-xs-12


script(id='tree-template', type='x-template/underscore')
  #tree-navigation.col-xs-12
  #tree-selection.col-xs-10.col-xs-offset-1
  #tree-selection-results.col-xs-12
  #tree-text.col-xs-12


script(id='tree-navigation-template', type='x-template/underscore')
  #progress-bar.col-xs-10.col-xs-offset-1.col-md-7.col-md-offset-1.col-lg-8.col-lg-offset-1
  .col-xs-10.col-xs-offset-1.col-md-3.col-md-offset-0.col-lg-2.col-lg-offset-0
    p.text-xs-center Score: <span id='score'>0</span>


script(id='reextraction-result-answer-item-template', type='x-template/underscore')
  <div class="box" style="background-color: <%= color %>;"></div>
  <% if(self) { %>
  <p><strong><%= percentage %>% – <%= label %></strong></p>
  <% } else { %>
  <p><%= percentage %>% – <%= label %></p>
  <% } %>


script(id='reextraction-results-template', type='x-template/underscore')
  .row
    .col-xs-12.col-md-10.col-md-offset-1
      #chart

    #reextraction-answers-list.col-xs-12.col-md-10.col-md-offset-1
    .col-xs-10.col-xs-offset-1.col-sm-10.col-sm-offset-1 col-md-4 col-md-offset-4">
      <button class="btn btn-primary btn-block">Next</button>
    </div>


script(id='reextraction-concept-template', type='x-template/underscore')
  div.flag &#10005;
  div.text.col-xs-12
    p <%= text %>
  div.desc.col-xs-12
    p is not a <%= type %> concept?


script(id='reextraction-template', type='x-template/underscore')
  #tree-extraction.row.text-xs-center
    #c1.col-xs-10.col-xs-offset-1.col-sm-4.col-sm-offset-0.col-md-3
    div(style='padding-bottom:10px; padding-top:10px;').col-xs-10.col-xs-offset-1.col-sm-4.col-sm-offset-0.col-md-6
      #selected-choice
      #rechoices-list
    #c2.col-xs-10.col-xs-offset-1.col-sm-4.col-sm-offset-0.col-md-3
  #tree-confirm.row


script(id='relation-list-item-template', type='text/template')
  .relation-item

  p.steps.pull-right <%= user_document_relationships %> steps
  p.main-text <%= title %>

  progress(value='<%- community_progress*100 %>', max='100').progress
    .progress
      span(style='width: <%- community_progress*100 %>%;').progress-bar
  hr


script(id='relation-item-template', type='text/template')
  .row
    .col-xs-12.text-xs-center

      <% if(d.progress.completed) { %>
      span(title='The community has completed this Quest.').fa.fa-certificate.muted
      <% } else if (d.user.completed) { %>
      span(title='You have completed this Quest.').fa.fa-check
      <% } else if (!d.user.enabled) { %>
      span(title='This quest is not enabled.').fa.fa-circle.muted
      <% } else { %>
      a(href='/task/entity-recognition/quest/<%- d.id %>/', title='Click to start this quest!')
        p(style='font-size: 1.75em; line-height: 1.8em;') <%- d.name %>
      <% } %>

  <% if(d.user.enabled) { %>
  .row
    div(title='This quest is <%- Math.round(progress) %>% complete.').col-xs-12
      progress(value='<%- progress %>', max='100').progress
        .progress
          span(style='width: <%- progress %>%;').progress-bar
            <%- d.progress.current %> Completions
  <% } %>


script(id='relation-synopsis-template', type='html/template')
  p.lead.text-xs-center Click on the circles to see how your answers compared to the community's.
  ul#relation-synopsis-bar.list-unstyled.list-inline
  #feedback-next-action-area
  #chart-context(style='display:none;').row
    .col-xs-4.col-xs-offset-1.text-right
      p#concept-a.lead
    .col-xs-2.text-xs-center
      | <i class="fa fa-arrows-h fa-2x" aria-hidden="true"></i>
    .col-xs-4.text-left
      p#concept-b.lead
  ul#chart-list.list-unstyled


script(id='relation-synopsis-feedback-template', type='html/template')
  div(id="c1-word-{{ reln.relation_id }}")
  div(id="c2-word-{{ reln.relation_id }}")

  div(id="chart-{{ reln.relation_id }}")
  div(id="chart-list-{{ reln.relation_id }}").list-unstyled

  div(id="user-answer-{{ reln.relation_id }}" style="display:none") {{ reln_ann_list.0.answer }}


script(id='quest-icon-template', type='text/template')
  .row
    .col-xs-12.text-xs-center
      <% if(d.progress.completed) { %>
      span(title='The community has completed this Quest.').fa.fa-certificate.muted
      <% } else if (d.user.completed) { %>
      span(title='You have completed this Quest.').fa.fa-check
      <% } else if (!d.user.enabled) { %>
      span(title='This quest is not enabled.').fa.fa-circle.muted
      <% } else { %>
      a(href='/task/entity-recognition/quest/<%- d.id %>/', title='Click to start this quest!')
        p(style='font-size: 1.75em; line-height: 1.8em;') <%- d.name %>
      <% } %>

  <% if(d.user.enabled) { %>
  .row
    div(title='This quest is <%- Math.round(progress) %>% complete.').col-xs-12
      progress(value='<%- progress %>', max='100').progress
        .progress
          span(style='width: <%- progress %>%;').progress-bar
            <%- d.progress.current %> Completions
  <% } %>


script(id='group-template', type='text/template')
  h3 <%- name %>
  div(id='group-<%- pk %>').row.head-space.paragraph-box
    div.col-xs-12.text-xs-center
      p.quest-loading Loading...

