extends base

block header
  - if user.is_authenticated
    - with headerMessage='Training Steps'
      include includes/header
  - else
    - with headerMessage='Training Steps'
      include includes/header-anon


block content
  .container.m-b-md
    .row
      .col-md-6.col-md-offset-3
        h2.lead Welcome! Now that you passed the basic introduction, try out these training steps

    .row
      .col-md-6.col-md-offset-3
      .col-md-6.col-md-offset-3
        - for task in tasks
          - if task.kind == 't'
            include training/includes/lib-item-training
          - if task.kind == 'q'
            include training/includes/lib-item-quest

block post-footer
  - if user.is_authenticated
      script.
        var level = #{user.userprofile.highest_level.level};
        var $el = $('[data-requirement="'+ level +'"] h4 a');
        $el.html('<span class="glyphicon glyphicon-play" aria-hidden="true" style="position: absolute; font-size: 26px; left: 10px; top: 10px; color: green;"></span>' + $el.html());

