$font_paragraph: 'Palatino Linotype', 'Book Antiqua', 'Palatino', 'serif';
$font_helvetica: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

.better-helvetica {
  font-family: $font_helvetica;
  font-weight: 300;
}

