@import 'colors';
@import 'fonts';
@import 'bootstrap_variables';
@import 'bootstrap';

@import 'compass';
@import 'compass/css3';
@import 'compass/utilities';
@import 'font-awesome';

@import 'includes/header';
@import 'includes/footer';

@import 'pages/accounts';
@import 'pages/dashboard';
@import 'pages/group_home';
@import 'pages/instructions';
@import 'pages/landing';
@import 'pages/talk';

@import 'tasks/ner';
@import 'tasks/re';

@import 'training/base';
@import 'training/ner';
@import 'training/re';

@import 'utils/alert';
@import 'utils/introjs-nassim';
@import 'utils/introjs';
@import 'utils/odometer';
@import 'utils/selectize_bootstrap3';
@import 'utils/support';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius: 0px;
    // background-color: $color_white;
  }
  &::-webkit-scrollbar-thumb {
    -webkit-box-shadow: none;
    border-radius: 0px;
    background-color: $color_gray_light;
  }
}

path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

path {
  stroke-width: 1.5;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}


// @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
// @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
// @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
//
// .fade-in {
//   opacity: 0;
//   -webkit-animation: fadeIn ease-in 1;
//   -moz-animation: fadeIn ease-in 1;
//   animation: fadeIn ease-in 1;
//
//   -webkit-animation-fill-mode: forwards;
//   -moz-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
//
//   -webkit-animation-duration: 0.5s;
//   -moz-animation-duration: 0.5s;
//   animation-duration: 0.5s;
// }
//
// .fade-in.one {
//   -webkit-animation-delay: 0.25s;
//   -moz-animation-delay: 0.25s;
//   animation-delay: 0.25s;
// }
