// Mark2Cure Color Branding
$color_gray_dark:       #333 !default;
$color_gray:            #666 !default;
$color_gray_light:      #818a91 !default;
$color_gray_lighter:    #eceeef !default;
$color_gray_lightest:   #f7f7f9 !default;

$color_white:           #ffffff;
$color_black:           #000000;

$color_purple:          #7F3CFF;
$color_green:           #b2f270;
$color_bootstrap_blue:  #0074d9;
$color_picton_blue:     #5dbcf6;
$color_red:             #E85997;
$color_error_red:       #E64C66;
$color_yellow:          #FEFF02;

$color_disease:         #D1F3FF;
$color_gene:            #B1FFA8;
$color_treatment:       #FFD1DC;


@import "compass/css3";
@import "compass/utilities";
@import "compass";

@import "font-awesome";
@import 'fonts';

@import "bootstrap/bootstrap";

@import 'includes/header';
@import 'includes/footer';

@import 'pages/landing';
@import 'pages/network';
@import 'pages/talk';
@import 'pages/quest';
@import 'pages/dashboard';
@import 'pages/svg/shared';

@import 'pages/task/relation';
@import 'pages/training/relation/general';

@import 'utils/modal';
@import 'utils/alert';
@import 'utils/selectize_bootstrap3';
@import 'utils/introjs';
@import 'utils/introjs-nassim';
@import 'utils/document';
@import 'utils/odometer';
@import 'utils/support';
@import 'utils/training';

.popover {
  color: $color_white;

  .popover-title { display: none; }
  .popover-content {
    padding: 4px 8px;
    p { margin: 0px; padding: 0px; }
  }
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity: 0;  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.fade-in.one {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
