extends base

block header
  - with headerMessage='Training 3 – Learning a new concept: Treatments'
    include includes/header


block content
  .container
    .row
      .col-xs-8.col-xs-offset-2
        .row.alert.alert-info.alert-sticky.text-center
          h2 Congratulations!

    .row
      .col-xs-10.col-xs-offset-1
        p.lead.text-center New skill acquired: Treatment Marking
      .col-xs-10.col-xs-offset-1
        p.lead.text-center Points gained: <span id='score'>8,000</span>

    .row
      .col-xs-10.col-xs-offset-1
        h2 Treatment Marking Skill: ability to identify and mark Treatment concepts such as:
        ol.list-unstyled
          li <strong>Drug</strong> – a substance that has biological effects on humans or other animals, and can be at different stages of development and have multiple names
          li <strong>Drug Class</strong> – a specific category of drugs based often (but not always) based on mechanism of action
          li <strong>Non-drug Treatment</strong> – Non-drug-based means of mitigating a disease or symptoms of a disease

    .row.m-t-md
      .col-xs-4.col-xs-offset-4
        a(href='{% url "training:four" step_num=1 %}', id='next').btn.btn-primary.btn-block Next


block post-footer
  script.
    $(document).ready(function() {
      od.update(12000);
    });
