extends training/entity-recognition/exp-2-intro-3/step-base

block step-instructions
  h2.text-xs-center Not all effective disease treatments are drugs, and some diseases may be treated with different types of therapies.
  p In the box below, mark every instance of specific treatments separately (rule #1), and abbreviations of treatments (rule #3), using the minimum span needed to encompass each specific treatment (rule #2)

block paragraph
  p.paragraph Obsessive-compulsive disorders have also been successfully treated by behavioral therapy ( BT ) or cognitive-behavioral therapy ( CBT ) .

block progress
  progress(value='80' max='100').progress.progress-striped
    .progress
      span(style='width: 80%;').progress-bar 80%

block next-link
  a(href='{% url "training:three" step_num="complete" %}', id='next', disabled).btn.btn-primary.pull-right.disabled Next

block answers
  script.
    var key = '3-5';
    var help = [
      {text: 'Obsessive-compulsive disorders', msg: 'Remember, the concept in this tutorial is treatments, don’t mark disease concepts'},

      {text: 'behavioral therapy ( BT', msg: 'Whenever possible, mark abbreviations separately from the terms they represent.'},
      {text: 'behavioral therapy ( BT )', msg: 'Whenever possible, mark abbreviations separately from the terms they represent.'},
      {text: 'cognitive-behavioral therapy ( CBT', msg: 'Whenever possible, mark abbreviations separately from the terms they represent.'},
      {text: 'cognitive-behavioral therapy ( CBT )', msg: 'Whenever possible, mark abbreviations separately from the terms they represent.'},

      {text: 'behavioral therapy ( BT ) or cognitive-behavioral therapy ( CBT', msg: 'Mark different treatments in different spans'},
      {text: 'behavioral therapy ( BT ) or cognitive-behavioral therapy ( CBT )', msg: 'Mark different treatments in different spans'},
    ];
    var answers = [{text: "behavioral therapy", start: 70}, {text: "BT", start: 91}, {text: "cognitive-behavioral therapy", start: 99}, {text: "CBT", start: 130}];
