extends training/exp-2-intro-1/step-base

block step-instructions
  h2 A single sign may sometimes appear to be a list of descriptions or symptoms
  p Use the minimum span needed to mark the entire sign (rule #2).

block paragraph
  p.paragraph … as well as tingling and/or numbness in the hands , legs , or feet .

block progress-bar
  div(role='progressbar', aria-valuenow='87.5', aria-valuemin='0', aria-valuemax='100', style='width: 87.5%;').progress-bar.progress-bar-striped.active

block next-link
  a(href='{% url "training:one" step_num="complete" %}', id='next', disabled).btn.btn-default.pull-right Next

block answers
  script.
      var help = [
        {text: 'tingling', msg: '"tingling" alone is not a symptom of this disease. be more specific, mark all the terms needed for it to be a symptom'},
        {text: 'tingling and/or numbness', msg: '"tingling and/or numbness" alone is not a symptom of this disease. be more specific, mark all the terms needed for it to be a symptom'},
        {text: 'tingling and/or numbness in the hands', msg: 'While "tingling and/or numbness in the hands" is a symptom of this disease, so is tingling and/or numbness in the feet. Mark all the terms needed for this symptom'},
        {text: 'tingling and/or numbness in the hands , legs', msg: '"tingling aand/or numbness in the hands , legs" alone is not a symptom of this disease. be more specific, mark all the terms needed for it to be a symptom'},
      ];
      var answers = [{text: "tingling and/or numbness in the hands , legs , or feet", start: 13}];
