extends instructions/tasks/relation/relation-base


block header
  - with headerMessage='Drug <i class="fa fa-angle-right" aria-hidden="true"></i> Disease'
    include includes/header


block breadcrumb
  li
    a(href='{% url "instructions:relation" %}') Relation Task
  li.active Relationships
  li.active Drug <i class="fa fa-angle-right" aria-hidden="true"></i> Disease



block instructions-content
  #instructions-content

  script.
    root = {
      "id": "1-1-1-1-1-1",
      "text": "Drug + disease Relationship",
      "desc": "Drug + disease relationship definitions",
      "example": "Hover over items for more information.",
      "children": [{
        "id": "1",
        "text": "relates to",
        "desc": "The drug has some type of relation to the disease.",
        "example": "Evidence indicates that Amblyomin-X could be a promising candidate for cancer therapy.",
        "children": [{
            "id": "1-2",
            "text": "(may) exacerbate(s)",
            "desc": "The drug worsens or exacerbates the disease in any manner.",
            "example": "St. John's Wort has been known to worsen symptoms of Parkinson's disease.",
          }, {
            "id": "1-1",
            "text": "(may) treat(s)",
            "desc": "The drug improves or treats the disease in any manner.",
            "example": "Treatment with gingerol may provide a novel therapeutic strategy for prion-mediated neurotoxicity",
          }, {
            "id": "1-3",
            "text": "(may) increase(s) risk of",
            "desc": "Administration of the drug increases chances of getting the disease. Considered an 'adverse side effect' of the drug.",
            "example": "Parkinson's disease risk factors include ageing, exposure to toxins and genetic defects.",
          }, {
            "id": "1-4",
            "text": "(may) cause(s)",
            "desc": "Administration of the drug causes or may cause the disease.",
            "example": "43% of mice given the drug NVP-BHG712 developed pulmonary metastases.",
          }, {
            "id": "1-5",
            "text": "(may) prevent(s)",
            "desc": "Administration of the drug prevents or may prevent the disease",
            "example": "Malarone is taken daily by travelers wanting to prevent malaria.",
          }]
        }, {
        "id": "2",
        "text": "has no relation to",
        "desc": "There is no relation between the drug and disease.",
        "example": "To study soft tissue sarcoma, an experimental group of mice was given the drug NVP-BHG712.",
            }]
    }

