extends instructions/home


block header
  - with headerMessage='Drug Definition'
    include includes/header


block breadcrumb
  li
    a(href='{% url "instructions:relation" %}') Relation Task
  li.active Definitions
  li.active Drug


block instructions-content
  .modal-body
    .panel
      .panel-body
        p.lead <span style='background-color:rgb(255, 209, 220);'>Drug</span> concepts include:
        ol(style='margin-left: 8px;').list-unstyled
          li <strong>Drug</strong> – a substance that has biological effects on humans or other animals, and can be at different stages of development and have multiple names
          li <strong>Drug Class</strong> – a specific category of drugs based often (but not always) based on mechanism of action
          p <br>If you suspect an unfamiliar term of being a drug but are unsure, check here: <a href='http://www.drugbank.ca/' target='_blank'>http://www.drugbank.ca/</a> or on Google or Wikipedia (for drugs under development) or or visit our <a href='http://mark2cure.wikia.com/wiki/Board:Treatments_Concept_Help' target='_blank'>new Wikia forum for help</a>

