extends instructions/tasks/relation/relation-base


block header
  - with headerMessage='Drug <i class="fa fa-angle-right" aria-hidden="true"></i> Disease'
    include includes/header


block breadcrumb
  li
    a(href='{% url "instructions:relation" %}') Relation Task
  li.active Relationships
  li.active Drug <i class="fa fa-angle-right" aria-hidden="true"></i> Disease



block instructions-content
  #instructions-content

  script.
    root = {
      "id": "1-1-1-1-1-1",
      "text": "Drug + disease Relationship",
      "desc": "Drug + disease relationship definitions",
      "example": "Hover over items for more information.",
      "children": [{
        "id": "1",
        "text": "Relates to",
        "desc": "The drug has some type of relation to the disease.",
        "example": "Evidence indicates that Amblyomin-X could be a promising candidate for cancer therapy.",
        "children": [{
            "id": "1-2",
            "text": "(May) exacerbate(s)",
            "desc": "The drug worsens or may worsen the disease or symptoms of the disease in any manner.",
            "example": "e.g.- St. John's Wort has been known to worsen symptoms of Parkinson's disease.",
          }, {
            "id": "1-1",
            "text": "(May) treat(s)",
            "desc": "The drug improves, treats, may improve, or may treat the disease or symptoms of the disease in any manner.",
            "example": "e.g.- After deep scaling, ibuprofen was prescribed to alleviate gingival pain.",
          }, {
            "id": "1-3",
            "text": "(May) increase(s) risk of",
            "desc": "Administration of the drug increases or may increase chances of getting the disease. Considered an 'adverse side effect' of the drug.",
            "example": "e.g.- Taking more than 350mg of aspirin increases the risk of bleeding and stomach side effects.",
          }, {
            "id": "1-4",
            "text": "(May) cause(s)",
            "desc": "Administration of the drug may cause or lead to the disease.",
            "example": "e.g.- 43% of mice given the drug NVP-BHG712 developed pulmonary metastases.",
          }, {
            "id": "1-5",
            "text": "(May) prevent(s)",
            "desc": "Administration of the drug prevents or may prevent the disease",
            "example": "e.g.- Malarone is taken daily by travelers wanting to prevent malaria.",
          }]
        }, {
        "id": "2",
        "text": "has no relation to",
        "desc": "There is no relation between the drug and disease.",
        "example": "e.g.- To study soft tissue sarcoma, an experimental group of mice was given the drug NVP-BHG712.",
            }]
    }

