extends instructions/tasks/relation/relation-base


block header
  - with headerMessage='Gene <i class="fa fa-angle-right" aria-hidden="true"></i> Disease'
    include includes/header


block breadcrumb
  li
    a(href='{% url "instructions:relation" %}') Relation Task
  li.active Relationships
  li.active Gene <i class="fa fa-angle-right" aria-hidden="true"></i> Disease



block instructions-content
  #instructions-content

  script.

    root = {
      'id': '1-1-1-1-1-1',
      'text': 'Gene + disease relationships',
      'desc': 'Explanations of the different relationships are shown below',
      'example': '',
      'children': [{
        'id': '1',
        'text': 'relates to',
        'desc': 'A gene is a sequence of DNA that serves as a blueprint for other biomolecules. Genes are transcribed to mRNA and the mRNA gene transcript is translated to proteins. The gene is related to the disease in some manner.',
        'example': 'e.g.- The gene responsible for Triple A syndrome, AAAS, has recently been identified.',
        'children': [{
          'id': '1-1',
          'text': 'altered expression  is/may be associated with',
          'desc': 'Gene expression is the process by which information from a gene is used in the synthesis of a functional gene product (mRNA, protein, or microRNAs). Altered expression refers to changes in the amount of gene product synthesized. This can happen at transcription or translation. Either way, changes in the amount of gene product synthesis is or may be associated with the disease.',
          'example': 'e.g.- Several studies revealed significantly higher EPHB4 expression in malignancies such as prostate cancer.',
          }, {
          'id': '1-2',
          'text': 'mutation is/may be associated with',
          'desc': 'A mutation is a permanent change in the DNA sequence that makes up the gene. Changing the blueprint can change the biomolecules that are built from that blueprint and is or may be associated with the disease. Mutations range in size; they can affect anywhere from a single DNA base pair to a large piece of a chromosome that includes multiple genes.',
          'example': 'e.g.- Mutations in the COL5A or COL3A genes are only a few of the genetic causes of Ehlers-Danlos syndrome.',
          }, {
          'id': '1-3',
          'text': 'post-translational modifications are/may be associated with',
          'desc': 'After a gene has been transcribed into mRNA and the mRNA translated into a protein, the protein can be modified. These modifications can have huge effects including changing the location of the protein in the cell, changing its activity, and are or may be associated with the disease.',
          'example': 'e.g.- Aberrant glycosylation and other alterations in post-translational modification of IgA1 is associated with IgA nephropathy.',
        }]}, {
        'id': '2',
        'text': 'has no relation to',
        'desc': 'The gene does not relate to the disease.',
        'example': 'e.g.- The high-affinity human IgG receptor Fc gamma receptor I (FcγRI) is not associated with vascular leakage of dengue.'
      }]
    }

