extends instructions/home


block header
  - with headerMessage='Gene Definition'
    include includes/header


block breadcrumb
  li
    a(href='{% url "instructions:relation" %}') Relation Task
  li.active Definitions
  li.active Gene


block instructions-content
  .modal-body
    .panel
      .panel-body
        p.lead <span style='background-color:rgb(177, 255, 168);'>Gene</span> concepts include:
        ol(style='margin-left: 8px;').list-unstyled
          li <strong>Genes</strong> – a molecular unit of heredity in an organism, and is usually referred to in biomedical literature by their gene name, gene symbol, or both.
          li <strong>Gene Products</strong> – usually a protein or microRNA that is encoded by the gene and will sometimes have the same name/symbol as the gene.
          p <br>If you suspect an unfamiliar term of being a gene/gene product name or symbol but are unsure, check here: <a href='http://www.genenames.org/' target='_blank'>genenames.org</a> or <a href='http://www.ncbi.nlm.nih.gov/gene/' target='_blank'>ncbi.nlm.nih.gov/gene/</a> or visit our <a href='http://mark2cure.wikia.com/wiki/Board:Genes_Concept_Help' target='_blank'>new Wikia forum for help</a>

