extends instructions/tasks/relation/relation-base


block header
  - with headerMessage='Gene <i class="fa fa-angle-right" aria-hidden="true"></i> Disease'
    include includes/header


block breadcrumb
  li
    a(href='{% url "instructions:relation" %}') Relation Task
  li.active Relationships
  li.active Gene <i class="fa fa-angle-right" aria-hidden="true"></i> Disease



block instructions-content
  #instructions-content

  script.

    root = {
      'id': '1-1-1-1-1-1',
      'text': 'Gene + disease relationships',
      'desc': 'Explanations of the different relationships are shown below',
      'example': '',
      'children': [{
        'id': '1',
        'text': 'relates to',
        'desc': 'The gene is related to the disease in some manner.',
        'example': 'The gene responsible for Triple A syndrome, AAAS, has recently been identified.',
        'children': [{
          'id': '1-1',
          'text': 'altered expression is/may be associated with',
          'desc': 'Gene expression is the process by which information from a gene is used in the synthesis of a functional gene product (mRNA, protein, or microRNAs). When gene expression is altered, gene expression is either increased or decreased.',
          'example': 'Several studies revealed significantly higher EPHB4 expression in malignancies such as prostate cancer.',
          }, {
          'id': '1-2',
          'text': 'mutation is/may be associated with',
          'desc': 'Gene mutations or aberrations are permanent changes in the gene DNA sequence, differing from the sequence found in most people. Mutations range in size; they can affect anywhere from a single DNA base pair to a large piece of a chromosome that includes multiple genes.',
          'example': 'Mutations in the COL5A or COL3A genes are only a few of the genetic causes of Ehlers-Danlos syndrome.',
          }, {
          'id': '1-3',
          'text': 'and post-translational modifications are/may be associated with',
          'desc': 'Translation is protein synthesis. When changes are made to a protein during or after translation, it is considered a post-translational modification.',
          'example': 'A small interfering RNA causes knockdown of ATP2C1 expression, resulting in defects in post-translational processing of wild-type thyroglobulin.',
        }]}, {
        'id': '2',
        'text': 'has no relation to',
        'desc': 'The gene does not relate to the disease.',
        'example': 'The precise role of Ngly1 in the ERAD process remains unclear in mammals.'
      }]
    }

