{% extends "instructions/tasks/relation/relation-base.html" %}{% block header %}{%  with headerMessage='Gene <i class="fa fa-angle-right" aria-hidden="true"></i> Drug' %}{% include "includes/header.html" %}{% endwith %}{% endblock %}{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url "instructions:relation" %}">Relation Task</a>
</li>
<li class="breadcrumb-item active">Relationships</li>
<li class="breadcrumb-item active">Gene <i class="fa fa-angle-right" aria-hidden="true"></i> Drug</li>{% endblock %}{% block instructions-content %}
<div id="instructions-content"></div>
<script>root = {
  "id": "1-1-1-1-1-1",
  "text": "Gene + drug relationship",
  "desc": "Gene + drug relationship definitions",
  "example": "Hover over items for more information.",
  "children": [{
    "id": "1",
    "text": "relates to",
    "desc": "The gene is related to the drug in some manner.",
    "example": "The drug ACTH was given to a patient with a mutation in NGLY1 and had adverse effects.",
    "children": [{
      "id": "1-1",
      "text": "(may) affect(s)",
      "desc": "The gene affects or may affect the activity of the drug.",
      "example": "e.g.- Codeine is metabolized by CYP2D6 to its active metabolite, morphine",
      }, {
      "id": "1-2",
      "text": "is/may be affected by",
      "desc": "The gene or gene product’s expression, activity, location, modification, or degradation is or may be affected by the drug. In other words the drug acts on the gene or gene product.",
      "example": "e.g.- As an inhibitor of monoamine oxidase A (MAO-A), Nardil is useful in the treatment of depression.",
      }]}, {
    "id": "2",
    "text": "has no relation to",
    "desc": "The gene does not relate to the drug.",
    "example": "e.g.- The affect of glucocorticoids on intestinal B-cell proliferation was inspected by examining IgA1 levels."
  }]
}
</script>{% endblock %}