- load humanize

- if user.is_authenticated

  - if user_profile.mturk
    .col-sm-10.col-sm-offset-1.foot-space-xl
      .row
        .col-sm-6.col-sm-offset-3
            form(method="post", id="document_submit", action="/document/{{ doc.pk }}/submit/")
              {% csrf_token %}
              input(type="hidden", name="task_type", value="{{ task_type }}")
              button.btn.btn-primary.btn-block.done
                | Submit


  - else
    .well.col-sm-10.col-sm-offset-1.head-space
      .row
        .col-sm-6
            p
              span.label.label-info Title
              |  #{ doc.title }
            p
              span.label.label-info Source
              a(href="http://www.ncbi.nlm.nih.gov/pubmed/{{ doc.document_id }}", target="_blank")
                |  NCBI PubMed

            - if user.is_authenticated and user_profile.mturk == False
              p
                span.label.label-info Created
                |  #{ doc.created|naturaltime }

        .col-sm-6
          form(method="post", id="document_submit", action="/document/{{ doc.pk }}/submit/")
            {% csrf_token %}
            input(type="hidden", name="task_type", value="{{ task_type }}")
            button.btn.btn-primary.btn-large.done
              | Submit

- else

  .col-sm-10.col-sm-offset-1.foot-space-xl
    .row
      .col-sm-6.col-sm-offset-3
            button(disabled="disabled").btn.btn-primary.btn-block.done
              | Submit


