- load humanize

form(action="{{ turk_sub_location }}/mturk/externalSubmit", method="POST", style="display:none", id="worker_submit")
  input(type="hidden", name="assignmentId", value="{{ assignmentId }}")
  input(type="text", name="document_id", value="{{ doc.pk }}")


.well.col-md-10.col-md-offset-1.head-space
  .row
    .col-md-6
      - if user.is_authenticated and user.profile.mturk == False
        p
          span.label.label-info Title
          |  #{ doc.title }
        p
          span.label.label-info Created
          |  #{ doc.created|naturaltime }

    .col-md-6
      form(method="post", id="document_submit", action="/document/{{ doc.pk }}/next/")
        {% csrf_token %}
        input(type="hidden", name="task_type", value="{{ task_type }}")
        button.btn.btn-primary.btn-large.done
          | Next

