- load humanize

form(action="{{ user.userprofile.turk_submit_to }}/mturk/externalSubmit", method="POST", style="display:none", id="worker_submit")
  input(type="hidden", name="assignmentId", value="{{ assignmentId }}")
  input(type="text", name="document_id", value="{{ doc.pk }}")

- if user.userprofile.mturk
  .col-sm-10.col-sm-offset-1.foot-space-xl
    .row
      .col-sm-6.col-sm-offset-3
          form(method="post", id="document_submit", action="/document/{{ doc.pk }}/next/")
            {% csrf_token %}
            input(type="hidden", name="task_type", value="{{ task_type }}")
            button.btn.btn-primary.btn-block.done
              | Next

- else
  .well.col-sm-10.col-sm-offset-1.head-space
    .row
      .col-sm-6
          p
            span.label.label-info Title
            |  #{ doc.title }
          p
            span.label.label-info Source
            a(href="http://www.ncbi.nlm.nih.gov/pubmed/{{ doc.document_id }}", target="_blank")
              |  NCBI PubMed

          - if user.is_authenticated and user.profile.mturk == False
            p
              span.label.label-info Created
              |  #{ doc.created|naturaltime }

      .col-sm-6
        form(method="post", id="document_submit", action="/document/{{ doc.pk }}/next/")
          {% csrf_token %}
          input(type="hidden", name="task_type", value="{{ task_type }}")
          button.btn.btn-primary.btn-large.done
            | Next



