extends base

- load humanize

block content

    - for sec in doc.section_set.all
        .row
          - if user.is_authenticated and user_profile.mturk == False
              .col-sm-10.col-sm-offset-1
                h4
                  | #{ sec.get_kind_display }

          .col-sm-10.col-sm-offset-1.head-space.game
            div(id="{{ sec.pk }}").paragraph.entity_tag
              p
                | #{ sec.text }


    .row.relationships.foot-space-xl.head-space-xl
      .col-sm-12
        - for c_one, c_two, index in concepts
          .row
            .col-sm-4.col-sm-offset-1
              h2.text-center
                | {{ c_one.preferred_name }}

            .col-sm-2
              h2.text-center
                | Vs.

            .col-sm-4
              h2.text-center
                | {{ c_two.preferred_name }}

          .row
            .col-sm-6.col-sm-offset-3
              p.lead
                | Describe their relation

          .row.foot-space
            .col-sm-6.col-sm-offset-3
              form(action="/document/{{ doc.pk }}/concepts/annotation/create/", method="post", role="for").form-horizontal
                {% csrf_token %}
                .form-group
                  input(type="hidden", name="c_one", value="{{ c_one.concept_id }}")
                  input(type="hidden", name="c_two", value="{{ c_two.concept_id }}")
                  input(type="text", name="relation", placeholder="Which relationships").selectize-relationshiptypes
                  input(type="submit", value="Submit").btn.btn-default.btn-block



    - if False
      .row.well
        // complete and !mturk
        .col-sm-10
          p
            | Congratulations, you completed the document!

        .col-sm-1
          button.btn.btn-success.btn-large.navigate
            | Next

    - else
      .row.well
        .col-sm-10.col-sm-offset-1.head-space
          .row
            - if user.is_authenticated and user_profile.mturk == False
              p
                span.label.label-info Title
                |  #{ doc.title }
              p
                span.label.label-info Created
                |  #{ doc.created|naturaltime }

            form(method="post", id="document_submit")
              {% csrf_token %}
              button.btn.btn-primary.btn-large.done
                | Done




block post-footer

    <script id="word-template" type="text/template"><% if(neighbor) { %><%= text %><% } else { %><%= text %> <% } %></script>
    - if completed
      script.
        // If the document was completed forget the rest and submit the mturk ajax request to move the turker
        $('#worker_submit').submit();

    - else
      script.


        $( ".draggable" ).draggable({ revert: "valid" });
        $( ".droppable" ).droppable({
          activeClass: "ui-list-group-item-dragging",
          hoverClass: "ui-list-group-item-hover",
          drop: function( event, ui ) {
            // $( this )
            //   .addClass( "ui-state-highlight" )
            //   .find( "p" )
            //     .html( "Dropped!" );
          }
        });


        $('.select-relation').selectize({
          create: true,
          sortField: 'text'
        });


        $('#instructions_toggle').click(function() {
          $('#instructions').toggle()
        });


