.row
  div(id="carousel-concept-questions", data-ride="carousel").carousel.slide

    ol.carousel-indicators
      - for c_one, c_two, index in concepts
        li(data-target="#carousel-concept-questions", data-slide-to="{{ i }}")


    div.carousel-inner
      - for c_one, c_two, index in concepts
        div.item
          div.carousel-caption
            h3
              | {{ c_one.preferred_name }}
            p
              | Hello


    a(href="#carousel-concept-questions", data-slide="prev").left.carousel-control
      span.glyphicon.glyphicon-chevron-left
    a(href="#carousel-concept-questions", data-slide="next").right.carousel-control
      span.glyphicon.glyphicon-chevron-right


