extends base

block header
  - with headerMessage='Introduction'
    include includes/header-anon

block content
  .container
    .row.foot-space-xl
      .col-md-12
        h2.lead Welcome, new trainee, let's start with the basics...

    .row.head-space-xl
      #basics.col-md-10.col-md-offset-1.paragraph.entity_tag
        p Biomedical research literature is growing rapidly around the world, making it hard for researchers to acquire all new relevant information . By joining Mark2Cure I am helping to tag research articles so that they are readily searchable and can be linked to find new relationships, new discoveries, and hopefully new treatment strategies. I contribute to Mark2Cure because I am ready to help .

    .row.head-space
      a(href='/training/intro/', id='next', disabled).btn.btn-default.pull-right Next

block post-footer
    script.
      YPet.addInitializer(function(options) {
        var p = new Paragraph({'text': $('#basics').text().trim()});
        YPet.AnnotationTypes = new AnnotationTypeList([{name: 'Disease', color: '#00ccff'}]);
        YPet.addRegions({'basics': '#basics'});
        YPet['basics'].show(new WordCollectionView({collection: p.get('words')}))
      });
      YPet.start();

      var intro = introJs();
      intro.setOptions({
        'skipLabel': 'Exit',
        'showButtons': false,
        'showBullets': false,
        'keyboardNavigation': false,
        'exitOnOverlayClick': false,
        'exitOnEsc': false,
        'showStepNumbers': false,
        steps: [
          {
            element: '#basics',
            intro: "Hightlight words by clicking on them. Hightlight the word <span class='selected'>Biomedical</span>",
            position: 'top',
          }, {
            element: '#basics',
            intro: "Remove the highlight by clicking again. Un-highlight the word <span class='selected'>information</span>",
            position: 'top',
          }, {
            element: '#basics',
            intro: "Highlight blocks of text by holding down your mouse button until you reach the end of the text you wish to highlight. Highlight the phrase <span class='selected'>I am ready to help</span>",
            position: 'bottom',
          }, {
            element: '#next',
            intro: 'Click Next to continue!',
            position: 'left',
          }
        ]
      });

      intro.start();
      var target = $('p.paragraph span:nth(0)').position();
      $('.introjs-tooltip').animate({left: target.left+20});

      intro.onchange(function() {
        switch (intro._currentStep)
        {
          case 0:
            break;

          case 1:
            var target = $('p.paragraph span:nth(19)').position();
            $('.introjs-tooltip').animate({left: target.left+20});

            var collection = YPet['basics'].currentView.collection;
            collection.parentDocument.get('annotations').create({words: collection.where({'text': 'information'})});
            break;

          case 2:
            var target = $('p.paragraph span:nth(56)').position();
            $('.introjs-tooltip').animate({left: target.left+20});
            break;

          case 3:
            $('#next').attr('disabled', false);
            break;
        }
      });

      YPet['basics'].currentView.collection.parentDocument.get('annotations').on('add', function(model, collection) {
        var model_json = model.toJSON();

        /* Unselect wrong answers */
        if( !_.contains(['Biomedical', 'information', 'I am ready to help'], model_json.text) ) {
          model.destroy();
          collection.drawAnnotations(model);
        }

        if(model_json.text == 'Biomedical' && collection.length == 1) { intro.nextStep(); }
        if(model_json.text == 'I am ready to help' && collection.length == 2) { intro.nextStep(); }
      });

      YPet['basics'].currentView.collection.parentDocument.get('annotations').on('remove', function(model, collection) {
        var model_json = model.toJSON();
        if(model_json.text == 'information' && collection.length == 1) { intro.nextStep(); }
      });
