extends base

block header
  - with headerMessage='Introduction'
    include includes/header-anon

block content
  .container
    .row.foot-space-xl
      .col-xs-12
        h2.lead Welcome, new trainee, let's start with the basics...

    .row.head-space-xl
      #basics.col-xs-10.col-xs-offset-1.paragraph.entity_tag
        p Biomedical research literature is growing rapidly around the world, making it hard for researchers to acquire all new relevant information . By joining Mark2Cure I am helping to tag research articles so that they are readily searchable and can be linked to find new relationships, new discoveries, and hopefully new treatment strategies. I contribute to Mark2Cure because I am ready to help .
    .row.bottom

    .row.head-space
      a(href='/training/intro/', id='next', disabled).btn.btn-default.pull-right Next

block post-footer
    script.
      YPet.addInitializer(function(options) {
        var p = new Paragraph({'text': $('#basics').text().trim()});
        YPet.AnnotationTypes = new AnnotationTypeList([{name: 'Disease', color: '#00ccff'}]);
        YPet.addRegions({'basics': '#basics'});
        YPet['basics'].show(new WordCollectionView({collection: p.get('words')}))
      });
      YPet.start();

      var yellow = '#E8DB47';
      var step_function = function(step_idx) {
        var text = '';
        switch (step_idx) {
          case 1:
            text = 'Highlight words by clicking on them. Highlight the word \“<span class="user_annotated">Biomedical</span>\”.';
            var $biomedical = $('p.paragraph span:nth(0)');
            break;

          case 2:
            text = 'Remove the highlight by clicking again. Un-highlight the word \“<span class="user_annotated">information</span>\”.';
            var $information = $('p.paragraph span:nth(19)');

            /* Force make selection */
            var collection = YPet['basics'].currentView.collection;
            collection.parentDocument.get('annotations').create({words: collection.where({'text': 'information'})});
            break;

          case 3:
            text = 'Highlight blocks of text by holding down your mouse button until you reach the end of the text you wish to highlight. Highlight the phrase \“<span class="user_annotated">I am ready to help</span>\”.';
            var $readytohelp = $('p.paragraph span:nth(56)');
            break;

          case 4:
            text = 'Click Next to continue!';
            $('#next').attr('disabled', false);
            break;
        };
      };


      YPet['basics'].currentView.collection.parentDocument.get('annotations').on('add', function(model, collection) {
        var model_json = model.toJSON();

        /* Unselect wrong answers */
        if( !_.contains(['Biomedical', 'information', 'I am ready to help'], model_json.text) ) {
          model.destroy();
          collection.drawAnnotations(model);
        }

        if(model_json.text == 'Biomedical' && collection.length == 1) { step_function(); }
        if(model_json.text == 'I am ready to help' && collection.length == 2) { step_function(4); }
      });

      YPet['basics'].currentView.collection.parentDocument.get('annotations').on('remove', function(model, collection) {
        var model_json = model.toJSON();
        if(model_json.text == 'information' && collection.length == 1) { step_function(3); }
      });
