<div class="container">
  <div class="span5">
    <p><a href="http://sulab.org"><span class="pink">The Su Laboratory</span></a></p>
    <p><span class="pink">Project Team:</span> Max Nanis, Andrew Su</p>
    <p>An <a href="https://bitbucket.org/sulab/abstract-annotations"><span class="pink">Open Source</span></a> Project</p><p>
  </div>

  <div class="span3 pull-right">
    <p><a href="http://www.scripps.edu/"><span class="pink">The Scripps Research Institute</span></a></p>
    <p>10550 North Torrey Pines Road</p>
    <p>La Jolla, CA 92037</p>
  </div>
</div>
