<div class="span4 offset1">
  <p><a href="http://sulab.org"><span class="pink">The Su Laboratory</span></a></p>
  <p>Project Team: <a href="https://twitter.com/x0xMaximus" target="_blank">Max Nanis</a>, <a href="https://twitter.com/andrewsu" target="_blank">Andrew Su</a></p>
  <p>An <a href="https://bitbucket.org/sulab/mark2cure"><span class="pink">Open Source</span></a> Project</p><p>
</div>

<div class="span3 offset2">
  <p><a href="http://www.scripps.edu/">The Scripps Research Institute</a></p>
  <p>10550 North Torrey Pines Road</p>
  <p>La Jolla, CA 92037</p>
</div>
