extends base

block header
  - with headerMessage='Introduction'
    include includes/header

block content
  .container
    .row.m-t-md
      .col-xs-12
        h2.lead Welcome, new trainee, let's start with the basics...

    .row.m-t-md
        .col-xs-10.col-xs-offset-1.entity_tag
          #basics
            p Biomedical research literature is growing rapidly around the world, making it hard for researchers to acquire all new relevant information . By joining Mark2Cure I am helping to tag research articles so that they are readily searchable and can be linked to find new relationships, new discoveries, and hopefully new treatment strategies. I contribute to Mark2Cure because I am ready to help .

    .col-md-8.col-md-offset-2
      #next-container.pull-right
        block next-link
          .row.m-t-md
            a(href='{% url "training:introduction" step_num=2 %}', id='next', disabled).btn.btn-primary.pull-right.disabled Next

block post-footer
  script(src='/static/js/pages/training/entity-recognition/basic.js')
