{% extends "base.html" %}
{% block header %}{%  with headerMessage='NER Module' %}
{% include "includes/header.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<div id="ner-training-area"></div>
{% include "training/js-templates.html" %}
{% endblock %}

{% block post-footer %}
<script>
  var NERTrainingApp = Backbone.Marionette.Application.extend({
    region: '#ner-training-area',
    onStart: function() {
      var main = this.getRegion();
      main.show( new TrainingView({
        'csrf_token': "{{csrf_token}}",
        'mode': 'ner',
        })
      );
    }
  });
  var ner_training = new NERTrainingApp();
  ner_training.start();
</script>
{% endblock %}
