extends base

- load humanize

block content

  .row
    .col-sm-8
      h2
        | Library:
      .library-list
        table.table.table-striped
          - if twitter_users.paginator.count == 0
            tr
              td
                | No documents
          - else
            tr
              th
                | Title
              th
                | Sections

            - for doc in docs
              tr.show-on-hover-container
                td
                  a(href="/document/{{doc.pk}}")
                    | #{ doc.title }
                td
                  | #{ doc.section_set.count }


    .col-sm-4
      h2
        | Player Stats:
      .row.well
        p
          | Coming soon...

      h2
        | History
      .row.well
        p
          | Coming soon...

      h2
        | Search:
      .row.well
        p
          | Coming soon...

      h2
        | Add Document
      .row.well
        form(method="post", action="/document/create/")
          {% csrf_token %}
          input(type="text", name="document_id").form-control
          input(type="submit", value="save").button.btn.btn-primary.full-width
