extends base

- load humanize

block content

  .row
    .col-sm-8
      h2
        | Library:
      .library-list

    .col-sm-4
      h2
        | Player Stats:
      .row.well
        p
          | Coming soon...

      h2
        | Search:
      .row.well
        p
          | Coming soon...

      h2
        | Add Document
      .row.well
        form(method="post", action="/document/create/")
          {% csrf_token %}
          input(type="text", name="document_id").form-control
          input(type="submit", value="save").button.btn.btn-primary.full-width
