extends base

- load humanize

block content

  .row
    .col-sm-8
      h2
        | Library:
      .library-list

    .col-sm-4
      h2
        | Player Stats:
      .row.well
        p
          | Coming soon...

      h2
        | Search:
      .row.well
        p
          | Coming soon...
