extends library/index

block docs-paging
    .row
        .large-2.columns.breathe-bottom
            - if docs.has_previous
                h5
                    a(href="./page/{{docs.previous_page_number}}")
                            | Previous Page
        .large-2.large-offset-8.columns.breathe-bottom
            - if docs.has_next
                h5
                    a(href="./page/{{docs.next_page_number}}")
                            | Next Page
