extends base

block header
  - with headerMessage='Instructions'
    include includes/header

block content
  #instructions.content.container.mt-1.mb-2
    .row
      .col
        ol.breadcrumb
          li.breadcrumb-item
            a(href='{% url "instructions:home" %}') Instructions
          block breadcrumb

    .row
      #sidebar-navigation.col-3
        include instructions/sidebar

      .col-md-9
        block instructions-content

          p.lead.text-xs-center.m-t-2 There are many rules to follow in Mark2Cure, the instructions portal is intended to provide an up to date reference guide for how to properly perform Mark2Cure tasks.

