#instructionsModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button(type="button", data-dismiss="modal").close
          span(aria-hidden="true") &times;
          span.sr-only Close
        h4#myModalLabel.modal-title Quest Instructions

      .modal-body

        div#accordion.foot-space.panel-group

          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle="collapse", data-parent="#accordion", href="#collapseOne")
                  strong Rule #1: Highlight <u>all</u> diseases and disease abbreviations
            #collapseOne.panel-collapse.collapse.in
              .panel-body
                img(src="/static/images/experiment/11/1.gif").img-rounded.img-responsive
                img(src="/static/images/experiment/11/2.gif").img-rounded.img-responsive
                .alert.alert-danger
                  h4.text-center and NOT like this! (spaces between the words indicate incorrect highlighting)
                  img(src="/static/images/experiment/11/3.gif").img-rounded.img-responsive


          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle="collapse", data-parent="#accordion", href="#collapseTwo")
                  strong Rule #2: Highlight the longest span of text specific to a disease
            #collapseTwo.panel-collapse.collapse
              .panel-body
                img(src="/static/images/experiment/11/4.gif").img-rounded.img-responsive
                .alert.alert-warning
                  p and not just ‘diabetes’.
                img(src="/static/images/experiment/11/5.gif").img-rounded.img-responsive
                .alert.alert-warning
                  p and not just ‘cancer’.
                img(src="/static/images/experiment/11/6.gif").img-rounded.img-responsive
                .alert.alert-warning
                  p and not just ‘breast cancer’

          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle="collapse", data-parent="#accordion", href="#collapseThree")
                  strong Rule #3: Highlight disease conjunctions as single, long spans.
            #collapseThree.panel-collapse.collapse
              .panel-body
                img(src="/static/images/experiment/11/7.gif").img-rounded.img-responsive
                img(src="/static/images/experiment/11/8.gif").img-rounded.img-responsive

          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle="collapse", data-parent="#accordion", href="#collapseFour")
                  strong Rule #4: Highlight symptoms - physical results of having a disease
            #collapseFour.panel-collapse.collapse
              .panel-body
                img(src="/static/images/experiment/11/9.gif").img-rounded.img-responsive

          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle="collapse", data-parent="#accordion", href="#collapseFive")
                  strong Rule #5: Highlight <u>all</u> occurrences of disease terms
            #collapseFive.panel-collapse.collapse
              .panel-body
                img(src="/static/images/experiment/11/10.gif").img-rounded.img-responsive

          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle="collapse", data-parent="#accordion", href="#collapseSix")
                  strong Rule #6: Highlight <u>all</u> diseases, disease groups and key disease symptoms
            #collapseSix.panel-collapse.collapse
              .panel-body
                img(src="/static/images/experiment/11/11.gif").img-rounded.img-responsive

          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle="collapse", data-parent="#accordion", href="#collapseSeven")
                  strong Rule #7: Do not highlight gene names
            #collapseSeven.panel-collapse.collapse
              .panel-body
                img(src="/static/images/experiment/11/12.gif").img-rounded.img-responsive
                .alert.alert-warning
                  p highlight only the disease mention, not the gene
                img(src="/static/images/experiment/11/13.gif").img-rounded.img-responsive
                .alert.alert-warning
                  p the disease is highlighted, but the related gene is not.
                img(src="/static/images/experiment/11/14.gif").img-rounded.img-responsive
                .alert.alert-warning
                  p In some cases the name of the gene may be the same as the name of the disease.  In these cases you should only highlight the text if it is referring to the disease and not to the gene.  The first NAS is highlighted while the second is not.

      .modal-footer
        button(type="button", data-dismiss="modal").btn.btn-default Close

