#relationshipInstructionsModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button(type="button", data-dismiss="modal").close
          span(aria-hidden="true") &times;
          span.sr-only Close
        h4#myModalLabel.modal-title Relation Instructions

      .modal-body
        .panel
          .panel-body
            p.lead Relation Identification Skill: the ability to identify a relation between chemicals and diseases:
            ol(style='margin-left: 8px;').list-unstyled
              li <strong>Chemical</strong> – TODO
              li <strong>Disease</strong> – TODO
              li <strong>Relation</strong> – TODO
            a(href='{% url "instructions:relation-identification" %}')
              p.text-center Review the rules for Relation Identification

      .modal-footer
        button(type="button", data-dismiss="modal").btn.btn-default Close
