#relationshipInstructionsModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button(type="button", data-dismiss="modal").close
          span(aria-hidden="true") &times;
          span.sr-only Close
        h4#myModalLabel.modal-title Relation Instructions

      .modal-body
        .panel
          .panel-body
            p.lead Relation Identification Skill: the ability to identify a relation between two scientific concepts:

            p.lead Review the relation rules for:

            a(href='{% url "instructions:gene-disease-relation" %}', target='_blank')
              p.text-center Gene + Disease
            a(href='{% url "instructions:drug-disease-relation" %}', target='_blank')
              p.text-center Drug + Disease
            a(href='{% url "instructions:gene-drug-relation" %}', target='_blank')
              p.text-center Gene + Drug


      .modal-footer
        button(type="button", data-dismiss="modal").btn.btn-default Close
