extends base

- load humanize


block content

    form(action="{{ user_profile.turk_submit_to }}/mturk/externalSubmit", method="POST", style="display:none", id="worker_submit")
        input(type="hidden", name="assignmentId", value="{{ user_profile.turk_last_assignment_id }}")
        input(type="text", name="document_id", value="generic")


block post-footer
    - if user_profile.mturk
      script.
          $('#worker_submit').submit();



