extends base

- load humanize

block content

  .row
    .jumbotron
      h1.text-center
        | We're sorry, there are no more HITs available to you right now :(
      p.head-space-xl
        | It seems as though you've completed every job we currently have available (&hearts; Thank you! &hearts;).
      p
        strong
          | Don't worry!
        | We want you back after this experiment. There will be plenty more HITs in the near future and I will personally make sure to let you know when more tasks become available.

      p.head-space-xl
        strong
          | Thanks for being awesome,
      p
        |     Max Nanis
      p
        |     Biologist, TSRI
