extends base

- load humanize

block content

  .row
    .jumbotron
      h1.text-center
        | We're sorry, these HITs aren't available to you right now :(
      p.head-space-xl
        | We've likely identified you as a contributor in the past (&hearts; Thank you! &hearts;). However, right now we are trying to get more diverse (less experienced) Workers.
      p
        strong
          | Don't worry!
        | We want you back after this experiment. There will be plenty more HITs in the near future and I will personally make sure to let you know when more tasks become available.

      p.head-space-xl
        strong
          | Thanks for being awesome,
      p
        |     Max Nanis
      p
        |     Biologist, TSRI
