block content
  div(id="doc_{{doc.pk}}", data-doc="{{doc.pk}}", style="display:none;").container.document
    div(style="display:none;")
      form(method="post", action="/document/{{task.pk}}/{{doc.pk}}/submit/")
        {% csrf_token %}
        input(type="hidden", name="task_type", value="concept-recognition")

    - for sec in sections
        .row
          .col-sm-10.col-sm-offset-1.head-space.game
            div(id="{{ sec.pk }}").paragraph-box
              p.paragraph #{sec.text}


block post-footer
    script.
      var sections = {};
      var section_selectors = {};
      YPet.addInitializer(function(options) {

        $("#doc_{{doc.pk}} .game div").each(function( index ) {
          var section_id = $(this).attr('id'),
              section_text = $(this).text().trim();

          sections[ section_id ] = section_text;
          section_selectors[ section_id ] = '#'+section_id;
        });

        YPet.addRegions(section_selectors);

        _.each( _.keys(sections), function(key) {
          var p = new Paragraph({'text': sections[key] });
          YPet[key].show( new WordCollectionView({collection: p.get('words')}) );
        });

      });

      YPet.start();
