- load humanize

block content


  - for sec in sections
      .row
        .col-sm-10.col-sm-offset-1.head-space.game
          div(id="{{ sec.pk }}").results.paragraph-box
            p.paragraph #{sec.text}

  .row
    .col-sm-3.col-sm-offset-1
      table.table
        tbody
          tr
            td
              div(style="height: 16px; width: 16px; background-color: #0cf")
            td
              | Your annotations

