.row.m-t-2
  .col-xs-12.text-xs-center
    .relations-title Relation Tasks

.row.m-t-2
  .col-xs-12.text-xs-center.unlock-icon
    i(aria-hidden='true').fa.fa-cogs.fa-5x

.row.m-t-1
  .col-xs-12.text-xs-center
    p
      small A entirely new task is coming next week!

