.row.m-t-lg
  .col-xs-12.text-center
    .relations-title Relation Tasks

.row.m-t-lg
  .col-xs-12.text-center.unlock-icon
    i(aria-hidden='true').fa.fa-cogs.fa-5x

.row.m-t-md
  .col-xs-12.text-center
    p
      small A entirely new task is coming next week!

