.row
  .col-xs-12.text-center
    .relations-title Relation Tasks

.row
  .col-xs-12.text-center.unlock-icon
    i(aria-hidden='true').fa.fa-lock.fa-5x

.row
  .col-xs-12.text-center
    p
      small Complete the following training steps to unlock an entire new task!

.row
  #relation-training-progress.col-xs-12
    .list-group.dashboard.text-center
      - if training_levels.relation == 0
        a(href='{% url "training:relation-training" part_num=1 step_num=1 %}').list-group-item.current
          | <i class='fa fa-angle-right' aria-hidden='true'></i>  Using the interface

        .list-group-item.locked.disabled
          | <i class='fa fa-lock' aria-hidden='true'></i>  Rules for Relationship Extraction

        .list-group-item.locked.disabled
          | <i class='fa fa-lock' aria-hidden='true'></i>  Learn new relationships: Broad


      - if training_levels.relation == 1
        .list-group-item.completed
          | <i class='fa fa-check' aria-hidden='true'></i>  Using the interface

        a(href='{% url "training:relation-training" part_num=2 step_num=1 %}').list-group-item.current
          | <i class='fa fa-angle-right' aria-hidden='true'></i>  Rules for Relationship Extraction

        .list-group-item.locked.disabled
          | <i class='fa fa-lock' aria-hidden='true'></i>  Learn new relationships: Broad


      - if training_levels.relation == 2
        .list-group-item.completed
          | <i class='fa fa-check' aria-hidden='true'></i>  Using the interface

        .list-group-item.completed
          | <i class='fa fa-check' aria-hidden='true'></i>  Rules for Relationship Extraction

        a(href='{% url "training:relation-training" part_num=3 step_num=1 %}').list-group-item.current
          | <i class='fa fa-angle-right' aria-hidden='true'></i>  Learn new relationships: Broad

