- load humanize

.row
  .col-xs-12
    .relations-title Document Relation Tasks


.row
  .col-xs-12.col-md-10.col-md-offset-1.task-score
    .row.sep
      .col-xs-4.task-value
        | #{task_stats.relation.total_score|intcomma}
      .col-xs-8.task-label
        | task score
    hr

    .row.sep
      .col-xs-4.task-value
        | #{task_stats.relation.quests_completed|intcomma}
      .col-xs-8.task-label
        | doc sets done
    hr

    .row.sep
      .col-xs-4.task-value
        | #{task_stats.relation.annotations|intcomma}
      .col-xs-8.task-label
        | task step contributions
    hr

    .row
      .col-xs-12.text-center
        ul.list-inline
          li
            a(href='#')
              | Tutorials

          li
            a(href='#')
              | Practice

          li
            a(href='#')
              | Rules




- if documents
  #document-relation-board

- else
  p.lead.text-center.m-t-lg Sorry, no relationship tasks currently avialable for you to work on.

