- load humanize

.row
  .col-xs-12
    .relations-title Document Relation Tasks


.row
  .col-xs-12.col-md-10.col-md-offset-1.task-score
    .row.sep
      .col-xs-4.task-value
        | #{task_stats.relation.total_score|intcomma}
      .col-xs-8.task-label
        | task score
    hr

    .row.sep
      .col-xs-4.task-value
        | #{task_stats.relation.quests_completed|intcomma}
      .col-xs-8.task-label
        | docs completed
    hr

    .row.sep
      .col-xs-4.task-value
        | #{task_stats.relation.annotations|intcomma}
      .col-xs-8.task-label
        | task step contributions
    hr

    .row
      .col-xs-12.text-xs-center
        ul.list-inline
          li.list-inline-item
            a(href='{% url "instructions:relation" %}')
              | Rules



- if documents
  #document-relation-board

- else
  p.lead.text-xs-center.m-t-2 Sorry, no relationship tasks currently available for you to work on.

