- load humanize

.row
  .col-xs-12
    h4.text-xs-center Entity Recognition Tasks

.row
  .col-xs-12.col-md-10.col-md-offset-1.task-score
    .row.sep
      .col-xs-4.task-value
        | #{task_stats.entity_recognition.total_score|intcomma}
      .col-xs-8.task-label
        | task score
    hr

    .row.sep
      .col-xs-4.task-value
        | #{task_stats.entity_recognition.quests_completed|intcomma}
      .col-xs-8.task-label
        | quests completed
    hr

    .row.sep
      .col-xs-4.task-value
        | #{task_stats.entity_recognition.papers_reviewed|intcomma}
      .col-xs-8.task-label
        | papers reviewed
    hr

    .row.sep
      .col-xs-4.task-value
        | #{task_stats.entity_recognition.annotations|intcomma}
      .col-xs-8.task-label
        | task annotations
    hr

    .row
      .col-xs-12.text-xs-center
        ul.list-inline
          li.list-inline-item
            a(href='{% url "common:group" group_stub="training" %}')
              | Practice

          li.list-inline-item
            a(href='{% url "instructions:entity-recognition" %}')
              | Rules



#group-selection
