- if task.enabled
  div(data-requirement='#{task.requires_qualification}').list-group-item
    h4.list-group-item-heading.text-center
      a(href="{{task.meta_url}}")
        #{task.name|safe}

- else
  .list-group-item.disabled
    h4.list-group-item-heading.text-center
      #{task.name|safe}

